[2022-07-22 06:00] krotz-dieter commented on #249
The problem is that in Windows 10 21H2, 21H1 you don't have base images for windows containers whic supports process isolation.
Also here it is stated:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2022%2Cwindows-10-21H1
that the images don't support process isolation. For mcr.microsoft.com/windows/servercore images yo

[2022-07-22 09:34] krotz-dieter commented on #249
To be more concrete, we need to run containers with dotnet framework apps in process isolation on Windows 21H2, the LTSC version for windows 10 does not support process isolation for OS build 19044.1826 which is the latest Win 10 LTSC version. The are no base images for mcr.microsoft.com/dotnet/framework/runtime:4.8 (which is actually based on the server core images, there 21H2 where omitted) whic

[2022-07-22 17:08] jterry75 commented on #72
@weijuans-msft - We are also on WS2019 and WS2022 for prod (no vNext), but we could certainly test on vNext to support the changes and provide feedback.

[2022-07-24 04:34] Sudoite commented on #118
I have a use case for x86 on Nanoserver: hosting a vulnerable x86 Windows binary in a Docker container with a small footprint for CTF competitions. The smaller footprint in theory makes learning Windows security accessible to a broader audience than if we were to require participants to have more storage readily available. I was able to get my binary working by using Process Monitor to figure out

[2022-07-24 04:47] Sudoite opened #254 "Cannot run Tasklist or Taskkill in Nanoserver 2022 in Docker"
Newbie question here. I'd like to debug a process running in a Nanoserver Docker container (I'm running nanoserver:ltsc2022). But to do that I need to know the process ID to attach to and Tasklist.exe is not available. Other than copying Tasklist.exe and any necessary DLLs in from outside, are there any native options? Similarly, if I'd like to kill a task with Taskkill, what can I do? I noticed [

[2022-07-24 16:03] ghost commented on #197
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-07-25 06:19] Rickylss commented on #251
Thanks for your reply.
Actually, I am not running on a k8s service. I want to manage the update of VMs and PCs by WSUS. And the reason we use container rather than VM is that we thought container is less overhead and easy to use.
Yes, it is a very chaotic environment. So, we turn to VM now.

[2022-07-25 08:26] chemi0213 commented on #247
@weijuans-msft We use .NET 4.7.03190

`PS C:\> reg query "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\full" /v version

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\full
    version    REG_SZ    4.7.03190`

We already knew MSDTC is supported only on limited scenarios, and we should fulfill the requirement you're listed:

- container name must match the gMSA

[2022-07-25 17:03] ghost commented on #185
This issue has been open for 90 days with no updates.
@cwilhit, please provide an update or close this issue.

[2022-07-25 18:08] fady-azmy-msft commented on #249
Understood and thanks for sharing. Let me look into this and get back to you.

[2022-07-26 06:47] #251 closed, assigned to weijuans-msft

[2022-07-26 10:09] krotz-dieter commented on #249
Many thanks

[2022-07-26 12:59] sriluxman opened #255 "Data execution prevention settings in windows server container image"
**How to change the data execution prevention support policy of the container?**

Inside my mcr.microsoft.com/windows/servercore:1809 container I want to set the DEP level to 0.

I ran:
wmic OS Get DataExecutionPrevention_SupportPolicy

result:
DataExecutionPrevention_SupportPolicy
2

To set it to off when I run:

bcdedit.exe /set nx AlwaysOff

I encounter an error message:
The boot configuration

[2022-07-26 16:03] ghost commented on #227
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-26 16:49] fady-azmy-msft commented on #227
Any updates on this you can share @dcantah?

[2022-07-26 20:51] fady-azmy-msft commented on #254
Hey @Sudoite. I'm going to assume you're running a process isolated container, and you're trying to get the process id of the process so the debugger can connect to it.

The easiest option would be to run the debugger from the host. You can:
1. launch taskmgr
2. go to the details tab
3. right click on of the column headers to select a new column to be displayed (the session id column)
4. Then I so

[2022-07-28 16:03] ghost commented on #222
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-28 16:03] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-07-28 21:40] #64 closed, assigned to weijuans-msft

[2022-07-28 21:43] weijuans-msft commented on #47
At this time, we don't have any plan to support. Close it for now. Can reopen if this is changed.

[2022-07-28 21:43] #47 closed, assigned to weijuans-msft

[2022-07-28 21:45] slavanap commented on #47
@weijuans-msft, with all the respect it's not completed, it is failed.

[2022-07-29 01:02] brasmith-ms commented on #209
Hi @jterry75, by your second question do you mean support for image / layer signatures? We are working on supporting this with MCR to package signatures for the Windows base images.

[2022-07-29 01:06] brasmith-ms commented on #136
Hi folks, just an update here from discussions that happened over slack and in SIG-Windows a while back. This is by design with Windows containers. In general it is not recommended to mount the host file system into the container, especially when running as ContainerAdministrator. Where possible we recommend using HostProcess containers for administrative configuration, and then if host access is

[2022-07-29 01:06] #136 closed, assigned to msjingli, brasmith-ms

[2022-07-29 01:15] brasmith-ms commented on #130
Hey @lippertmarkus, unfortunately since we have moved most of our support services to containerd we have not seen this issue. I don't really see a way around this besides redeploying cluster nodes.

[2022-07-29 01:17] brasmith-ms commented on #180
Hi @zhiweiv, thanks for the information here. We're aware of this issue and are working to fix the stats output from containers soon. There are a lot of things in the pipeline for performance and monitoring of Windows containers so I can assure you this will be fixed but I can't guarantee a timeline at the moment.

[2022-07-29 01:33] AbelHu commented on #80
@perithompson do you know which VMSwitch Apis are used? We tested it in AKS without installing hyper-v but do not see any issue.

[2022-07-29 16:03] ghost commented on #207
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-29 16:03] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-07-30 08:01] Sudoite commented on #254
Hi @fady-azmy-msft , thanks so much! Yes you are right, and I got that to work for me. I can also infer from your response that I can similarly kill the process from outside the Docker container if needed. And indeed that is true. Awesome! I'm a happy camper. I can also infer that I should be able to use Powershell from the host to automate the process of killing troublesome processes in the Docke

[2022-07-30 08:01] #254 closed, assigned to nobody

[2022-07-30 08:39] olljanat commented on #253
With Hyper-V isolation is might be possible but I highly recommend not to use it but instead of deploying Win 2022 hosts to be able to run containers in process isolation mode.

[2022-07-30 16:03] ghost commented on #232
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-30 16:03] ghost commented on #140
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-07-31 16:03] ghost commented on #236
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-31 16:03] ghost commented on #235
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-31 16:03] ghost commented on #217
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-31 16:07] levimatheri commented on #229
Our issue turned out to be caused by port exhaustion. We increased the port range from 16k to 32k which fixed the issue.

[2022-08-01 15:43] jsturtevant commented on #236
@arontsang did that answer you question?  can we close this issue or do you have further questions?

[2022-08-01 16:04] ghost commented on #221
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-08-01 16:04] ghost commented on #167
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-08-02 13:19] olljanat opened #256 "install-docker-ce.ps1 defaults to nightly builds"
**Describe the bug**
`install-docker-ce.ps1` which is mentioned in [this](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=dockerce#windows-server-1) documentation defaults to non-released, nightly builds of Docker:
https://github.com/microsoft/Windows-Containers/blob/78519ddbc455916f677aead0aa91f5711c91f25d/helpful_tools/Install-DockerCE/instal

[2022-08-02 14:24] RealFrogo commented on #118
In my company we have a lot of legacy code which relies on windows based 32bit software to be built and maintained, which cannot be easily changed, not least due to very strict admission requirements. As we are currently trying to upgrade our build servers, we want to switch to using containers as well, but want them to be as small as possible, as huge containers slow down the build processes. And

[2022-08-02 22:48] #166 closed, assigned to msjingli

[2022-08-02 22:50] fady-azmy-msft commented on #229
Thank you for letting us know @levimatheri

[2022-08-02 22:50] #229 closed, assigned to nobody

[2022-08-02 22:53] fady-azmy-msft commented on #256
@brasmith-ms

[2022-08-03 02:50] oZakari commented on #253
Thank you both, appreciate it!

[2022-08-03 02:50] #253 closed, assigned to nobody

[2022-08-03 15:29] fady-azmy-msft commented on #217
@haiduc32 were you able to see the same issue after trying Resolve-DNSName?

Abel also referenced a mitigation if you see this issue in Azure VM/VMSS.

[2022-08-03 16:03] ghost commented on #241
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-03 16:04] ghost commented on #201
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-03 16:04] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-08-03 16:27] #238 closed, assigned to nobody

[2022-08-04 03:23] chemi0213 commented on #247
@weijuans-msft May I have an update for this issue?

[2022-08-05 09:07] stonesbg commented on #241
Issue still exists, waiting for communication

[2022-08-05 11:21] alphagocc opened #257 "Self build base OS images"
**What is your question?**
I'm wondering how to make a windows base OS image. My OS version is Windows 11 22H2, but there isn't any suitable image for the system. Images with low version prevents me from using process isolating containers on my PC.

[2022-08-05 12:03] vitaliy-leschenko commented on #257
You have to use Windows Server 2022 images. Windows 11 supports to run it in hyperv and process isolation level.

[2022-08-05 12:34] alphagocc commented on #257
I've tried both Windows Images and Windows Server image. With some hacks (change the version in the mainifest to a higher version) I successfully started a nanocore:ltsc2022 container, but I am still unable to start any other images.
For more specific, my windows version is 22622.436

So I decide to ask if there is any way to produce a base os image by myself and there won't be any compatibility i

[2022-08-05 16:03] ghost commented on #242
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-08-05 16:03] ghost commented on #225
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-05 16:03] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-08-05 21:11] jterry75 commented on #209
Oh neat, is there any documentation for such a feature to make sure runtimes can support this from any registry?

[2022-08-08 14:29] travnick commented on #212
It totally blocks using volumes for builds directories, as it's advised - use volumes to not store data as layers in container.

host:
[code]
inside container:
[code]

[2022-08-08 16:27] fady-azmy-msft commented on #241
Hey @stonesbg , can you try to repro this using containerd as the container runtime? This will help eliminate the NIC being the issue as containerd doesn't hot add it.

[2022-08-08 17:48] amaltinsky opened #258 "Windows Server 2022 container on Windows 10 (10.0.19044) host."
According to the [documentation](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2022%2Cwindows-10-21H1), it should be possible to run Windows Server 2022 on Win10 21H1:

![image](https://user-images.githubusercontent.com/103459440/183480939-8749364c-a44a-47c7-a4d9-55231a7a928d.png)

However, in practice it doesn't seem

[2022-08-08 17:49] amaltinsky commented on #258
Relevant issue from approx. a year ago: #155

[2022-08-08 20:53] daschott commented on #204
This has been resolved with Windows Server 2022 cumulative updates.

[2022-08-09 19:13] nchandra-seg opened #259 "Python program running in windows container reboots the host (windows 10 host)"
**Describe the bug**
Windows container allocated 8GB, 4 core cpu. python program calculating size of 500GB dir, reboots VM itself. (VM is running on VMware host)

**To Reproduce**
Windows 10 host. Running  * Docker version 20.10.6, build 370c289 *. Windows host has 16GB RAM, 2 CPU, 8 cores.
Create Docker container from the image
mcr.microsoft.com/windows/servercore:ltsc2019.
with options :  -m 8g

[2022-08-10 10:07] gopihc commented on #133
we are using vim with choco... whenever we need on container will install vim.

[2022-08-10 16:28] #225 closed, assigned to nobody

[2022-08-10 16:30] #232 closed, assigned to nobody

[2022-08-10 19:08] fady-azmy-msft commented on #169
Hey @scottdcarson re: your first question, what are you referring to by up to date? And can you share what are you trying to accomplish by having access to the Let's Encrypt root certificate?

[2022-08-10 19:13] fady-azmy-msft commented on #201
Hey @Hvid, were you able to see this when using containerd? As Craig mentioned Windows Defender team recently made some updates to their definitions to exclude containerd and related processes (see https://github.com/microsoft/Windows-Containers/issues/92#issuecomment-1083591322on another issue).

[2022-08-11 07:18] Hvid commented on #201
Hi,
I haven't tried it, as i have not been able to find any good documentation from Microsoft on how to transition from docker to containerd.

[2022-08-12 09:11] xiasun opened #260 "Failed to install Media Foundation for servercore:ltsc2022"
Hi all, I was trying to install Server-Media-Foundation in my windows servercore ltsc2022 container with command:
[code]

It gave error message below:
[code]

It seems I could try to speficy a source for it, but I cannot find a media foundation source for current version.

Can anyone help? Many thanks!

---

My lcoal info:

**Host OS:** Windows 11 21h2
**Container Image:** Windows servercore:ltsc2

[2022-08-12 16:03] ghost commented on #243
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-08-14 15:15] sphr2k opened #261 "Cannot install KB5015733 in windows/server:ltsc2022"
**Describe the bug**
I'm trying to create a Windows Server 2022 (mcr.microsoft.com/windows/server:ltsc2022) (i.e. full edition) image w/ .NET Framework 3.5.

Installation of the 2022-08 Cumulative Update for .NET Framework 3.5 and 4.8 for Microsoft server operating system version 21H2 for x64 ([KB5015733](https://www.catalog.update.microsoft.com/Search.aspx?q=5015733)) fails, apparently due to a r

[2022-08-14 15:19] sphr2k commented on #261
@mthalman Maybe you have an idea how to deal with this? Any feedback would be appreciated :)

[2022-08-14 16:02] sphr2k commented on #261
Here's the [dism.log](https://github.com/microsoft/Windows-Containers/files/9333675/dism.log)

[2022-08-14 16:03] ghost commented on #245
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-14 16:03] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-08-15 12:16] robindegen commented on #117
For local development. The windows 10 machine is already in a VM. I can't have another HyperV on top of that. So I use native containers. I have been running my local builds for quite a while this way. I can't upgrade to windows 11 because it simply reports my system isn't compatible.

It's a little strange to me that microsoft implements something like this and then just drops support for it. It'

[2022-08-15 13:36] mthalman commented on #261
@sphr2k - I'm not seeing the same thing you are. I took the Dockerfile at https://github.com/microsoft/dotnet-framework-docker/blob/main/src/runtime/3.5/windowsservercore-ltsc2022/Dockerfile, replaced `servercore` with `server` in the base image tag, and it built fine. Make sure you've pulled the latest `server` base image.

[2022-08-15 18:14] sphr2k commented on #261
@mthalman Sorry, you're right. I might have made a mistake along the way somehow.

[2022-08-15 18:14] #261 closed, assigned to nobody

[2022-08-16 03:09] #245 closed, assigned to nobody

[2022-08-16 23:06] vrapolinario commented on #260
This feature is showing up as Removed on Server Core, but it does install on the Server image. Here's what I got:

Server Core:
[code]
Server (Image mcr.microsoft.com/windows/server:ltsc2022)
[code]

[2022-08-17 08:35] CheaterScript opened #262 "Process mode not work on Windows10 (2004)."
Hi.
I use process mode on Windows10 version 2004, but it's not work.
Somebody can help me?

`C:\Users\Zan>docker run -it --isolation=process mcr.microsoft.com/windows:2004`
`docker: Error response from daemon: container f1ad66ad7573c52a861865ada2d7f44625641f6ae2f57682044d44c46f7419fe encountered an error during hcsshim::System::Start: context deadline exceeded.`

[2022-08-17 13:00] mthalman commented on #262
Be aware that Windows 10, version 2004 has been [out of support](https://docs.microsoft.com/lifecycle/announcements/windows-10-version-2004-end-of-servicing) since Dec 2021.

[2022-08-17 18:13] fady-azmy-msft commented on #262
Hey @dcantah, have you seen this before?

[2022-08-18 05:04] xiasun commented on #260
thank you @vrapolinario, i switched to server image and it works now.

[2022-08-18 05:04] #260 closed, assigned to nobody

[2022-08-18 20:27] fady-azmy-msft commented on #259
I've opened an internal bug (ADO #: 40981735), someone from the team will look into this shortly.

[2022-08-19 14:20] fschmied opened #263 "Key Storage Provider registration leak in process isolation"
**Describe the bug**
When registering a Key Storage Provider (KSP) via `BCryptRegisterProvider` inside a Windows container based on the Windows Server Core LTSC 2019 image in process isolation (on a Windows Server 2019 host machine), the KSP registration leaks:
* to containers subsequently created on the same host (i.e., the freshly created container already has the KSP registration) and
* to the

[2022-08-19 14:23] fschmied commented on #89
@michbern-ms We've been able to reproduce that there is a bug in process isolation regarding KSP registrations. See #263 for the full description.

[2022-08-19 16:03] ghost commented on #234
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-19 17:14] nchandra-seg commented on #259
Thanks @fady-azmy-msft

[2022-08-19 20:26] michbern-ms commented on #263
@fschmied Thank you for the clear repro!   I agree with your thought that this is related to #89.   We already have engineering work in progress to remedy #89 , so once that work is complete, we can ascertain whether it also fixes this issue or whether this issue is now.

For my education: what is the consequence of the leaking KSP?  On #89, if the KSP doesn't stay registered, it clearly causes a

[2022-08-20 16:03] ghost commented on #252
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-20 16:03] ghost commented on #248
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-20 16:03] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-08-20 16:03] ghost commented on #34
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2022-08-21 16:03] ghost commented on #213
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-08-22 07:11] fschmied commented on #263
@michbern-ms It's great to hear the team have already started working on #89, so hopefully, they will be able to address this issue here as well. Have you any indication of how long it might take for them to know if they've also got our problem here covered? We were considering also reporting it via Microsoft PSS, but if you're already actively working on it, that would probably not be necessary,

[2022-08-22 13:02] gianniskt opened #264 "DaemonSet with HostProcess initContainer and non-HostProcess Main Container"
Hello,

I am trying to apply a **DaemonSet** on an AKS Cluster, which I need to execute a PS Script on all AKS Windows Nodes via **HostProcess** Container technique -> https://docs.microsoft.com/en-us/azure/aks/use-windows-hpc

[daemonset.txt](https://github.com/microsoft/Windows-Containers/files/9394432/daemonset.txt)

The configuration has an **initContainer**, that should run a **Powershell Scr

[2022-08-22 14:32] zosocanuck opened #265 "Signtool within a windowsservercore-ltsc2019 container failing when using /fd SHA256"
**Describe the bug**

We have a system which Authenticode signs files such as .DLL, .EXE, etc. We use SA256 hashing when adding the certificate with signtool with the following command line:

signtool.exe sign /debug /fd SHA256 /sm /sha1 .

Putting this into a Windows container, using windowsservercore-ltsc2019 running on a Windows Server 2019 node, signtool fails with 0xC0000225.

Error code 0xC0

[2022-08-22 16:03] ghost commented on #72
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-08-22 17:07] lippertmarkus commented on #264
Like the error and the docs (https://kubernetes.io/docs/tasks/configure-pod-container/create-hostprocess-pod/#limitations) state, that's a current limitation of the Windows platform.

[2022-08-22 21:26] gusarov commented on #258
+1 have the same issue here...

[2022-08-23 09:27] gianniskt commented on #264
@lippertmarkus Ok I understand the limitation.
Is there any other idea how can I achieve these actions?
Running a PS Script on all Windows AKS Nodes, and not having any Privileged Pods (or similar security gap) alive in the cluster, after script execution.

[2022-08-23 11:10] lippertmarkus commented on #264
There's no built-in way, but you could use external controllers like https://openkruise.io/docs/user-manuals/broadcastjob that provide "Daemon Jobs", so running Jobs on all nodes without having a "pause" container.

[2022-08-23 16:03] ghost commented on #197
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-08-23 18:54] michbern-ms commented on #263
@fschmied Thank you for the additional detail, that is very helpful.   I just communicated that detail to the engineering team.   I always hesitate to estimate on behalf of other engineering teams, but I'm hoping to hear back from them in a couple of weeks.

[2022-08-23 21:43] thecloudtaylor commented on #259
@nchandra-seg - one point of clarification/awareness. With resource limits applied ( -m 8g --cpus="4") we won't kill the container, but it should be limited to 8GB of memory and affinized to 4 CPUs.

Regardless the host should not reboot or crash so we're definitely going to be looking into that - thank you for opening the issue!

[2022-08-23 22:02] nchandra-seg commented on #259
Thanks @thecloudtaylor. That would be great.
We are not able to use Windows Container due to this. Let me know if you need anything else from the system.

[2022-08-23 23:30] mwfriedm commented on #213
No updates, just commenting so the bot doesn't close this. I can confirm that this is still an issue.

[2022-08-24 13:50] KlavsBenislavskis commented on #134
So are there any update on this, we're running into this issue now also

[2022-08-24 14:11] krokofant commented on #134
Seems like there is limited effort into improving Windows containers overall.

[2022-08-24 15:55] fady-azmy-msft commented on #252
Thanks @mthalman for answering @rohitdalvi's question.

[2022-08-24 15:56] #252 closed, assigned to nobody

[2022-08-24 15:57] #236 closed, assigned to nobody

[2022-08-24 15:58] #234 closed, assigned to nobody

[2022-08-24 16:57] maltalex commented on #258
It does work with `mcr.microsoft.com/windows/server:win10-21h1-preview`, but it's more than a year old.

[2022-08-24 18:00] fady-azmy-msft commented on #257
Hey @alphagocc, can you explain what you mean by changes to the manifest? And can you share the errors you're seeing?

[2022-08-24 18:07] alphagocc commented on #257
@fady-azmy-msft
Error is `no match for platform in manifest: not found` (by nerdctl)

Edit platform>os.version to host os version can successfully start the nanoserver container

[2022-08-24 18:10] tanukus commented on #64
Hello @vrapolinario - We have followed the steps documented in the prescribed way to install fonts back. We are getting an error "System.DllNotFoundException: Unable to load DLL 'T2Embed'" in our ASP.NET 4.8 web application running in a container.
The app uses Microsoft.ReportViewer to extract a PDF from a report, that is when this error occurs.

Base image: "mcr.microsoft.com/dotnet/framework/asp

[2022-08-24 18:20] alphagocc commented on #257
By the way, I also support this guy https://github.com/microsoft/Windows-Containers/issues/222#issuecomment-1162118376
I think we need a tool to remove container image dependency from Microsoft

[2022-08-24 21:47] vrapolinario commented on #64
Thanks for reporting this @tanukus. @weijuans-msft is the PM owner of this. She's currently OOF so it might take a while for her to respond. Adding @michbern-ms and @fjs4 for visibility.

[2022-08-24 22:57] michbern-ms commented on #64
@tanukus Did the steps documented bring the fonts back as expected?   I think the T2Embed is a separate problem, and I think it is going to cause confusion if we try to tackle it in this issue.  Can I ask you to please open a new issue so that we can review this specifically?  Thanks!

[2022-08-24 23:12] tanukus opened #266 "Missing T2Embed.dll in Windows Server Core 2019 LTSC image. Export to PDF from ASP.NET RDLC report app fails."
**Describe the bug**
We are getting an error "System.DllNotFoundException: Unable to load DLL 'T2Embed'" in our ASP.NET 4.8 web application running in a container. The app uses Microsoft.Report.Viewer to extract a PDF from a RDLC report, that is when this error occurs.

This DLL is found in host VM, however the container file system is missing the T2Embed.dll.

Copying this DLL in the Docker file

[2022-08-24 23:14] tanukus commented on #64
Thank you for quick responses @vrapolinario @michbern-ms
Yes, the steps ran fine, except for the below command, which failed to run on Windows Server Core 2019 DataCenter VM (host)
`dism /online /enable-feature /featurename:ServerCoreFonts-NonCritical-Fonts-UAPFonts /Source:O:\ /LimitAccess"`.

Opened https://github.com/microsoft/Windows-Containers/issues/266 for the T2EMBED.DLL issue, thanks.

[2022-08-24 23:16] artisticcheese commented on #64
@tanukus Did you ever try my method? https://github.com/microsoft/Windows-Containers/issues/64#issuecomment-1059865508
This works very well for us and seems to be requiring much less hassle to implement

[2022-08-24 23:20] michbern-ms commented on #266
@tanukus While we investigate ... I did find this issue which had similar symptoms and a possible workaround.  I am not recommending the workaround, just noting it.  https://github.com/Microsoft/nav-docker/issues/145

[2022-08-25 19:07] tanukus commented on #266
@michbern-ms: Yes, it did work for me as I stated above.

[2022-08-25 21:56] michbern-ms commented on #266
Thanks, @tanukus.   Here's what I found:

- The t2embed.dll is excluded from Server Core by design.  It is rather part of the App Compatibility FoD for ServerCore.  (https://docs.microsoft.com/en-us/windows-server/get-started/server-core-app-compatibility-feature-on-demand)
- Microsoft cannot recommend or support copying libraries from one OS to another; it is not consistent with our license agree

[2022-08-26 11:48] mloskot commented on #258
Same issue, with the difference that Windows 10.0.19044 is now 21H2 and not 21H1 - no, it is not Windows 11, it's still 10:

![image](https://user-images.githubusercontent.com/80741/186897159-01034807-5ac4-4aef-9b9f-376e62524f26.png)

[code]

[code]

[2022-08-26 16:03] ghost commented on #227
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-26 17:41] tanukus commented on #64
@artisticcheese  The issue is with handling the "Embedded" Fonts in the documents (PDF) and not the type of font itself.

[2022-08-26 18:05] artisticcheese commented on #64
Are not those coming from OS fonts? We had the same issue and it was fixed with fonts being uploaded into OS.

[2022-08-26 19:03] lippertmarkus commented on #227
The only time I had that error the issue was that the containers feature wasn't installed.

[2022-08-26 19:38] dcantah commented on #227
@lippertmarkus The additional context portion states they made sure it was on at least, and sorry for the radio silence here.. Could you take a trace with this file and send it to dcanter@microsoft.com? https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/main/windows-server-container-tools/wpr-profiles/HcsTraceProfile.wprp

So:

1. wpr -start hcstraceprofile.wprp
2. Repro
3. wpr -st

[2022-08-26 20:03] tanukus commented on #266
@michbern-ms, thanks. There seems to be no 2019 version for Windows Server image. Does that mean we need to use full Windows image as base and build a custom image for ASP.NET 4.8 runtime? That wouldn't be ideal and would impact a lot of our current work.

Is there a time line?

[2022-08-26 20:43] mthalman commented on #266
That's correct. Container images for .NET Framework are only available on Windows Server Core. There are currently no plans to provide .NET Framework images based on the full Windows Server. There just isn't enough demand for them to justify the cost associated with producing them.

[2022-08-26 21:14] fady-azmy-msft commented on #265
Hey @zosocanuck, someone will be looking into this shortly! I've created an internal ticket (#41056707) to track this :)

[2022-08-26 21:17] fady-azmy-msft commented on #249
Wanted to let you know that we're still looking into this but I don't have an update to share at the moment.

[2022-08-28 16:03] ghost commented on #222
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-28 16:03] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-08-28 16:03] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-08-29 08:58] stonesbg commented on #241
I am going to close this issue for right now.  So far, I have not been able to find/reproduce the issue since moving to bigger instances size e2-meduim to n2-standard-2.

[2022-08-29 17:03] ghost commented on #186
This issue has been open for 90 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-08-29 17:03] ghost commented on #24
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-08-30 10:10] pawelpabich commented on #256
@fady-azmy-msft or @brasmith-ms can you comment on this issue re whether the current approach is not correct and should be fixed? Happy to submit PR unless there is a reason why installing the latest version from master makes sense.

[2022-08-30 16:05] ghost commented on #207
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-08-30 16:05] ghost commented on #140
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-08-30 16:18] #241 closed, assigned to nobody

[2022-08-30 17:11] vrapolinario commented on #140
I don't know what the status of this is since I moved teams. Changed the assignment to @fady-azmy-msft.

[2022-08-31 00:28] brasmith-ms commented on #256
Hey @olljanat @pawelpabich sorry must have missed this issue. This was meant for dev purposes but I do agree it's better to use the stable versions, just requires some version parsing logic. If you have a PR for this feel free to submit and approve, otherwise I'll be able to get to it over the next week.

[2022-08-31 06:08] olljanat commented on #256
Nowadays releases are created to https://github.com/moby/moby/releases so you should be able to borrow this logic to figure out what is latest stable version https://github.com/olljanat/alz-bicep-ci/blob/master/standard/scripts/update-alz-bicep.ps1#L2-L3

[2022-08-31 07:20] pawelpabich commented on #256
Thanks @brasmith-ms for your clarifications.
I had a look and decided not to submit a PR mostly because this script is more than likely already used in the wild :). This means that some thought needs to be given to versioning. I don't feel I have enough information to make a good decision here.

I like @olljanat approach, but it assumes that both places get updated at more or less the same time.

[2022-08-31 16:09] fady-azmy-msft commented on #207
No updates to share yet, but we're making progress on the fix for this.

[2022-08-31 16:19] #130 closed, assigned to brasmith-ms

[2022-08-31 16:31] fady-azmy-msft commented on #257
I see. Can you share the repro steps you took that caused the error?

[2022-09-01 15:42] hach-que opened #268 "ProjFS API does not work in Windows container"
I'm trying to run a [console application](https://src.redpoint.games/redpointgames/uefs) that uses the [Win32 ProjFS API](https://docs.microsoft.com/en-us/windows/win32/projfs/projected-file-system) to project into the filesystem. However, the application is getting a 0x80070002 HRESULT (File Not Found) from the `PrjStartVirtualizing` function, which [isn't a documented return code](https://docs.m

[2022-09-01 16:01] hach-que commented on #268
This also doesn't work with `mcr.microsoft.com/windows/server:ltsc2022`.

[2022-09-01 16:04] ghost commented on #221
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-09-01 16:04] ghost commented on #167
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-09-01 16:09] hach-que commented on #268
I've updated the [source code repository for the console application using ProjFS](https://src.redpoint.games/redpointgames/uefs/-/tree/b05c331b25bc79754f9fa943d11958af65bc672c) so that Microsoft folks can try to reproduce this. If you clone the repository and then in the root of the repository run:

[code]

It will build the app and the container image and then try to run it. The source code is c

[2022-09-01 16:37] vrapolinario commented on #268
Just out of curiosity, have you tried the Server image? https://mcr.microsoft.com/en-us/product/windows/server/about
Also, I don't think it would make any difference, but have you tried process isolation?

[2022-09-01 16:40] hach-que commented on #268
I have tried the server image (see above re: ltsc2022). It gives the same error.

Unfortunately I'm on Windows 11 build 22000, so I don't believe there's any process isolation compatible images (at the very least the Windows 20H2 image doesn't work that way).

Here's a Dr. Memory trace of all the syscalls: [drmemorytrace.txt](https://github.com/microsoft/Windows-Containers/files/9471730/drmemorytr

[2022-09-01 17:11] vrapolinario commented on #268
Alright, sorry I missed the note on the server image. I saw that and my mind read servercore.
You are correct that older images, such as Windows, need Hyper-V isolation on Windows 11. However, the Server image is based on the Server 2022 wave, so process isolation should work for that image. Again, not that it should make much difference, just wondering what the result is.

[2022-09-01 23:28] dmduggan opened #269 "Dropped connections from swarm overlay network on Server 2019"
**Describe the bug**
After upgrading from Server 2016/Docker 18.09.14 to Server 2019/Docker 20.10.9 we started experiencing dropped connections to our Oracle database.

To reproduce I wrote a small .NET Framework application that opens a connection, makes a query, sleeps for 7 minutes and then tries to make another query. Running the same image on the default "nat" network does not exhibit this be

[2022-09-01 23:38] hach-que commented on #268
Same issue with process isolation on 2022 image:

[code]

[2022-09-02 01:21] hach-que commented on #268
I also get the 0x80070002 HRESULT (file not found) when testing the ProjFS example project that Microsoft provides: https://github.com/Microsoft/Windows-classic-samples/tree/main/Samples/ProjectedFileSystem. That is when built in Release mode inside `mcr.microsoft.com/windows:20H2-KB5014699-amd64`. That eliminates any .NET Core stuff being an issue since the sample there is just pure VC++.

Again,

[2022-09-02 01:37] hach-que commented on #268
Here's the syscall trace for `regfs` under Server 2022 container, in both Hyper-V and Process isolation modes. These are much shorter than the other trace, so are hopefully more useful in diagnosing the issue.

[drmemorytrace 2022 hyperv.txt](https://github.com/microsoft/Windows-Containers/files/9474272/drmemorytrace.2022.hyperv.txt)
[drmemorytrace 2022 process.txt](https://github.com/microsoft/Wi

[2022-09-02 01:54] hach-que commented on #268
I suspect this syscall is the one that's failing. Inside the container, trying to create `\Global??\FltMgrMsg` fails. On the host it succeeds.

Container:

[code]

Host:

[code]

This is also the last syscall the process makes in the container before the syscalls start to substantially diverge. I couldn't find much information on `FltMgrMsg` other than it's got something to do with Mini-Filter Dri

[2022-09-02 01:55] hach-que commented on #268
Of note, NTSTATUS 0xc0000034 is `STATUS_OBJECT_NAME_NOT_FOUND`. Maybe the Docker engine isn't mapping this device from the host?

I've tried mapping it with `-v "\Global??\FltMgrMsg:\Global??\FltMgrMsg"` but Docker doesn't seem to like it. If there's another way to map this device on a Windows container let me know.

[2022-09-02 04:08] hach-que commented on #268
This is likely the cause, though I haven't figured out how to get the driver to load yet:

[code]

[2022-09-02 04:15] hach-que commented on #268
Hmm, what's weird is that `sc query fltmgr` shows the driver as loaded, but `fltmc` tells us that it's not. This is with Hyper-V isolation:

[code]

[2022-09-02 04:23] hach-que commented on #268
Some further testing with trying to manually load `fltmgr.sys`.

If you try to manually create the service inside the container and start it, you get error `1077` which is "No attempts to start the service have been made since the last boot.":

[code]

If you try to create the service in the Dockerfile:

[code]

and then check it's status after the container starts, you get error `31` which is "A

[2022-09-02 12:56] bplasmeijer commented on #34
Checking the latest status

[2022-09-02 15:27] TBBle commented on #34
Current status on my end:
* https://github.com/microsoft/hcsshim/pull/901 has cleared its legal concerns, but needs some updating and the rest of its tests written. (Which hopefully will reproduce the issue I've seen in containerd with this code, so I can fix it)
* https://github.com/containerd/containerd/pull/4419 is the last containerd PR in the series of PRs that should fulfill BuildKit's requi

[2022-09-02 16:04] ghost commented on #217
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-03 17:05] hach-que commented on #268
So this applies for process-isolation containers, but after further experimentation with implementing a Docker volume plugin (i.e. running ProjFS on the host, with the intention that the host runs ProjFS and then the container sees the mounted volume), I've discovered that containers seem to *bypass the ProjFS layer on the host* and they only see the hydrated state. They don't trigger the callback

[2022-09-05 16:04] ghost commented on #209
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-09-05 16:04] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-09-05 17:04] ghost commented on #104
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-09-06 03:02] alex031029 opened #270 "How to run "netsh trace start" and "netsh trace stop" in Windows Server Core 2019 Container?"
I wish to use netsh trace to capture network trace within server core container. It returned an error
`The inbox capture driver could not be started (error=0x800106d9)`. After searching it in the Internet, I could not find any solid answer. So I am wondering if there is a solution to run `netsh trace start` in server core container. Thanks.

![image](https://user-images.githubusercontent.com/24522

[2022-09-07 09:28] chaotive opened #271 "How can I change the size of pagefile.sys?"
I have some applications that because of legacy issues, they fail if they don't have enough page file memory available. I have not been able to increase the page file size on my servercore container, because I can't do reboot after running the command line parameters required to make it work.

For reference, these are the commands I run, but they require a reboot after using them to make them actu

[2022-09-07 15:47] #217 closed, assigned to nobody

[2022-09-07 16:03] ghost commented on #212
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-09-07 16:24] fady-azmy-msft commented on #269
Thank you for bringing this to our attention, I've created an internal ticket to track this (#41230831) and someone will follow up on this.

[2022-09-08 17:37] vrapolinario commented on #268
Thanks for all the details. I'll have to hand it over to someone else. @fady-azmy-msft can you please check on this?

[2022-09-08 18:05] fady-azmy-msft commented on #270
Hey @alex031029 , I've reached out to the team to get you an answer to this and will get back to you shortly (internal ticket #41246995).

[2022-09-08 18:38] dcantah commented on #271
Hey! @chaotive Are you running your workloads on k8s by any chance? And to drill into the

do you mean this is unacceptable for your workloads for the host to reboot (even once to set this up initially) or you mean you can't because you can't access the host to set this, and you're not able to reboot the host afterwards from within a container.

[2022-09-08 21:05] jsturtevant commented on #270
What are you trying to accomplish?

If you are using process isolated containers, you can do this from the host and capture the events and container traffic.  I am not sure If it should work in Hyper-v containers.

[2022-09-09 02:05] alex031029 commented on #270
Thanks @fady-azmy-msft  for your help. Looking forward to your response.

[2022-09-09 02:07] alex031029 commented on #270
I wish to capture the network trace within the container. But just as you said, capture from the host is also feasible. Still, I am curious why "netsh trace start" command cannot work within the container.

[2022-09-09 07:03] chaotive commented on #271
Hi. Thanks for the reply. Everything is acceptable, but the problem is that:

1. Restarting the container does not work as a real Windows reboot, it simply loads it from the original state, not applying the pending changes I had.
2. Performing shutdown -r makes the container to be killed, not rebooted from within. Next start is as if it was from original state.
3. Also, problem is the same if I ap

[2022-09-09 07:16] dcantah commented on #271
Right, the reason I'm asking about k8s is because we support a container type named [hostprocess](https://kubernetes.io/docs/tasks/configure-pod-container/create-hostprocess-pod/) containers that is able to make host changes like privileged containers on linux. Reason being is I don't believe pagefile settings are per container, they piggy back off the host setting and location by default as far a

[2022-09-09 07:37] chaotive commented on #271
Well, did not considered using k8s at this time, I guess that is something I can explore if no more direct solution exists. So, you mean pagefile.sys can't be changed as part of the image/container configuration?

[2022-09-09 09:41] dcantah commented on #271
I can verify, but as far as I know it's a host setting and as you've found (and should stay the case 😆) reboot in a container just effects the container itself

[2022-09-09 13:43] schaveyt commented on #213
I am also a victim of this bug

[2022-09-10 16:06] ghost commented on #201
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-10 16:06] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-09-12 16:03] ghost commented on #243
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-09-12 16:29] vrapolinario commented on #243
This has now been published here: https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/lift-shift-to-containers.

Please continue to provide feedback as you see fit.

[2022-09-12 16:29] #243 closed, assigned to vrapolinario

[2022-09-12 17:04] ghost commented on #165
This issue has been open for 90 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-09-12 17:21] ronaldobim opened #272 "Change Code Page to 1252"
how to change code page to 1252 in Dockerfile for example? I don't want to use UTF8. I'm using ltsc2019

[2022-09-12 17:22] #169 closed, assigned to msjingli

[2022-09-13 16:03] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-09-13 17:56] pbozzay commented on #272
Can you clarify what you are trying to do?

- Are you trying to save your Dockerfile in windows-1252 character encoded format?
- Are you trying to run a command in your dockerfile which converts an existing document from UTF8 to windows-1252?
- Something else?

[2022-09-14 14:48] AJDurant commented on #256
These nightly images also have not been updated since 2022-03-27 which leads to issues with other programs using docker, for example gitlab-runner: https://stackoverflow.com/questions/73255346/how-do-you-resolve-the-gitlab-error-error-response-from-daemon-invalid-conditi

[2022-09-14 17:13] DonSchenck opened #273 "Is there a way to build a Windows container image on my PC WITHOUT docker?"
I want (need) to be able to build a Windows container image on my local PC (Windows 10 Enterprise) WITHOUT installing docker. Is there a lower-level API I can use?

[2022-09-15 04:45] lippertmarkus commented on #273
Container images are just tar archives that are layered on top of each other during runtime. So as long as you got the correct directory structure and file attributes in your tar archive, you don't need docker and just some archiving lib.

There's [crane](https://github.com/google/go-containerregistry/tree/main/cmd/crane) which creates such tar archives. I've written about how it works under the h

[2022-09-15 20:08] michbern-ms commented on #221
@selzoc - New to the party here, but this caught my attention.  I think the answer to your question is compositional: Server Core does not default to including the feature that provides "Microsoft-Windows-Containers-CCG/Admin".

I poked around a bit, and that log seems to be provided by the feature called "Containers."  i.e., from PowerShell, I did:

`Enable-WindowsOptionalFeature -FeatureName "Co

[2022-09-16 05:25] adamrehn commented on #240
@ohault `docker commit` does actually work for Windows containers, [just not while they're running](https://github.com/moby/moby/blob/v20.10.18/daemon/commit.go#L126). They need to be stopped first, either by closing the entrypoint process or by using `docker stop`. From what I can tell, this actually worked [as far back as January 2017](https://www.ntweekly.com/2017/01/16/part-7-save-windows-cont

[2022-09-16 07:08] ohault commented on #240
@adamrehn indeed, this ticket need to be clarified to avoid unwritten assumption. In the title and the description, I propose to rename "for Windows Containers" in "for running Windows Containers", or do you want to suggest something else ?

[2022-09-19 16:04] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-09-19 16:06] dmduggan commented on #269
I also reproduced this on Window Server 2022. So works on Server 2016, fails on Server 2019 and Server 2022.

[2022-09-19 16:40] ronaldobim commented on #272
Hello, my application currently does not support UTF-8. So I want to change
windows encoding through Dockerfile.

Em ter., 13 de set. de 2022 às 14:56, Paul Bozzay ***@***.***>
escreveu:

--
Ronaldo Cesar Bim
-------------------------------

Skype - ronaldobim
e-mail - ***@***.***

[2022-09-20 21:46] corhere commented on #269
On Windows Server 2019 and above, the Host Networking Service (HNS) sets up overlay networks which use Virtual Filtering Platform rules for NAT to/from external services. HNS on Windows Server 2016 leverages WinNAT for external service access from overlay networks. The default `nat` network uses WinNAT on all versions of Windows. Given that the issue can be reproduced on Windows Server 2019 and 20

[2022-09-21 00:10] fjs4 commented on #265
Hi @zosocanuck, I tried to repro this.  I tried a slightly different command then line then you.  I did the following:

signtool sign /f mycert.pfx /fd SHA256 foo.exe

That worked fine for me.  I tried this on Windows Server 2019.  Can you check if signing in this way works for you?

[2022-09-21 16:03] ghost commented on #72
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-09-21 16:15] mloskot commented on #72
(Don't close this yet.)

[2022-09-22 12:04] yrest opened #274 "Docker CE warning TLS1.2"
Have installed Docker using install-docker-ce.ps1 on Windows Server 2022 Datacenter

Receiving the following warning, please advise?

Microsoft container registries will switch to TLS v1.2 very soon and your version of Docker does not support this. You should install a new version of docker asap (version 18.03.0 or later)

[2022-09-22 15:08] mwfriedm commented on #212
No updates, just bumping so that the bot doesn't close this. I can confirm that this is still an issue.

[2022-09-22 17:45] #125 closed, assigned to weijuans-msft

[2022-09-22 17:51] #165 closed, assigned to weijuans-msft, judyliu-ms

[2022-09-22 18:15] fady-azmy-msft commented on #213
No updates to share, we are still looking into this.

[2022-09-23 16:04] ghost commented on #263
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-23 16:04] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-09-23 20:06] mwfriedm commented on #213
Confirming fresh repro with slightly newer version numbers.

[code]

[2022-09-24 16:03] ghost commented on #262
This issue has been open for 30 days with no updates.
@dcantah, please provide an update or close this issue.

[2022-09-25 16:03] ghost commented on #258
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-26 15:48] amaltinsky commented on #258
After not getting a response here we ended up contacting Microsoft Support. I'll spare everyone the details of the almost month-long correspondence, but the end result is that running Windows Server 2022 images on Windows 10 is simply not supported (anymore) by Microsoft.

When Windows Server 2022 was released, there were a few specific images for _temporarily_ running Win Server 2022 on Windows 1

[2022-09-26 16:51] vrapolinario commented on #258
On behalf of the Windows containers team I apologize for the lack of clarity on this article and the delay to fix it. This information on the doc page referenced is incorrect. We did enable WS2022 images to be available on Win10 for a short period (as noted by @amaltinsky) but we said that would be temporary since the beginning. You can check the blog post here: https://techcommunity.microsoft.com

[2022-09-26 17:22] amaltinsky commented on #258
@vrapolinario Thank your for the reply and the proposed documentation change.

I'd like to point out that the current confusion about host/guest compatibility both now and especially going forward presents a significant risk for companies considering Windows Containers for mission-critical applications. One of the biggest advantages containers offer is having a **consistent** environment between d

[2022-09-26 20:58] vrapolinario commented on #258
Thanks for the additional information. It surely helps us in thinking how to prioritize this.

On your comment about support, please note that Microsoft has clear statements on support for Windows and Windows Server, including Windows containers. Windows 10 can run Windows Server 2019 images. The issue here it the handle of newer images, which is the feedback we're taking and looking into.

On the

[2022-09-27 08:49] fschmied commented on #263
@michbern-ms I guess it's still too early for an update, right?

[2022-09-27 14:37] bnagajagadeesh opened #275 "com registration not working in a windows container"
I've a requirement to register a third party COM DLL in a windows container which will be used by .Net framework application.

I've used below base image.
mcr.microsoft.com/dotnet/framework/runtime:4.8

and then used below command to register a DLL
COPY ./TestCom.dll ./
RUN regsvr32 ./TestCom.dll /s

When I run container, I'm getting below error.
Retrieving the COM class factory for component with

[2022-09-27 14:44] michbern-ms commented on #263
@fschmied Never hurts to ask.  :-)  The good news is, the engineering team is confident that your issue is covered as well as #89.  The bad news is, the fix is a large amount of enlightenment for the whole crypto configuration system and that work is taking some time to stabilize.  I sync with that team every week.   It's not very satisfying to come back and say, "we're working on it,", but well,

[2022-09-27 14:52] mthalman commented on #275
I'm no COM expert but could this perhaps be related to the container being x64? Is this DLL 32-bit at all?

cc @richlander

[2022-09-27 16:03] ghost commented on #266
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-27 16:03] ghost commented on #264
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-09-27 16:03] ghost commented on #259
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-27 16:03] ghost commented on #248
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-27 16:04] ghost commented on #247
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-09-27 16:04] ghost commented on #242
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-09-27 16:04] ghost commented on #235
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-09-27 16:04] ghost commented on #227
This issue has been open for 30 days with no updates.
@dcantah, please provide an update or close this issue.

[2022-09-27 16:04] ghost commented on #222
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-09-27 17:07] dgkanatsios opened #276 "Cannot install DockerCE via script on Azure VMSS custom script extension"
Trying to run these two lines in an Azure VMSS custom script extension

[code]

results in

[code]

Any ideas?

[2022-09-27 18:58] acerock commented on #164
Any update on this?
It is a critical feature for our workload where we have issues with auto-scaling and scale-in (pod termination).

I can reproduce the different behavior running pods in AKS 1.23.8 windows nodes.
I run same app logic on both mcr.microsoft.com/dotnet/aspnet:6.0-nanoserver-1809 and mcr.microsoft.com/dotnet/framework/runtime:4.8-windowsservercore-ltsc2019.

TerminationGracePeriodSe

[2022-09-28 08:59] bnagajagadeesh commented on #275
Thanks for your response. I've checked com DLL and found that it is 64 bit. Anyone having a solution to this issue?

[2022-09-28 16:03] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-09-28 17:58] selzoc commented on #221
Hi @michbern-ms !

Yes, the Containers feature is installed, and I am able to run containers successfully. As mentioned above, the image I'm using is `2019-Datacenter-Core-with-Containers` provided by Azure.

[2022-09-28 23:19] michbern-ms commented on #221
@selzoc That was very helpful.  The relevant difference may be Server 2019 vs. Server 2022 -- the CCG log was not present originally in Server 2019, but it was added to it later, so I'm trying to determine whether we expect the CCG log to be present on Server 2019 Azure VM images or not.

[2022-09-30 16:04] ghost commented on #140
This issue has been open for 30 days with no updates.
@fady-azmy-msft, please provide an update or close this issue.

[2022-09-30 19:22] jrbe228 commented on #34
The primary BuildKit advantage for me would be Windows image size reduction. BuildKit would eliminate the bloat created by Dockerfile COPY commands. Currently my best workaround for accessing EXE/MSI installers during build time is a network share. For example the following files add Java 11 to WinServerCore via EXE installer from a simple shared Windows folder "installers" on the host machine:

b

[2022-10-01 16:03] ghost commented on #257
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-01 16:03] ghost commented on #255
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-10-01 16:03] ghost commented on #207
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-01 16:51] alphagocc commented on #257
`nerdctl.exe run --rm mcr.microsoft.com/windows/nanoserver:ltsc2022 windows-test cmd /c "echo Hello World!"`

[2022-10-02 14:26] gesellix commented on #256
Also, the binaries report an api version 1.42, which hasn't even released by Docker/Moby, yet.
This script is used for GitHub's [Windows runners](https://github.com/actions/runner-images/pull/6220), making some projects fail due to wrong assumptions.

Would it be possible to enhance the script so that with a given "desired/requested" version, it would fetch an official release, and only if no desi

[2022-10-02 16:03] ghost commented on #167
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-03 09:30] Spencer-z opened #277 "[BUG] Windows containers on AKS: 8dot3name short filenames resolved"
**Describe**

In AKS v1.23.5 windows containers with containerd containerd://1.6.8+azure, 8dot3name short filenames are resolved.

This is a potential security issue and is unexpected.

**To Reproduce**

Steps to reproduce the behavior:

Run a test container: kubectl run -it pwshtestcnt7 --image mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019
In the test container, run dir

[2022-10-03 09:32] Spencer-z commented on #277
There is more testing on this issue. Shared like below.
1. Test into the 1.23.5 AKS with the below images. **Runtime is containerd.**
- mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019 -> **There is the 8dot3 name issue.**
- mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019 -> **There is no 8dot3 name issue.**

2. Test into the 1.22.6 AKS with the image 'm

[2022-10-03 17:03] ghost commented on #233
This issue has been open for 90 days with no updates.
, please provide an update or close this issue.

[2022-10-03 17:03] ghost commented on #188
This issue has been open for 90 days with no updates.
@cwilhit, please provide an update or close this issue.

[2022-10-03 20:07] nchandra-seg commented on #259
@thecloudtaylor : Can you please provide an update on this.

[2022-10-03 20:11] vzakusylo commented on #227
Hi, I've faced the same error, here is how to reproduce it via docker file
--------------------------------------------------------------------------
FROM mcr.microsoft.com/windows/servercore/iis

ADD https://download.microsoft.com/download/C/6/D/C6D0FD4E-9E53-4897-9B91-836EBA2AACD3/vcredist_x86.exe /vcredist_x86_2010.exe
RUN C:\vcredist_x86_2010.exe /quiet /install

ADD https://download.microsoft

[2022-10-04 14:12] MikeZappa87 opened #278 "Host Networking Service [HNS] Crashes Causing Traffic Interruptions"
**Describe the bug**
The host networking service exits unexpectedly causing network traffic to drop. The current mitigation is to restart kube-proxy on the impacted nodes [note this can take time to fully restore the policy and make the node useable].

**To Reproduce**
Steps to reproduce the behavior:
None currently exist

**Configuration:**
 - Edition: Windows Server 2019/2022

**Additional conte

[2022-10-04 21:29] vrapolinario commented on #227
@AntWatCDL can you please confirm you still see an issue here? By looking at your docker run command, I'm not sure what you mean by adding the "hostname". If this is related to environment variable, you need to add the -e parameter. Now, if this is regarding the network type, Windows containers don't support Host Network, so you'd have to use a different option. The default there is NAT.

@vzakusy

[2022-10-05 09:31] zhiweiv commented on #278
@MikeZappa87
~~Do you know how to check if HNS service crashed? https://github.com/kubernetes/kubernetes/issues/110849 still occur often in our environment, I want to check if it is related.~~

I found there is a remediation for AKS now, https://github.com/Azure/AgentBaker/pull/2085, I will check hnsremediator log when https://github.com/kubernetes/kubernetes/issues/110849 happen again.

[2022-10-05 15:52] fady-azmy-msft commented on #188
Closing this issue for now, as we continue to work with Docker to get this resolved.

[2022-10-05 15:52] #188 closed, assigned to cwilhit

[2022-10-05 15:54] slonopotamus commented on #188
I thought issues work differently. They are closed when they are resolved.

[2022-10-05 16:30] fady-azmy-msft commented on #275
Hey @bnagajagadeesh , thank you for raising this issue. What OS are you using and is this a custom DLL?

[2022-10-05 17:29] selzoc commented on #221
@michbern-ms Oh wow, that's awesome knowledge!  Yes, IME it _is_ present in Server images, but not Sever Core.  Would be great to have the CCG logs everywhere as otherwise troubleshooting is basically impossible.

[2022-10-05 22:47] riyapatel-ms commented on #276
@dgkanatsios Could you provide some insight onto your use-case? Are you meeting the prerequisites of a DockerCE install?
1. Access to an Azure account with admin privileges
2. SSH key that you want to use when accessing your completed Docker install on Azure

[2022-10-06 02:30] dgkanatsios commented on #276
We managed to work around this, thanks!

[2022-10-06 02:30] #276 closed, assigned to riyapatel-ms

[2022-10-06 16:03] ghost commented on #209
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-06 16:03] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-07 05:06] zhiweiv commented on #278
I found there is a remediation for AKS now, https://github.com/Azure/AgentBaker/pull/2085.

[2022-10-07 21:24] fjs4 commented on #259
@nchandra-seg: I took a stab at reproducing this but was unable to.  Perhaps my environment wasn't quite the same.  However, if the host is rebooting, I suspect it is bugchecking.  Can you check to see if a memory.dmp file is being created in the c:\windows directory?

[2022-10-07 21:31] nchandra-seg commented on #259
@fjs4 : Yes it is being created. What can I check in that?

[2022-10-08 06:52] Liuccysdgg opened #279 "How to run and display graphic programs"
Can I do this by starting Remote Desktop? However, I failed to start Remote Desktop. If there are relevant documents or cases, Please provide it, thank you.

[2022-10-09 16:03] ghost commented on #270
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-09 16:03] ghost commented on #268
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-10 17:03] ghost commented on #66
This issue has been open for 90 days with no updates.
@cwilhit, please provide an update or close this issue.

[2022-10-11 02:21] TBBle commented on #66
The link in https://github.com/microsoft/Windows-Containers/issues/66#issuecomment-1067057040 doesn't appear to exist anymore. Did this quietly hit GA? I assume not, since [the currently supported k8s version list](https://learn.microsoft.com/en-us/azure-stack/aks-hci/supported-kubernetes-versions#aks-on-azure-stack-hci-and-windows-server-kubernetes-release-calendar) notably stops at v1.23, i.e. t

[2022-10-11 02:36] xia-xiao opened #280 "Windows python image is break after recent image release"
**Describe the bug**
Windows python image is break

**To Reproduce**
docker pull mcr.microsoft.com/windows-cssc/python3.7.2nanoserver:ltsc2019

ltsc2019: Pulling from windows-cssc/python3.7.2nanoserver
invalid rootfs in image configuration

**Expected behavior**
It should pull the image success.

**Configuration:**
 - Edition: Windows Server 2022
- Base Image being used: Windows Nano Core
 - Conta

[2022-10-11 16:03] ghost commented on #201
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-12 02:39] plooploops commented on #280
Hi @xia-xiao, thank you for reporting this, the latest images should be published.

Can you please retry with `docker pull mcr.microsoft.com/windows-cssc/python3.7.2nanoserver:ltsc2019`?

[2022-10-13 16:04] ghost commented on #271
This issue has been open for 30 days with no updates.
@dcantah, please provide an update or close this issue.

[2022-10-13 16:04] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-10-17 05:38] ghost opened #281 "2022-10 LCU seems to have broken workload"
**Describe the bug**
We run a set of onprem Azure Pipelines agents via swarm mode using a custom image containing the latest VS2019 Build Tools and a number of MSI-based dependencies; this image is rebuilt monthly when the base image is updated.

Following the installation of KB5018421 on the hosts and rebuilding the image, when the pipeline agent tries to MSBuild a solution the container terminat

[2022-10-17 09:24] ghost commented on #281
Can also rep this with the latest Moby runtime on a clean host VM.

[2022-10-18 22:18] fady-azmy-msft commented on #66
Hey @TBBle, thank you for the reminder that I need to close the ticket.

We actually did GA containerd for Windows Worker nodes in Aug (see [AKS-HCI blog](https://techcommunity.microsoft.com/t5/azure-stack-blog/aks-on-azure-stack-hci-and-windows-server-september-2022-update/ba-p/3650525), and [release notes](https://github.com/Azure/aks-hci/releases/tag/AKS-HCI-2208)).

[2022-10-18 22:18] #66 closed, assigned to cwilhit

[2022-10-18 22:20] fady-azmy-msft commented on #279
Hey @Liuccysdgg , can you clarify what you mean by graphic programs and why did Remote Desktop fail to start?

[2022-10-18 22:30] fady-azmy-msft commented on #279
@Liuccysdgg Windows Containers don't support GUIs, you can instead change it to a silent install. Here's a blog that discusses this in more detail - https://learn.microsoft.com/en-us/virtualization/windowscontainers/quick-start/lift-shift-to-containers#what-cant-be-moved-to-windows-containers

[2022-10-18 22:46] plooploops commented on #280
With the re-publish, you can re-pull the images now:

`docker pull mcr.microsoft.com/windows-cssc/python3.7.2nanoserver:ltsc2019`

@xia-xiao Can you confirm this works for you? If it does, you can close this issue?

[2022-10-18 23:56] fjs4 commented on #259
@nchandra-seg - Thanks for confirming.  Could you send the memory.dmp to Microsoft via this email address: WindowsContainerGitHubIssues@service.microsoft.com.  Then we can examine it to try to find the cause for the crash.  If your dump is too large to attach, then you might need to change the type of crash dump created to a kernel (or mini) dump to reduce the size.

[2022-10-19 00:00] thecloudtaylor commented on #259
We can also create a OneDrive drop box for the dump if you send mail to that address, one of the team can reply with a link.

[2022-10-19 06:36] #280 closed, assigned to plooploops

[2022-10-19 06:36] xia-xiao commented on #280
This is work for me.

[2022-10-19 16:05] ghost commented on #273
This issue has been open for 30 days with no updates.
@Juarezhm, please provide an update or close this issue.

[2022-10-19 16:05] ghost commented on #197
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-19 19:36] plooploops commented on #280
Thank you for the verification!

[2022-10-20 14:34] HVCDEV opened #282 "I run command to add language japanese fonts on windows server container 2022 but error was found."
I run command to add language japanese fonts on windows server container 2022 but error was found.
How do I install Japanese fonts in a Windows container?

**C:\Users\Administrator>dism /Online /Add-Capability /CapabilityName:"Language.Fonts.Jpan~~~und-JPAN~0.0.1.0"

Deployment Image Servicing and Management tool
Version: 10.0.20348.681

Image Version: 10.0.20348.1070

[==========================1

[2022-10-20 16:04] ghost commented on #272
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-20 16:52] vrapolinario commented on #282
Hi @HVCDEV I believe you commented on the original blog post, correct? This command you are running is to be used inside the container - or with your dockerfile, ideally. I believe you are running this on the container host (based on the path you are running this).
Can you please run that on the container/dockerfile as instructed on the blog post and report back?

[2022-10-20 22:25] mbelt opened #283 "Powershell Constrained Language Mode is inconsistent between process and hyperv isolation."
**Describe the bug**
When building a docker image with `--isolation hyperv` the [Powershell Constrained Language Mode](https://devblogs.microsoft.com/powershell/powershell-constrained-language-mode/) is altered.

**To Reproduce**
[code]
Ok.
[code]
Ok.
[code]
[code]
Ok.
[code]
What?

**Expected behavior**
Constrained Language Mode should be consistent between `docker build` and `docker run`.
 Const

[2022-10-21 02:41] HVCDEV commented on #282
Hi @vrapolinario.
Thank you for instructing me. Yes, I commented on original blog post.
From your instructions,
I tried to execute command [**dism /Online /Add-Capability /CapabilityName:"Language.Fonts.Jpan~~~und-JPAN~0.0.1.0"**] inside running container. --> The result is above post.

When I add command [**dism /Online /Add-Capability /CapabilityName:"Language.Fonts.Jpan~~~und-JPAN~0.0.1.0"**]
i

[2022-10-21 16:02] ghost commented on #265
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-10-21 19:01] vrapolinario commented on #282
It seems there was more to be added, apologies:

[code]

The explanation here is that we need to enable the WU service momentarily for the command to run properly.

[2022-10-22 08:12] smallmodel commented on #257
About the author question of making a base OS image, it would be great if one could generate a container image from the host. I made a POC that does this (process isolation mode only, tested on Windows 11 - 10.0.22000) : https://github.com/smallmodel/wincon
it's not usable in production, and I didn't try with Docker, but actually a proof that it could work by just generating registry hives and lin

[2022-10-22 12:50] HVCDEV commented on #282
Hi @vrapolinario
Thank you very much!
Japanese Language Fonts was installed successfully.

[2022-10-22 16:02] ghost commented on #212
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-10-23 16:02] ghost commented on #274
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-23 16:02] ghost commented on #269
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-10-23 16:02] ghost commented on #72
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-10-24 15:45] mwfriedm commented on #212
No updates, just bumping so that the bot doesn't close this. I can confirm that this is still an issue.

[2022-10-24 16:02] ghost commented on #213
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-10-24 16:02] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-10-24 16:28] #282 closed, assigned to nobody

[2022-10-24 17:02] ghost commented on #185
This issue has been open for 90 days with no updates.
@cwilhit, please provide an update or close this issue.

[2022-10-24 18:19] selzoc commented on #221
@michbern-ms Is there a plan to add the CCG logs to all Server 2019 images?

[2022-10-24 18:29] michbern-ms commented on #221
@selzoc Good timing of your question - I am having exactly this conversation with the Windows Servicing team.   I am helping them understand the impact of the issue on Server 2019.

It's worth noting that the issue does not exist in Server 2022, so when you are ready to move forward to Server 2022, you'll pick up the fix for this.

[2022-10-25 08:26] baendron opened #284 "Windows Server Core with Desktop Experience"
Good day,

I am currently trying to convert an existing ASP.NET framework project to use Docker. In the process of doing so, I've run into an issue where my project requires Desktop Experience to run properly. This issue is related to missing ACM codecs for playing WAV files using NAudio. Searching for solutions to this issue have indicated that this is because the Desktop Experience features are

[2022-10-25 15:54] vrapolinario commented on #284
To clarify: Windows containers don't support applications that require GUI, so the Desktop experience is not present - neither on Server Core or Nano Server. However, what seems to be the case for you is that you need some specific APIs, not the GUI itself. For that case, I'd recommend either the Server image (which requires Windows Server 2022) or the Windows image (which works on Windows Server

[2022-10-25 16:03] ghost commented on #262
This issue has been open for 30 days with no updates.
@dcantah, please provide an update or close this issue.

[2022-10-25 16:09] selzoc commented on #221
@michbern-ms Great, I hope the CCG logs get added - without them, the feature is not really useful.  We're in the midst of adding support for CCG to Cloud Foundry and we do not plan on basing any images on Server 2022.

[2022-10-25 22:07] aravindhp opened #285 "OpenSSH server install failing on latest Azure Windows Server 2022 images"
**Describe the bug**
We are seeing  the following failure when trying to install OpenSSH server on the latest Windows Server 2022 images:
[code]
Image used:
[code]
However if we pin the version to `20348.1129.221007`, the issue does now show up and we are able to install OpenSSH successfully.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Windows VM specifying the latest Wi

[2022-10-26 02:00] baendron commented on #284
Hi vrapolinario,

thanks for the image link! this seems to work for me.

[2022-10-26 02:00] #284 closed, assigned to nobody

[2022-10-26 15:54] #265 closed, assigned to akarshm

[2022-10-26 23:23] aleberkn opened #286 "Is logrotation supported by the kubelet on windows nodes?"
**What is your question?**
A clear and concise description of what your question is. If you have bug/blocker, please open a 'Bug Report' issue instead.

[2022-10-27 01:15] AbelHu commented on #286
There is a known issue in k8s https://github.com/containerd/containerd/issues/7075

[2022-10-27 16:03] ghost commented on #266
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-27 16:04] ghost commented on #264
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-27 16:04] ghost commented on #263
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-27 16:04] ghost commented on #258
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-10-27 16:04] ghost commented on #248
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-28 16:04] ghost commented on #247
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-10-28 16:04] ghost commented on #242
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-28 16:04] ghost commented on #235
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-10-28 16:04] ghost commented on #222
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-28 16:04] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-10-28 18:41] mwfriedm commented on #213
No updates, just commenting so the bot doesn't close this. I can confirm that this is still an issue.

[2022-10-30 14:21] peterlymo commented on #285
no fix yet?

[2022-10-31 05:15] vrapolinario commented on #285
Just to clarify: The behavior you described is on the Azure VM itself, right? Not on Windows containers (I honestly don't know if this is even available).
This repo is for issues on Windows containers. If this is an issue on the Azure VM, please open a ticket support with Azure here: https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2022-10-31 07:01] Jasonlhy commented on #234
@weijuans-msft I understand language pack is no longer shifted with windows container, but is there any easy way to install the language pack with PowerShell?

[2022-10-31 16:13] ghost commented on #255
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-10-31 16:14] ghost commented on #207
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-10-31 16:14] ghost commented on #140
This issue has been open for 30 days with no updates.
@fady-azmy-msft, please provide an update or close this issue.

[2022-11-01 04:02] aravindhp commented on #285
Yes the issue is on the VM itself. I wanted to open an issue here for more visibility. I did open a ticket with Azure support. I did some more debugging and grabbing the latest update resolved the issue however the Azure images with bug is still present.

[2022-11-01 16:04] ghost commented on #256
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-01 16:04] ghost commented on #167
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-01 16:26] fady-azmy-msft commented on #285
Thank you for highlighting this issue @aravindhp. We've reproduced the bug on our side as well, and will publish the fix soon. I'll share with you a timeline as soon as I get clarity on this.

[2022-11-01 22:37] slonopotamus commented on #256
Given the current sad situation with official releases from `moby/moby`, possibly one might want to switch to a more stable source.

For example, [this](https://github.com/slonopotamus/stevedore#chocolatey).

[2022-11-02 15:55] fady-azmy-msft commented on #213
@kevpar has a PR our that should fix this issue https://github.com/microsoft/go-winio/pull/261

[2022-11-02 15:59] fady-azmy-msft commented on #248
No update to share except that we are looking into this.

[2022-11-02 16:03] ghost commented on #277
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-11-02 20:55] fady-azmy-msft commented on #285
This looks similar to another issue on (https://github.com/actions/runner-images/issues/6431), a temporary workaround would be to downgrade "image_version": "20348.1129.221007" until there's a newer version with this fixed. @akarshm any ideas on when this should be out?

[2022-11-02 20:59] fady-azmy-msft commented on #140
Apologies for the radio silence. We have been able to reproduce the issue, and are looking into this. I've also created an internal ticket (41698313) to track this internally.

[2022-11-02 21:01] fady-azmy-msft commented on #286
I'm going to resolve this issue as there's another issue tracking the same thing on a more related repo.

[2022-11-02 21:01] #286 closed, assigned to nobody

[2022-11-03 03:16] Liuccysdgg commented on #279
thank you for your answer. I don't have the source code of GUI program. It seems that it can't run in Docker, and the container scheme can't be a candidate.
@fady-azmy-msft

[2022-11-03 03:18] #279 closed, assigned to nobody

[2022-11-03 11:09] stonesbg commented on #241
@fady-azmy-msft I was able to get a system that has experienced the issue.  I installed containerd (specifically `containerd github.com/containerd/containerd v1.6.0-rc.1 ad771115b82a70cfd8018d72ae489c707e63de16.m`).

As a test I am creating a base image rather than one that I created to rule out it is something to do with the container that I am creating. `ctr run --cni --rm -t mcr.microsoft.com/w

[2022-11-03 14:49] bplasmeijer commented on #34
I dump again into the deep here. where are we with containerd and building windows containers with podman, nerdctl?
cc: @jsturtevant

[2022-11-03 17:08] jsturtevant commented on #34
nerdctl uses build kit.  Buildkit support is still in progress, you can see the relevant PRs in https://github.com/microsoft/Windows-Containers/issues/34#issuecomment-1235634370.

I am not sure how podman builds containers.

[2022-11-03 21:10] bplasmeijer commented on #34
@TBBle any update from your side?
I am checking myself now.

[2022-11-04 10:44] fschmied commented on #263
Just replying to tell the bot we're still interested in this issue :) .

[2022-11-04 16:03] ghost commented on #227
This issue has been open for 30 days with no updates.
@dcantah, please provide an update or close this issue.

[2022-11-05 03:16] TBBle commented on #34
Nothing from me personally since [September 3rd](https://github.com/microsoft/Windows-Containers/issues/34#issuecomment-1235634370), I'm still on sabbatical. One or two other people have been pushing at the same and related PRs in my absence, but I can't report any measurable progress here.

[2022-11-05 16:03] ghost commented on #275
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-11-05 17:42] bnagajagadeesh commented on #275
@fady-azmy-msft, Sorry I missed your comment. Yes, it a custom DLL and OS is Windows

[2022-11-05 17:44] bnagajagadeesh commented on #275
I was able to resolve the issue using registration free COM Interop.
https://learn.microsoft.com/en-us/dotnet/framework/interop/registration-free-com-interop

[2022-11-05 17:44] #275 closed, assigned to nobody

[2022-11-06 16:02] ghost commented on #209
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-06 16:02] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-07 17:03] ghost commented on #118
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-11-07 17:03] ghost commented on #39
This issue has been open for 90 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-11-08 18:38] bplasmeijer commented on #34
Thanks, keep enjoying your ooo.

[2022-11-08 20:59] Jeb135 opened #288 "VC++ Redistributables Fail to install on images with a Windows Server 2019 datacenter host"
Please fill out _all the sections_ below for bug issues, otherwise it'll be closed as it won't be actionable for us to address.

**Describe the bug**
Opening this ticket as the result of a bug report and discussion in the dotnet-framework-docker repository (https://github.com/microsoft/dotnet-framework-docker/discussions/1017)

I am Unable to install Latest Visual C++ Redistributables (found here:

[2022-11-08 22:51] Jeb135 commented on #227
Are you running the powershell session on your host as an administrator? I noticed that I receive this error when I forget to open powershell as an administrator before trying to run the docker cli.

[2022-11-09 08:15] ghost commented on #281
This issue appears to have been resolved by the 2022-11 updated base image.

It turns out (via LogMonitor) the underlying error was a crash in LSASS.exe from netlogon.dll inside the container, possibly related to running the containers with a domain-joined gMSA, which would then trigger the "reboot in 60 seconds" behaviour which terminated the container unexpectedly.

[2022-11-09 08:15] #281 closed, assigned to nobody

[2022-11-09 14:47] alishawong-credera opened #289 "Microsoft Artifact Registry down?"
Please fill out _all the sections_ below for bug issues, otherwise it'll be closed as it won't be actionable for us to address.

**Describe the bug**

I can't pull images from the artifact registry.

https://mcr.microsoft.com/ is down.

Specifically I am trying to use the nanoserver image (mcr.microsoft.com/windows/nanoserver:ltsc2022) in Azure App Services but i'm getting an error. This was worki

[2022-11-09 16:03] ghost commented on #270
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-11-09 16:03] ghost commented on #268
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-11-09 17:22] fady-azmy-msft commented on #268
Apologies for the late reply, I overlooked this issue. I've reached out to an internal team to look at this and created an internal ticket (#41474371) to track this.

[2022-11-09 17:25] fady-azmy-msft commented on #289
Hey @alishawong-credera , can you share the error you're seeing?

[2022-11-09 17:35] alishawong-credera commented on #289
If I go to mcr.microsoft.com I get:
![image](https://user-images.githubusercontent.com/103436989/200900184-4723589e-7c16-4e6e-914e-dd0cc1fd0694.png)

I've been deploying an application in Azure using Terraform and have been using the `mcr.microsoft.com/windows/nanoserver:ltsc2022 ` image fine up until lunchtime today UK time.

![image](https://user-images.githubusercontent.com/103436989/200900563-

[2022-11-09 18:06] fady-azmy-msft commented on #268
Hey @hach-que , I heard back from the team. ProjFS currently isn't supported in Windows containers, but this is something we'll consider for the future.

[2022-11-10 14:25] alishawong-credera commented on #289
This was working this morning (9am UK time) and now the service is down again. I can't find any information online about this.
![image](https://user-images.githubusercontent.com/103436989/201116371-f4e1c72a-a63f-4aa1-8ef3-ebae96dc8304.png)

I can't even create a windows web app with a quickstart image -
![image](https://user-images.githubusercontent.com/103436989/201117171-c34be3a9-a106-4546-b65a-

[2022-11-12 05:29] sanme98 commented on #227
I got the same error either run powershell as admin or not.

[2022-11-13 16:02] ghost commented on #271
This issue has been open for 30 days with no updates.
@dcantah, please provide an update or close this issue.

[2022-11-13 16:02] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-11-14 17:33] selzoc commented on #221
Hi @michbern-ms, any updates here?  Thanks!

[2022-11-14 23:54] michbern-ms commented on #221
The issue is understood - it's not as simple as adding the CCG logs.  The neutral binaries are present; it's just the localized .MUI file that is missing, for a complex reason - but one we understand.  I'm working with the team to validate a proposed fix.

[2022-11-15 00:06] selzoc commented on #221
Thanks for the update!  Any idea of a timeline?  Is this a file I could add myself at least temporarily to get at least English logs out?

[2022-11-15 00:15] michbern-ms commented on #221
WARNING: The following is not a supported solution.  This is just one engineer, talking to another, about a troubleshooting step.

OK, that said, if you have access to a full Server 2019 build, you can look for %SystemRoot%\system32\en-us\ccg.exe.mui.  That's the file that is missing to enable the CCG logs.  If you copy that file to the corresponding location in the container, you should be able t

[2022-11-15 00:27] ChaseB-CF3D opened #290 "Windows Server Core container"
**What is your question?**
A clear and concise description of what your question is. If you have bug/blocker, please open a 'Bug Report' issue instead.

[2022-11-15 00:37] ChaseB-CF3D opened #291 "Windows Server Core images "40% smaller"?"
Hello,

In an effort to minimize our CI/CD runtimes, I am attempting to slim down our base OS image sizes. When doing research related to this, I encountered articles such as https://techcommunity.microsoft.com/t5/containers/making-windows-server-core-containers-40-smaller/ba-p/1058874 and https://devblogs.microsoft.com/dotnet/we-made-windows-server-core-container-images-40-smaller/ making claims

[2022-11-15 00:40] ChaseB-CF3D commented on #290
Closing this as it is a duplicate resulting from opening https://github.com/microsoft/Windows-Containers/issues/291.
Not sure how that happened. Sorry about that.

[2022-11-15 00:40] #290 closed, assigned to nobody

[2022-11-15 03:26] akarshm commented on #34
@Juarezhm will be on point to drive this from the Microsoft side. @TBBle and @gabriel-samfira appreciate your help here. :)

[2022-11-15 15:04] TBBle commented on #34
I'll specifically tag for visibility/credit @gabriel-samfira who's been kicking the tyres and improving the various PRs I mentioned above (as well as other parts of the WCOW/BuildKit work), as I've just noticed they're not mentinoed on _this_ ticket that I can see. (But may be subscribed already, I can't tell.)

[2022-11-15 15:40] gabriel-samfira commented on #34
@TBBle thanks for the tag! A couple of more PRs will be proposed this week to related projects and buildkit itself. The goal is to have buildkit running on windows soon.

[2022-11-15 22:31] jsturtevant commented on #289
this was an issue with the MCR website which has been resolved now.
/close

[2022-11-16 16:34] #289 closed, assigned to nobody

[2022-11-16 18:03] fady-azmy-msft commented on #266
Closing this issue because we don't have current plans to provide .NET Framework images on full Windows Server.

[2022-11-16 18:03] #266 closed, assigned to nobody

[2022-11-16 23:20] mosabami commented on #286
heres the issue hes refering to: https://github.com/containerd/containerd/issues/7075

[2022-11-17 00:08] selzoc commented on #221
Hi @michbern-ms - no luck unfortunately!

I copied `CCG.exe.mui` to the Server Core container host at `C:\Windows\System32\en-US` and restarted some containers, but I still get
[code]

I also attempted to run
[code]
Which does create a log file at `%SystemRoot%\System32\winevt\logs\Microsoft-Windows-Containers-CCG%4Admin.evtx` but it seems like there's still a missing step somewhere, as now I get:

[2022-11-17 04:03] michbern-ms commented on #221
WARNING: The following is not a supported solution. This is just one engineer, talking to another, about a troubleshooting step.

[CCGEvents.man.txt](https://github.com/microsoft/Windows-Containers/files/10027621/CCGEvents.man.txt)

OK, @selzoc , one more try - I replicated your setup exactly and this seemed to work for me.

1. Get the attached file on to the machine
2. Rename it to CCGEvents.man

[2022-11-17 05:51] selzoc commented on #221
Oh, so close!

Now I'm getting _most_ of the event, but not the `Message` field
[code]

I tried also copying the `CCG.exe.mui` file and it didn't seem to make a difference.

I know from [this troubleshooting guide](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/gmsa-troubleshooting#events-and-descriptions) that the `Message` will contain important information.

[2022-11-18 16:03] ghost commented on #278
This issue has been open for 30 days with no updates.
@MikeZappa87, please provide an update or close this issue.

[2022-11-18 16:03] ghost commented on #259
This issue has been open for 30 days with no updates.
@fjs4, please provide an update or close this issue.

[2022-11-18 16:03] ghost commented on #201
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-18 17:45] michbern-ms commented on #221
That's very odd.  I went through the event registration in depth and it looks identical between the failing case and the successful case.

Chris, feel free to shoot me a mail at michbern@microsoft.com - it might be worth doing this back and forth in mail.

But I had one more idea for you - telling the events manifest system exactly where the message table is:

wevtutil im evtfiles\CCGEvents.man /m

[2022-11-19 00:42] fady-azmy-msft commented on #259
Closing this thread due to inactivity.

[2022-11-19 00:42] #259 closed, assigned to fjs4

[2022-11-19 01:01] nchandra-seg commented on #259
Can I please get back next week. I am travelling.

[2022-11-19 16:02] ghost commented on #273
This issue has been open for 30 days with no updates.
@Juarezhm, please provide an update or close this issue.

[2022-11-19 16:02] ghost commented on #197
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-19 16:28] slonopotamus commented on #197
@msftbot this issue got no meaningful updates since February! That's _a bit_ more than 30 days.

[2022-11-20 13:38] ohault commented on #291
According to the recent strategic commitment of Microsoft in [accelerating progress toward a more sustainable future](https://www.microsoft.com/en-us/sustainability/approach), this is going to be changed?

The current Windows Containers design and implementation are deeply impacted by that, as you underlined. And indeed, the current mandatory and obscure Windows Containers base images boatware is

[2022-11-20 13:43] ohault commented on #257
This is a very good and strategic question, see also https://github.com/microsoft/Windows-Containers/issues/291

[2022-11-21 02:01] AbelHu commented on #278
@zhiweiv I think that this HNS crash issue has been fixed in AKS Windows images with 2022.11B on AKS. https://github.com/Azure/AgentBaker/pull/2427/files

[2022-11-21 03:06] zhiweiv commented on #278
I have updated AKS to AKSWindows-2019-containerd-17763.3650.221110 last Friday, let's see if it works without problem.

[2022-11-21 16:03] ghost commented on #283
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-11-21 16:03] ghost commented on #272
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-11-21 17:02] ghost commented on #89
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-11-21 17:56] selzoc commented on #221
It worked!

The quickest way I know of to generate these logs is to use [these steps](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/gmsa-run-container) and simply give a credspec like `{}`.  You should get some sort of error then:
[code]

[2022-11-22 16:03] ghost commented on #274
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-22 16:03] ghost commented on #269
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-11-22 16:03] ghost commented on #72
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-11-22 16:10] mloskot commented on #72
/cc @fady-azmy-msft @akarshm

[2022-11-23 14:17] AlexBAV opened #292 "UMDF driver installation does not work on Windows Containers"
**Describe the bug**
The product we are developing installs a user-mode driver (UMDF driver) to present a virtual serial port device to the rest of the system and it is compatible with all client and server OS versions (including server core).

However, when we try to install it inside a Windows Container, we get a bunch of errors.

Below is a brief description of what we managed to discover so fa

[2022-11-23 16:03] ghost commented on #212
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-11-23 16:03] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-11-23 16:18] mwfriedm commented on #212
No updates, just bumping so that the bot doesn't close this. I can confirm that this is still an issue.

[2022-11-23 17:43] fady-azmy-msft commented on #257
@Juarezhm, any thoughts on this?

[2022-11-23 17:49] fady-azmy-msft commented on #283
Hey @judyliu-ms, any thoughts on this?

[2022-11-23 17:52] fady-azmy-msft commented on #288
Hey @Juarezhm, any thoughts on this?

[2022-11-23 20:29] jwilsonCX commented on #292
I would dearly like to see the ability to install [serial port] device drivers within Windows containers as @AlexBAV is suggesting. We have a significant number of sites that still require us to integrate with their legacy serial apparatus (fire panels, security and access control, nursecall, medical devices, etc.). We have built up a large library of such integrations over 20+ years of our produc

[2022-11-24 11:28] ChrisKlug opened #293 "Container Credential Guard failed to instantiate the plugin"
**Describe the bug**
I am running (or trying to run) a couple of containers using a gMSA account as described here: https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/gmsa-run-container

It works fine as long as I am logged into the server and run the Docker command manually. But if I try to do it through an Azure DevOps agent that is installed on the machine, it

[2022-11-24 12:10] ChrisKlug commented on #293
I actually solved this after a bit of tweaking.

For reference, if anyone has this issue in the future, the problem was that the plug-in was registered with the default of running as the logged in user. After changing this to the network service account, it started working.

[2022-11-24 12:10] #293 closed, assigned to nobody

[2022-11-25 07:17] bplasmeijer commented on #34
awesome news!

[2022-11-25 16:03] ghost commented on #262
This issue has been open for 30 days with no updates.
@dcantah, please provide an update or close this issue.

[2022-11-27 16:02] ghost commented on #264
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-27 16:02] ghost commented on #258
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-11-28 16:03] ghost commented on #247
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-11-28 16:03] ghost commented on #242
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-28 16:03] ghost commented on #235
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-11-28 16:03] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-28 17:03] ghost commented on #249
This issue has been open for 90 days with no updates.
, please provide an update or close this issue.

[2022-11-28 17:03] ghost commented on #239
This issue has been open for 90 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-28 17:03] ghost commented on #186
This issue has been open for 90 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-11-28 17:03] ghost commented on #24
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-11-28 18:06] mthalman commented on #239
@ohault - Why do you say this is not supported? Can you give an example of what's not working for you? You can see that we make use of the `--from` flag in our Windows Dockerfiles for .NET. See https://github.com/dotnet/dotnet-docker/blob/8e6da7a9fcde3a28b31faa7ef70d0fc3bcaf13d0/src/runtime/6.0/nanoserver-ltsc2022/amd64/Dockerfile#L40

[2022-11-29 17:39] michbern-ms commented on #221
Thanks, Chris!  I will continue my efforts to get this fix formally backported.

[2022-11-29 19:56] ohault commented on #239
@mthalman - I was trying either to rebase an existing Windows container image or to create a new smaller Windows Container base image by uninstalling/removing unwanted stuff from one of the existing Windows Container base images provided by Microsoft.

It was probably in relationship with a "FROM scratch"

FROM scratch
COPY --from=....

In the while, I have found https://github.com/StefanScherer/r

[2022-11-29 22:53] fady-azmy-msft commented on #270
Hey @alex031029 , I spoke with my engineering team and "running netsh trace start/stop" isn't currently supported in containers. Moving forward we'll look into adding support in the future.

[2022-11-29 22:55] #268 closed, assigned to fady-azmy-msft

[2022-11-29 22:56] #270 closed, assigned to fady-azmy-msft

[2022-11-30 17:33] fady-azmy-msft commented on #212
No updates to share yet, still working on this issue.

[2022-11-30 17:35] fady-azmy-msft commented on #263
Commenting for the bot; we're still working on this and don't have an update to share yet.

[2022-11-30 17:39] fady-azmy-msft commented on #292
Hey @AlexBAV, installing a UMDF is not currently supported on Windows Container, but we can consider putting this is on our roadmap. Can you share more about what you're trying to accomplish?

[2022-11-30 18:27] AlexBAV commented on #292
@fady-azmy-msft, thank you for getting back to me.

We develop and ship a product that implements virtual serial port devices and provides several advanced configurations (like "connecting" virtual devices together to create virtual bridges, providing shared access to COM ports or connecting them to remote COM ports, TCP/IP endpoints and so on).

For this, we have developed a product that contains

[2022-11-30 21:29] fady-azmy-msft commented on #285
Closing this issue as the this has been fixed with version `20348.1249.221105`. See this [PR for more details](https://github.com/actions/runner-images/pull/6545).

[2022-11-30 21:29] #285 closed, assigned to fady-azmy-msft