[2021-04-26 09:55] perithompson commented on #80
Thanks, @daschott I think we found this before and started using it in image builder however when provisioning machines on environments where hypervisors are not supported it would be preferable to have an option to use the PowerShell cmdlets when only the containers feature is used, something like

[code]
or something like that as it has much wider support for provisioning tools such as ansible t

[2021-04-26 17:00] ghost commented on #24
This issue has been open for 90 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-04-26 17:00] ghost commented on #7
This issue has been open for 90 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-04-26 18:23] lizhuqi opened #109 "Pods unable to be created on windows nodes"
It seems that Windows OS has some issue handling concurrent actions. Concurrent actions sometimes failed to start containers on Windows.

27m Warning FailedCreatePodSandBox pod/[POD_ONE] Failed to create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "[POD_ONE]": Error response from daemon: hcsshim::PrepareLayer - failed failed in Win32: The device is not r

[2021-04-26 20:38] vrapolinario commented on #109
Hi @lizhuqi an you please provide more details on the issue you're finding? Such as: Is this a managed K8s (AKS, EKS)? What version of K8s? K8s node config, etc?

[2021-04-26 20:40] vrapolinario commented on #7
Quick update on this. We're still working on some requirements to run MSI files so we can add this to our tooling. No timeline at this point.

[2021-04-26 20:41] vrapolinario commented on #24
We're currently working on documentation about the supported scenarios for MSDTC on Windows containers and we'll publish this soon. In the meantime, I'm curious to know if we have customers still blocked on this.

[2021-04-26 21:22] vrapolinario commented on #56
Hi @zhiweiv, I'm so sorry for the delay.
The team did respond and noted that this is an expected behavior, since the recommendation is to not install on the AuthStore as that is managed by the auto root update mechanism. The recommendation is to install it on Cert:/LocalMachine/Root.

Can you please validate that for your application?

[2021-04-26 21:39] vrapolinario commented on #85
Hi @tfenster, sorry for the delay on this. Can you please confirm this issue still repro with the latest update?
We had a similar bug fixed and wanted to ensure this is still happening before I go back to the devs on it.
Thanks!

[2021-04-26 21:47] vrapolinario commented on #89
Sorry for the delay on this. We do have an internal bug created to investigate, but it's stalled for some reason. I just pinged the teams that own the internal but to follow up. Will let this thread know once I hear back.

[2021-04-26 21:51] vrapolinario commented on #97
Quick update that we're still investigating this issue internally.

[2021-04-26 21:56] vrapolinario commented on #102
Alright, apologies for the delay. Here's the information I got internally: (Please note this is not owned by the Windows Container team)
_______________________________________
A change in the MSVC licensing is not being actively discussed. Redistribution of the VS Build Tools is not permitted, so we should make sure that while we document how .dockerfile should install VS Build Tools for anyone w

[2021-04-26 21:56] #102 closed, assigned to vrapolinario

[2021-04-26 21:57] vrapolinario commented on #105
Apologies for the delay. I should have pointed out that we opened an internal bug to investigate. Will update once I hear from the internal team.

[2021-04-26 21:58] vrapolinario commented on #108
Happy to open this issue once we hear back from the user.

[2021-04-26 21:58] #108 closed, assigned to vrapolinario

[2021-04-27 02:59] zhiweiv commented on #56
Cert:/LocalMachine/Root works for me, thanks.

[2021-04-27 02:59] #56 closed, assigned to vrapolinario

[2021-04-27 04:46] weijuans-msft commented on #64
@biiiipy thanks for the update.   I have created an internal tracking item #32608605. We will evaluate and share the updates here when we make progress.

[2021-04-27 04:51] weijuans-msft commented on #72
And this Microsoft internal tracking deliverable in ADO #32788516.

[2021-04-27 05:48] tfenster commented on #85
@lippertmarkus do you still have a repo?

[2021-04-27 16:51] jsturtevant commented on #106
What OS version is your host?  Can run `cmd /c ver` on the host?

[2021-04-27 16:58] marosset commented on #109
Can you include a few more details such as
- Pod spec
- number of containers starting concurrently
- Node side (reserved)
- Any other repro steps.
- OS version

Thanks!

[2021-04-27 17:16] lizhuqi commented on #106
it was repro on 10.0.17763.1577 but the issue is gone now after upgrading to 10.0.17763.1757.

Yeah, we can close the bug now.

[2021-04-27 22:45] lizhuqi commented on #109
I noticed that cluster which has the issue is still using 10.0.17763.1577. I will ask the owner to upgrade to 10.0.17763.1757 first and then add more details.

[2021-04-28 16:39] daschott commented on #93
We have implemented the changes on internal Windows builds but have to do additional stress testing which will take some time. Will circle back once the changes have undergone testing and are available in a public Insider build.

[2021-04-28 20:45] tianon commented on #107
I'd suggest that https://github.com/opencontainers/image-spec/blob/v1.0.1/config.md#properties is also very highly relevant here, given lowercase `rootfs` is part of the OCI image specification. :smile:

(Coming here from https://github.com/microsoft/containerregistry/issues/59 which has a bit more relevant detail too :innocent:)

[2021-04-28 21:17] weijuans-msft commented on #107
Thanks for the input everyone. I have brought to the right SMEs internally and will figure out a way to fix this. Will add an internal tracking # later on as well.

[2021-04-30 00:25] brasmith-ms commented on #15
Hi folks! Jumping in here with another update. The feature is complete and was checked in and tested for the 4C release. An important thing to note, however, is that this feature **requires both the host and guest to be updated** to function properly. Per the Windows servicing process container images are only released during B releases, so the feature was released for 4C but guest images won't be

[2021-04-30 06:37] GerryWilko commented on #15
That great @brasmith-ms. Congrats to the team!

What does this mean for AKS? Do we need to wait for an Kubernetes version bump? I don't think we have options to select node pool OS version.

Cheers!

[2021-04-30 06:41] GerryWilko commented on #15
Might have found the answer here actually. https://github.com/Azure/AKS/issues/2295

Seems to be rolling out already.

[2021-04-30 08:23] lippertmarkus commented on #85
@vrapolinario @tfenster tried again but now I can't even create a default container with process isolation and a volume on the shared disk. Tried to set the permissions for the shared disk/directory as open as possible but that didn't help:

[code]

[2021-04-30 21:15] filipe-paredes commented on #78
Until people move to Kubernetes 1.20 (assuming the problem is fixed in this version) as a workaround you just need to bypass the Azure Load Balancer on your http calls.
To do so, update the "coredns-custom" configmap in order to edit CoreDNS to re-write DNS queries to the target's ingress controller service.

**Example**
Azure Load Balancer IP: 10.0.16.10
Ingress Controller Namespace: default
Ingr

[2021-05-01 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-05-03 17:41] immuzz commented on #37
Sorry about the delay folks. Our devs were fixing the bug and happy to announce that its been fixed in bindflt. Its part of patch 4c. Please try it and let us know if its working for you. Otherwise I will close this issue and mark it as fixed in a couple of days. Thanks for being patient.

[2021-05-03 17:51] ThatWileyGuy commented on #104
Are you adding credentials as a system account or as a local user?

[2021-05-03 18:05] awakecoding commented on #37
@immuzz that's good news! Will this become available through Windows Update on the base Windows Server 2019 OS, or through an update to DockerMsftProvider on PSGallery? I just want to know how to get the fix as soon as it becomes available.

[2021-05-03 19:43] thecloudtaylor commented on #37
It was released as part of KB5001391 which you can download/install from the catalog now. Next Tue (the 11th) the fix will roll up into the normal patch Tue content and go out through Windows update as well as subsequently updated Azure gallery images when those are available (typically a few days later).

[2021-05-04 03:12] sitofabi commented on #104
I'm using the default user inside the container, i.e. the ContainerAdministrator

[2021-05-04 07:21] cby-in-ict commented on #46
Hi，I am a student for WOCW，I have a simple question.
Can I use hcsshim to manage or update windows container which created by Windows Docker?

[2021-05-05 09:28] Kellendros007 commented on #37
@thecloudtaylor, @immuzz, unfortunately, I have some bad news. Either I'm doing something wrong or the problem hasn't gone away. I am using windows 10 pro 21h1 with KB5001391 installed and base image:
1) mcr.microsoft.com/windows/servercore:2004
2) mcr.microsoft.com/windows/servercore:20H2

[2021-05-05 09:38] immuzz commented on #37
In order to isolate the issue, have you tried it on Windows Server 2019?

[2021-05-05 17:17] immuzz commented on #85
To confirm that this is indeed an issue with a drive letter, can you assign a drive letter to the CSV volume using mountvol and attempt to start container using that drive letter?

[2021-05-05 18:56] immuzz commented on #37
@thecloudtaylor just pointed out that the base layer wont get updated until Tuesday (May 11). Could you try after its updated and let us know

[2021-05-05 21:49] Kellendros007 commented on #37
@immuzz, ok i will try after patch tue on win 10 pro and win server 2019

[2021-05-06 07:45] lippertmarkus commented on #85
When assigning a drive letter to the CSV it works with process isolation but only partly with hyperv isolation:
[code]

[2021-05-07 02:55] zhiweiv commented on #60
Any update on this?

[2021-05-07 13:51] SetTrend opened #110 "Feature Request: Add password parameter to USER Dockerfile command"
It's cumbersome to create a user with no password using PowerShell, because a user without password **must** set a password at first login:

[code]
... results in:

[code]

So, I suggest to allow for providing a password along with the `USER` Dockerfile command.

[2021-05-07 15:14] SetTrend opened #111 "Feature Request: Create PowerShell shim for docker"
It would be nice to be able to pipe `docker` output from one CmdLet to the next, like:

[code]

So, I humbly suggest to either add PowerShell capabilities to the original `docker` implementation or to create a separate PowerShell shim.

[2021-05-07 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2021-05-07 17:16] brasmith-ms commented on #60
Hi folks, @zhiweiv apologies missed the notification on this. The fix has been checked in and is scheduled for servicing for the 6C timeframe. Container images are published on patch Tuesdays (B releases), so the container image containing this fix will be available via MCR on patch Tuesday in July (7B, the 13th). If you have any questions please feel free to reach out to me.

[2021-05-07 17:16] #60 closed, assigned to brasmith-ms

[2021-05-07 19:13] lizhuqi commented on #106
Sad to reopen this issue but we see this issue happens again in our customer's cluster. And this time the cluster has both kubelet fix and OS fix.

Kernel version: 10.0.17763.1757
OS image: Windows Server 2019 Datacenter
Container runtime version: docker://19.3.14
kubelet version: v1.17.17-gke.3700
kube-proxy version: v1.17.17-gke.3700

[2021-05-07 21:39] #111 closed, assigned to nobody

[2021-05-07 21:39] #110 closed, assigned to nobody

[2021-05-08 16:01] ghost commented on #63
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-05-08 16:01] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-05-10 05:56] mr-mariano-be commented on #24
Hi, at our organization we are currently analysing moving to a container infrastructure many production .NET4.x web applications running in different versions of IIS that currently uses MSDTC extensively when connecting to WCF services. Non MSDTC support would be blocking, but it is still work in progress and delayed due to COVID so we haven't get to an functional PoC or lab environment.

Thanks!

[2021-05-10 15:39] awakecoding opened #112 "Support MSVC redistributables downloading inside nanoserver containers"
Request: find a way to download the MSVC redistributable files inside a nanoserver container image, without relying on local filesystem copying (possible with a full MSVC installation on the host, but it's just a pain to require that) or without a multi-stage build using a servercore container just to download and install [vc_redist.x64.exe](https://support.microsoft.com/en-us/topic/the-latest-sup

[2021-05-10 17:00] ghost commented on #36
This issue has been open for 90 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-05-11 16:00] ghost commented on #66
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-05-11 16:00] ghost commented on #65
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-05-11 20:35] jsturtevant commented on #106
Is this reproduced in later versions of kubernetes?

[2021-05-11 23:42] tianon commented on #37
I just tested with today's updated base on an 1809-based build of https://github.com/docker-library/mongo and it worked! (following the steps in my reproducer in https://github.com/docker-library/mongo/issues/435#issuecomment-738907199)

:tada: :partying_face:

[2021-05-12 01:17] thecloudtaylor commented on #37
Thank you for the confirmation! I'm goint to close this one resloved!

[2021-05-12 01:17] #37 closed, assigned to immuzz

[2021-05-12 05:07] sicklittlemonkey commented on #15
This seems to be working now. From a colleague's testing, no luck with tzutil but Set-TimeZone works. Thanks!

[2021-05-12 12:12] docker-EE opened #113 "Does mirantis"
Is the mirantis (Docker EE) covered under the licensing terms of Win server 2019?
i.e Would I be allowed to deploy this as long as I am conformant to the licensing terms of the OS?

Have been trying to sear for this information, but no clear answer for the same, though there is an indication that support is available for the same - [support policy,](https://docs.microsoft.com/en-us/troubleshoot/wi

[2021-05-12 18:04] lizhuqi commented on #106
I saw a related issue in moby: https://github.com/moby/moby/issues/39274

The error seems to also cause our logging agent fail to read the container logs.

[2021-05-12 18:30] vrapolinario commented on #112
Thanks for the detailed information on the issue. As I was reading it was becoming clear that the issue is not on the platform (Windows container). Nano Server images don't support MSI installations by design and that's mainly to 1) reduce footprint and 2) align with modern patterns. As you acknowledge later, this is a request for the MSVC team which I'm happy to pass it on.

With that said, I'll

[2021-05-12 18:30] #112 closed, assigned to vrapolinario

[2021-05-12 19:11] awakecoding opened #114 "Intermittent TCP connection error 10053 between containers"
TCP connections between two containers on the same host randomly fail with "An established connection was aborted by the software in your host machine. (os error 10053)", or a variant of the same error, but it is always error code 10053. We've been chasing this bug down for over 6 months already, and have seen it happen at customer sites and in all of our Windows lab environments, with both contai

[2021-05-12 19:19] vrapolinario commented on #89
For internal MS tracking, we have a bug for investigation and fix: 31877422.

[2021-05-12 20:58] lizhuqi commented on #106
Yes this also repro in 1.19.

See the versions for the latest repro in our internal test:
VERSION                  OS-IMAGE                                        KERNEL-VERSION     CONTAINER-RUNTIME
v1.19.7-gke.2400    Windows Server 2019 Standard   10.0.17763.1282          docker://19.3.2

[2021-05-12 21:25] remenaker commented on #15
@sicklittlemonkey what node image are you using? I just upgraded to the latest version and still got a Access Denied error.

[2021-05-12 21:27] msjingli commented on #65
This feature is completed. Public documentation is available at https://docs.microsoft.com/en-us/azure-stack/aks-hci/prepare-windows-nodes-gmsa.

[2021-05-12 21:27] weijuans-msft commented on #107
For Microsoft folks, I filed this ADO for tracking 33232648.

[2021-05-12 21:28] #65 closed, assigned to msjingli

[2021-05-12 21:29] msjingli commented on #63
This feature is completed. https://docs.microsoft.com/en-us/azure-stack/aks-hci/new-akshcicluster#-primarynetworkplugin.

[2021-05-12 21:29] #63 closed, assigned to msjingli

[2021-05-12 21:31] weijuans-msft commented on #99
Quick update: I will be working with our friends at Mirantis (James, Uday etc) to coordinate future releases and provide a better experiences. There is no action item specific here so I intend to close this in a couple days, allowing anyone else to comment if any.

[2021-05-12 21:32] weijuans-msft commented on #95
@RasEza wonder if this is a priority that you want us to look into.

[2021-05-12 21:34] vrapolinario commented on #79
@daschott any updates on this?

[2021-05-12 21:35] vrapolinario commented on #61
Any updates on this thread? Otherwise we'll go ahead and close it.

[2021-05-12 21:36] vrapolinario commented on #81
Any updates on this. Otherwise we'll go ahead and close it.

[2021-05-12 21:51] #29 closed

[2021-05-12 21:52] awakecoding commented on #114
Quick update: I can now capture inter-container traffic using pktmon:

[code]

The HTTP request is sent, and the HTTP response is also sent, but I suspect it may not be fully received before the TCP connection is dropped by the server, causing os error 10053. I am now trying to review how [TCP options work inside containers](https://docs.microsoft.com/en-us/troubleshoot/windows-server/networking/d

[2021-05-12 21:52] vrapolinario commented on #76
We added a link to this repo on the Docker Hub description for the Windows images.

[2021-05-12 21:54] vrapolinario commented on #80
Is there an update on this?

[2021-05-12 21:58] jeremyje commented on #106
[code]

[code]

In the kubelet logs you'll see:
[code]

After a few moments you'll see this:
[code]
[code]

[2021-05-12 22:17] #61 closed, assigned to daschott

[2021-05-12 22:17] #81 closed, assigned to daschott

[2021-05-12 22:20] daschott commented on #79
We are waiting for May cumulative update

[2021-05-12 22:34] MichaelSimons commented on #76
@vrapolinario, did you see my previous response (https://github.com/microsoft/Windows-Containers/issues/76#issuecomment-805935948)?  Surely we can do better.

[2021-05-12 23:08] jeremyje commented on #106
This repros in 1.20.5 with Docker 19.3.14. @jsturtevant

[2021-05-12 23:09] jsturtevant commented on #106
I've been able to reproduce with @jeremyje's deployment spec in azure with 1.19 and 19.3.14

[code]

[2021-05-12 23:23] vrapolinario commented on #76
Thanks for pointing it out and apologies for missing that response. I'll ask the team to update that as well.

[2021-05-13 01:26] zhiweiv commented on #109
This is also reported here https://github.com/microsoft/hcsshim/issues/919.
VM spec is E2_V4(2 cores/16 GB) , we use bare pod as job workloads, there are about 20 concurrent pod creation/termination always.
The pod spec
[code]

[2021-05-13 01:28] sicklittlemonkey commented on #15
@remenaker - Our node OS image reference from the portal is:

We use the following base image and tag in our Dockerfile:
`FROM mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019`

[2021-05-13 13:33] MichaelSimons commented on #76
From a public visibility perspective can this issue be re-opened or would you like me to log a new issue to correct this?

[2021-05-13 14:54] cwiederspan commented on #15
@sicklittlemonkey - Just to make sure I'm barking up the right tree, can you confirm that you've seen this work in AKS or Kubernetes? Just trying to confirm all the pieces that I need to worry about between the application's base image and the node's OS image. Any details would be great.

[2021-05-13 16:01] thecloudtaylor commented on #114
A cursory review of saphir and hyper.rs it looks like they are using socket bindings so we can likely rule out HTTP.SYS.

[2021-05-13 16:11] awakecoding commented on #114
@thecloudtaylor we found the issue, and it was a bug in our application combined with a race condition: the HTTP client would incorrectly send a body containing the string "null" in HTTP GET requests. I can't fully explain why, but since the HTTP client would send the HTTP request headers first, and then the HTTP body, I believe the timing at which those two packets were received would influence t

[2021-05-13 16:11] #114 closed, assigned to daschott

[2021-05-14 01:30] Justin-DynamicD commented on #37
This is fantastic!  Thank you for the effort put in this.

[2021-05-14 04:07] ancaantochi opened #115 "Adding hosts for windows containers (extra_hosts) does not work"
Using docker engine API, I created a container with ExtraHosts. I inpected the container and I can see that extrahosts is set, but hosts file doesn't contain the mapping and I can't ping the hostname

from inspect:
[code]

[code]

this issue was reported on azure iot edge, but it is windows containers issue from what I can tell: https://github.com/Azure/iotedge/issues/4939

[2021-05-14 13:12] sicklittlemonkey commented on #15
@cwiederspan - We use Docker with Service Fabric, but yes, Set-TimeZone seems to be working (but not tzutil).

[code]

Note that tzutil /s appears to change the time zone without error, but the time doesn't change:
[code]

[2021-05-14 14:26] johnSchnake commented on #72
FWIW I just ran into this as well; [Sonobuoy](https://github.com/vmware-tanzu/sonobuoy) is working on supporting Windows nodes in K8s and I initially tried nanoserver and ran into the same missing DLL. That's the only one I _know_ causes a problem but I haven't messed with trying to add that DLL back into the image or anything. Easiest fix for us is just to use servercore instead, not sure if you

[2021-05-14 15:52] mattjohnsonpint commented on #15
<s>I may be mistaken, but it seems that `Set-TimeZone` broadcasts a `WM_SETTINGCHANGE` message after it changes the time zone, but `tzutil /s` does not.  IMHO, that should be fixed.</s>

[2021-05-14 16:01] cwiederspan commented on #15
FWIW, I still cannot get this to work in Azure Kubernetes (AKS). My application image using the latest base images now builds fine, it works locally, but in AKS the time zone in the container is not set/persisted. I suspect it has to do with the node image being out of date. I think @brasmith-ms is also working this angle, so maybe he'll provide an update if/when he's got something.

[2021-05-14 16:07] mattjohnsonpint commented on #15
Actually, I was mistaken.  The Windows message is sent either way.

The issue @sicklittlemonkey reported is that PowerShell relies on the cached data in `TimeZoneInfo` to output the `date` command.  `Set-TimeZone` is a PowerShell cmdlet implemented in .NET, and calls `TimeZoneInfo.ClearCachedData` when it's done setting the time zone.  `tzutil /s` on the other hand is implemented in native code, a

[2021-05-14 21:13] brasmith-ms commented on #15
Hi everyone! Yes the V-TZ feature is now available on MCR. For Windows server 2019 the image version is 10.0.17763.1935, and for the latest SAC release it is 10.0.19042.985. **Note that both the host and container image must be at least this version to work properly as the feature had both kernel and user space modifications.**

I'll be publishing more detailed documentation on MSDN in the next we

[2021-05-16 07:36] AbelHu commented on #15
It seems like that both `Set-TimeZone`  and `tzutil` work without errors in the Windows containers in the Windows host with 5B. But as @sicklittlemonkey said, **`tzutil` does not change the datetime**.

![image](https://user-images.githubusercontent.com/6416187/118389390-5b4dbd80-b65c-11eb-809a-c37e18fa3989.png)

![image](https://user-images.githubusercontent.com/6416187/118389403-66a0e900-b65c-11

[2021-05-17 23:55] chenlonglab198 commented on #106
Can reproduce with AKS 1.20.2 / Node Image Version "AKSWindows-2019-17763.1817.210310"
May I know is there any update for this issue?

Thanks in Advance!

[2021-05-18 04:36] vrapolinario commented on #76
Sure. Thanks for the note.
@2212Emmanuel is currently on point for this.

[2021-05-19 05:24] daschott commented on #79
https://support.microsoft.com/en-us/topic/may-11-2021-kb5003171-os-build-17763-1935-3f03e74b-4759-4ca3-b9f1-4bc0d5ab5d27 has been released and includes the fix.

[2021-05-19 05:24] #79 closed, assigned to daschott

[2021-05-19 16:01] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-05-19 16:14] TBBle commented on #99
Looks like we're done here. 20.10.4 is available, and future releases will hopefully have better visibility. Thank you @james-nesbitt and @weijuans-msft .

[2021-05-19 16:14] #99 closed, assigned to thecloudtaylor, weijuans-msft

[2021-05-20 13:18] johlju opened #116 "Make it possible to install Active Directory in the container (Windows Server 2022)"
We in the [DSC Community](dsccommunity.org) have many DSC resources that configures various aspect of the Windows eco-system (examples https://github.com/dsccommunity/). During the development and prior to deploy we like to run integration tests either in lab or in deploy pipelines. Many of the DSC modules requires Active Directory to function which currently hinders us from running integration te

[2021-05-24 09:28] GerryWilko commented on #15
Hi, @brasmith-ms,

Do you have an update for us on this feature? I am still unable to get this feature to work on AKS and without the docs for this feature its unclear what we need to do to get it to work.

Currently running the `Set-Timezone` as a `RUN` command in a Dockerfile for context:

[code]

At the moment as far as I can tell I have patched our build agents to latest available version (cur

[2021-05-24 09:38] AbelHu commented on #15
@GerryWilko, which region are you using? The latest AKS Windows VHD should be 17763.1935.210513 and Set-TimeZone only works in this VHD with 5B.

[2021-05-24 09:40] GerryWilko commented on #15
Hi @AbelHu,

I am in North Europe for my AKS.

Cheers

[2021-05-24 09:52] AbelHu commented on #15
@GerryWilko
[code]

[2021-05-24 09:54] GerryWilko commented on #15
Yeah I just found this help article. https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade

Running the upgrade now to see if this resolves the issue.

Many thanks!

[2021-05-24 10:17] GerryWilko commented on #15
So after upgrading my nodes to AKSWindows-2019-17763.1935.210513. This feature still doesnt seem to work. This is a container built on 10.0.17763 Windows Server 2019 Datacenter. And deployed to the cluster. Running `Get-Timezone` I get the following:
![image](https://user-images.githubusercontent.com/9151572/119333101-62d71d00-bc81-11eb-8032-01276dbca5a6.png)
I can manually set the timezone with `

[2021-05-24 14:26] cwiederspan commented on #15
@GerryWilko - With a little help from @brasmith-ms, I was able to confirm on Friday that this was all working for me on AKS. My approach was this...

* Create a custom [Dockerfile](https://github.com/cwiederspan/learn-aks-windows/blob/master/pocs/timezones/Dockerfile-10.0.17763.1935.ps) that simply hard-codes the new time zone.

* I had to manually run an `az aks nodepool upgrade` command to get m

[2021-05-24 15:23] GerryWilko commented on #15
Hi @cwiederspan,

Thanks! Strange then, I'm starting to think that I have not patched the build agents to the right level to make this work. Can you confirm what OS version you built your Dockerfile on?

Powershell `Get-SystemInfo` should do the trick. I'm wondering if the patch hasnt been released for 2019 ltsc just yet.

[2021-05-24 17:14] cwiederspan commented on #15
I built the container image on Azure Container Registry using an `az acr build` command - see this [README](https://github.com/cwiederspan/learn-aks-windows/blob/master/pocs/timezones/README.md).

The one thing that I did struggle with was ensuring that the AKS node's OS image was up to date with the latest version. To do so, I ran the aforementioned `az aks nodepool upgrade` command (which took a

[2021-05-24 18:31] chuchu commented on #46
@weijuans-msft What do you mean with this transition? I thought that containerd is something what is used by moby.

[2021-05-24 23:46] TBBle commented on #46
Based on what's happened since then, I believe what @weijuans-msft meant was that the API _used_ in Docker/Moby (i.e. the HCS v1 API in vmcompute.dll wrapped to Go via hcsshim and for .NET via [dotnet-computevirtualization](https://github.com/microsoft/dotnet-computevirtualization)) are being replaced in Docker/Moby by using containerd, which itself uses hcsshim, and which wraps HCS v1 *and* the s

[2021-05-25 10:57] TBBle opened #117 "Should we expect Windows container base images labelled 21H1/10.0.19043.X?"
In a discussion related to https://github.com/adamrehn/ue4-docker/issues/164, we realised with growing concern that there doesn't seem to be hide-nor-hair of either a [Windows Server SAC](https://docs.microsoft.com/en-us/windows-server/get-started/whats-new-in-windows-server-2004) 21H1 release, and neither 21H1 nor 10.0.19043.985 are listed in the tags on https://hub.docker.com/_/microsoft-windows

[2021-05-25 12:29] GerryWilko commented on #15
Thanks for this @cwiederspan!

Ok so it looks like it should all be working but we just need to know when to expect this 5B servicing release in normal windows updates channels so that we can patch our on-premise build agents. @brasmith-ms @AbelHu would that be right? Is there any way I can similarly force upgrade of my Windows Server 2019 LTSC build agents to pull the 5B patch?

[2021-05-25 16:53] immuzz commented on #106
@kevpar do you have any insights here?

[2021-05-25 20:14] brasmith-ms commented on #15
@GerryWilko the 5B update is already available and live via the normal Windows Server Update Service / Windows update channels so you should just be able to follow the regular process. Let me know if this doesn't work for you. [https://support.microsoft.com/en-us/topic/may-11-2021-kb5003171-os-build-17763-1935-3f03e74b-4759-4ca3-b9f1-4bc0d5ab5d27](https://support.microsoft.com/en-us/topic/may-11-2

[2021-05-28 00:05] grochoge opened #118 "Add 32-bit x86 Support for Nanoserver"
I'd like to be able to run 32-bit Windows applications in a container.

Right now there's a 20x size gap between nanoserver (which can only run 64-bit applications) and servercore (which supports WOW64).

It would be useful to have a 32-bit x86 only version of nanoserver (if that's possible to run on a 64-bit kernel) or a version of nanoserver that has WOW64 support added.

[2021-05-28 08:54] mloskot commented on #37
@Kellendros007

Are we positive it is wise to use 21H1 hosts yet? See https://github.com/microsoft/Windows-Containers/issues/117

[2021-05-29 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@mkostersitz, @daschott, please provide an update or close this issue.

[2021-05-31 07:59] zdyang commented on #27
We are diving into Remote Apps on the cloud. GUI in containers is critical for our deployment.

Look forward to this exciting feature.

[2021-06-01 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-06-01 16:49] perithompson opened #119 "Offline Installation of OpenSSH FOD"
During an image-build process for kubernetes [#621](https://github.com/kubernetes-sigs/image-builder/issues/621) the install intermittently fails to download from the windows update server. without an FOD iso it is difficult to install OpenSSH in airgapped environments as the cab file is not available.  It would be good to have a location online to download Features on demand ahead of time and mak

[2021-06-01 16:49] perithompson commented on #119
@immuzz let me know if i need to expand this at all?

[2021-06-01 19:25] kevpar commented on #106
It sounds like this issue is about getting `Access is denied.` when opening a path involving a symlink to a directory. Is that correct? Can you share the symlink path and its target?

The only thing that comes to mind is that if we are trying to open a symlink pointing to a directory, and the symlink was created without the `SYMBOLIC_LINK_FLAG_DIRECTORY` flag, then it will fail with `Access is den

[2021-06-03 16:00] ghost commented on #104
This issue has been open for 30 days with no updates.
@mapalko, please provide an update or close this issue.

[2021-06-03 16:32] vrapolinario commented on #116
Thanks for the detailed notes on the request. I think there are two things to look at here:
First, can you use a VM image that has AD pre-installed? I believe there are some considerations for generalizing an image that is a DC, but it should work.
Second, is the request for AD on Containers - which we've heard from customers already. For this specific scenario, do you need this to run on a DC or

[2021-06-03 18:35] lizhuqi commented on #106
The file is C:\ProgramData\docker\containers[ID][ID]-json.log

So it seems to be some log file created by docker daemon.

[2021-06-03 18:35] llyons opened #120 "Missing gdiplus.dll (system.drawing.common) on mcr.microsoft.com/dotnet/aspnet:5.0 base image"
Are we able to use system.drawing.commong (gdiplus.dll) on the   mcr.microsoft.com/dotnet/aspnet:5.0 base image?

We had been using server core base images that did have the library but this image was too large (4-5gb)?

[2021-06-04 09:35] rasap commented on #95
I am so sorry that I keep delaying and postponing... We are, and I am, very invested in this issue, but other responsibilities and issues always seem to crop up...
I know it is a lot to ask, but can you allow this issue to stay open? I can't promise a super concrete time frame, as looking into the suggested image and running through the required experimentation will require some dedicated resource

[2021-06-04 16:26] vrapolinario commented on #120
Adding @richlander from the .Net team for visibility and input.

[2021-06-04 16:37] richlander commented on #120
I believe that the new Windows Server image is required to resolve this. Is that right, Windows Server Team? Which image contains GDI+? I guess the client image would resolve that, too.

That said, we (.NET Team) are only planning on publishing Nano Server and Server Core images. As context, we don't publish Client images today. If you would like to use either the new Server or the Client image, y

[2021-06-05 16:25] johlju commented on #116
In this case I do not want to have AD already installed in a VM. The goal of the PowerShell module ActiveDirectoryDsc is to install, configure and monitor drift using PowerShell Desired State Configuration (DSC) (using both Windows PowerShell and hopefully soon PowerShell too). So in this case I want to start in a fresh VM (or better yet a container) and using DSC with the module ActiveDirectoryDs

[2021-06-06 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2021-06-07 06:09] WojciechThomas opened #121 "WAC opens visible docker command line window"
If I install on the same Windows Server WAC and containers, almost always WAC starts to display visible docker command line windows.

Docker command line windows open and close quickly as I e.g. want to display a list of containers or images or longer if I download a new image.

It makes work almost impossible as new command line windows flash at the front of the others windows.

![New command lin

[2021-06-07 12:52] mthalman commented on #120
No, Nano Server doesn't provide this DLL.  But it will work on Windows Server Core as mentioned by @llyons.  There are [tags](https://hub.docker.com/_/microsoft-dotnet-aspnet) available for 5.0 on Windows Server Core that can be used: `5.0-windowsservercore-ltsc2019`.

[2021-06-07 15:47] mkostersitz commented on #82
Re-assigning to @daschott as I am not working on this anymore

[2021-06-07 19:57] DECBuzz commented on #27
Maybe I don't understand containers, but why do we have to download a Windows image to use a container on Windows. I downloaded the same version on my system hoping Docker would realize starting with the host then run from their to build the changes in a new container. Does Docker have a FROM localhost?

[2021-06-07 20:13] vrapolinario commented on #27
Hi @DECBuzz it might be useful for you to take a look at our documentation at http://aka.ms/containers.
Containers run based on a base image and Microsoft provides those base images (either Server Core, Nano Server, Windows, or Server depending on your need). These images have the base OS of the container. The host in this case, different from VMs, has to match the kernel, but all operations on th

[2021-06-07 20:22] vrapolinario commented on #121
Hi @WojciechThomas, this is a known bug and we're working on getting a fix out.
This happens when you install WAC on the same container host you want to manage and opens a local session on that host.
As a workaround, you can do a few things:
- If you want to keep the local instance on the container host you can change the "Manage as" account (you can use the same account, just use the "manage as"

[2021-06-08 03:07] WojciechThomas commented on #121
Hi @vrapolinario, I currently use your second solution.

I am surprised that this bug does not always appear. Until now I was not able to identify any conditions or patterns. It sometimes happens when I use the local administrator account, and sometimes when I use the domain administrator account, but generally it is a quite rare situation ;)

[2021-06-08 08:00] eric642 opened #122 "how to "switch to windows containers" in winserver 2016"
On winserver2016, there is no docker desktop and dockerCli.exe, how to switch to windows container。

[2021-06-08 16:00] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-06-08 16:49] vrapolinario commented on #28
The work for this is in progress and we expect to have something to announce soon.

[2021-06-08 16:51] vrapolinario commented on #122
Hi @eric642 have you checked our documentation on how to use Containers and Docker on Windows Server? https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=Windows-Server. Docker doesn't come pre-installed with Windows Server, but in the documentation we have the guides on how to get it installed and how to start using it.

Let us know if you have an

[2021-06-08 17:58] vrapolinario commented on #7
To avoid getting the bot warning, I'll keep this closed until we have an update.

[2021-06-08 17:58] #7 closed

[2021-06-08 18:27] vrapolinario commented on #97
For internal MS folks: Bug filled: Bug 32905775

[2021-06-08 20:07] stzach opened #123 "aspnet docker image pfx certificate"
Hello,

I am trying to build an aspnet docker image for identityserver. I am using the default docker file configuration provided from visual studio, but i need to install within the final image a pfx certificate. This certificate is a X509 for identity server (.AddSigningCredential(configuration.GetValue<string>("SigningCertificate"), System.Security.Cryptography.X509Certificates.StoreLocation.Lo

[2021-06-08 20:12] vrapolinario commented on #105
This has now been fixed with the update that just came out today as part of Patch Tuesday (6B update).

[2021-06-08 20:12] #105 closed, assigned to vrapolinario

[2021-06-08 21:07] vrapolinario commented on #121
The issue here presents when you're using single-sign on on WAC when it is installed on the same machine it is managing and calling an external tool, such as Docker. The dev team is fixing this bug and we should see an update soon.

[2021-06-08 21:34] vrapolinario commented on #116
Thanks for the details @johlju. Today we don't have that option available primarily because we treat containers as disposable units that can be scaled as needed. We heard this feedback from other customers already and it is something we're looking into, however, we don't have a timeline to provide at this moment.

[2021-06-08 23:28] david-terk commented on #47
With the release of this new image, are there any changes with respect to this topic?

https://techcommunity.microsoft.com/t5/containers/announcing-a-new-windows-server-container-image-preview/ba-p/2304897

[2021-06-09 07:06] eric642 commented on #122
@vrapolinario , I have read this document。 But it didn’t tell me how to "switch to windows container" in winserver2016.
in the win10, i can swith to windows container.
![image](https://user-images.githubusercontent.com/19191915/121309059-4e0eb080-c934-11eb-8593-658fa62ea843.png)

[2021-06-09 11:45] johlju commented on #116
That is what I'm looking for. I want the container(s) to live as long it takes for the integration tests to run, then it will be discarded. Next pipeline job will setup the container(s) to run the integration tests again. Today I would need to discard the VM's and rebuild them on next run.

[2021-06-09 17:16] vrapolinario commented on #122
I see the confusion now. For Windows Server, there is no GUI such as in Docker Desktop. All interaction with Docker should be made via CLI, calling the command "docker", such as "docker run", "docker pull", etc.

On the other hand, you don't need to specify which type of container you are using - however, I should tell you that Linux containers are not supported on Windows Server. This has been an

[2021-06-09 17:16] #122 closed, assigned to vrapolinario

[2021-06-09 18:41] mapalko commented on #104
@vrapolinario ThatWileyGuy and I confirmed that we don't know or own how the ContainerAdministrator account is created or what might happen to its profile during container commit so we can't comment on why this would be happening.

[2021-06-09 21:07] weijuans-msft commented on #107
Quick update: for Microsoft folks, one ADO is not enough:). There is a bug ADO filed 33660269, and the right SME team is on it, aiming to fix it in upcoming months through the monthly patch release. woohoo~~

[2021-06-09 21:39] immuzz commented on #119
@perithompson could tell me the name of the binary so i could track down the owner?

[2021-06-09 21:43] brasmith-ms commented on #36
Hi folks, just wanted to update this thread on our progress here. This is absolutely a high priority item and we are working on adding support for it in the future. This is a top issue for Windows containers and we are listening closely to your feedback on this. Cross-version compatibility demands a lot from the fundamental design of the Windows OS and enabling support for this is by no means triv

[2021-06-09 21:43] #36 closed, assigned to brasmith-ms

[2021-06-09 21:49] immuzz commented on #109
Is this on AKS or some other distro or DIY K8s?

[2021-06-09 21:50] immuzz commented on #106
@lizhuqi Did you try the above workaround @kevpar recommended? Also have you tried this with containerd?

[2021-06-09 21:53] msjingli commented on #66
We're actively working on it, goal for preview is 2021 H2.

[2021-06-09 21:53] immuzz commented on #92
@perithompson are you still able to reproduce this issue? Sorry about the delay on this one

[2021-06-09 21:54] immuzz commented on #80
@daschott Do we have any plans for this?

[2021-06-09 22:02] daschott commented on #80
This is not on our roadmap for Server 2022, but we are discussing available options with Hyper-V team and tracking this in backlog.

[2021-06-09 23:53] lizhuqi commented on #106
I am not sure how to try out the workaround. The file is a log file created by docker. The symlink is /var/log/containers/[POD-NAME][NAMESPACE-NAME][CONTAINER-NAME]-[CONTAINER-ID].log and its target is C:\ProgramData\docker\containers[ID][ID]-json.log.

[2021-06-10 00:01] daschott commented on #80
@perithompson have you tried checking installed features using:
`dism /online /Get-Features`

We are not fully understanding the core issue here since it is possible to run such dism commands from within PowerShell. Can you describe in more detail why it is not possible to use `dism` from Ansible? Is this issue blocking your efforts?

[2021-06-10 00:05] lizhuqi commented on #106
How to ensure target path exist before the symlink is created? I feel the log file might be created by docker daemon and the symlink might be created by kubelet. Please correct me if my guess is wrong.

[2021-06-10 00:15] lizhuqi commented on #106
symlink is created at https://github.com/kubernetes/kubernetes/blob/669016067d49110a35769f7db42705cc5f0becff/pkg/kubelet/dockershim/docker_container.go#L230

It seems that it did check log file exists before creating the symlink.

[2021-06-10 00:24] lizhuqi commented on #106
Keven - when you say pass the flag SYMBOLIC_LINK_FLAG_DIRECTORY, do you mean pass the flag in [CreateFile](https://github.com/kubernetes/kubernetes/blob/669016067d49110a35769f7db42705cc5f0becff/vendor/golang.org/x/sys/windows/syscall_windows.go#L1348) here?

[2021-06-10 01:00] zhiweiv commented on #109
For me, it is reproduced in both AKS and AKS-Engine.

[2021-06-10 16:59] vrapolinario commented on #104
I have identified an internal team that is currently investigating this issue.

[2021-06-10 18:04] perithompson commented on #119
Hi muzz I'm not 100% sure but it's the openssh-server feature than you have to use add-windowscapability /online, which I believe downloads a cab in the background, I'll see if I can dig this out

[2021-06-10 22:54] vrapolinario commented on #116
I understand the scenario you'd like to have AD for. The problem with implementing that today is that in a real AD environment, spinning up and down containers would leave lingering objects in the AD database, in addition to other authentication issues.

As I mentioned, this is something we're looking into as we have other customers asking for this. Unfortunately, I can't provide a timeline at thi

[2021-06-10 23:31] lizhuqi commented on #106
@kevpar can you provide more details about the workaround? Like the steps to test the workaround.

[2021-06-11 07:06] kevpar commented on #106
I don't know if there is a viable workaround here. I was asking about symlinks because of the earlier comment that this issue seemed like a duplicate of #97. Reading through this again, though, it seems like the issue is internal to Docker: It is failing to delete the container log file at `C:\ProgramData\docker\containers\<id>\<id>-json.log`.

Assuming my understanding above is correct, how is th

[2021-06-11 13:14] Keith-Mange commented on #80
Enable-WindowsOptionalFeature and Disable-WindowsOptionalFeature can be used instead of DISM.

[2021-06-11 18:40] lizhuqi commented on #106
Maybe the previous fix doesn't fully make the issue described in this [comment](https://github.com/Azure/AKS/issues/1765#issuecomment-670409632) go away?

[2021-06-12 16:01] ghost commented on #89
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-06-12 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-06-13 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-06-14 14:03] joachimcarrein opened #124 "SQL with gMSA breaks SSL implementation"
After creating a SQL Docker image, the SSL does no longer work to import certain certificates, or create new self signed certificates.

We tested on different Server 2019 versions updated to the last update:

- 1809: same error
- 1903: works (we have no clue why it does work here)
- 1909: same error
- 2004: same error
- 20H2: same error

The error we received is the following:
[code]

We used the

[2021-06-14 16:01] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-06-15 22:30] Random-Liu commented on #106
Is this related? https://github.com/moby/moby/commit/2502db66d0ddf789aa1d09f739db5f2add80916b

Will that fix the issue? That fix is only in Docker 20.10

[2021-06-16 18:09] lizhuqi commented on #106
I will check if this issue repros for docker 20.10

[2021-06-16 21:24] lizhuqi commented on #106
Confirmed the issue still repro for v.1.20.7 with Container Runtime Version:  docker://20.10.4

[2021-06-16 21:25] lizhuqi commented on #106
@kevpar and @immuzz - can you take another look? I am happy to try out if there is any workaround.

[2021-06-16 22:06] Random-Liu commented on #106
If the issue still repro, as far as I can understand, docker just calls `os.RemoveAll` and got this error after the fix moby/moby@2502db6.

This looks like either a golang implementation issue or windows underlying issue (bad error reporting?).

In our case, the container directory actually is already gone (at least not visible) on the node, when we get this error.

[2021-06-17 16:00] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2021-06-17 18:43] brasmith-ms commented on #15
Hey everyone! We have published the documentation for this feature. Thanks again to everyone for your patience, please let me know if you hit any problems or have additional suggestions!

[https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/virtual-time-zone](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/virtual-time-zone)

[2021-06-17 18:43] #15 closed

[2021-06-17 20:40] slonopotamus commented on #117
I want to add that [Windows base image](https://hub.docker.com/_/microsoft-windows) also still doesn't exist for 21H1 after a month since its release.

[2021-06-17 21:36] lizhuqi opened #125 "“The system cannot find the file specified” error happens when pd windows driver tried to unmount volume"
Enviroment: GKE
Cluster version: 1.19.9

Operation for "{volumeName:kubernetes.io/gce-pd/[ID]--[ID] podName: nodeName:}" failed. No retries permitted until [TIMESTAMP](durationBeforeRetry 500ms). Error: "UnmountDevice failed for volume \"[ID]\" (UniqueName: \"kubernetes.io/gce-pd/[ID]--[ID]\") on node \"[ID]\" : CreateFile \\var\\lib\\kubelet\\plugins\\kubernetes.io\\gce-pd\\mounts\\[ID]--[ID]: Th

[2021-06-18 00:04] lizhuqi commented on #125
According to the log, mount/unmount/remount seems to succeed but however customer sees some IO errors like "The file or directory is corrupted and unreadable." when they tried to read a dir or file:

[2021-06-18 10:21] TBBle opened #126 "MCR-hosted VS Build Tools base image"
Following up on https://github.com/microsoft/Windows-Containers/issues/102#issuecomment-827170844.

Is there any chance we could have a VS Build Tools base image offered from MCR the way Windows container base images are, using foreign layers for the non-redistributable parts?

I would assume an VS Build Tools image would derive from the Server Core base, so it'd be another foreign layer or two on

[2021-06-18 10:57] TBBle commented on #117
I think the "Windows" base image, is still technically Windows Server, just with more DLLs, rather than being a Windows 10 (Client) container image.

That might be why it's being replaced with [the new "Windows Server" container image](https://techcommunity.microsoft.com/t5/windows-server-insiders/announcing-new-container-preview/m-p/2304794), since that will be less confusing. I suspect they had

[2021-06-18 16:36] mloskot opened #127 "windows/nanoserver:1909 throwing hcsshim::CreateScratchLayer - failed failed in Win32: The system cannot find the path specified. (0x3)"
Something must have changed in the `mcr.microsoft.com/windows/nanoserver:1909` image in particular as it's been working for my custom images workflow for quite a while and now it's not.

Here is minimal reproducible example `Dockerfile`

[code]

and runner that may be extended with more image tags:

[code]

Build using base `1909` tag does **NOT succeed**:

[code]

Possibly, it's related to https:

[2021-06-18 20:58] lizhuqi commented on #125
With more investigation, we think the volume corruption is not caused by “The system cannot find the file specified” error but we are still not clear the cause.

[2021-06-18 22:05] vrapolinario commented on #126
Hi @TBBle, Our team (Windows Containers) don't own MSVC and while we're happy to pass on the suggestion to that team, we have no control over other Microsoft components. I see that their page https://docs.microsoft.com/en-us/cpp/build/reference/compiler-options?view=msvc-160 is on GitHub and open for suggestion as well as present many members of the team so it'd be easier to contact that team dire

[2021-06-18 22:05] #126 closed, assigned to vrapolinario

[2021-06-18 22:09] vrapolinario commented on #127
Thanks for raising this issue on 1909 images. However, that image is now out of support as you can check on: https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/base-image-lifecycle. We recommend customers use the 2004 or 20H2 images at this point so they can get support on those images. From the information above, I see that the build process succeeded on 20H2.
Ple

[2021-06-18 22:09] #127 closed, assigned to weijuans-msft

[2021-06-19 06:02] TBBle commented on #117
@adamrehn inadvertently tested a Windows Server 20H2-based container image on a Windows 10 21H1, and it indeed failed to run in Process Isolation mode.

[2021-06-19 06:13] TBBle commented on #126
I'm guessing you meant to link to https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2019, but it's a good point, I'll raise it with the Visual Studio product team instead.

Edit: For those following along at home, I raised it at https://developercommunity.visualstudio.com/t/Please-publish-an-MCR-hosted-VS-Build-To/1454970

While doing so, realised that the [.NET F

[2021-06-19 06:38] adamrehn commented on #117
@TBBle I had also assumed that `mcr.microsoft.com/windows` was derived from Windows Server, but it actually reports itself as a client version of Windows 10 when querying the system information, and [the announcement for the new Windows Server image variant](https://techcommunity.microsoft.com/t5/containers/announcing-a-new-windows-server-container-image-preview/ba-p/2304897) confirms this:

There

[2021-06-19 06:40] adamrehn commented on #117
The above information of course makes it all the more puzzling that there isn't a Windows 10 version 21H1 container image available, especially given that 20H2 images fail to run in process isolation mode under 21H1 host systems.

[2021-06-19 06:57] TBBle commented on #117
Ah, I had missed that note that the Windows image was derived from the Client edition.

The reason I assume the Windows Server image replaces the Windows image, is that the [Windows insider image tags](https://mcr.microsoft.com/v2/windows/insider/tags/list) stop at [build 20324](https://techcommunity.microsoft.com/t5/windows-server-insiders/announcing-windows-server-preview-build-20324/m-p/2247475

[2021-06-19 11:07] adamrehn commented on #117
The one concern I would have about the Windows Server base image replacing the Windows client base image is whether the former will have SAC releases like the latter has up until now. For both Windows Server 2016 and 2019, the Desktop Experience component was exclusive to LTSC releases, and the new Windows Server image is built with Desktop Experience as a key component. I've not seen any indicati

[2021-06-21 08:49] mloskot commented on #127
@vrapolinario Thank you for the explanation.

The 1809 is still supported though, isn't it?

Server Core | Long-Term, Semi-Annual | 2019, 1809 | 17763 | 11/13/2018 | 01/09/2024 | 01/09/2029
-- | -- | -- | -- | -- | -- | --
Nano Server | Semi-Annual | 1809 | 17763 | 11/13/2018 | 01/09/2024 | N/A
Windows | Semi-Annual | 1809 | 17763 | 11/13/2018 | 01/09/2024 | N/A

[2021-06-21 14:46] vrapolinario commented on #127
Yes, 1809 is supported. Do you see the error on 1809 as well?

[2021-06-21 17:42] mloskot commented on #127
@vrapolinario No, I don't see the error on 1809. I was just double-checking I've got it right the 'skipping' of 1909 and that the situation is this indeed:

- 1809 - supported
- 1909 - NOT supported
- 2004 - supported
- 20H2 - supported

[2021-06-21 18:36] weijuans-msft commented on #124
acknowledging; looking which SMEs in side who can help triage and root cause...

[2021-06-21 19:14] Andrysky opened #128 "service and multi-stage"
hi help please, i installed the program in windows/servercore now i want to transfer to windows/nanoserver
I copied the files, but when the container starts, the services do not start (and they are not in the list - `sc queryex type = service state = all`), I tried to copy the registry (C:\windows\System32\config\) but the results are not gave (((

[2021-06-21 20:29] porrascarlos802018 opened #129 "Bugcheck on afunix.sys causes node reboot"
Bugcheck: 139, please provide updates here.

[2021-06-22 12:39] vrapolinario commented on #127
That is correct as of today. Please keep an eye on that page to see the dates for end of support on each release.

[2021-06-23 12:33] lippertmarkus opened #130 "[Windows Swarm] windowsfilter directory isn't cleaned up - unreferenced layers are used by another process"
We already brought up the issue here: https://github.com/moby/moby/issues/42521

As there wasn't much feedback, we also would like to ask the Windows Containers platform team here if you see another way around this issue apart from regularly redeploying the cluster nodes?

[2021-06-23 17:04] perithompson opened #131 "Documentation for New-SmbGlobalMapping"
The Kubernetes SMB CSI driver uses New-SmbGlobalMapping but there doesn't seem to be any docs explaining the command and the various switches such as RequirePrivacy, please can this be documented alongside https://docs.microsoft.com/en-us/powershell/module/smbshare/new-smbmapping?view=windowsserver2019-ps so that we can understand what is going on.

[2021-06-23 17:05] perithompson commented on #131
@immuzz this was mentioned on SIG Windows last night

[2021-06-24 18:29] lizhuqi commented on #106
@kevpar and @immuzz  - can you take another look?

[2021-06-25 18:31] daschott opened #132 "DNS queries fail for small time window after Windows Container start in Dockershim"
There is a known issue in dockershim such that DNS server regKeys will not be set on container startup in dockershim on Kubernetes. This can cause DNS resolution errors for a small time interval upon startup.

To workaround this issue, you can use lifecycle hooks to wait for the DNS server to be plumbed:
https://github.com/kubernetes/community/blob/master/sig-windows/CONTRIBUTING.md#troubleshootin

[2021-06-28 19:11] TBBle commented on #119
You're talking about https://github.com/PowerShell/Win32-OpenSSH, I think. Normally installed with:

[code]

Per [the FOD list](https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/features-on-demand-non-language-fod#openssh-server) that's `OpenSSH-Server-Package~31bf3856ad364e35~amd64~~.cab`.

There are [instructions](https://docs.microsoft.com/en-us/windows-hardware/manufacture/

[2021-06-29 11:49] joachimcarrein commented on #124
A little update, we just found out it isn't even related to SQL.
We ran the following docker file with the same results as above:

[code]

the start.ps1 is as follows:
[code]
it appears as soon as the build step creates a certificate, the start.ps1 can no longer create certificates.
If we place the 2 tryouts in the dockerfile in comment, the start.ps1 works as expected.

so presumably, SQL Install

[2021-07-01 00:03] lizhuqi commented on #106
Confirmed the issue repros for v1.20.6-gke.1000 but doesn't repro for 1.21.1-gke.1800 and 1.21.1-gke.2200. The main difference between those two versions are the docker runtime. v1.20.6-gke.1000 has docker://19.3.14. 1.21.1-gke.1800 and 1.21.1-gke.2200 has docker://20.10.4. The issue also doesn't repro for containerd. Lantao's guess was right. My previous comment about reproing for v1.20.7 was wro

[2021-07-01 00:05] lizhuqi commented on #106
Close this as the issue is fixed in moby/moby@2502db6.

Anyone who experience this shall upgrade to use docker://20.10.4 or switch to use containerd.

[2021-07-02 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-04 16:01] ghost commented on #95
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-04 18:07] BumbrT commented on #117
Any update on this? Can i launch windows containers with process isolation on w10 pro 21H1 laptop?
Downloaded 20H2 container and got " The container operating system does not match the host operating system." error.

[2021-07-05 16:00] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-06 02:16] adamrehn commented on #117
@BumbrT as far as we can tell, there's currently no way to run process-isolated containers under Windows 10 version 21H1. If your machine has an Intel CPU then you can run 20H2 in a Hyper-V virtual machine with [nested virtualisation](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization) enabled in order to use both process isolation mode and Hyper-V

[2021-07-07 16:01] ghost commented on #120
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-07 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-07-07 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-07-07 16:20] mikedennis opened #133 "Include text editor on windows images"
This is something that is always a pain working with windows base images.

I have to end up install chocolatey and then vim or something to just edit a configuration file. Never thought I would would wish back for the day when ```edit appsettings.config``` worked but surely you guys can put a simple to use basic text only editor on the images so these are easy to work with?

[2021-07-08 05:21] lippertmarkus commented on #133
What's your use case? IMHO one main idea behind containers is immutability, so you create an image with your app and set configuration values either via mounting a config file or by using environment variables. Why do you want to edit a configuration while the container is running, instead of just restarting it with a different mounted config file or different environment variables?

If you need t

[2021-07-09 16:01] ghost commented on #123
This issue has been open for 30 days with no updates.
@mapalko, @weijuans-msft, please provide an update or close this issue.

[2021-07-09 16:01] ghost commented on #121
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-07-09 19:39] cilerler opened #134 "Missing `security.dll`"
Can you please add `security.dll` under `C:\Windows\System32`?

So many of us hitting the error message `The instance of SQL Server you attempted to connect to requires encryption, but this machine does not support it.` error upon trying to connect Azure SQL.

e.g.
https://github.com/dotnet/SqlClient/issues/653
https://github.com/dotnet/SqlClient/issues/714

using
[code]

## Side note
⚠️ _Also, th

[2021-07-09 19:47] magicmicah opened #135 "License for MicrosoftDockerProvider"
Hello,

Bit of a cross post from [here](https://github.com/OneGet/MicrosoftDockerProvider/issues/84) but we are hoping for clarification and support from the community to help us understand. We are interested in using the Microsoft Docker Provider provided below:

https://github.com/OneGet/MicrosoftDockerProvider

We have a few questions on this provider that we need to understand. What is the lic

[2021-07-10 16:01] ghost commented on #109
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-07-10 16:01] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-10 16:01] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-07-11 16:01] ghost commented on #116
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-07-11 18:43] weijuans-msft commented on #107
With input from the community, we are moving ahead making the fix.
https://twitter.com/WeijuanLand/status/1410267959537270785

[2021-07-12 09:06] perithompson commented on #92
I havent tried as we add the exceptions now, the exceptions certainly work although I feel it would be better if we didn't have to exclude them from AV checks?

[2021-07-12 16:02] ghost commented on #89
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-07-12 16:02] ghost commented on #80
This issue has been open for 30 days with no updates.
@daschott, @immuzz, please provide an update or close this issue.

[2021-07-12 16:02] ghost commented on #39
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-12 16:46] aravindhp opened #136 "Windows host is not aware of container users"
When investigating [Windows Pod with RunAsUserName and a Projected Volume does not honor file permissions in the volume](https://github.com/kubernetes/kubernetes/issues/102849), it came to light that the Windows host is not aware of container users. This becomes important in the Project Volume scenario as the entities that are projected need to be assigned the correct user permissions. A resolutio

[2021-07-13 12:12] ovidiubuligan opened #137 "Running custom script extension to change the locale on VM Scale Set does not change I18N formatting"
We are trying to set the locale  on a AKS VM Scale Set via Custom Script Extension that is run at startup , this is not Ideal ,any other better way would help . The script extension that we run is :

[code]

The problem is now that calling `Get-WinSystemLocale` return correct `nb-NO` after restart , But the currently format and date format is not honored. For example :
[code]

How can we fix this

[2021-07-14 16:01] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-14 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-14 16:19] weijuans-msft commented on #72
We have it in our internal backlog and will evaluate with other similar related asks and prioritize.

[2021-07-14 17:41] vrapolinario commented on #128
Hi @Andrysky can you please provide more details on what you're building and the issue you're seeing? Can you provide details on your dockerfile, the error message if any, etc?

[2021-07-14 17:42] vrapolinario commented on #129
This is under investigation and we're working on a fix. Will provide updates as they come.

[2021-07-14 17:45] vrapolinario commented on #133
I second @lippertmarkus' comment on editing something on the container instance rather than the image. Can you please provide more details on the scenario?

[2021-07-14 17:47] vrapolinario commented on #134
Can you please confirm this works with the new Server image? https://techcommunity.microsoft.com/t5/containers/announcing-a-new-windows-server-container-image-preview/ba-p/2304897

[2021-07-14 18:06] naikrovek commented on #27
I'm very curious how much the container images would inflate with RDP added.  Maybe if a version of each image without RDP and a version with RDP would make everyone happy.  And, maybe the RDP version could just be a layer on top of the standard images.

Windows containers that support RDP would be an absolute good in my world.  There are a lot of things that would be made much easier if this were

[2021-07-14 18:30] mikedennis commented on #133
It's 100% around troubleshooting but if the argument is to keep the image smaller (which hasn't been mentioned yet), I'm good with that. Windows images are so large already I wouldn't want them bloated significantly just for this.

Telnet is another tool I often need but typically to solve that I just use a linux container in the same cluster then I can do /dev/tcp/x.x.x.x/y

[2021-07-14 22:18] weijuans-msft commented on #134
@cilerler Also wanted to double check: rre you using .NET Framework not .NET Core right? This thread dotnet/SqlClient#653 shared 2 workarounds for .NET core containers and it seemed working for some folks.

[2021-07-14 22:27] cilerler commented on #134
@weijuans-msft, my code is based on .NET Core, and the suggested solution didn't work for me.  Also, as I stated above, even copying `security.dll` in `mcr.microsoft.com/dotnet/sdk:5.0-windowsservercore-ltsc2019` Docker image didn't solve the issue either.  The only solution that did work for me was copying the `security.dll` in `Windows10`.

[2021-07-14 22:31] cilerler commented on #134
@vrapolinario Testing base image is not easy in this case.  But I will test it; I just need a little time since that image is a base, and I have to apply what `mcr.microsoft.com/dotnet/runtime` and `mcr.microsoft.com/dotnet/sdk` do on top of it.
I will get back to you.

[2021-07-15 01:11] agowa commented on #27
@naikrovek: RDP is already in the container image. It is restricted because of licensing. There are articles on how to "reenable" it. But for obvious reasons that's not something that you want to explain in a licensing audit, nor what you want to run in production.

[2021-07-15 02:54] DECBuzz commented on #27
I give up on containers being sandoxes for applications and accept them as a replacement for VM technology.

[2021-07-15 18:12] lizhuqi commented on #106
The issue comes back. I think last time I repro I didn't start and restart pod frequent enough.

I will try to switch to 20.10.6.

[2021-07-15 21:39] vrapolinario commented on #89
Unfortunately this is still under works. We'll update as soon as we have any news.

[2021-07-16 12:03] metaljo5001 opened #138 "When will base image for nano server stop being available?"
Hello,

I am trying to find out when specific base image will stop being available for use for docker. I found https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/base-image-lifecycle for the end of support date, but it is not the information I was looking for. Essentially, when will link like mcr.microsoft.com/dotnet/aspnet:3.1-nanoserver-1903 stop working?

[2021-07-16 17:05] thecloudtaylor commented on #85
Cluster shared volumes are only supported for specific workload types, including Hyper-V virtual machines and Scale-Out File Servers [(Use Cluster Shared Volumes in a failover cluster | Microsoft Docs)](https://docs.microsoft.com/en-us/windows-server/failover-clustering/failover-cluster-csvs). While CSV may function for other applications including process isolated containers it is not a scenario

[2021-07-16 18:39] tfenster commented on #85
@thecloudtaylor that means that there is no supported way to have shared storage across Windows hosts for process isolated workloads outside of AKS? Or am I missing an option?

[2021-07-16 18:48] thecloudtaylor commented on #85
@tfenster - SMB would be an out of the box option (that's likely what I would use). You could also imagine doing something like what K8 block PVs do in mounting the storage to the node running the container but that would require some doing. If I recall swarm does have hooks for such things but it's been a while since I looked at that code.

[2021-07-16 18:53] tfenster commented on #85
@thecloudtaylor thanks for the feedback. We indeed initially looked at SMB but as we want to run SQL databases on it, we had concerns about performance. Would you expect that to work?

[2021-07-16 19:02] thecloudtaylor commented on #85
@tfenster - I think it would depend on the configuration and of course the load but the same could be said about managed disks... You might benefit from adding an additional NIC to the hosts for the storage path, this might also be good from a network isolation perspective.

[2021-07-16 19:05] tfenster commented on #85
Interesting idea, will give that a try. Thanks!

[2021-07-16 19:09] thecloudtaylor commented on #135
The PowerShell model specifically (https://github.com/OneGet/MicrosoftDockerProvider) is provide under MIT. At present it only installs versions of the Mirantis Container Runtime, which is provided by Mirantis to Windows Server customers at no additional charge though an agreement between Microsoft and Mirantis. This agreement is not perpetual and could sunset in the future.

You could also use th

[2021-07-16 19:30] #85 closed, assigned to vrapolinario

[2021-07-17 16:01] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2021-07-19 04:43] TBBle commented on #138
That image (`mcr.microsoft.com/dotnet/aspnet:3.1-nanoserver-1903`) belongs to https://github.com/dotnet/dotnet-docker so you might want to ask there. Based on https://github.com/dotnet/dotnet-docker/issues/2445, I suspect they won't actually be removed, but they'll also never be updated again.

[2021-07-19 07:52] gerwim commented on #117
Still no updates from Microsoft? @weijuans-msft?

[2021-07-19 16:01] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-07-19 22:27] lizhuqi commented on #106
We have a MS support case opened for this issue and plan to have this case transferred to Mirantis support for Mirantis team to take a look.

[2021-07-20 18:02] thecloudtaylor commented on #138
Presently we do not remove old images, though this is an active topic of discussion. However please be aware that once images are outside of support (https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/base-image-lifecycle) they are not patched and I would strongly recommend moving to a supported/patched version.

[2021-07-20 18:03] #135 closed, assigned to weijuans-msft

[2021-07-20 20:08] jsturtevant commented on #92
The issue identified here was scanning done by Defender.  The performance is improved if you exclude the containerd process:

[code]

If anyone is still seeing issues after this exclusion, please add details to this issue.

[2021-07-21 09:13] perithompson commented on #92
Im not having issues but i think there was someone else who said the pull performance wasn't as good as docker, though I haven't got any numbers on that and it certainly hasn't been out of bounds for me

[2021-07-21 13:10] naikrovek commented on #27
@agowa338: It used to be, but not anymore.  It can't be enabled by any known means, and from what I can tell, it's been removed entirely.

So, yeah my curiosity stands.  I wonder how big that support is, and why can't it be a layer on top of the existing images?

[2021-07-22 01:10] singholt commented on #92
Some numbers based on my testing:
Runtime | Image | Instance Type | Defender on | Exclusion Path (ProgramFiles\containerd and ProgramData\containerd) | Exclusion Process (containerd.exe, ctr.exe) | Exclusion Paths + Exclusion Process | Defender off
-- | -- | -- | -- | -- | -- | -- | --
containerd | Servercore(2.5GiB) | m5.xlarge | 13.2mins | 6.3mins | 3.55mins | 4.15mins | 3.08mins
docker | Server

[2021-07-22 07:53] joachimcarrein commented on #124
Any updates?

[2021-07-22 12:47] BartBourgeois commented on #124
We are having the same problem, currently blocking upgrade for our customers.

Kind regards

[2021-07-22 15:57] grochoge commented on #34
Without this, is there any good way to handle build-time secrets for Windows containers?

[2021-07-22 23:18] TBBle commented on #34
One kind-of heavy-weight option, used by ue4-docker, is running a service outside the container that exposes the secret, and have the container image build pull that secret over the network connection.

You can see ue4-docker's implementation of the [external host](https://github.com/adamrehn/ue4-docker/blob/master/ue4docker/infrastructure/CredentialEndpoint.py) and [a Git Credential Helper to que

[2021-07-23 11:17] waldo1001 commented on #124
We too :(.

@weijuans-msft , would you have any feedback on this?

[2021-07-23 18:27] Orphic16 opened #139 "System.Speech SpeechSynthesizer - Unable to run tests"
Using image mcr.microsoft.com/dotnet/framework/sdk:4.8

Trying to run tests in that involve SpeechSynthesizer it fails on the line:
`_speechSynthesizer.Volume = 100;`

Stack Trace:
`Initialization method AlertsTests.AlertsViewModelTest.MyTestInitialize threw exception. System.Runtime.InteropServices.COMException: Retrieving the COM class factory for component with CLSID {D9F6EE60-58C9-458B-88E1-2F

[2021-07-24 16:01] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-07-24 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-07-24 18:50] doctorpangloss commented on #117
This is okay. @weijuans-msft removing the feature update is the simplest workaround.

[2021-07-25 22:25] weijuans-msft commented on #117
The next Windows Server release is Windows Server 2022, an LTSC. There is no Windows Server version 21H1 or any container image of that version planned.

Curious why folks need to run process isolated containers on Windows 10. Process isolated containers are officially only supported on Windows Server.

You could try Windows 11 with Windows Server 2022 container images with process isolated contai

[2021-07-25 22:52] weijuans-msft commented on #134
@richlander do you know this? any reason why?

[2021-07-25 23:02] #133 closed, assigned to weijuans-msft

[2021-07-25 23:06] weijuans-msft commented on #128
@Andrysky reminder, please share more details.

[2021-07-25 23:10] weijuans-msft commented on #125
@lizhuqi Have you tried with GCE support or the community? or Sig-Windows? I can't tell with the info here that is something Windows container can start investigating.

[2021-07-25 23:21] weijuans-msft commented on #124
The SQL container image is not an officially supported image. However I understand this is not SQL specific. We are looking at repro'ing in house and investigate. If there is any other info such as logs etc, please do share.

[2021-07-25 23:31] weijuans-msft commented on #123
@richlander Poweshell should be supported on ASPNet images right?

[2021-07-25 23:45] weijuans-msft commented on #120
@llyons I am closing this as Matt confirmed it worked on Server Core images and you can find the right tag for the corresponding .NET 5.0 image. For size, in the upcoming release of Windows Server 2022, we (Windows container and .NET) have worked together and made some optimization. So encourage you to give it try when it's available later this year.

[2021-07-25 23:45] #120 closed, assigned to weijuans-msft

[2021-07-25 23:50] weijuans-msft commented on #118
@grochoge  we haven't seen many people asking this. To help us prioritize, can you share more details on the use cases?

[2021-07-25 23:56] TBBle commented on #117
Windows Server 2022 Preview is build 20348, Windows 11 Insider Preview is 22000. Will the latter run the former process-isolated?

Also, there are no Windows Server 2022 Preview container images for build 20348, the most recent builds on Docker Hub are for the last Windows Server 2022 Insider Preview, build 20344.

There are probably a _lot_ of use-cases for running process-isolated containers on

[2021-07-25 23:58] weijuans-msft commented on #95
@rasap @RasEza I am closing this since there is no progress for a while. Feel free to reopen if you have any update

[2021-07-25 23:58] #95 closed, assigned to weijuans-msft

[2021-07-26 00:18] cilerler commented on #134
@weijuans-msft why did you close it?

[2021-07-26 00:21] weijuans-msft commented on #134
There must be an accident. Didn't mean to.

[2021-07-26 00:51] doctorpangloss commented on #117
I can only find these usages, mostly from Microsoft examples: https://grep.app/search?q=--isolation%5B%3D%20%5Dprocess%20mcr%5C.microsoft%5C.com/windows&regexp=true

In the industry process isolation is the most efficient way to run many DirectX applications concurrently for e.g. streaming games. But I don't know if DirectX supports `Present` in that context because my tests segfault. Process isol

[2021-07-26 01:28] adamrehn commented on #117
@doctorpangloss the NVIDIA drivers are already WDDM 2.7 compliant, and offscreen rendering with DirectX works just fine in GPU accelerated Windows containers. If you copy the right files to System32 at runtime you can even use other APIs such as CUDA and NVENC. See these articles for details:

- https://unrealcontainers.com/blog/offscreen-rendering-in-windows-containers/
- https://unrealcontainers

[2021-07-26 06:29] gerwim commented on #117
We develop .NET applications (full framework, not .NET 5 (yet)) and use process isolation to run the application. Without process isolation, there's a significant overhead while developing. Using process isolation is much better performant and way more stable.

According to the MS docs (https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/hyperv-container#isolation-e

[2021-07-26 07:05] slonopotamus commented on #117
+1 to https://github.com/microsoft/Windows-Containers/issues/117#issuecomment-886278767.

We develop containers on our desktop machines. Process isolation is faster and has smaller memory overhead. Process isolation supports [device sharing](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/hardware-devices-in-containers) unlike Hyper-V isolation.

[2021-07-26 07:48] mika-fischer commented on #117
Also chiming in to say that not having 21H1 images hurts us since we use them for application development (i.e. we cannot upgrade the machines, and had to downgrade the ones that already updated).

Hyper-V is not a viable alternative due to it needing significantly more resources (i.e. it's a lot slower) and some issues with the version of MS build tools that we're using (https://github.com/dotnet

[2021-07-26 08:02] marius-luca-87 commented on #117
One clear advantage of having process isolation for containers on a development machine is RAM usage.
A running Hyper-V can require blocking a lot of RAM for the container (the maximum RAM needs to be known when starting the container).
With process isolation a developer can start as many containers as necessary since the RAM will be shared with the host.
In process isolation you only incur the RA

[2021-07-26 08:27] BartBourgeois commented on #124
The most straight forward example for recreating the issue is the example of @joachimcarrein
=> https://github.com/microsoft/Windows-Containers/issues/124#issuecomment-870525577

It's based on windows core (no sql involved) and can be repro'd very easily.

[2021-07-26 08:48] TBBle commented on #117
I suspect it might be _actually_ hard to provide the servercore and nanoserver images, because there was no Windows Server SAC release to build them from.

I agree that it should have been messaged better (or messaged at all...) so that alternative measures could be taken earlier. The missing Windows Server 2022 Preview images makes me wonder what MS's own Containers team are using for their devel

[2021-07-26 16:01] ghost commented on #132
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-07-27 15:20] grochoge commented on #118
@weijuans-msft the use case is running some legacy 32-bit applications (in this case built with mingw32) in a container with smaller on-disk size than Server Core.
Really it would be nice to have some sort of intermediate between Nanoserver and Server Core. Maybe a way to install only needed features (ala Enable-WindowsOptionalFeature) on top of Nanoserver. Not sure if that's been suggested alread

[2021-07-27 17:39] vrapolinario commented on #139
While you're using a .Net image, I'd assume the required component is not part of the base image, so assigning this to both Weijuan and Richard to investigate this scenario. As always, one alternative is to try out the new Server image: https://techcommunity.microsoft.com/t5/containers/announcing-a-new-windows-server-container-image-preview/ba-p/2304897

[2021-07-27 17:44] vrapolinario commented on #28
Just to keep this issue updated: We continue to make progress on this and expect to have something to announce externally soon.

[2021-07-27 17:54] vrapolinario commented on #97
Sorry for the delay on this. Here's the result from the internal investigation:

The os.Stat() implementation never should have worked.  Windows had a short-term regression during which the os.Stat() implementation worked OK with socket files on some versions (Server 2019), accidentally.  Current versions (20H2 and forward) of Windows function correctly.  We strongly recommend that os.Stat() shoul

[2021-07-27 17:54] #97 closed, assigned to vrapolinario

[2021-07-27 17:57] vrapolinario commented on #104
To keep the thread updated: We're still investigating this issue and will provide an update as soon as possible.

[2021-07-27 18:03] vrapolinario commented on #116
I'll be closing this issue for now. Happy to continue the conversation and wanted to make sure customers do know this is something we'll investigate for future implementations. Unfortunately, we don't have a timeline to provide at this point.

[2021-07-27 18:03] #116 closed, assigned to vrapolinario

[2021-07-27 20:12] bingbing8 commented on #124
@joachimcarrein, can you help me understand the behavior of this issue:
1. is this gMSA v1 or v2? what are the steps for you to enable gMSA?
2. Just curious why you need to create same certs twice? Does the failing application have write access to HKLM\My store? Is a new certificate added each time. Or does it do name matching and overwrite?
3. Do you mean the New-SelfSignedCertificate cmdlet work

[2021-07-28 02:47] TBBle commented on #117
Well, I see that [Windows Server SAC is dead](https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info), and with [Windows Server Insider Previews also (temporarily) gone](https://techcommunity.microsoft.com/t5/windows-server-insiders/windows-server-preview-builds-on-hold-temporarily/m-p/2498862), and [no container base image for Windows Server 2022 Preview](https://

[2021-07-28 03:45] adamrehn commented on #117
Interesting. Although Azure Stack HCI is stated to be the container-focussed replacement for SAC, it looks like that doesn't have a release newer than 20H2 at the moment either: https://docs.microsoft.com/en-us/azure-stack/hci/release-information

[2021-07-28 08:31] joachimcarrein commented on #124
Hi @bingbing8

1. No clue if it is v1 or v2. This is how we create the gmsa with PowerShell:
[code]
2. We do not need the same certificate twice. This is just a reproduction scenario that is easy to test and gives the exact same error we had. In our scenario, we do customisations on an Microsoft pre built image and do need a self signed certificate. Our suspision is that in the Microsoft pre built

[2021-07-28 09:41] TBBle commented on #117
Azure Stack HCI 20H2 is build 17784, i.e. it's an iteration on Windows Server 2019 (build 17763) underneath but was released in H2 2020; release name is the only relation it has to Windows 10 20H2 or Windows Server SAC 20H2, aka build 19042.

The [Azure Stack HCI 21H2 Public Preview](https://support.microsoft.com/en-us/topic/july-13-2021-public-preview-security-update-kb5004243-a8ed6004-48f9-42cb-

[2021-07-28 14:06] stephen-turner opened #140 "Can't start any two docker-compose environments after update to Windows 20H2"
This was originally filed by user @marcusschroeder as docker/for-win#9999, but as it can be reliably reproduced on Windows 2010 (maybe 2004?) but not 1903, and as it only happens with Windows containers, we believe that it is a bug in the windows container code.

Original report:

[code]

My colleague @StefanScherer has reproduced it without docker compose, but with a second nat network as follows

[2021-07-28 23:42] lizhuqi commented on #106
If we disabled logging agent(fluentd or fluentbit) on the node, the "Access is denied" error will go away. So logging agent might be the one holding the container log file handle.

[2021-07-29 03:36] vrapolinario commented on #140
I'll get this issue assigned to the proper team soon.

[2021-07-29 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-07-29 18:09] vrapolinario commented on #129
I just got a note that the fix for this issue is going to be out on the 9C update for Windows Server 2019.

[2021-07-29 18:09] #129 closed, assigned to vrapolinario

[2021-07-30 05:19] lizhuqi commented on #106
Both fluentd and fluentbit have some fix for this issue.

fluentbit [fix](https://github.com/fluent/fluent-bit/issues/2027) is now in 1.5+ version. Some edge case may still trigger the access is denied error but it is much less often with the fix. A restart of fluentbit fixes the pods stuck in terminating.

fluentd [fix ](https://github.com/fluent/fluentd/issues/3340)has just been merged and will

[2021-07-30 20:56] weijuans-msft commented on #124
@joachimcarrein by gMSAv2, we meant "gMSA with non-domain joined host" :), see more here in this blog: https://techcommunity.microsoft.com/t5/containers/announcing-active-directory-identity-improvement-on-aks-on-azure/ba-p/2374198.

I believe you are using the current version of gMSA which requires a domain joined host, sometimes referred as gMSA v1 internally.

[2021-08-02 00:45] TBBle commented on #117
Container base images for the Windows Server 2022 Preview have been published to the "Insider" pages on Docker Hub now.

[2021-08-02 04:39] weijuans-msft commented on #117
Thanks @TBBle. This was a human error re: no Insider builds of 20348 container images were published early. I have thought the eval version of Windows Server 2022 was 20344 and didn't notice it was updated to 20348. My bad. We now have it fixed. Please do feel free to ping me on Twitter or use our email win-containers@microsoft.com for urgent issues. This Git-Hub community is great too but I misse

[2021-08-02 17:44] ancaantochi commented on #115
Hi! Any estimates when this bug could be fixed?

[2021-08-02 18:04] rgl commented on #117
I'm very confused about Windows 10 Enterprise 21H1. Since its available at https://www.microsoft.com/en-us/evalcenter/evaluate-windows-10-enterprise, isn't it a final/GA version? If so, why aren't the corresponding container images tags available at, e.g., https://mcr.microsoft.com/v2/windows/nanoserver/tags/list?

Is it because the Client edition does not have process isolation? ~~That is somethi

[2021-08-02 23:03] TBBle commented on #117
Windows 10 Enterprise is a Client build, and the Server Core and Nano Server images are built from the Server build; there was no Windows Server 21H1 (build 19043) release, so there are no container images for build 19043 available or planned, per https://github.com/microsoft/Windows-Containers/issues/117#issuecomment-886266148.

I have a PR open to update that table: https://github.com/MicrosoftD

[2021-08-02 23:11] slonopotamus commented on #117
Okay, so 21H1 is a dead end and better would never exist container-wise. Technically, this issue can be closed as WONTFIX. Now the question is whether Windows 11 is going to get a matching Windows Server image that can be run with process isolation. If not... I don't quite understand how you expect people to do container development at all. Buying and installing Windows Server for desktops/noteboo

[2021-08-04 13:05] maikschulze commented on #117
Hi @weijuans-msft  , I would like to raise awareness to another reason why isolation mode can be a necessity and would appreciate it very much if isolation mode is robustly supported across all Windows 10 versions.

Hyper-V does not support symbolic links or directory junctions to shared volumes for Windows containers. In my use case, these are heavily used for build tasks in a Dockerized CI/CD sy

[2021-08-04 18:27] sirredbeard opened #141 "k8s 1.21 failing on Windows 20H2 Standard Edition"
This issue is created to link to https://github.com/rancher/windows/issues/72#issuecomment-892031665 with steps to reproduce.

tl;dr: containerd fails to connect to the fully qualified npipe address on Windows 20H2 Standard Edition, but works on Datacenter Edition.

Original issue in RKE2: https://github.com/rancher/rke2/issues/1454

[2021-08-04 22:51] lizhuqi commented on #106
I tested fluentd v1.13.3 which is the latest fluentd release that just came out and has the fix we need. I found things have much improved.  Before the fix,  "RemoveContainer" stuck because of the "access is denied" error and after,  "RemoveContainer" eventually succeeded with several retries and pod can proceed to terminate.

[2021-08-06 08:46] perithompson commented on #119
Hi @TBBle, That is the package but that needs to reach out to the internet to get that update which can be unstable https://github.com/MicrosoftDocs/windowsserverdocs/issues/2074.  OpenSSH client is available on windows without using the online Microsoft catalog but SSH server is not, ideally having this included in windows isos along with the client would be amazing but if there was a place to ma

[2021-08-06 13:30] TBBle commented on #119
The instructions I linked to above include how to use the FOD ISO as the source for `Add-WindowsCapability` (they use `DISM /AddCapability` but it's the same thing by a different name).

If you want to install a feature from a CAB file, you use `Add-WindowsPackage`, and must download the CAB file yourself. The OpenSSH-Server is a "monolithic" feature according to the FOD list, so it supports this,

[2021-08-06 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-08-08 16:00] ghost commented on #82
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-08-08 23:25] lizhuqi commented on #106
Close this issue as the fix is now in the latest release of fluentd and fluentbit.

[2021-08-08 23:25] #106 closed, assigned to immuzz

[2021-08-09 14:31] PNe-ins opened #142 "Windows servercore containers: Not possible to delete files/folders that start with $"
In windows servercore containers it is not possible to delete all files/folders that start with $.

If there is a folder containing folders/files that start with $, that is added via Dockerfile then the first file/folder (in alphabetical order) cannot be removed properly. There is no error message, but the file/folder is still listed in the folder. If you try to open the file / enter the folder, y

[2021-08-09 16:01] ghost commented on #121
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-08-09 17:02] ghost commented on #24
This issue has been open for 90 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-08-09 23:50] doctorpangloss opened #143 "It's impossible to do something as basic as configuring an application without workarounds"
Let's try configuring my application using environment variables, just like in Linux:

[code]

Do I see the environment variable? No, because of something weird with shell versus exec syntax in Dockerfile entrypoints versus commands (https://stackoverflow.com/a/43051690/1757994).

Okay, let's try bind mounting my configuration file.

[code]

No, I can't do that, because for some reason I can't bin

[2021-08-11 08:35] stzach commented on #123
Powershell is not available. Problem has been resolved.

The idea is to create the certificate in for local machine and add it as parameter to docker image to load it.

[2021-08-11 11:32] rma666 commented on #129
Hi,
We are suffering heavily from this, is there a KB or private fix that we can refer to with product support?

[2021-08-11 15:59] warrenspe opened #144 "vEthernet Initial RTO timeouts"
Good day!

Please let me know if I've posted this to the wrong support channel

My team is using windows containers on a windows server 2019 physical machine, leveraging the default NAT network and are noticing an intermittent delay when connecting to TCP sockets either from:
* container to a server on its host
* a container to a server in another container on the same host
* the host to a server

[2021-08-11 16:01] ghost commented on #109
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-08-11 16:01] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-08-11 17:10] vrapolinario commented on #143
I assigned this to Weijuan as she can find someone to investigate these scenarios. Wanted to point out a few things:
- On your first case, it seems that there is a solution to use Entrypoint. Linux and Windows containers behave differently and it might be the case that you need to adjust your dockerfile to a Windows environment.
- On the second case, I'm not sure we can mount a file directly (migh

[2021-08-11 17:18] vrapolinario commented on #24
To clarify, MSDTC does work on Windows Containers and is a supported scenario. Our team was able to validate its usage and confirmed that even with gMSA it is possible to run MSDTC. We do know if issues related to networking when using MSDTC on K8s and that is out of scope for now. The documentation on our page should be out soon.

[2021-08-11 19:54] doctorpangloss commented on #143
Yes. This issue comes up because entrypoints are how Windows containers do stuff like copy drivers from the host drivers directory - and really, what else are people using Windows containers for, if not for things that require DirectX and other high-quality windows features? It ain't MSSQL.

An example entrypoint that correctly does startup tasks like copying files and also correctly passes enviro

[2021-08-12 15:32] weijuans-msft commented on #107
This fix was released in July 2nd Tuesday updates (aka '7B'), see more here [https://support.microsoft.com/en-us/topic/kb5005128-windows-server-containers-for-july-2021-51dbbd2a-0c6d-4df2-89b0-046da47416be.](https://support.microsoft.com/en-us/topic/kb5005128-windows-server-containers-for-july-2021-51dbbd2a-0c6d-4df2-89b0-046da47416be) @rcowsill please confirm this solves the problem. Thanks.

[2021-08-12 16:01] ghost commented on #136
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-08-12 16:01] ghost commented on #80
This issue has been open for 30 days with no updates.
@daschott, @immuzz, please provide an update or close this issue.

[2021-08-12 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-08-12 16:32] #80 closed, assigned to daschott, immuzz

[2021-08-12 17:57] SteveLasker commented on #39
Hi folks,
As @thecloudtaylor [mentioned](https://github.com/microsoft/Windows-Containers/issues/39#issuecomment-652688869), we will be providing SBOMs and signing all MCR content with Notary v2 signatures, enabling Artifact Reference Types. The work is underway. We plan to have ACR support early this fall, with mcr content support soon thereafter.

[2021-08-12 19:22] doctorpangloss opened #145 "Network performance is extremely poor inside the container due to some interaction with receive side coalescing on a Windows host"
Downloads inside a container are very slow, indicating a serious flaw with the default network configuration. They cap at about 500kB/s-1MB/s, it varies for different users and has persisted for at least 4 years, as lately as 20H2 the last version to support process isolation mode: https://github.com/docker/for-win/issues/698

Executing the following workaround on the host and restarting the host

[2021-08-13 05:39] zhiweiv opened #146 "Memory leak on Isass.exe"
Isass.exe uses a lot of memory and keeps increasing after upgrade AKS to latest release.
<img width="420" alt="Memory" src="https://user-images.githubusercontent.com/22001089/129310096-a0904818-5bdf-47eb-9267-6916518b58da.PNG">

Environment info:
[code]
 It is only seen on the AKS Windows Containerd nodes.

We can provide the memory dump of Isass.exe if needed.

[2021-08-13 06:32] zhiweiv commented on #109
There is a fix https://github.com/microsoft/hcsshim/pull/1091#issuecomment-891411142.
Per https://github.com/microsoft/hcsshim/issues/919#issuecomment-894127776,  I guess still need a long time for it to be available in AKS.

[2021-08-13 18:30] lizhuqi commented on #125
Hi Weijuan, I am from GKE. Can you help me understand more about "The system cannot find the file specified." error? It is a very general error from Windows OS. What may trigger it happen? May some stale symlink cause this issue?

[2021-08-13 22:03] doctorpangloss opened #147 "You cannot rename files and folders in mounted directories, another problem that has persisted for 4 years"
A directory bind mounted into the container errors with error with `DirectoryNotFound` or `FileNotFound` when the user or an application renames a filename or directory inside the bind mounted directory.

https://github.com/docker/for-win/issues/1058

https://github.com/docker/for-win/issues/2089

https://github.com/moby/moby/issues/38256

This reproduces today on 20H2.

[2021-08-13 22:36] doctorpangloss commented on #147
I just bought another SSD to mount a D:/ drive in order to work around this problem, according to https://github.com/moby/moby/issues/38256#issuecomment-614626439

[2021-08-14 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-08-16 02:09] AbelHu commented on #146
cc @kevpar @mainred @bingbing8

[2021-08-16 02:23] AbelHu commented on #109
@zhiweiv, I think that the fix needs to be picked up by moby at first and then we can upgrade the moby version in AKS side.
@immuzz do you know who can speed up taking the new hccshim release with this fix in next moby version?

[2021-08-16 13:01] zhiweiv commented on #109
Hope it can be merged into AKS Windows ContainerD ASAP too.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Chou Hu ***@***.***>
Sent: Monday, August 16, 2021 10:23:29 AM
To: microsoft/Windows-Containers ***@***.***>
Cc: Zhiwei Liu ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Windows-Containers] Pods unable to be created on windows nodes (#109)

@zh

[2021-08-16 21:47] immuzz commented on #146
@zhiweiv can you provide us the memory dump and also traces using WTR.

[2021-08-17 01:43] AbelHu commented on #109
AKS will pick up it after the containerd 1.5.x has this fix.
https://github.com/kubernetes/kubernetes/issues/101908#issuecomment-897802449

[2021-08-17 06:30] mainred commented on #146
@zhiweiv thanks for your report, this issue seems not to be stably reproduced, please provide the necessary memory dump and also traces using WTR by for example, `wpr -start "C:\Program Files\containerd\ContainerPlatform.wprp" -start diskio -start fileio  -start CPU` for Windows containerd node

[2021-08-17 08:37] zhiweiv commented on #146
https://1drv.ms/u/s!Al_DGOKCXcMSkGojHci7jxf-WA7D?e=ojkGvn is the memory dump I collected in the issue first seen.

I can provide the trace when it reproduces again after my vacation. For the trace I have few questions.
1. Should I enable the trace at the beginning after vm restart?
2. If the Isass.exe is already taking memory and keep increasing. Then I enable trace for a few minutes and stop it,

[2021-08-17 08:50] mainred commented on #146
Hi @zhiweiv , we want the trace files collected **throughout the issue**, the normal ways to collect the issue are as follows:

- Start to record system performance
`wpr -start "C:\Program Files\containerd\ContainerPlatform.wprp" -start diskio -start fileio -start CPU`
- reproduce the issue
- stop recording
`wpr -stop wpr_trace.etl`

You'll find the wpr_trace.etl located under your current directo

[2021-08-17 09:03] zhiweiv commented on #146
This is not reproduced on our all containerd nodes too, I only found a few nodes with this memory leak. I have removed all workloads from containerd nodes due to a couple problems found in containerd(reported in AKS repo). I will try to find the repro steps and get the trace when I come back to office.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Qingchuan Hao

[2021-08-17 15:53] rcowsill commented on #107
I'm still finding configs containing "rootfS". In addition to the repos listed above there's now one more affected (just one config in this case):

Repo name               | Example JSON (mediaType: application/vnd.docker.container.image.v1+json)
--------------------- | ---------------
azuremonitor/containerinsights/cidev | [sha256:152749f71f8fd6004056d15c7fd5791563072703171eb8dbd3e66b2ee67f8287](

[2021-08-17 15:54] rcowsill commented on #107
I'm still finding configs containing "rootfS". In addition to the repos listed above there's now one more affected (just one config in this case):

[azuremonitor/containerinsights/cidev:vishwa-test-042121@sha256:152749f71f8fd6004056d15c7fd5791563072703171eb8dbd3e66b2ee67f8287](https://mcr.microsoft.com/v2/azuremonitor/containerinsights/cidev/blobs/sha256:152749f71f8fd6004056d15c7fd5791563072703171

[2021-08-17 16:01] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2021-08-17 20:43] ghost commented on #27
GUI support would make everything better, is there an Docker image with GUI?

[2021-08-18 06:38] AbelHu commented on #109
@zhiweiv FYI: this fix will be backported to 1.4.x

[2021-08-19 10:15] ghost commented on #47
update?

[2021-08-19 10:18] ghost opened #148 "Testing Windows applications within containers"
My startup is building a windows application with UI, during the testing phase we would like to run apps in a container, test them and push to production.
We are new in testing, so is there a framework or some tools to run a GUI app in container and interact with them from Powershell (click a button on the app, open a notepad, etc) ?

[2021-08-20 14:35] Eddy555 opened #149 "Containers Running on Windows Server 2019 Run Faster In HyperV Isolation"
**Expected behavior**
Docker container runs at the same speed between Windows 10 and Windows Server 2019 when copying files to\from a container or compiling source code

**Actual behavior**
Docker container is signficantly slower to copy files or run the compiler in a container when running in process isolation mode. Switching to HyperV isolation on Windows Server allows them to work faster

**Inf

[2021-08-20 16:01] ghost commented on #138
This issue has been open for 30 days with no updates.
@thecloudtaylor, @weijuans-msft, please provide an update or close this issue.

[2021-08-20 17:57] vrapolinario commented on #148
This topic has been discussed extensively on this issue: https://github.com/microsoft/Windows-Containers/issues/47
Adding @richlander from the .Net team to see if they have any updates, and @weijuans-msft from Windows container side. I don't think we have an update, but it's still worth track customer requests on it.

[2021-08-21 16:01] ghost commented on #137
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-08-21 16:01] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-08-22 08:49] rgl opened #150 "Publish the windows container image for windows server 2022 (ltsc2022)"
The `windows` container image `mcr.microsoft.com/windows:ltsc2022` for Windows Server 2022 (aka ltsc2022 aka 21H1 aka 10.0.20348.169) is missing from https://mcr.microsoft.com/v2/windows/tags/list.

Why wasn't it published like `mcr.microsoft.com/windows/nanoserver:ltsc2022` and `mcr.microsoft.com/windows/servercore:ltsc2022`?

Can it be published?

[2021-08-22 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-08-23 18:17] vrapolinario commented on #150
We announced back in April that moving forward the new Server image: https://techcommunity.microsoft.com/t5/containers/announcing-a-new-windows-server-container-image-preview/ba-p/2304897

[2021-08-23 18:17] #150 closed, assigned to weijuans-msft

[2021-08-23 19:06] rgl commented on #150
Oh I did not notice that. Thank you for pointing it out!

[2021-08-24 14:04] meirgbinahai commented on #34
I'd love to assist, as I really need this feature to speed up the process of building Docker Windows images.

Is there any way to build stages in parallel in Windows without using BuildKit?

[2021-08-24 16:01] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-08-24 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-08-25 04:50] arjaiswa opened #151 "Run Node js application in windows container"
Could you please provide me a windows base image for creating a docker image for the Node js application. I have tried multiple options :
mcr.microsoft.com/windows/servercore:ltsc2022
mcr.microsoft.com/windows/servercore/insider:10.0.18362.1
mcr.microsoft.com/windows/nanoserver/insider:10.0.20348.1
mcr.microsoft.com/windows/servercore:1803

I am getting below error:
 no match for platform in manif

[2021-08-25 08:32] perithompson commented on #131
hI @immuzz any update on this?

[2021-08-25 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-08-25 16:01] ghost commented on #128
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-08-25 23:58] snorrk opened #152 "Container fails to start if storage-opts is set to a large value with hyperv isolation"
If Docker storage-opts is set to a value greater than 20GB, starting Windows containers on Windows Server 2022 fails with "The virtual machine or container exited unexpectedly. (0xc0370106)".

- Windows version: 10.0.20348.169
- Docker version: 20.10.6
- Container: mcr.microsoft.com/windows/servercore/iis:nanoserver:1909
- Hyper-V enabled: yes

Repro steps:

Setup
- Install-Module -Name DockerMsft

[2021-08-26 16:01] ghost commented on #132
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-08-26 16:01] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-08-26 16:29] slonopotamus commented on #118
That would be ideal, if users could tune image contents themselves from nano to full-blown desktop image by installing optional parts.

[2021-08-26 19:02] vrapolinario commented on #151
It seems that the version of the image you're trying to pull is newer than the container host you're running. Can you please check confirm the version of the host you're running the pull?
For more information, please check: https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-20H2%2Cwindows-10-20H2

[2021-08-26 23:30] vrapolinario commented on #121
This is now fixed on an internal build and will go out soon.

[2021-08-27 16:01] ghost commented on #139
This issue has been open for 30 days with no updates.
@richlander, @weijuans-msft, please provide an update or close this issue.

[2021-08-27 17:18] jasper22 commented on #24
@vrapolinario  Any updates ? My organization currently stuck with this problem while trying to contenerize .NET Framework 4.5 application and SQL Server in different containers.  .NET always throws an exception that involving MSDTC..... We will be very happy just to look at the draft of your documentations - it would be **very** helpfull

[2021-08-28 16:01] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-08-29 05:24] jalanubha commented on #134
is there any update on this. Facing same issue with .net core on windows container

[2021-08-30 09:01] mtola commented on #117
I'm going to test the LTSC-2022 Windows Server Core image on a WIN-21H1 (OF COURSE in 'process' isolation mode) and I think it will work just fine as it does for LTSC-2019 on a WIN-1809. ;-) (because same 'kernel')

I will write here the result.

[2021-08-30 09:10] isanych commented on #117
@mtola, in order to run image in process isolation you need to have matching kernel versions of OS and image, you can run older versions in hyperv isolation mode and it is not possible to run fresher images in any mode. 21H1 is 19043.1165, ltsc2022 is 10.0.20348.169 - there is a small chance that you can run ltsc2022 in 21H2, but not in 21H1

[2021-08-30 09:16] slonopotamus commented on #117
Windows 10 21H2 Insider Preview builds are 19044.xxxx, I doubt that will change.

[2021-08-30 09:23] isanych commented on #117
Yes, it is more likely that windows 11 will have matching kernel (currently it is 22000.168) but I have a feeling that docker on client windows is dead. Waiting for WSL2 like windows server support now.

[2021-08-30 09:26] TBBle commented on #117
Windows 11 kernel is 22000, so it's _also_ not the same as 20348 (it's in fact much newer).

So Windows 11 would be able to run Windows Server 2022-based containers in Hyper-V isolation, but not process isolation.

[2021-08-30 09:28] isanych commented on #117
I don't see much difference between docker in hyper-v isolation mode and client windows containers are dead.

[2021-08-30 09:30] mtola commented on #117
I agree, 'process' isolation mode very very important for performance !

[2021-08-30 09:32] isanych commented on #117
It is not just about performance, in my case hyper-v is not working at all (cygwin on mapped volume).

[2021-08-30 09:39] TBBle commented on #117
Hyper-V isolation solves a very similar problem to the problem of running Linux containers on Windows (VM-based, WSL2-based or LCOW), or the problem WSL solves (which depends on whom you ask).

Hyper-V isolation (and LCOW) is about running _non-native_ userspace, which requires a matching isolated kernel, be it Linux or older Windows.

The main thrust of 'Containers' is running native userspace fa

[2021-08-30 09:45] isanych commented on #117
Both Hyper-V and LCOW are working in limited set of cases, seeing that kernel compatibility is gone (having both Win10 & Win11 almost guarantees that), I'm hoping that at some point we will have server kernel available in client windows - in that case we can have multiple different server kernels and they can run WCOW containers without restrictions of hyper-v mode.

[2021-08-30 16:01] ghost commented on #124
This issue has been open for 30 days with no updates.
@tommyreinsmsft, please provide an update or close this issue.

[2021-08-30 16:14] mtola commented on #117
Ok, it doesn't work under 21H1...  (in 'process' isolation mode)

docker pull mcr.microsoft.com/dotnet/framework/runtime:4.8-windowsservercore-ltsc2022

4.8-windowsservercore-ltsc2022: Pulling from dotnet/framework/runtime

a Windows version 10.0.20348-based image is incompatible with a 10.0.19043 host

[2021-08-30 16:26] mtola commented on #117
So, hoping that Microsoft decides to make a 21H1 image...

[2021-08-30 17:05] isanych commented on #117
They cannot decide it. There is no 21H1 server, and looks like we would not have any more images which will work in process isolation mode on windows 10 and 11 anymore - unless some new approach would be introduced. If you need process isolation on windows 10 install 20H2 and never upgrade it.

[2021-08-30 17:08] doctorpangloss commented on #117
You can uninstall the feature update pack on Windows 10.

[2021-08-31 03:34] zhiweiv commented on #109
The fix is in latest hcsshim release: https://github.com/microsoft/hcsshim/releases/tag/v0.8.21, the next step is moby update? Anyone can push this further?

[2021-08-31 15:45] thejohnfreeman opened #153 "How to run a Windows container in a Windows VM on a Linux host?"
[I'm trying to run a Windows container in a Windows VM on a Linux host with a Ryzen CPU](https://www.reddit.com/r/vmware/comments/pep2gj/how_to_run_a_windows_container_in_a_windows_vm_on/). I have tried VMs running:

- Windows 10 Pro, 20H2
- Windows 10 Pro, 21H1, build 19043.928
- Windows 11 Pro, 21H2, build 22000.168

That last one is the only [Windows Insider ISO](https://www.microsoft.com/en-us

[2021-09-01 00:11] immuzz commented on #109
I dont know if this will be fixed in Moby. Have you tried this with containerd?

[2021-09-01 05:29] mockjv commented on #135
@thecloudtaylor I just want to confirm that this is really the case because the current executables are signed by 'Docker, Inc.' and the versions of these executables are in sync with the current releases of dockerd.exe/docker.exe included with Docker Desktop (slightly, the versions published are behind Docker by about 2 minor versions at this point).
![Screen Shot 2021-08-31 at 10 54 30 PM](https

[2021-09-01 16:15] grochoge opened #154 "Will there be a free Win10 Container Runtime?"
With the recent announcement that Docker Desktop will cost at least $5/month, are there any plans to make a free replacement available for development on Windows 10?

[2021-09-01 16:38] vrapolinario commented on #154
To clarify from Docker's announcement: Docker Desktop remains free for small businesses (fewer than 250 employees AND less than $10 million in annual revenue), personal use, education, and non-commercial open source projects.

I'll let Taylor and Siddique chime in, but in my view, there are options for customers who don't want to pay for Docker Desktop, such as Moby, right?

[2021-09-01 16:42] vrapolinario commented on #153
I'm not sure this is a supported scenario. @brasmith-ms should be able to provide clarity.

[2021-09-01 16:44] vrapolinario commented on #151
Closing this issue. Will re-open if we hear back that the issue persists.

[2021-09-01 16:44] #151 closed, assigned to weijuans-msft

[2021-09-01 17:10] thejohnfreeman commented on #153
I have found a solution and am writing it up now. I'll report back when it is published.

[2021-09-01 18:09] thejohnfreeman commented on #153
The [trick](https://jfreeman.dev/blog/2021/09/01/how-to-run-a-windows-container-from-a-windows-10-virtual-machine/) is to specify process isolation in the `docker run` command (in the past I had relied on this being the default isolation mode), and to specify those arguments _before_ the image tag (putting them after results in an unhelpful error message that led me on a wild goose chase; I didn't

[2021-09-01 18:09] #153 closed, assigned to brasmith-ms

[2021-09-01 19:37] vrapolinario commented on #153
Thanks for the note. I still want to make sure this is a supported scenario from @brasmith-ms

[2021-09-01 20:19] rosskirkpat opened #155 "Unable to pull 2022 images on 21H1 W10 Pro"
OS Name:  Microsoft Windows 10 Pro
OS Version: 19043.1165

[code]

[2021-09-02 06:46] mrcodechef commented on #117
Windows 11 22000.168 seems to support docker with process isolation mode for Server 2022 LTSC. Interestingly in the container, it has version ".169" instead of ".168".

[code]

[2021-09-02 07:42] TBBle commented on #117
The Windows Server 2022 LTSC container images are version 10.0.20348.169 (The original release version). I don't know if that's coincidental, a surprising new feature, or a bug that is going to get patched as soon as someone notices this...

Is everything I know wrong?

Conversely, is there any chance it ignored `--isolation process` and was running Hyper-V isolation?

[2021-09-02 08:30] isanych commented on #117
I see the same results - I can run server:ltsc2022 and servercore:ltsc2022 in process isolation in windows 11, but I cannot do it for earlier images - so it looks like there is some support just for ltsc2022. And it behaves like process isolation - I see all system memory and docker inspect confirms it too.
When I don't specify --isolation, it still run in process isolation mode. It would be nice

[2021-09-02 10:33] mrcodechef commented on #117
No. I thought it was possible too, but I confirmed it is using the 'silos' functionality (as visible in the object manager), and no VMs were running, processes in the container show up in the host task manager, etc.

Hopefully this is just some new scheme they haven't told us about and not something internal that slipped through. As long as the kernel interfaces are compatible, it doesn't matter i

[2021-09-02 16:01] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-02 16:20] vrapolinario commented on #155
We just publish information about this: https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487#M139 - Please see the Windows and developer scenarios section on the blog post.

Here's the long story: Windows 10 has a build number of 19043. Windows Server 2022 has a build number of 20348, so that means the image is newer than the host. We never s

[2021-09-02 16:20] #155 closed, assigned to vrapolinario, sijuman

[2021-09-02 16:26] vrapolinario commented on #117
Folks, to close on this conversation: We just released this blog post: https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487

It covers SAC and LTSC plans as well as some important information about version compat. Please take a look and let us know if you have any questions/feedback.

[2021-09-02 16:29] #117 closed, assigned to vrapolinario

[2021-09-02 16:42] mika-fischer commented on #117
@vrapolinario This is great news, thanks for the pointer!

But does this mean that there will never be images that work on 21H1 with process isolation?

[2021-09-02 16:48] vrapolinario commented on #117
Not for Windows 10 - Windows 11, yes.
21H1 has a higher build number than previous images and lower build number than Windows Server 2022.

Please let us know what your thoughts are on this. While there's no immediate answer other than what we shared in the blog post, we still like to know how this impact our customers.

[2021-09-02 16:57] slonopotamus commented on #117
That blog post also doesn't cover Windows 10 21H2, though one might assume it will work the same way as 21H1.

[2021-09-02 17:00] vrapolinario commented on #117
Any updates to Windows 10 will continue to be on the same build (19043), so this applies to any future update to Windows 10.

[2021-09-02 19:26] rjayapra commented on #28
@vrapolinario Any timeline for this feature availability ?

[2021-09-02 20:50] vrapolinario commented on #28
We don't have a timeline that we can provide publicly at this point. For customers interested in gMSA on AKS, please reach out to me privately at viniap@microsoft.com or to your account team.

[2021-09-03 08:54] TBBle commented on #117
To be sure I understand the blog post completely, is this accurate:

* the intention is that for any host kernel version 20348 or later, either Client (Windows 11) or Server (Windows Server 2022), process isolation will be supported for 20348-based images; and
* container base images will be released with Windows Server LTSC releases, but will be usable in process isolation on kernels newer than t

[2021-09-03 09:25] slonopotamus commented on #117
Err... Why do you think that? I'm under impression that `ltsc2022` images are **not** going to be supported by Windows Server after 2022:

The only improvement this new scheme has over what we had in the past is that now Microsoft promises not to break ABI in  minor updates (like [Feb 2020 issue](https://support.microsoft.com/en-us/topic/you-might-encounter-issues-when-using-windows-server-contain

[2021-09-03 10:18] TBBle commented on #117
I was going from

I think I had parsed "newer build of Windows Server 2022" as "newer build of Windows Server". There won't be a newer build of Windows Server 2022, unless there are other significant release cadence changes coming, it'll be 20348 forever, while Windows 11 I expect _will_ see newer builds after 22000 or whatever ships in October, like Windows 10 saw a new build every six months.

S

[2021-09-03 10:28] slonopotamus commented on #117
It also seems arbitrary that you can run 20348 on 21H1 but can't on 20H2. What's so different between them that makes 21H1 capable, but 20H2 uncapable? Anyway, I believe that if MS wanted to say "good news folks, now we have backward kernel compatibility and you'll be able to run your `ltsc2022` containers on Windows Server 2022 and later + Windows 11 and later" they could say that in a much clear

[2021-09-03 10:48] adamrehn commented on #117
Although the inability to use process isolation mode under Windows 10 version 21H1 has been frustrating, I'm far more interested in exploring the compatibility story going forward. (The temporary forwards-compatibility for Hyper-V isolation mode under Windows 10 version 21H1 is also really neither here nor there, other than to serve as a reminder that Microsoft is perfectly capable of enabling thi

[2021-09-03 11:14] TBBle commented on #117
Could be that 21H1 includes a later build of the HCS system as part of the feature update, but I'd be surprised if that was the case. It's _possible_, this branch of Windows (Iron) was in active development before Windows 10 21H1 shipped, even though 21H1's kernel is based on an older windows branch. And we know MS run multi-year roadmaps, so it's not unbelievable that this blog post's content has

[2021-09-03 12:23] mtola commented on #117
I confirm that all of this is a **very severe regression** and a **very surprising change** (?) in policy on Microsoft's part.

From the start we have docker images for each version of Windows to make things run properly in **process** isolation mode (as hyper-v mode isn't always suitable).

We thus have:
 - 1809/ltsc2019
 - 1903
 - 1909
 - 2004
 - 20H2

We have now:
 - ltsc2022

In the future we

[2021-09-03 12:36] isanych commented on #117
@mtola, SAC server is dead, last version was 20H2, if you want process isolation in windows 10, 20H2 is latest version you can use. If you want something fresher you'll have to use Server 2022 or Windows 11 - and they will use ltsc2022 containers for many years.

[2021-09-03 16:00] vrapolinario commented on #117
Coming to the conversation late (morning here on Pacific time here).

We will publish a blog post with more details on the down-level support with process isolation soon.
In the meantime, let me clarify a few things:

- There won't another SAC release for Server. The last one was 20H2. The latest release is WS2022 which is LTSC.
- Windows Client (10 and 11) follows a different approach than Server

[2021-09-05 03:49] zhiweiv commented on #146
After upgraded to latest Windows image, we only see one Isass.exe which memory increased to 60MB in 3 days. It is accepted so far. I will keep monitoring the memory usage.

[2021-09-06 13:30] MisterK91 opened #156 "Exception in thread "AWT-Windows""
Hello together,
I trie to containerise my Java application build on Vaadin framework using following base image:

For some reason I always receive following strange exception I could not really categorize, the Vaadin support told me it is probably because there are missing dependencies  in Nano Server?

`Exception in thread "AWT-Windows" java.lang.InternalError: unsupported screen depth
        at

[2021-09-06 14:58] andbess opened #157 "Pods fails to terminate on Windows nodes"
Hi All!
We experience the same issue in our AKS cluster as was reported in Windows-Container #106 , except we're not using fluentbit or fluentd logging agents (we only use Azure Monitor with combination of Grafana). Sporadically some the pods are not automatically terminated and we have to manually run "kubectl delete --force" to force terminate the pods.

The error message is always the same:
`Me

[2021-09-07 08:59] andbess commented on #157
Update:
Could it be that Microsoft Monitoring Agent also sometime holds the container log and that's the reason that it cannot be removed?

The version of Microsoft Monitoring Agent we're using on our Windows Node:
IdentifyingNumber : {88EE688B-31C6-4B90-90DF-FBB345223F94}
Name              : Microsoft Monitoring Agent
Vendor            : Microsoft Corporation
Version           : 10.20.18053.0
Cap

[2021-09-07 22:10] MarkIannucci commented on #154
There are [two](https://github.com/MicrosoftDocs/Virtualization-Documentation-Private/issues/1140) [issues ](https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/1639)in the virtualization documentation repo trying to determine the answer to this question as well.

[2021-09-08 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-09-08 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-09-08 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-09-09 16:50] naikrovek commented on #154
from this page (https://docs.docker.com/engine/install/binaries/) I found a link to a very vanilla Windows Docker engine download.  It does not contain `docker-compose` but otherwise it should suffice for folks that use Windows containers on Windows.

https://download.docker.com/win/static/stable/x86_64/

Note that this is *not* a link to Docker Desktop.  This is a link to the Docker Engine for Wi

[2021-09-09 19:55] ghost opened #158 "Extracting Windows Licence Key by a malicious actor"
Is the licence shared to a container?
If I have `ffmpeg` is a container and an audio file contains an exploit which gains control to whole container and extracts all details, what's possible valuable details they can extract about the host?

[2021-09-10 16:00] ghost commented on #123
This issue has been open for 30 days with no updates.
@mapalko, @weijuans-msft, please provide an update or close this issue.

[2021-09-11 16:01] ghost commented on #144
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-09-11 16:01] ghost commented on #143
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-11 16:01] ghost commented on #142
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-11 16:01] ghost commented on #141
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-09-12 16:01] ghost commented on #136
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-09-12 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-13 16:00] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-13 16:30] vrapolinario commented on #156
Most likely this is not supported because (as you mentioned) the necessary components are not present in the Nano Server, given that this requires some GUI components. My recommendation is to try the Server Core or even Server images (if you're using WS2022)

[2021-09-13 17:00] ghost commented on #66
This issue has been open for 90 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-09-14 07:41] zhiweiv commented on #146
No high memory usage of Isass.exe after Windows upgrade.

[2021-09-14 07:41] #146 closed, assigned to immuzz

[2021-09-14 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-16 16:01] ghost commented on #147
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-16 16:01] ghost commented on #145
This issue has been open for 30 days with no updates.
@dasch-msft, please provide an update or close this issue.

[2021-09-16 16:01] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2021-09-16 18:02] MarkIannucci commented on #154
@naikrovek, thank you for the link to the windows binaries.

I removed Docker Desktop from my laptop and downloaded the latest version at the link you provided.  After doing that, I was able to step through pulling and running a container after I started `dockerd.exe`.  I know the Docker Desktop installer does a bunch of windows configuring when you run through the install.

Does anyone know if si

[2021-09-16 18:39] naikrovek commented on #154
@MarkIannucci the binaries you just tried should work fine on a "virgin" machine.  The magic that Docker Desktop provides is all Linux and GUI stuff.

[2021-09-18 16:01] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-19 16:01] ghost commented on #138
This issue has been open for 30 days with no updates.
@thecloudtaylor, @weijuans-msft, please provide an update or close this issue.

[2021-09-20 10:26] Hvid commented on #145
I'm having the same issue on 2022. Disabling RSC fixes it.

[2021-09-20 16:01] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-09-20 16:01] ghost commented on #148
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-21 16:01] ghost commented on #137
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-09-21 16:01] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-09-22 09:54] arjaiswa opened #159 "Install Server-Media-foundation in Windows Server core"
HI Team,
We are doing UI testing in the firefox browser and for the same, I am using this base image mcr.microsoft.com/windows/servercore:ltsc2019 as per size consideration.

But while launching the browser I am getting errors:
 browserType.launch: The host system is missing dependencies!

    Some of the Media Foundation files cannot be found on the system. If you are
    on Windows Server try fi

[2021-09-22 15:38] arjaiswa opened #160 "Window Server Image for Using it in Windows Server 2019 Data center Node"
Hi Team,
I am leveraging Kubernetes Windows node (Host for my container )and this provides the below version of windows.
![image](https://user-images.githubusercontent.com/76682247/134375181-c0529a33-0786-4176-9407-9de40ce1fa3c.png)

Could you please help me to use the correct window/server base image for my container as there is no supported version with the host machine (10.0.17763.2114)?

I hav

[2021-09-22 23:50] weijuans-msft opened #161 "Windows Server 2022 GA"
I just realized this is not here yet :). See more here: aka.ms/ws2022gacontainerblog.

[2021-09-22 23:58] weijuans-msft opened #162 "Collecting use cases for Windows Server 2022 on AKS and AKS-HCI"
As I outlined in this blog when we announced GA of Windows Server 2022 (aka.ms/ws2022gacontainerblog), we are actively working with Kubernetes community to bring up Windows Server 2022 support there and then enable the support on AKS and AKS-HCI. I am curious to see from this community what use cases you have to use Windows Server 2022 on AKS and AKS-HCI.

[2021-09-23 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-23 20:46] awakecoding commented on #162
One thing I would like to know is how one could use Windows Server 2022 + AKS-HCI to run a traditional ASP.NET Windows Server application that requires SQL Server, since SQL Server does not have an official Windows container, only a Linux container.

[2021-09-24 01:19] zhiweiv commented on #162
We'd like the smaller image size which can speed up the Windows node pool scale/upgrade.

Another one is HCS improvement per https://github.com/microsoft/hcsshim/issues/919#issuecomment-894127776, we saw a dozen of hcs erros in our environment, hope this gets improved in Windows Server 2022.

[2021-09-24 07:35] pbering commented on #162
We have multiple clients that uses AKS with both Linux and Windows pools as we have a lot of classic ASP.NET 4.x applications that needs Windows/IIS. We want to develop on Windows 11 and host in AKS on Windows Server 2022 node pools so we are able to both use the same OS version AND to be able to run in process isolation on our workstations. Also looking forward to smaller images!

[2021-09-24 11:21] lippertmarkus commented on #154
Thanks @naikrovek! I quickly wrote it down here for anyone needing a simple guide: https://lippertmarkus.com/2021/09/04/containers-without-docker-desktop/

[2021-09-24 12:50] naikrovek commented on #159
I'm taking a guess here, but you may need to create a custom image using `mcr.microsoft.com/windows/servercore:ltsc2019` as a base.  in your Dockerfile, `RUN powershell.exe Install-WindowsFeature Server-Media-Foundation` and specify your `ENTRYPOINT` and expose your ports as normal.

That *should* get you going, if I am understanding things properly.

Why is this necessary?  You are not able to mo

[2021-09-24 16:01] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-09-24 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-09-24 16:09] arjaiswa commented on #159
Hi Johnson,
You are correct, I am creating a custom image in which I am using windows base image
Below is the docker file I am using
FROM mcr.microsoft.com/windows/servercore:ltsc2019

SHELL ["powershell", "-Command", "$ErrorActionPreference = 'Stop'; $ProgressPreference = 'SilentlyContinue';"]

ENV NODE_VERSION 12.4.0

RUN Invoke-WebRequest $('https://nodejs.org/dist/v{0}/node-v{0}-win-x64.zip' -

[2021-09-24 21:48] naikrovek commented on #159
[This may help](https://p0w3rsh3ll.wordpress.com/2012/10/10/switch-from-windows-2012-core-to-gui-mode-hands-on/).  It describes your problem and how to obtain the bits necessary to get the feature installed.

[2021-09-25 16:00] ghost commented on #128
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-25 16:01] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-26 16:01] ghost commented on #121
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-09-26 16:01] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-27 16:01] ghost commented on #152
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-09-27 16:01] ghost commented on #139
This issue has been open for 30 days with no updates.
@richlander, @weijuans-msft, please provide an update or close this issue.

[2021-09-28 10:06] slonopotamus commented on #154
I'd like to announce [Stevedore](https://github.com/slonopotamus/stevedore) project. It aims to provide a free and convenient way to use Docker on Windows (both client and server). Currently, it only supports Windows containers. Stevedore is distributed as an MSI installer.

Installation
* Download [MSI installer](https://github.com/slonopotamus/stevedore/releases/latest)
* Double-click on it
* Ne

[2021-09-28 16:01] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-09-28 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-09-28 22:02] warrenspe commented on #144
Just hoping to follow up with this - I'm still able to reliably reproduce the issue; if anyone has any debugging tips they'd like me to try I'm all ears!

[2021-09-28 22:17] daschott commented on #144
I am following up with some teams at Microsoft for more guidance and recommended steps.

[2021-09-29 11:39] krokofant commented on #134
~~None of the workarounds listed worked for me. Copying it from `servercore:ltsc2019` or local Windows 10 didn't work. 🤔~~

[2021-09-29 11:41] cilerler commented on #134
it should be related to the Windows 10 version, which version you are using

[2021-09-29 11:42] krokofant commented on #134
@cilerler Windows 10 20H2 19042.1165
___
Edit: Maybe I'm using the wrong base container? It's still nanoserver base and .net core installed.

[code]

[2021-09-29 11:57] cilerler commented on #134
DLL should be fine.
You may review my [DockerFile](https://gist.github.com/cilerler/a1e9768e95dc585eb78376eeb9ed0afb) to figure out what is different on your end.
⚠️  make sure that you have the `security.dll` under the project's `./dist/windows10/System32/` folder.

[2021-09-29 16:01] ghost commented on #124
This issue has been open for 30 days with no updates.
@tommyreinsmsft, please provide an update or close this issue.

[2021-09-30 02:00] zhiweiv commented on #109
@AbelHu
The Containerd updated hcsshim in https://github.com/containerd/containerd/releases/tag/v1.4.10, any plan for AKS Windows Containerd update?

[2021-09-30 12:44] AbelHu commented on #109
@kevpar could you help to confirm whether the hcsshim issue is fixed in the latest contianerd package (v0.0.42) used by AKS?

[2021-09-30 16:00] ghost commented on #132
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-10-01 01:30] zhiweiv commented on #109
@AbelHu
I often saw when you guys reference Windows Containerd, you use version 0.0.x, is it a internal build of Containerd in MS?

What is the difference with regular Containerd?

[2021-10-01 12:49] AbelHu commented on #109
In AKS, Windows containerd is still in public review so we use an internal package.

[2021-10-01 12:50] AbelHu commented on #109
I think that @immuzz should be able to answer more details for the difference.

[2021-10-03 16:01] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-10-04 02:47] roozbehid opened #163 "Running dockers as `--isolation=process` on Win10 21H1"
I cannot find any version of windows image to be able to run on Windows 10.0.19043.x (21H1) with "--isolation=process"

This page says you should be able to run 20H2 (?) on 21H1.
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2022%2Cwindows-10-21H1#windows-client-host-os-compatibility

Am I missing something here?

[2021-10-05 21:44] tommyreinsmsft commented on #124
For Microsoft folks, the internal bug filed is #34951982. @joachimcarrein is this still impacting you?

[2021-10-06 15:31] joachimcarrein commented on #124
Hey @tommyreinsmsft We have worked around it and the problem is no longer an issue for us

[2021-10-06 16:26] roozbehid-ic commented on #117
Just discovered this. So there is no plan to fix Windows 10 20H2 to be able to run inprocess dockers?
Does this mean IT departments should not allow update to latest Windows version so developers can still use dockers?

[2021-10-06 16:37] roozbehid commented on #163
Also to be more confused (at least on my side) what would be the case for Windows 10 21H2, is it similar to Windows 11 21H2 and can run Windows Server 2022?

[2021-10-06 16:39] isanych commented on #117
20H2 is fine, 21H1 is in trouble, but going forward looks like Windows 11 would be the version you want to use with docker.

[2021-10-06 16:45] tommyreinsmsft commented on #124
How did you work around this? Would love to share that knowledge to the community!

[2021-10-06 16:46] roozbehid commented on #117
Yeah my mistake, I meant 21H1.
And it seems also Windows 10 21H2 does not solve this problem too. The problem is (or maybe Microsoft intentionally wanted this) many enterprise laptops already in use by developers are not Windows 11 compatible. So hardware changes are required. Technically it means either new hardware or don't use latest Windows 10. Kind of seems odd.

[2021-10-06 16:50] roozbehid-ic commented on #117
Yeah my mistake, I meant 21H1.
And it seems also Windows 10 21H2 does not solve this problem too. The problem is (or maybe Microsoft intentionally wanted this) many enterprise laptops already in use by developers are not Windows 11 compatible. So hardware changes are required. Technically it means either new hardware or don't use latest Windows 10. Kind of seems odd.

[2021-10-06 16:52] roozbehid commented on #163
Talking to myself :D it seems answer is no as build number on Windows 10 stays same so Windows 10 21H2 like Windows 10 21H! wont support inprocess.
https://github.com/microsoft/Windows-Containers/issues/117

[2021-10-06 19:21] ohault commented on #48
There is a big confusion here. To bring a real answer to this question, the current single-tenant LSASS architecture should be reconsidered completely. As long as, a real kernel implementation of namespaces or sub-env will not be designed, all answers will be pseudo solutions. ReactOS could be a good starting point to illustrate how to implement it.

[2021-10-06 19:52] ohault commented on #27
@naikrovek it's like a shame when your only choice is to run a Windows GUI app, under WINE is a Linux container running on WSL on your Windows OS via Remote App! ;.
I'm currently exploring creating a custom tailored base image based on ReactOS and/or Windows binaries for this baseline purpose.

[2021-10-06 20:25] ohault commented on #24
Support of MSDTC is just part of a broader use-case. There is the same exact question about SMB service and many others NT services. It's all about muti-tenancy, and two paths could be followed:
1) native multi-tenancy of the NT service implementation itself, but there is still the problem with single-tenancy aspect of LSASS
2) multi-tenancy by containers (thanks to gMSA) where current single-tena

[2021-10-06 22:13] marosset opened #164 "terminationGracePeriodSeconds works with nanoserver based container images but not servercore based images"
Delayed app shutdown / terminationGracePeriod appear to only work with contianer images based on nanoserver.

I am experimenting with the `terminationGracePeriodSeconds' for Windows container applications and have observed that this functionally works as expected if the container images are based on nanoserver but do not behave as expected if the container images are based on servercore.

I have a

[2021-10-07 08:10] joachimcarrein commented on #124
As described in the issue, for some reason it did work on 1903. So internally we have rebuild all our platforms to 1903 and migrated all dockers to work around the issue. On other locations where we were currently unable to upgrade the platform, we halted all upgrades and kept everything as it is for continuity.

Very recently we did a build on an 1809 machine, where we noticed that the base image

[2021-10-08 15:51] daschott commented on #144
Some feedback from experts:
SO_PAUSE_ACCEPT is set when a listening socket’s backlog fills up (i.e. when the application calls accept() or whatever .NET wrapper API too slow to keep up with the rate of inbound connections). So this is most likely an issue with the server application.

You can get more details by running the following ETW trace:
`netsh trace start provider=Microsoft-Windows-Winsock

[2021-10-08 16:13] warrenspe commented on #144
Thank you kindly for the response @daschott !  I am away for a week but will try your suggestions upon my return.  As for whether or not it's a .NET issue, I had not yet considered that - I must admit I'm not fully familiar with where or how .NET is integrated into the container stack/vEthernet drivers.

It's probably worth noting that while my reproduction examples above are PowerShell scripts (.

[2021-10-09 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-10-09 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-10-09 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-10-10 16:01] ghost commented on #123
This issue has been open for 30 days with no updates.
@mapalko, @weijuans-msft, please provide an update or close this issue.

[2021-10-11 08:45] Dannygbond opened #165 "Support File Server (SMB) In Windows Container"
An important feature, which can save a lot of trouble, along with huge ease in The technological aspect. Creating dedicated nano servers for Filesharing in classes, workspaces, etc...

[2021-10-11 16:01] ghost commented on #143
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-10-11 16:01] ghost commented on #142
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-10-11 16:01] ghost commented on #141
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-10-11 20:51] sirredbeard commented on #141
This appears to have been fixed by 09-2021 updates.

[2021-10-11 20:51] #141 closed, assigned to immuzz

[2021-10-18 08:48] ohault commented on #165
Indeed and an interesting point would be to analyse it in the perspective of vSMB implementation part of the currently single Tenant approach of Windows Sandbox.

[2021-10-18 11:20] dave07y opened #166 "Switching user within a container"
My requirement is to protect a directory and its contents from being accessed by any programs/scripts other than allowed ones within a Windows container. This means that the directory contents should be protected against read, write, and execute operations.

I tried to implement this by Process restriction. This includes using policies to “Run only specified Windows applications”, “Don’t run speci

[2021-10-18 15:58] TBBle opened #167 "What would be the best way to allow ContainerUser to create symlinks?"
Coming from https://github.com/tektoncd/pipeline/issues/1826#issuecomment-942989596, we have an application that relies on creating symlinks, and so on Windows Containers it cannot function as `ContainerUser`, but must be `ContainerAdministrator` or fails as follows:

I saw [mention](https://github.com/Microsoft/hcsshim/issues/1050#issuecomment-865434085) that HCS does not currently support config

[2021-10-18 17:40] marosset opened #168 "Command line arguments are process differently for HostProcess containers and Windows Server containers"
Command line arguments are processed differently for HostProcess containers and Windows Server containers.
This makes it difficult to develop / test /deploy workingloads in HostProcess containers on Windows.

I wrote a small program that dumps the command line arguments pass to the program

[code]

When I deployed the follow pod to a Kubernetes cluster

[code]

I see the following output

[code]

[2021-10-18 20:42] scottdcarson opened #169 "Let's Encrypt root (DST Root CA X3) isn't in the base image"
This specifically refers to mcr.microsoft.com/windows/servercore:ltsc2019, although it also applies to nanoserver images.

Like many, we were bit two weeks ago by the expiration of the Let's Encrypt root certificate.  We worked around it at the time using certoc to install the root certificate manually in (all) our Dockerfiles.  But on further investigation, there's more information.

Question/Iss

[2021-10-18 22:15] marosset commented on #168
I meant to open this issue against github.com/microsoft/hcsshim and have created https://github.com/microsoft/hcsshim/issues/1199 to track this issue.

[2021-10-18 22:15] #168 closed, assigned to nobody

[2021-10-19 04:50] lippertmarkus opened #170 "Windows Container downward compatbility doesn't work when multiarch images don't contain host build number in manifest list"
#### What happened:
With Windows Containers now being downward compatible (https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487) I deployed [the example Windows app](https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/#getting-started-deploying-a-windows-container) with the multiarch image `mcr.micros

[2021-10-21 12:23] mpnewcomb opened #171 "License question, need Microsoft contact"
Background:
The server core image [license](https://hub.docker.com/_/microsoft-windows-servercore) (ADDITIONAL TERMS section) does not allow production use on Windows 10. Production is only allowed on Windows 10 IoT (with agreement of Windows IoT Commercial Agreement) or Windows Server 2019. Unfortunately, Windows 10 is my only choice.

Solution:
I want to purchase a Windows Server 2019 license, b

[2021-10-21 13:45] mpnewcomb commented on #171
Look like I can get an Windows 10 IoT Enterprise license instead.

[2021-10-21 13:45] #171 closed, assigned to nobody

[2021-10-21 17:52] scottdcarson commented on #169
As one further piece of information - the wininet stack itself doesn't seem to be in the nanoserver base image; thus, AFAICT it's not even possible to configure the CryptoAPI to update certificates in nanoserver.  So while this problem is solvable (albeit with a certain resorting to undocumented trickery) in windowsservercore, it's simply not solvable at all with nanoserver behind a proxy as nanos

[2021-10-25 03:21] tobrien-bit commented on #159
It seems that sources are missing so it is not straightforward.

[code]

[2021-10-25 06:57] emericcolombe opened #172 "No available tag for mcr.microsoft.com/windows:21H1"
When running a container host on windows 10 21H1 (not server), there is no available image to run containers with a matching version.
The only available previews are for server, nanoserver and servercore

[2021-10-25 09:11] rrgadeev opened #173 "Base Filtering Engine (BFE)"
The bfe service is disabled by default, how do I enable it in docker?
This is necessary for testing.

[2021-10-25 09:13] naikrovek commented on #159
you can get the sources it is looking for from the appropriate Windows Server install media, then tell dism.exe where to find them.  I assume the same is possible with the PowerShell command.

[2021-10-25 16:12] vrapolinario commented on #172
Hi, We discussed this issue on this blog post: https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487 The images for WS2022 are still available for pull. You can also pull earlier images and spin up containers with hyper-v isolation.

[2021-10-26 20:11] jwielebnowski opened #174 "Windows containers do not allow changing resolution"
It is important that we can set a higher resolution on the container for capturing high resolution images on a headless graphics applications. However currently available windows containers do not allow updating their resolutions. I have tried a few and all of the start in 1024x768 resolution.

This is example from running windows container mcr.microsoft.com/windows:2004

Current resolution:
![Cur

[2021-10-26 22:42] tobrien-bit commented on #159
Yeah, just annoying having to keep sources accessible in a CI pipeline.

[2021-10-28 02:20] zhiweiv commented on #134
This works for me
[code]

[2021-10-28 08:06] zhiweiv commented on #109
Windows Containerd on AKS is going GA per https://github.com/Azure/AKS/issues/1976#issuecomment-946324331, any update on this?

[2021-10-28 08:30] AbelHu commented on #109
@zhiweiv it should be coming soon. Current plan is next month.

[2021-10-28 14:43] derek987654 commented on #24
We are blocked by this - trying to avoid rewriting a very large codebase of C++ critical business logic.  Rather, we want to move to .NET Core, but it will take time.  Since we can't do everything at once, the ability to run MSDTC in a windows container would be very valuable to us.

Any idea when the documentation/updates might be available?

[2021-10-29 06:06] zhiweiv opened #176 "Memory leak on svchost.exe"
We observed obvious memory consumption after upgrade AKS Windows node pools. The memory was used by svchost.exe in containers. I deployed this yaml to test
[code]
Output from **kubectl exec memtest -- tasklist | findstr svchost**, you can see memory of every svchost.exe are increasing.
[code]

Output of a pod after running 23 days
[code]

We are using AKS 1.21.1, Windows version: **AKSWindows-2019

[2021-10-29 06:13] zhiweiv commented on #176
@AbelHu @mainred

[2021-10-29 08:26] Hvid opened #177 "Are throttle events logged?"
If i setup a container with limits on cpu count and memory:
[code]

Are the throttle/kill/restart events logged anywhere?

[2021-10-29 16:01] warrenspe commented on #144
Hello again @daschott,

Sorry for the delay; small update on my end - I set up the trace as instructed above and recreated the issue.

I'm no expert at reading the logs, though I did go through each of the different subsections looking for any rows with any mention of "Backlog" in them.  I found many records with one of the various wordings of Backlog you mentioned above, however, notably, I didn'

[2021-10-31 23:42] ghost commented on #91
huh, I always figured NTDS connectionless ldap was supposed to compliment ndp/ipv6 stateless config in the sense that being a stateless protocol, clients could enumerate enough of active directory (via the broadcast, multicast or LL) to bootstrap into joining a domain without having affinity for a specific container but I guess it's real purpose is just packeting after all.

[2021-11-01 00:12] ghost commented on #91
@aolszowka as far as the lingering objects problem is concerned you can probably solve this by storing your ephemeral objects underneath a unique organizational unit each time you want to add new containers, there's a silly number of ways that you can make an organizational unit based hierarchy of containers with varying levels of ephemerality; sorta like managed chaos.... kind of like the whole p

[2021-11-01 02:25] AbelHu commented on #176
cc @kevpar

[2021-11-01 23:49] kevpar commented on #176
Can you confirm if this is running Docker or containerd as the runtime?

[2021-11-02 00:56] zhiweiv commented on #176
It occurs in both Docker and Containerd. I tested with latest AKSWindows-2019-17763.2237.211014, it still occur.

A fresh new Windows node with 30 pods(two containers per pod), after 24 hours there are 650 svchost processes take total 10GB memory.

[2021-11-03 02:06] ghost commented on #91
@aolszowka I found at least one path, where you need to create a vhd first which you can do pretty quick from a wim using: - https://github.com/clandestinenetworks/communitytools-image2docker-win

if converting a wim to a docker image doesn't work for you then you might try using:
- https://github.com/clandestinenetworks/WindowsImageTools

to convert to vhd first:

- ` Convert-WIM2VHD -Path c:\dis

[2021-11-03 16:01] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:01] ghost commented on #161
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:01] ghost commented on #160
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-11-03 16:01] ghost commented on #158
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-11-03 16:01] ghost commented on #157
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-11-03 16:01] ghost commented on #154
This issue has been open for 30 days with no updates.
@thecloudtaylor, @sijuman, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #152
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #148
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #147
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #145
This issue has been open for 30 days with no updates.
@dasch-msft, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #139
This issue has been open for 30 days with no updates.
@richlander, @weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #138
This issue has been open for 30 days with no updates.
@thecloudtaylor, @weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #137
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #136
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #132
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-11-03 16:02] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #128
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #121
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #39
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:03] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-03 16:15] jedieaston commented on #148
This would be extremely handy for winget package testing. I've looked into using Krypton directly (which is what the Sandbox uses for fastboot Windows micro-VMs), but there doesn't seem to be any documented APIs for it.

[2021-11-03 16:26] ghost commented on #148
What is Krypton?

[2021-11-03 16:43] jedieaston commented on #148
It's one of the types of Windows containers. [This](https://www.youtube.com/watch?v=rIfH8ouEctk) is the only official documentation they've updated lately on it, but it's basically a isolated microVM (similar to Firecracker, if you're familiar with Linux microVMs) that runs on Hyper-V and can start super fast. It's used for Edge Application Guard, WSL2, and the Windows Sandbox. They won't let you

[2021-11-03 18:09] viceice commented on #34
Can somebody please freeze this issue? 😕

[2021-11-03 19:33] weijuans-msft commented on #34
I don't know if we can freeze issues. If anyone knows, let me know :).

I could use help to be enlightened on the benefit or the pain points this can address. I see these so far in this thread:
- containerd parity
- Run Linux and Windows container side by side
- Can use secrets

What else?

How does this help in your or your company's modernization effort? Is this really Developer centric or it ca

[2021-11-03 20:55] timja commented on #34
We would like this so that eventually `docker buildx bake` support can be added so that we can define one hcl file with all our image builds declaratively configuring things like image tags and args, along with parallel builds out of the box. We use this on linux right now and it works really well.

[2021-11-03 21:23] immuzz commented on #137
Host Process Containers for K8s is in v1.22. That would be the best way to do this. It will be available in AKS in a couple of months. https://kubernetes.io/blog/2021/08/16/windows-hostprocess-containers/

[2021-11-03 21:23] #137 closed, assigned to immuzz

[2021-11-03 22:30] singholt opened #178 "unstable networking latency from within pods running on a Windows Server 2004 node"
Hi,
I have a Kubernetes cluster with version 1.21. I have setup 1 Windows 2004 node and 1 Linux node in the cluster. I have the following deployment with 4 pods running on the Windows 2004 node.
[code]

I'm seeing network latency from within the pods when trying to ping endpoints like www.google.com.

Repro:
exec into each of the 4 pods and run:
[code]

<img width="714" alt="image" src="https://us

[2021-11-05 01:35] darkvertex commented on #34
Off the top of my head, I'd bring up:

- BuildKit automatically parallelizes multi-stage builds for you. It's probably my favorite feature. See:
https://www.gasparevitta.com/posts/advanced-docker-multistage-parallel-build-buildkit/

- If you manage a container build farm or CI system with many workers, BuildKit makes it easy to share Docker build caches across several machines, which can speed up

[2021-11-05 19:50] FaustinCarter commented on #34
I'd like to add:
- passing secrets in as build args

[2021-11-05 21:35] jsturtevant opened #179 "Downlevel support for Windows 11 doesn't seem to work for some images"
On windows 11:

[code]

I am able to run some WS 2022 images even thought they have the correct build numbers:

[code]

[code]

But not others:

[code]

[code]

[2021-11-05 21:37] darkvertex commented on #34
I remembered another big useful feature: Buildkit has "[build-time mounts](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#build-mounts-run---mount)" support.

Everyone knows about [`--mount=type=secret`](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#run---mounttypesecret) to access secret files without baking them in the image laye

[2021-11-05 21:41] jsturtevant commented on #179
found something suspicious:

[code]

[2021-11-05 22:41] brasmith-ms commented on #179
After some investigation we found that this is likely due to an issue with the runtime automatically selecting an a version from multi-arch images when it sees that the OS build does not match. It's unclear as to where this bug is occurring but it seems clear that this relates to running multi-arch images on Windows 11.

[2021-11-05 22:49] jsturtevant commented on #179
maybe @claudiubelu has some ideas? same happens with containerd

[2021-11-06 08:04] snorrk commented on #34
Not being able to pass secrets into the Windows container build is painful - for us it means copying down files to the container build host (since that requires a secret) and then having docker slowly discover the container build context and copy the files into the container during the container build (double I/O).

It would be much better to be able to just download the files inside the container

[2021-11-06 08:22] lippertmarkus commented on #179
maybe related to https://github.com/microsoft/Windows-Containers/issues/170 ?

[2021-11-06 10:36] claudiubelu commented on #179
It does look suspicious, and at a first glance it does seem that the right image is not picked up from the manifest list.

Can you try running the ltsc2022 image directly? ``gcr.io/k8s-staging-e2e-test-images/busybox:1.29-2-windows-amd64-ltsc2022``. If it works, it means that docker just picked the first image from the manifest list that matched ``windows/amd64``, disregarding the OS Version. Coul

[2021-11-06 16:01] ghost commented on #124
This issue has been open for 30 days with no updates.
@tommyreinsmsft, please provide an update or close this issue.

[2021-11-08 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-11-08 17:01] ghost commented on #104
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-08 17:01] ghost commented on #89
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-09 16:01] ghost commented on #163
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-11-09 16:01] ghost commented on #123
This issue has been open for 30 days with no updates.
@mapalko, @weijuans-msft, please provide an update or close this issue.

[2021-11-09 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-11-09 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-11-09 16:14] jsturtevant commented on #179
Looks like it is because of mutli arch manifests as in #170.  pulling `gcr.io/k8s-staging-e2e-test-images/busybox:1.29-2-windows-amd64-ltsc2022` worked.

I am using docker  20.10.8   and also had it happen with containerd 1.5.7. Using the direct image worked for both.

[2021-11-10 03:17] zhiweiv opened #180 "Container Memory Calculation"
I deployed a pod with following yaml
[code]
kubectl top pod shows pod memtest used 101Mi memory, however the total memory is more than that, seems only the main process's memory is counted as container memory(powershell.exe 99,196 K), you can see other system processes(mainly svchost.exe) in container used more memory but not counted.

[code]

[2021-11-11 23:42] adamrehn commented on #174
@jwielebnowski I can see from the filesystem path in your screenshots that your application is using the Unreal Engine. In this case, there is no need to modify the resolution at a system level since you can simply specify a resolution via your application's command-line flags, like so:

[code]

If you haven't already read through the blog post [Offscreen rendering in Windows containers](https://u

[2021-11-12 03:41] jwielebnowski commented on #174
@adamrehn

I have tried your suggestion before posting here. Unfortunately that solution does not work on windows containers beyond the container fixed resolution. However, the difference might be that my issue is in regards to the pixel streaming where the video frame is fixed at the maximum of the container resolution.

[2021-11-12 03:52] adamrehn commented on #174
@jwielebnowski did you include all of those flags? (Specifically, `-windowed` and `-ForceRes` are useful to force the Unreal Engine to use a higher resolution than the monitor supports.)

[2021-11-12 04:07] jwielebnowski commented on #174
@adamrehn
Yes I did. There is also another problem with that approach in regards to the pixel streaming. The resolution of the game has to be adjusted all the time at the runtime during pixel streaming. In 4.27 you can directly adjust the resolution of the game through the UICommand but again it fails on the container if you try to go beyond the container resolution.

[2021-11-12 06:02] weijuans-msft commented on #162
Curious: why do you need SQL Server in a container? Can you use Azure Arc enabled Data Service? See more in this blog:
https://techcommunity.microsoft.com/t5/itops-talk-blog/azure-arc-enabled-data-services-with-azure-stack-hci-and-azure/ba-p/2751893.

[2021-11-12 06:43] adamrehn commented on #174
In that case, this sounds like an Unreal Engine limitation that needs to be addressed. I'd recommend filing a ticket on the [Unreal Developer Network (UDN)](https://udn.unrealengine.com/).

[2021-11-12 14:10] awakecoding commented on #162
I am evaluating if Windows Server 2022 + AKS-HCI would be suitable as a deployment option for [Devolutions Server](https://server.devolutions.net/). Rather than let our customers figure out how to do it, I wish to see if it makes sense, and how we could officially support it. Devolutions Server is a traditional ASP.NET application that uses SQL Server on Windows Server, and the vast majority of de

[2021-11-12 15:26] warrenspe commented on #144
Good morning @daschott,

Another follow up - I have tested the server with a member of my IT team, testing the docker containers without IT's management software or antivirus running - unfortunately the latency was still present, so it seems that they were not causing it.

Which brings me back close to square one:
* Is there perhaps another way for SO_PAUSE_ACCEPT to get set? Looking at the logs I

[2021-11-12 16:01] ghost commented on #143
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-12 16:01] ghost commented on #142
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-11-15 16:31] NandoTheessen commented on #132
hi @daschott 👋🏻
We're facing an issue that is very similar to what you're describing here (intermittent DNS issue on startup of windows server 2019 containers that we can fix by pinging the containers standard gateway).
Is there a way we could confirm that it is actually the issue you're describing here, so we can convince management that the work involved in a new CRI and CNI plugin is necessary?

[2021-11-16 07:33] judyliu-ms commented on #139
Hi @Orphic16, was the [new Server image ](https://techcommunity.microsoft.com/t5/containers/announcing-a-new-windows-server-container-image-preview/ba-p/2304897) was able to solve your issue?

[2021-11-18 08:46] yuzsun commented on #176
Day 1
svchost.exe                  10496 Services                  15      8,112 K
svchost.exe                   7888 Services                  15      9,928 K
svchost.exe                   1320 Services                  15     25,576 K
svchost.exe                   9992 Services                  15      8,968 K
svchost.exe                   6424 Services                  15     14,524 K
svchost.e

[2021-11-18 14:25] tfenster opened #181 "Outgoing network connection not working for Windows Server 2022, process isolation"
When I create a container for the servercore:ltsc2022 image and try to download something from GitHub (just as an example), it only works for hyperv isolation

## Repro steps:
1. Create an Azure VM (Windows Server 2022 Datacenter Server Core - Gen1, Size Standard_D4s_v5)
2. Run the following script to get the prereqs, the latest Docker version and restart the computer
[code]
3. Add defender except

[2021-11-18 14:30] tfenster opened #182 "GitHub runner crashes container on Windows Server 2022"
When I run a github-runner container on Windows Server 2022, it crashes when the first job is taken

## Repro steps:
1. Create an Azure VM (Windows Server 2022 Datacenter Server Core - Gen1, Size Standard_D4s_v5)
2. Run the following script to get the prereqs, the latest Docker version and restart the computer
[code]
3. Add defender exceptions to make sure it isn't interfering and get the needed i

[2021-11-20 16:01] ghost commented on #156
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2021-11-23 00:26] wagnerscastle commented on #145
We've had this problem with 2019 and 2022.   Confirmed this "fixes" the issue at the cost of disabling RSC.

[2021-11-23 00:28] wagnerscastle commented on #181
You may want to try this [workaround](https://github.com/microsoft/Windows-Containers/issues/145).  Disabling RSC fixed this issue for our on-premise server 2022.

[2021-11-23 00:33] wagnerscastle commented on #144
We gave up on process isolation because of this and related issues.  Disabling RSC "fixed it" for 2019 and 2022.  [Issue 145](https://github.com/microsoft/Windows-Containers/issues/145).

[2021-11-23 07:00] daschott commented on #145
Thanks for reporting this -- will follow up internally on the observations here. Which network mode is being used here? NAT? Also, is the container host an Azure VM, a physical machine, or an on-premise VM?

I am not aware of anything breaking when disabling this (besides the feature itself), so this should be a viable workaround until the network perf issues are fixed in Server 2022.

[2021-11-23 14:44] warrenspe commented on #144
Thanks for the suggestion @wagnerscastle,

I have tried disabling RSC support on the network adapter as indicated in #145 ; however it does not seem to have any impact on this issue.

Thanks again for the suggestion though!

[2021-11-23 15:51] ilanitr opened #183 "Docker Engine 20.10.9 and higher for the DockerMsftProvider are missing"
The DockerMsftProvider OneGet provider's metadata at [https://dockermsft.azureedge.net/dockercontainer/DockerMsftIndex.json](https://dockermsft.azureedge.net/dockercontainer/DockerMsftIndex.json) does not yet have any 20.10.9 or higher releases, even though [https://github.com/moby/moby](https://github.com/moby/moby) is up to [20.10.11](https://docs.docker.com/engine/release-notes/).

Version 20.1

[2021-11-23 23:06] pjh commented on #183
cc @jsturtevant @marosset @immuzz for K8s sig-windows - do you know anybody who can help make the latest Docker version available via DockerMsftProvider?

[2021-11-24 17:59] pjohnst5 opened #184 "Nanoserver open Port to incoming TCP traffic"
### How can I open a port on `mcr.microsoft.com/windows/nanoserver:10.0.14393.1066` for incoming TCP traffic?

I've downloaded the docker image nanoserver `mcr.microsoft.com/windows/nanoserver:10.0.14393.1066` and I'm trying to open up a port (443 specifically) to allow incoming TCP traffic

The way I've seen this be done i[n blogs](https://www.ntweekly.com/2016/11/10/open-or-block-firewall-ports-

[2021-11-25 16:01] ghost commented on #172
This issue has been open for 30 days with no updates.
@sijuman, please provide an update or close this issue.

[2021-11-25 16:01] ghost commented on #170
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-11-25 16:01] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-11-25 16:01] ghost commented on #167
This issue has been open for 30 days with no updates.
@msjingli, @brasmith-ms, please provide an update or close this issue.

[2021-11-25 16:01] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-11-26 01:41] zhiweiv commented on #176
We decide to increase Windows node memory as solution.

[2021-11-26 01:41] #176 closed, assigned to nobody

[2021-11-26 01:42] andyzhangx commented on #176
@zhiweiv you mean use a larger Windows vm size? what's the new vm size?

[2021-11-26 01:46] zhiweiv commented on #176
We switched to E4_V4 from E2_V4 in dev/test cluster. It is only affect our dev/test because it has much bigger pod density than prod env.

You can find more detail in SR #2111170060000728.

[2021-11-26 16:01] ghost commented on #159
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2021-11-27 16:01] ghost commented on #109
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-11-28 16:01] ghost commented on #177
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-11-29 07:01] Hvid commented on #177
Ping

[2021-11-29 17:35] vrapolinario commented on #174
Sorry for the delay.
Let us know if the suggestion above worked. Also, if possible, please try out the new Server image instead of the Windows one.

[2021-11-29 17:39] vrapolinario commented on #178
Given the nature of the environment (AWS EKS), I'd recommend you open a support ticket directly with them. Adding @brasmith-ms to see if he has any other recommendations.

[2021-11-29 17:52] vrapolinario commented on #184
Have you mapped the ports from the container host to the container? Please check the documentation here: https://docs.microsoft.com/en-us/virtualization/windowscontainers/container-networking/architecture

[2021-11-29 20:23] brasmith-ms commented on #183
Hi @ilanitr @pjh, the releases of the docker engine enterprise and Moby are not totally in sync. Mirantis handles the release of docker engine (now named the Mirantis Container Runtime), and DockerMsftProvider simply ingests and signs those releases for Azure. See the latest releases from [Mirantis here](https://docs.mirantis.com/mcr/20.10/rn-20-10.html).

Additionally, the DockerMsftProvider [is

[2021-11-30 03:52] zhiweiv commented on #132
We observed this issue in Containerd pod today, we have dns ensure logic at the application start.

C:\Users\zwliu>kubectl logs recocanary-job-srn20211130033437080363
2021-11-30 03:34:54 EnsureDns result: No such host is known.
2021-11-30 03:35:07 EnsureDns result: No such host is known.
2021-11-30 03:35:20 EnsureDns result: No such host is known.
2021-11-30 03:35:33 EnsureDns result: No such host

[2021-11-30 14:09] BorMor opened #185 "Support for NTFS/ReFS Deduplication"
I want to mount the deduplicated volume to the container but the container can't read deduplicated data.
Is it even possible or maybe you have plans for implementing deduplication support?

I installed Windows Server 2022 with docker

[code]
Then enable deduplication feature
I made drive O: with deduplication and put a 2Mb text file on it.
[code]
I have checked the text file, I able to open it wit

[2021-11-30 19:09] daschott commented on #132
@zhiweiv Thank you for trying out containerD!
This issue you are describing appears to be different since you are seeing intermittent connectivity for a longer time span. Can you file a new issue where this can be tracked?

[2021-12-01 01:14] pjh commented on #183
@brasmith-ms thanks for explaining the situation here and also in the Kubernetes SIG-Windows meeting today. We came across one other option: there is some [Docker documentation](https://docs.docker.com/engine/install/binaries/#install-server-and-client-binaries-on-windows) describing how to install Docker Engine directly from binaries available at https://download.docker.com/win/static/stable/x86_

[2021-12-01 01:15] zhiweiv commented on #132
Thanks for the information, I will add log to verify if dns server configured when dns resolve error. Will do more investigate before file new issue.

[2021-12-02 01:35] zhiweiv commented on #180
I get same memory usage result with crictl to query the container stats directly in host, so it should not be the kubernetes issue. I think the value was retrieved from hcsshim via cri interface.

[2021-12-03 00:56] judyliu-ms commented on #173
Hi @rgadeevm, to help our team understand your issue, would you be able to provide more details on your use case:
1. You mentioned you are using the BFE service for testing, can you expand on how this service will be used for testing?
2. Which version of Windows Server are you running on your host? What version are you running for your image?
3. What environment are you running in? (standalone, AK

[2021-12-03 01:05] judyliu-ms commented on #156
Hi @kliebhart - checking in on this thread, were you able to make this work with Server Core or Server? If so, I will close out this issue.

[2021-12-03 01:07] judyliu-ms commented on #139
Since there has been no activity, going to close out this issue and assume that the Server image was able to solve this issue.

[2021-12-03 01:07] #139 closed, assigned to richlander, weijuans-msft, judyliu-ms

[2021-12-04 16:01] ghost commented on #161
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #160
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #158
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #157
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #154
This issue has been open for 30 days with no updates.
@thecloudtaylor, @sijuman, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #152
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #148
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #147
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #138
This issue has been open for 30 days with no updates.
@thecloudtaylor, @weijuans-msft, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #136
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #128
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #121
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-12-04 16:01] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-04 16:02] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-12-04 16:02] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2021-12-04 16:02] ghost commented on #39
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-12-06 10:09] Norfolc commented on #106
We have the same issue with fluentbit 1.8.10 and EKS:
[code]

[2021-12-06 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-06 17:01] ghost commented on #28
This issue has been open for 90 days with no updates.
@vrapolinario, @immuzz, please provide an update or close this issue.

[2021-12-06 21:56] lizhuqi commented on #106
@Norfolc - do you have a repro? I have an edge case repro for the issue logged at https://github.com/fluent/fluent-bit/issues/3892

[2021-12-07 09:30] Norfolc commented on #106
@lizhuqi I have a repro:
* Run a fluentbit/fluent bit logger daemon set
* Run a deployment with 1 pod that produces a lot of logs:
`kubectl apply -f https://gist.githubusercontent.com/Norfolc/9f81e2c0a525a107b9d207b81d03dee9/raw/ae0868b3b62537c5deb86784955498b092b007c1/windows-server-core.yaml`
* After some time scale down the deployment to zero:
`kubectl scale deploy windows-server-core --replica

[2021-12-07 09:53] yoanchin commented on #25
as aoto tester,I want to see this implemented.
I want to create many type of  windows test envionment as docker images.

[2021-12-07 16:01] ghost commented on #124
This issue has been open for 30 days with no updates.
@tommyreinsmsft, please provide an update or close this issue.

[2021-12-07 17:41] marosset opened #186 "Request: Easy way to install containerd on Windows nodes (similar to DockerMsftProvider)"
We should have a straight-forward way to install containerd on Windows machines.

Some possible options include:
- OneGet provider (similar to DockerMsftProvider)
- Create a winget target (requires a .exe or .msi installer)

[2021-12-07 17:42] aravindhp commented on #101
/cc @brasmith-ms

[2021-12-07 19:54] jsturtevant commented on #186
related to https://github.com/microsoft/Windows-Containers/issues/101#issue-830412007

/cc @aravindhp @brasmith-ms

[2021-12-07 20:21] aravindhp commented on #186
Thank you @marosset @jsturtevant

/cc @selansen @anandnatraj

[2021-12-08 17:34] QuAzI commented on #163
Nothing works with W10 21H2 which is marked as LTSC

[2021-12-08 17:41] QuAzI commented on #117
Windows 10 21H2 also is in trouble. LTSC release without any chance to have normal containers perfomance

[2021-12-08 17:57] slonopotamus commented on #163
That page lies.

[2021-12-08 18:11] vrapolinario commented on #163
Microsoft did not release a 21H1 container image as you can see here: https://hub.docker.com/_/microsoft-windows-servercore. (This one is Server Core, but other images follow this) The latest one is ltsc2022 which is ahead of Win10. You can run LTSC2022 on Win11 with process isolation. We clarified some of this on this blog post: https://techcommunity.microsoft.com/t5/containers/windows-server-202

[2021-12-08 18:11] vrapolinario commented on #163
And as for the docs page, I will follow up with the Docs team to fix the error on the page.

[2021-12-08 18:18] QuAzI commented on #163
@vrapolinario
Will we have a chance to have containers for W10 21H2? We need it because downgrade to 20H2 impossible

[2021-12-08 18:21] slonopotamus commented on #163
@QuAzI forget about that. All Windows 10 after 20H2 are a no-go WRT process-isolated containers.

[2021-12-08 18:26] vrapolinario commented on #163
The main thing here is that while Win10 is updated, it continues to have a lower version compared to new images, but higher compared to pre-ltsc2022 images. So, AFAIK you can run earlier images (20H2, for instance) with hyper-v isolation and use the temp images I mentioned on the blog post with hyper-v isolation as well.

[2021-12-08 18:27] vrapolinario commented on #163
The other option you have is to run a VM to host your image-specific needs. For example, run a VM with Windows Server, version 20H2 to run a 20H2 container image with process isolation.

[2021-12-08 18:28] QuAzI commented on #163
@slonopotamus I can't. Because it is strange situation when new version have less functions. And looks like other versions will EOL soon https://docs.microsoft.com/en-us/lifecycle/products/windows-server
EOL 2004 - Dec 14, 2021
EOL 20H2 - Aug 11, 2022
So we don't have stable version for work anymore

[2021-12-08 18:32] QuAzI commented on #163
@vrapolinario hyper-v isolation too slow. I regularly have situation when MSVS and then Docker Desktop getting stuck.

32GB RAM, i7-10510U, NVMe SSD. And it still getting stuck

![image](https://user-images.githubusercontent.com/1897605/145264009-1f6bb637-b9cc-4568-84b2-6febf78d5262.png)

[2021-12-09 08:00] mtola commented on #117
ltsc2022 image works perfectly in "process mode" with win11-21h2, and if I understood things correctly it will also work in the future with win11-22h1, win11-22h2, win11-23h1, etc...

[2021-12-09 10:20] QuAzI commented on #117
For some people it is impossible to change OS each time when somebody forget about actual LTSC release.

[2021-12-09 10:47] mtola commented on #117
I totally understand this and I agree 100%...

[2021-12-09 11:07] TBBle commented on #186
[`DockerMsftProvider` is going away in September 2022](https://www.mirantis.com/blog/windows-server-container-users-mirantis-is-here-to-support-you/), so we might also need this for Docker Engine too. And probably next year, Docker Engine will depend on containerd on Windows as well.

Although whatever packaging is done for Docker Engine on Windows Server would possibly bundle a local containerd.

[2021-12-09 14:21] lippertmarkus commented on #186
I created https://github.com/lippertmarkus/containerd-installer and hope that may help you with creating a winget target

[2021-12-09 16:01] ghost commented on #165
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #164
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #123
This issue has been open for 30 days with no updates.
@mapalko, @weijuans-msft, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-12-09 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2021-12-09 18:43] judyliu-ms commented on #118
Hi @grochoge, we are currently investigating this issue. For internal reference, the ADO tracking number is 37314246.

[2021-12-09 18:47] brasmith-ms commented on #186
@TBBle since Mirantis has the rights & ownership of Docker Engine Enterprise (Mirantis container runtime), they will have their own installation script for the runtime - hence why we are deprecating the API. [Install MCR on Windows Servers](https://docs.mirantis.com/mcr/20.10/install/mcr-windows.html).

That being said, we're considering options for doing something similar with Moby / Docker Engin