[2021-12-09 18:52] judyliu-ms commented on #165
This has been added to our backlog, for internal ADO tracking: Scenario #37316096.

To help us prioritize, do you mind expanding on your use case @Dannygbond? What environment are you running in? (standalone, AKS etc.)

[2021-12-09 18:55] judyliu-ms commented on #159
We have added this to our backlog, for internal ADO tracking: Scenario #37316033

[2021-12-09 18:56] judyliu-ms commented on #156
Closing this issue under the assumption that Server Core/Server image solved the issue.

[2021-12-09 18:56] #156 closed, assigned to judyliu-ms

[2021-12-09 19:01] judyliu-ms commented on #72
This is currently being investigated, for internal ADO tracking: Scenario #37314207

[2021-12-10 07:55] camistein commented on #134
@zhiweiv Your solution worked for me, big thanks!

Tho it is def. not pretty to copy system dll's like that so I really hope this issue can be solved somehow.

[2021-12-10 16:01] ghost commented on #179
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-10 17:21] weijuans-msft commented on #134
Thanks for confirming. We are adding that into our backlog.

[2021-12-10 18:48] weijuans-msft commented on #134
For Microsoft Internal tracking, this is the ADO # 37355106.

[2021-12-11 01:21] #172 closed, assigned to sijuman

[2021-12-11 01:21] #161 closed, assigned to weijuans-msft

[2021-12-12 16:01] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-13 16:01] ghost commented on #143
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-13 16:01] ghost commented on #142
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-13 17:01] ghost commented on #66
This issue has been open for 90 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-12-13 22:26] jdebbink commented on #124
@tommyreinsmsft any update on this? This is impacting our ability to upgrade to newer versions of the container. We are running on 2019 LTSC hosts that are domain joined. We cannot remove gMSA.

[2021-12-14 04:52] BorMor commented on #185
any updates?

[2021-12-15 03:30] zhiweiv commented on #180
This lead a new issue, seems the node memory usage is based on pods memory usage in it. kubectl top node shows a Windows node 70% memory usage, but the actual usage in Windows task manager is 90%.

[2021-12-15 20:59] brobichaud commented on #162
We are very eager for the smaller base image sizes to make our deployments more smooth. We also have a strong need for the new Server container image. And finally but still very important to us is that we want to be on the latest Windows Server release both from a peace of mind and outward positioning perspective. It looks lame from a marketing perspective to indicate you're on an old version of a

[2021-12-15 22:00] weijuans-msft commented on #162
@brobichaud thanks for sharing. Are you going to run on AKS?

[2021-12-15 22:03] brobichaud commented on #162
Yes @weijuans-msft we do currently and intend to continue hosting much of our containerized workloads in AKS clusters. We'd very much like for AKS to be on the leading edge of support for Windows container deployments.

[2021-12-17 13:03] arst opened #187 "Printers don't work inside container"
Windows version: 10.0.19044 Build 19044
Docker version: 20.10.8
Container: mcr.microsoft.com/windows:1809, mcr.microsoft.com/windows:1903, mcr.microsoft.com/windows:20H2
Hyper-V enabled: yes
Repro steps:
Run simple printing script:
$sourcetxtfile = 'c:\1.txt'
$destPDFfile = 'c:\1.pdf'
Add-Type -AssemblyName System.Drawing
$txtToPDF = New-Object System.Drawing.Printing.PrintDocument
$txtToPDF.Docum

[2021-12-17 23:09] judyliu-ms commented on #187
@arst Have you tried the following steps: https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/print-spooler

Let me know if this works for you!

[2021-12-18 03:37] daschott commented on #82
This is available on build 22410 and above.

[Windows Server Insider Preview 22518](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewserver) has been released and contains IPv6 support for overlay

[2021-12-18 03:37] #82 closed, assigned to daschott

[2021-12-18 03:45] daschott commented on #181
Did you notice any other issues with the process-isolated containers?
For example:
1. Can 2 process-isolated containers connect to each other?
2. Can you connect to the Internet and view the content of webpage like bing.com from process-isolated container? It seems you are downloading a larger file (~25.2 MB) - is all Internet access broken or large file download only?
3. Have you tried the workar

[2021-12-18 03:49] daschott commented on #178
Are you able to observe this issue on WS2022? Unfortunately, WSv2004 has reached [end of servicing](https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info)

[2021-12-18 07:27] daschott commented on #184
I think the blog post might not be referring to nanoserver container image, but Nanoserver as the server OS?

Is it possible to update to newer OS version such as Windows Server 2019? The default has changed to be "Allow all" since Windows Server 2019:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/container-networking/network-isolation-security#windows-server-containers

On Win

[2021-12-20 08:52] arst commented on #187
@judyliu-ms Yes, I've tried top stop/start host spooler, reboot host machine, unfortunately, nothing helped.
I think that this is the same problem that was described here: https://github.com/moby/moby/issues/37124.

[2021-12-20 09:33] tfenster commented on #181
Yes, that works. I have tried ping and http, both work

`Invoke-WebRequest -UseBasicParsing -Uri https://www.bing.com` --> works
`Invoke-WebRequest -UseBasicParsing -Uri https://www.github.com` --> doesn't work
`Invoke-WebRequest -UseBasicParsing -Uri https://www.microsoft.com` --> works
`Invoke-WebRequest -UseBasicParsing -Uri https://www.google.com` --> doesn't work

Thanks for the reminder. I t

[2021-12-20 09:57] tfenster commented on #182
@judyliu-ms Any ideas on this yet? I just now tested #181 for which there is a workaround, but confirmed that the problem in this issue still exists and is fully reproducable

[2021-12-20 21:30] jdebbink commented on #124
For anyone stumbling on this issue, I've found a workaround. You'll want to generate the self signed certificate during your docker build, *not* at runtime. The key here is that the the hostname on the certificate must match the hostname of the container at runtime. I'm running on ECS w/ EC2 so the hostname is set for me to be the name of the gMSA. You can also override hostname in the docker run

[2021-12-21 23:30] liyanhui1228 commented on #183
Just follow up here, I noticed that Mirantis has released [20.10.9](https://docs.mirantis.com/mcr/20.10/rn-20-10/20-10-9.html) which contains the CVE fix for CVE-2021-41190, but it's not downloadable from the DockerMsftProvider yet. Is there anything missing to make it downloadable?

[2021-12-22 06:34] zhiweiv commented on #176
It seems get worse, a dumb pod without any activity after 23 days, svchost takes 438MB total.
[code]

[2021-12-22 18:39] cowlinator opened #188 "Microsoft is not a verified publisher on Docker Hub"
Microsoft is not a verified publisher on Docker Hub.

Please verify yourselves.

[2021-12-23 08:33] zhiweiv commented on #109
AKS Windows Containerd has been updated to 1.5.8.

[2021-12-23 16:01] ghost commented on #145
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-12-23 16:01] ghost commented on #144
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-12-23 16:14] Hvid commented on #145
We're using on prem VMs hosted in VMWare using NAT network.

[2021-12-25 00:17] changov opened #189 "docker --pid parameter silently ignored"
I'm experimenting with Docker version 20.10.7, build 40ef3b6, on Windows Server 2022. I wanted to try a container with shared pid namespace, per https://docs.docker.com/engine/reference/run/#pid-settings---pid. However, it appears both the `host` and `container` options are silently ignored: The container is created with its own pid namespace, and it gets the usual bunch of CExecSvc, svchost, and

[2021-12-26 08:13] L1ghtman2k opened #190 "Is there a way to expose ports from process isolated containers?"
I am planning to run a web app. The requirement is to have process isolated containers. Is there a way to publish ports for `--isolation=process?`, so it is accessible outside of the docker host?
Simply running `docker run -p 8000:8000 --isolation process` does not expose it to the outside world

[2021-12-26 08:21] L1ghtman2k opened #191 "Unable to run procmon on windows-containers in hyperv isolation mode"
I have an app that works completely fine in the `--isolation process`, but does not work in `--isolation hyperv`. I am not sure what could be the reason. I have checked dependencies, and DLLs on both are identical. My last resort for debugging was to use procmon, however it does not work inside containers. (and since it is hyperv isolation, I can not just run procmon on the host).

This issue is a

[2021-12-26 16:01] ghost commented on #170
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-26 16:01] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-12-26 16:01] ghost commented on #167
This issue has been open for 30 days with no updates.
@msjingli, @brasmith-ms, please provide an update or close this issue.

[2021-12-26 16:01] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-12-26 23:31] doctorpangloss commented on #145
The issue has existed for 5 years now. Nothing was fixed in 2022.

[2021-12-27 06:25] rgl opened #192 "Container images for Windows 10 21H2 LTSC"
When will we have base container images for Windows 10 21H2 LTSC (e.g. 10.0.19044.1415) that allow us to run containers in process isolation mode?

[2021-12-28 06:05] L1ghtman2k commented on #192
There are a few issues open on a similar topic, but FYI, i was able to run ltsc2022 images on windows 11 21H2 with process isolation

[2021-12-28 16:59] TBBle commented on #186
It's slightly tangential, but there's a project to install Moby and a few related tools at https://github.com/slonopotamus/stevedore. This is only for Windows containers, so doesn't do any of the Hyper-V or WSL2 setup used by Docker Desktop to support Linux Containers, but it's equivalent to `DockerMsftProvider` if you don't require support from Mirantis or any Docker Engine Enterprise-specific fe

[2021-12-28 19:00] cwilhit commented on #190
Hi, that's something you'd need to configure in your host's firewall. That's not a command you issue through docker, rather have a look at [this example](https://docs.microsoft.com/en-us/powershell/module/netsecurity/new-netfirewallrule?view=windowsserver2022-ps) (example 7 on that page) for how to do the next step.

[2021-12-29 06:48] thxCode opened #193 "Can we leverage File Server Resource Manager Feature inside container?"
hey, as the topic said, is that possible to use FSRM inside a container? btw, can someone tidy up a list of what features can or cannot enable inside a Windows container? appreciate so much :).

[2021-12-30 16:01] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-12-30 16:01] ghost commented on #174
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-12-30 17:21] jwielebnowski commented on #174
@vrapolicario All the above suggestions do not work in Unreal. However, we have found the way to work around the problem so that is good. Having said that, it would be nice to get an answer regarding your containers. Is there a reason that changing the resolution in the container does not work? Is it a defect or is it OS limitation that makes it unable to implement?

[2021-12-30 22:33] artisticcheese opened #194 "Session affinity is not being honored for service"
My service is defined as below, it specifies both  `"sessionAffinity": "ClientIP"` and `"externalTrafficPolicy": "Local"`. My expectations are with this setup traffic coming from single external IP address will always end up on the same pod, it's not working as expected.
Server version `Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.9", GitCommit:"a5e4de7e277a707bd28d448bd75

[2021-12-31 16:01] ghost commented on #132
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-01-02 16:01] ghost commented on #173
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-01-03 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, @judyliu-ms, please provide an update or close this issue.

[2022-01-04 07:37] Hvid commented on #177
Ping?

[2022-01-04 16:01] ghost commented on #160
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #158
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #157
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #154
This issue has been open for 30 days with no updates.
@thecloudtaylor, @sijuman, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #152
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #148
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #147
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #138
This issue has been open for 30 days with no updates.
@thecloudtaylor, @weijuans-msft, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #136
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #128
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #121
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-01-04 16:01] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-04 16:02] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2022-01-04 16:02] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2022-01-04 16:02] ghost commented on #39
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-01-04 17:00] doctorpangloss commented on #181
Another one bites the dust due to https://github.com/microsoft/Windows-Containers/issues/145

Not sure why nobody at Microsoft is interested in fixing this issue.

[2022-01-04 17:01] doctorpangloss commented on #178
Can you disable RSC as per https://github.com/microsoft/Windows-Containers/issues/145 on an EKS host with a privileged init container?

[2022-01-05 13:18] TBBle commented on #183
Per https://github.com/microsoft/Windows-Containers/issues/99#issuecomment-807019756, that's entirely in Mirantis' hands. I'll tag @james-nesbitt as the person who followed-up last time this sort of question was raised.

[2022-01-05 13:28] TBBle commented on #192
Yeah, basically a duplicate of #117, which was answered with ["no, all container images are from Windows Server"](https://github.com/microsoft/Windows-Containers/issues/117#issuecomment-886266148) and later ["still no, but you can run Server 2022 containers in process isolation on Windows 11 so this won't happen again in future"](https://github.com/microsoft/Windows-Containers/issues/117#issuecomm

[2022-01-05 14:05] TBBle commented on #194
If you check the logs for kube-proxy, there may be [a log message when picking an endpoint](https://github.com/kubernetes/kubernetes/blob/v1.20.9/pkg/proxy/winuserspace/roundrobin.go#L138), and then either one [when using the existing affinity](https://github.com/kubernetes/kubernetes/blob/v1.20.9/pkg/proxy/winuserspace/roundrobin.go#L156), or one [when no existing affinity was seen, so it stores

[2022-01-05 15:17] #157 closed, assigned to immuzz

[2022-01-05 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-06 03:32] daschott commented on #181
@tfenster Yes, keep the issue open. There have been multiple fixes made in Server 2022 that we hoped would resolve the container performance issues you are facing, but unfortunately it's clear this is still active and needs to be investigated further. I am raising this issue with the owners of relevant areas for comment...

[2022-01-06 03:36] daschott commented on #145
@Hvid thank you for confirming, this issue is still being investigated and I will circle back here when I hear back from owners of relevant areas.

[2022-01-06 07:28] mainred opened #195 "nanoserver images are not multi-arch ones"
The doc in https://hub.docker.com/_/microsoft-windows-nanoserver shows that we have multi-arch images for a range of nano images of different os versions, but after inspecting these images, I found we support only amd64 for those ones labeled with multi-arch like nano:1809

[code]

[2022-01-06 09:41] mainred commented on #195
The same happens to windows-servercore https://hub.docker.com/_/microsoft-windows-servercore

[2022-01-06 20:54] #194 closed, assigned to nobody

[2022-01-07 13:15] slonopotamus commented on #183
You might want to take a look at [Stevedore](https://github.com/slonopotamus/stevedore) project as a way to install modern Docker engine for Windows containers on both Windows Server/Client.

[2022-01-07 15:26] slonopotamus commented on #135
You might want to take a look at [Stevedore](https://github.com/slonopotamus/stevedore) project as a way to install modern Docker engine for Windows containers on both Windows Server/Client.

[2022-01-07 22:03] mockjv commented on #135
@slonopotamus Thank you so much for pointing me towards that project... I'll definitely be checking it out!

[2022-01-08 16:01] ghost commented on #163
This issue has been open for 30 days with no updates.
@sijuman, @weijuans-msft, @brasmith-ms, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #165
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #164
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #159
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #123
This issue has been open for 30 days with no updates.
@mapalko, @weijuans-msft, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-01-09 16:01] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-01-10 16:01] ghost commented on #179
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-10 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-01-10 19:39] daschott commented on #178
Can you confirm if the issue reproduces on Windows Server 2022?
If yes, can you please try out @doctorpangloss workaround and confirm if it helps?

[2022-01-10 20:01] daschott commented on #93
The feature to increase the number of backend pods for given Kubernetes service from 64 to 1024 has been completed and should be available in [Insider build 22526](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewserver) and above.

The change is also being serviced to Windows Server 2022 and Windows Server 2019; rough (tentative) ETA to release we are targeting is March 15th

[2022-01-11 20:51] macsux opened #196 "Unable to get custom Container Credentials Guard plugin to be invoked"
We have been attempting unsuccessfully to build a custom CCG plugin as documented here:

https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts

https://docs.microsoft.com/en-us/windows/win32/api/ccgplugins/nf-ccgplugins-iccgdomainauthcredentials-getpasswordcredentials

The plugin was built in C# conforming to interface spec with COM interop and

[2022-01-12 16:42] idontsov commented on #163
Same issue here.
Windows 10 version 21H2 build 19044.1466.
Unable to run a container in the "process" isolation mode: "The container operating system does not match the host operating system".
Hyper-v isolation is not an option.

[2022-01-12 18:43] jsturtevant commented on #28
This is preview now: https://docs.microsoft.com/en-us/azure/aks/use-group-managed-service-accounts

[2022-01-12 21:19] vrapolinario commented on #28
This has now moved to Public Preview, so I'll be closing the issue. Please let us know with new issues if you see any bugs or has any feedback.

[2022-01-12 21:19] #28 closed

[2022-01-13 04:10] tigerinus commented on #133
Being able to edit a text file is so essential for troubleshooting.

Or at least there should be an effortless way to install an editor. People do `apk add nano` on Alpine Linux and `apt-get install nano` on Debian based Linux. There should be an equivalent for Windows containers.

[2022-01-13 06:21] lippertmarkus commented on #133
You can install choco and just do an `choco install -y nano` in Windows containers as well if you really need to. Or like I mentioned above just mount files into the container and use your favorite text editor on the host.

[2022-01-13 16:01] ghost commented on #185
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-13 16:01] ghost commented on #143
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-13 16:01] ghost commented on #142
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-13 21:12] mjj209 commented on #196
I wanted to check in on this issue, this is blocking a major feature development for VMware. There are many eyes on this, is someone available to provide guidance on this?

[2022-01-14 12:26] pkanavos commented on #134
This issue came up again in StackOverflow for the .NET 6 image https://stackoverflow.com/questions/70707378/dockerized-net6-application-throws-microsoft-data-sqlclient-sqlexception-0x801/70710515

[code]

[2022-01-14 16:01] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-14 22:36] L1ghtman2k commented on #190
Thanks, this worked. I wish it was documented more, I can't seem to find it anywhere, especially given that ports don't show up on tools like TCP view, this becomes very hard to debug.

Tested on windows datacenter 2022.

If you are trying this, you must make sure that:
- You are exposing ports with `-p` command
- Windows firewall IS ENABLED and has the edge-traversal rule ON (the same one as in e

[2022-01-14 22:36] #190 closed, assigned to nobody

[2022-01-14 23:38] roozbehid commented on #163
Kind of sad how bad situation is managed.
Windows 10 has a supported feature that does not run on supported Windows 10 version!

[2022-01-15 16:01] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-17 16:01] ghost commented on #184
This issue has been open for 30 days with no updates.
@weijuans-msft, @daschott, please provide an update or close this issue.

[2022-01-18 10:42] idontsov commented on #163
Can we have an update here? Is there any estimation on when the issue will be resolved?

[2022-01-18 11:11] slonopotamus commented on #163
This issue will never be resolved. As Microsoft said in https://github.com/microsoft/Windows-Containers/issues/117, there will be no newer container images for Windows 10.

[2022-01-18 11:41] QuAzI commented on #163
Broken containers, broken L2TP, broken RDP, broken old Epson printers... and same story with .NET - almost removed reloading before release, broken Xamarin.Forms (MAUI now) for Linux...
meh... we must write another one OS to run .NET Core apps properly

[2022-01-18 12:40] idontsov commented on #163
I missed that thread. Thank you for the hint!

[2022-01-19 13:01] slonopotamus opened #197 "Processes fail with -2147023829 exit code under process isolation on Windows 11 on AMD CPUs"
This was reproduced on VirtualBox 6.1.28 running on top of Ryzen 3700X.

1. Install Windows 11. SHA256 of `Win11_English_x64v1.iso` I used: 4bc6c7e7c61af4b5d1b086c5d279947357cff45c2f82021bb58628c2503eb64e. Installing all available Windows updates (as of 2022-01-07) doesn't fix anything
2. Install Docker engine for Windows containers (either via Docker Desktop or whatever way you prefer)
3. Reboot

[2022-01-19 16:01] ghost commented on #187
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-01-19 16:01] ghost commented on #182
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-01-20 16:01] ghost commented on #124
This issue has been open for 30 days with no updates.
@tommyreinsmsft, please provide an update or close this issue.

[2022-01-21 09:24] rarajabs opened #198 "Problem to build docker image with window server core 2022 docker file"
Hi,

I have issue to build docker image

I download docker file for windows server core 2022 with dotnet sdk 5.0 from docker hub: https://github.com/dotnet/dotnet-docker/blob/09021f8b411d66086db31a538da1e9a185d3ed44/src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile

After that I was trying to build it from docker file. But I get error as screenshot below:
![image](https://user-images.githubu

[2022-01-22 16:01] ghost commented on #188
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-22 16:01] ghost commented on #144
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-01-22 16:01] ghost commented on #109
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2022-01-24 16:01] ghost commented on #189
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-25 16:01] ghost commented on #191
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-25 16:01] ghost commented on #170
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-01-25 16:01] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-01-25 16:01] ghost commented on #167
This issue has been open for 30 days with no updates.
@msjingli, @brasmith-ms, please provide an update or close this issue.

[2022-01-25 16:01] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-01-25 17:55] selzoc commented on #196
To add a few more details, we were able to use [these troubleshooting steps](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/gmsa-troubleshooting#non-domain-joined-container-hosts-use-event-logs-to-identify-configuration-issues) to find that the CCG doesn't seem to think the plugin is registered:
[code]

The [docs](https://docs.microsoft.com/en-us/windows/win32/

[2022-01-25 18:32] macsux commented on #196
This indicates that you haven't properly registered the COM object. Please run `C:\Windows\Microsoft.NET\Framework64\v4.0.30319\RegAsm.exe CcgPlugin.dll /tlb /codebase` from same folder where `CcgPlugin.dll` is (probably `bin\Debug`).

Having said this, this is what I'm getting on my machine when the object is properly COM registered:

[code]

[2022-01-25 18:44] selzoc commented on #196
@jsturtevant @vrapolinario 👋  Tagging y'all here since you announced gMSA support for AKS in #28 - can you help us figure out how to register our plugin?  We know the one on AKS works 😄

[2022-01-25 18:52] selzoc commented on #196
Related: [docs pr](https://github.com/MicrosoftDocs/sdk-api/pull/1040) for the correct registry path

[2022-01-25 19:03] macsux commented on #196
When comparing registration of the plugin on an AKS node, seems like the correct path should be `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\CCG\COMClasses`. I now get the same error @selzoc mentioned. This seems to be an error in docs as the path mentioned [here ](https://docs.microsoft.com/en-us/windows/win32/api/ccgplugins/nf-ccgplugins-iccgdomainauthcredentials-getpasswordcredentials)

[2022-01-26 10:44] cmendible commented on #162
Hi Team, have FSI and Retail customers who uses AKS and also have many "legacy" .NET applications which require IIS and in some cases full Windows Server images. They need Windows Server 2022 as host, not only to deploy and run those workloads, but to be able to use Windows 11 for development without compatibility / versioning issues.

Given that compatibility with upstream k8s was tested with [99

[2022-01-26 10:53] peterwishart commented on #163
I ran into this problem while checking I could switch docker desktop for nerdctl on Windows 10.
Rolling back feature updates 21H2 and 21H1 seems to be the only fix if you can't upgrade to Windows 11.

This issue isn't called out in [Windows Client host OS compatibility](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-202

[2022-01-26 18:08] selzoc commented on #196
For anyone else following along, we were able to get this to work yesterday:
- Building the [latest version](https://github.com/macsux/kerberos-buildpack/tree/f23f1479b5a70fa7e71b210979c995b682ac0891/src/CcgPlugin) of our .Net plugin (in our case, with hardcoded creds to check that the rest of the flow works)
- Registering it with `C:\Windows\Microsoft.NET\Framework64\v4.0.30319\regsvcs /fc CcgPlu

[2022-01-26 19:14] liyanhui1228 commented on #183
Just verified that docker 20.10.9 is available in the MS provider now, which contains the CVE fixes for CVE-2021-41190. We could probably mark this issue as fixed.

[2022-01-27 11:36] pevgeniev opened #199 "App service windows container start error"
I've an asp.net core app that I want to run as windows container inside app service.
The app is built as self contained and uses docker file as (snippets):

FROM mcr.microsoft.com/windows/servercore:ltsc2019 AS base
....
FROM mcr.microsoft.com/dotnet/sdk:6.0 AS build
.. -c Release -o /app/publish --self-contained --runtime win-x64
...
and then
FROM base AS final
ENTRYPOINT ["App.exe"]

The docker

[2022-01-27 16:46] KyleL1 opened #200 "Docker builds of windows-based containers always fails with "hcsshim::PrepareLayer - failed failed in Win32: Incorrect function. (0x1)""
This is a repost from https://github.com/docker/for-win/issues/12520, where I was referred to this project instead.

### Actual behavior
Trying to build a Windows-based container results in the following error every time:

hcsshim::PrepareLayer - failed failed in Win32: Incorrect function. (0x1)

I have tried this with both windows/nanoserver and windows/servercore images

### Expected behavior

A

[2022-01-28 06:12] Hvid opened #201 "Windows Defender slow"
Windows Defender is using and incredible amount of CPU on a server with lots of containers. When 100 containers are running, defender usually accounts for 20-25% of the CPU usage on the server.

Can Microsoft provide some guidance on what can safely be excluded?

Are there any other tweaks to be made regarding Defender?

[2022-01-28 06:14] Hvid commented on #201
When a server is rebooted and thus, containers restarted. Startup of all containers can take several minutes due to realtime monitoring of defender.

[2022-01-28 16:01] ghost commented on #193
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-28 16:01] ghost commented on #186
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-01-28 18:51] TBBle commented on #179
Yeah, this looks like a duplicate of #170. I'd suggest closing this in favour of that.

[2022-01-28 19:03] TBBle commented on #170
This just appears to be a missing feature in containerd. Its current logic for matching container images doesn't yet support the stable-kernel-API behaviour, so it only looks for exact matches on the OS Version's first three parts (`10.0.nnnn`) in manifest indexes.

See https://github.com/containerd/containerd/blob/main/platforms/defaults_windows.go#L47-L55 which checks the OSVersion match, and an

[2022-01-29 05:40] DmitrySenin opened #202 "HTTP.sys performance counters have no instances"
We would like to collect performance counters of HTTP.sys. Namely the ones under 'HTTP Service Request Queues'
However, it turned out that none of the counter under that category has any instances

[code]

We use `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-20210209-windowsservercore-ltsc2019` as our base image for all web serices

[2022-01-29 13:07] artisticcheese commented on #202
To add to the ticket. This seems to be affecting only ltsc2019 but not ltsc2022 image.
LTSC2022
[code]
LTSC2019
[code]

[2022-01-29 14:11] artisticcheese commented on #162
There are some issues seems to be fixed in Win2022 but not Win2019, see below as example. Another use case for WS2022 on AKS
https://github.com/microsoft/Windows-Containers/issues/202

[2022-01-30 16:01] ghost commented on #174
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-01-31 14:52] danzaharescu commented on #163
Hi All, I am evaluating a 21H2 build, I know it looks counter-intuitive, but on my machine, the 2004 (mcr.microsoft.com/windows/servercore:2004) looks to be working with process isolation. Hope this helps someone.
I am wondering, if I am the only to be so lucky...

[2022-01-31 14:57] QuAzI commented on #163
@danzaharescu it is "bug" and doesn't work properly. Please check https://github.com/dotnet/dotnet-docker/issues/3324#issuecomment-989085674

[2022-01-31 16:01] ghost commented on #132
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-01-31 16:47] danzaharescu commented on #163
@QuAzI Looks like you are right... but what I believe, is that this invented restriction should have never been in place, which is now being proved - the container that shouldn't have worked, works.  The format of the executable, paths, registry, etc is not changed from 20H2 to 21H2 for example (logic can be extended as far as 1803 or lower maybe). My executable from the container loads the dll fr

[2022-02-01 14:31] JustinChristensen opened #203 "Windows Firewall Security Policy preventing network connectivity in Hyper-V guests and Windows containers with Hyper-V "internal" virtual switches"
I've been trying to track down why I can't establish network connectivity using the default NAT network when in Windows containers mode on my domain-joined corporate workstation for a while now. I think I've figured it out, and I was hoping that Microsoft may be able to provide some guidance on what the expected behavior should be for the interaction between Security Policy, Windows Firewall, the

[2022-02-01 16:01] ghost commented on #173
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-02-01 16:07] dcantah commented on #203
@microsoft/containernet-msft

[2022-02-02 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, @judyliu-ms, please provide an update or close this issue.

[2022-02-02 20:28] msjingli opened #204 "Windows Server 2022 failed on NodePort test for Kubernetes upstream test"
The issue was discovered by Kubernetes upstream test with WS2022 Issue was understood and it's from OS level. We're in the progress to validate the fix and backport to WS2022

[2022-02-02 20:50] jsturtevant commented on #204
failing tests are

[code]

example error message:

[code]

[2022-02-03 13:39] TBBle commented on #195
I think amd64 _is_ the only architecture supported by Windows Server for customers. So 'multiarch' here is being somewhat misused, they really mean 'manifest list', and then there's only one possible manifest to include in the list.

Maybe they're being forward-looking, and reducing friction for if-and-when they ship their ARM64 server build to the public.

It doesn't seem super-valuable to offer

[2022-02-03 16:01] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-03 16:01] ghost commented on #160
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-02-03 17:23] TBBle commented on #170
I forgot to do this last week, I've logged https://github.com/containerd/containerd/issues/6508 to have this supported correctly in containerd.

[2022-02-04 09:47] Hvid commented on #177
ping??

[2022-02-04 16:01] ghost commented on #192
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-02-04 16:01] ghost commented on #158
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-04 16:01] ghost commented on #154
This issue has been open for 30 days with no updates.
@thecloudtaylor, @sijuman, please provide an update or close this issue.

[2022-02-04 16:01] ghost commented on #152
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-04 16:01] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-04 16:01] ghost commented on #148
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-04 16:02] ghost commented on #147
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-04 16:02] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-02-04 16:02] ghost commented on #138
This issue has been open for 30 days with no updates.
@thecloudtaylor, @weijuans-msft, please provide an update or close this issue.

[2022-02-04 16:02] ghost commented on #136
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-04 16:02] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-04 16:02] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-04 16:02] ghost commented on #128
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-04 16:03] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-04 16:03] ghost commented on #121
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-02-04 16:03] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-04 16:03] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2022-02-04 16:03] ghost commented on #76
This issue has been open for 30 days with no updates.
@2212Emmanuel, please provide an update or close this issue.

[2022-02-04 16:03] ghost commented on #39
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-02-04 16:28] #121 closed, assigned to vrapolinario

[2022-02-05 16:01] ghost commented on #181
This issue has been open for 30 days with no updates.
@daschott, @brasmith-ms, @judyliu-ms, please provide an update or close this issue.

[2022-02-05 16:01] ghost commented on #145
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-02-05 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-07 23:49] cwilhit commented on #199
@apwestgarth have you seen this issue before? Another user who [hit a similar issue](https://docs.microsoft.com/en-us/answers/questions/463587/windows-containers-unable-to-start-container-error.html) apears to have resolved the issue by changing the base image target

[2022-02-08 01:10] apwestgarth commented on #199
Thanks for adding me @cwilhit

As per our documentation - https://docs.microsoft.com/azure/app-service/configure-custom-container?pivots=container-windows - we have the following images cached locally on our workers to help with startup time - https://docs.microsoft.com/azure/app-service/configure-custom-container?pivots=container-windows#supported-parent-images

mcr.microsoft.com/windows/serverco

[2022-02-08 16:01] ghost commented on #165
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-02-08 16:01] ghost commented on #164
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-02-08 16:01] ghost commented on #159
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-02-08 16:01] ghost commented on #123
This issue has been open for 30 days with no updates.
@mapalko, @weijuans-msft, please provide an update or close this issue.

[2022-02-09 16:01] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-02-09 16:01] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-02-09 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-02-09 16:01] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-02-10 16:01] ghost commented on #178
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-10 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-02-10 17:14] cwilhit commented on #188
Thanks for bringing this to our attention. We're actively working with the folks at Docker Hub on getting this resolved. I'll leave this issue open until we have the Windows base image repos confirmed as verified publisher.

[2022-02-10 20:03] the-a-man-006 commented on #27
After the decades-old Microsoft's attempt with App-V (before even Docker), after Windows Sandbox (which lacks persistent storage and for good), after the cancellation of Windows 10X (which featured app containerization), a base Windows 10 image with full-blown GUI support only seems like the right thing to do; it can make the good old dream of neatly-separated weakly-interacting workloads finally

[2022-02-10 22:28] judyliu-ms commented on #182
@tfenster Thank you for bringing this to our attention. Our engineering team has been investigating this issue and found the root cause problem. We have a solution and are working to port this into a March release for WS2022.

[2022-02-12 16:01] ghost commented on #185
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-02-13 16:01] ghost commented on #143
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-13 16:01] ghost commented on #142
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-13 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-02-14 09:26] shanthini385 opened #205 "Is there Windows Image for running SSIS projects in containers?"

[2022-02-14 16:01] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-02-15 19:08] marosset commented on #204
@msjingli is this issue meant to track the NodePort issues we see on Windows Server 2022 with overlay networking?
I believe there is another issue around L2Bridge networking when DSR is enabled. Is that a separate issue or are does this issue track that as well?

[2022-02-15 21:54] cwilhit commented on #205
Hello, by SSIS do you mean [SQL Server Integration Services](https://docs.microsoft.com/en-us/sql/integration-services/sql-server-integration-services?view=sql-server-ver15)? We do not currently publish an image for running SQL server in Windows containers. That does not mean you cannot install SQL on your own on top of one of the [Windows container base images](https://docs.microsoft.com/en-us/vi

[2022-02-15 22:36] cwilhit commented on #202
@DmitrySenin are you running these containers as process-isolated or hyper-v-isolated? @artisticcheese I notice in your snippets the WS2019 run is hyper-v-isolated but the top one is process-isolated (I presume, since isolation mode was not specified)

[2022-02-15 22:43] cwilhit commented on #198
@rarajabs are you still experiencing this issue?

[2022-02-15 23:03] artisticcheese commented on #202
I had to run second one in hyper-v isolation mode since host was WS2022. Issue with LTSC2019 appears there regardless which isolation mode it's runs under since I assume issue is with the image but not actual compute layer.
[code]

[2022-02-15 23:59] cwilhit commented on #189
Hi @changov, Windows containers don't support sharing process spaces between them. It's not something that we support today in the OS. This is required before a container runtime such as Docker could ever in turn expose the feature.

Care to share more about what you are trying to do in Windows containers that would require having shared PID spaces?

[2022-02-16 00:24] cwilhit commented on #202
You're right, I reproed the same thing. HTTP.sys works completely differently, depending on the isolation mode, since Hyper-V isolation introduces a utilityVM into the flowpath & has it's own HTTP.sys.

This appears to be a known bug for WS2019 that we fixed after the OS release (hence it is working in WS2022). I am checking to see if this is something we can backport or if it will be marked as 'w

[2022-02-16 00:28] cwilhit commented on #199
@pevgeniev have you taken a look at the above links and did it resolve your issue? I think this issue is solidly not a Windows containers platform issue (rather App Service, if anything) so I am going to mark this as closed.

[2022-02-16 00:28] #199 closed, assigned to nobody

[2022-02-16 00:51] msjingli commented on #204
@marosset we can use this issue to track both issues. On WS2022 nodeport test failed on below scenarios:
1. With Overlay: It's an OS issue. Bug is understood and working on backport to WS2022.
2. With L2bridge: the bug only occurs when WinDSR is enabled. Investigating in progress.

[2022-02-16 01:25] changov commented on #189
No practical problem (yet). Just exploring capabilities. Much of the containers documentation sets expectation of such pid namespace sharing to work. :-) It'll be good to at least update the Windows-specific documentation about the limitation and make Docker fail explicitly instead of silently ignore the parameter.

Incidentally, Kubernetes supports pods on Windows. What is the extent of the "name

[2022-02-16 16:44] cwilhit commented on #189
In the case of pods, networking namespace is the only thing that can be shared. Shared mem, sync objects, etc. we don't currently support. For IPC, you can do things like: mapping named pipes, mapping shared files, anything that goes over the network (like WCF over TCP).

Say, these are all things that I think folks would benefit from having documented. Making a mental note for my team😀📝. Since yo

[2022-02-16 16:48] cwilhit commented on #185
Hi @BorMor, I'm  assigning this issue to myself and following up with my dev team internally. I'll get back to you once I have an answer.

[2022-02-16 17:29] marosset commented on #204
Thanks @msjingli!

[2022-02-17 16:01] ghost commented on #184
This issue has been open for 30 days with no updates.
@weijuans-msft, @daschott, please provide an update or close this issue.

[2022-02-18 19:55] michbern-ms commented on #201
Microsoft has some guidance on tuning anti-malware tools for Containers here:
https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/anti-virus-optimization-for-windows-containers

In general, Windows Defender is going to do work proportional to the amount of I/O happening, since it needs to monitor that I/O.   The Windows Defender team has worked to tune Defender's CPU usage, but when all

[2022-02-18 20:01] michbern-ms commented on #200
That's odd.  I ran your Dockerfile on a Server 2022 host and it built fine.   I'm on:

`Docker` version 20.10.7, build 40ef3b6

I know you said Docker Desktop 4.4.4 - what version of the docker engine is that?

[code]

[2022-02-18 20:55] michbern-ms commented on #198
I did run this Dockerfile locally with docker 20.10.7 and was successful.

[code]

[2022-02-18 23:35] michbern-ms commented on #197
Microsoft is seeing issues with Windows 11 hosts and Server 2022 guests when running TLS scenarios.  We are investigating these currently.   We are running a preview of cross version support (as described here (https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487)) but that preview has turned up an issue.   I don't have an ETA for a fix yet.

[2022-02-19 00:03] michbern-ms commented on #159
I wanted to document a straightforward way of getting Server Media Foundation installed on ServerCore for Windows Server 2022.  This isn’t exceptionally clever, but it does work.

First, you’ll need an up-to-date Windows Server 2022 machine to serve as a source of repair media.  [This article](https://docs.microsoft.com/en-us/windows-server/administration/server-manager/install-or-uninstall-roles-

[2022-02-19 16:01] ghost commented on #187
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-02-20 16:01] ghost commented on #124
This issue has been open for 30 days with no updates.
@tommyreinsmsft, please provide an update or close this issue.

[2022-02-21 13:33] KyleL1 commented on #200
@michbern-ms I have since tried this on a different win10 Pro PC and it also worked fine.  Is it possible there's some sort of conflict with other installed software?  That error message is not very informative.

[2022-02-21 15:25] hotchkj commented on #89
As this has been open more than a year, is there any timescale for a fix on this? This impacts signing infrastructure & the ability to bundle providers as part of images without compromising container security.

In addition, this issue is tagged as `In Progress` but is on the Project's `Backlog` which is quite confusing as milestone handling goes.

[2022-02-21 17:01] ghost commented on #104
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-02-21 17:01] ghost commented on #24
This issue has been open for 90 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-02-22 05:55] rarajabs commented on #198
I am still having the same issue. it is because my local system is missing sdk?

![image](https://user-images.githubusercontent.com/1460421/155071790-20ba7daa-d71f-432e-8b8a-3f5b3c95afdf.png)

[2022-02-22 16:01] ghost commented on #144
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-02-22 16:01] ghost commented on #109
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2022-02-22 17:58] cwilhit commented on #201
Removing `triage` tag and adding `documentation` tag. It'd be great to see the main container docs have easy/quick reference to the existing Microsoft docs on tuning anti-malware tooling, so leaving this open until we get a change merged.

[2022-02-22 18:01] cwilhit commented on #200
Kyle I'm going to close this issue since we can't repro it any longer. If this issue comes back, we can reopen.

[2022-02-22 18:04] KyleL1 commented on #200
@cwilhit I can actually still reproduce it easily, just only on my main win10 pro PC.  I'd love to get to the bottom of what is causing the failure, since I can't really rely on this technology if it fails to work on my main development system.

[2022-02-22 18:07] cwilhit commented on #200
Ah, you succeeded on a different machine. OK, reopening this issue so we can have it to track.

[2022-02-22 18:08] KyleL1 commented on #200
I'm also happy to run any tests or collect any debug information that may be helpful in solving this.

[2022-02-22 18:15] cwilhit commented on #185
Preliminary thinking is this should work for process-isolated containers correctly--but it's not--so tagging as a bug and we will have to investigate further. MSFT-internal 38264011 opened for reference.

[2022-02-22 18:28] cwilhit commented on #191
To the subject title question concerning procmon in Windows containers running with Hyper-V isolation, that feedback would be good to direct to the [Sysinternals community](https://docs.microsoft.com/en-us/answers/topics/windows-sysinternals-procmon.html).

To the bigger issue, which is that your app does not work when the isolation mode changes, can you share more details about what is happening?

[2022-02-22 18:44] cwilhit commented on #200
Much appreciated, let me follow up with you on that. Opening MSFT-internal 38264446 as reference.

[2022-02-22 18:45] ambarve commented on #200
@KyleL1 can you please try building this exact same Dockerfile with Docker Desktop 4.3.2 and let me know if that works? I have hunch about what might be causing this but I want to know if the build works on older Docker desktop version.

[2022-02-22 18:50] cwilhit commented on #192
Closing, since answer and convo is in #117

[2022-02-22 18:50] #192 closed, assigned to nobody

[2022-02-22 18:52] cwilhit commented on #193
Hi, can you share more about the scenario you're trying to accomplish and how running FSRM in a Windows container would help you meet your needs?

[2022-02-22 19:06] L1ghtman2k commented on #191
Hey, I figured out the issue. Hyper-V isolation mode has a default cap on CPU, and RAM, that I didn't account for. After expanding those with --cpus, and --memory, the application worked

[2022-02-22 19:06] #191 closed, assigned to nobody

[2022-02-22 19:27] KyleL1 commented on #200
Unfortunately it did not:

[2022-02-22 19:54] ambarve commented on #200
Thanks. I will continue investigating and update here if I find anything.

[2022-02-22 21:38] arionl commented on #117
FWIW, today was the day I figured I'd try Windows Containers in isolation mode and was completely blocked by this issue. I'm running the current stable and supported release of Windows 10 (21H2). Really bummed that I have no option besides spinning up a new VM somewhere or upgrading my daily driver/development system to Windows 11..

[2022-02-23 06:05] Hvid commented on #201
Thanks. This looks more like a reference for AV vendors to use. I was looking for best practices/guidance for sysadmins.

[2022-02-23 06:43] nirbheek commented on #159
@michbern-ms Those steps worked [for me](https://gitlab.freedesktop.org/gstreamer/gstreamer/-/merge_requests/1783), thanks! I had to make two changes:

[code]

[code]

But `mfcore.dll` seems to need `ksuser.dll` which is still missing from the image, so Media Foundation doesn't entirely work. What component provides that? Unrelatedly, I also need `dsound.dll`, do you know which component provides

[2022-02-23 08:17] slonopotamus commented on #117
That doesn't work either, see https://github.com/microsoft/Windows-Containers/issues/197

[2022-02-23 16:20] michbern-ms commented on #159
@nirbheek Thanks for the corrections!  I pasted from a rich text app and it did something funny with the file link.  I went back and fixed it in the original comment above.

Can you double check on ksuser?  My image built with the Dockerfile does have it:

[code]

I'll see what I can find out about dsound.dll and get back to this thread.

[2022-02-23 17:24] cwilhit commented on #198
@rarajabs can you please confirm:

- you are running on Windows 10
- what version of Docker are you using?

[2022-02-23 17:29] cwilhit commented on #196
Hi @macsux did @selzoc's guidance above work for you too? If so, it sounds like there's room for improvement to provide better docs for this whole process, so adding 'documentation' tag and leaving open until a PR gets submitted to Microsoft docs addressing this.

[2022-02-23 17:32] cwilhit commented on #195
That's right, we only publish amd64-architecture Windows base images.

[2022-02-23 17:32] #195 closed, assigned to nobody

[2022-02-23 17:33] cwilhit commented on #184
@pjohnst5 does David's reply above answer your question / are you still stuck on this issue?

[2022-02-23 17:36] cwilhit commented on #160
@arjaiswa there is a version of the base images that is available matching that build number. You would do:

`docker pull mcr.microsoft.com/windows/servercore:10.0.17763.2114
`

to get this image. Are you saying you were able to pull the base image successfully, but the app you wanted to put into the container does not work in these containers?

[2022-02-23 17:38] macsux commented on #196
Well I figured it out, @selzoc just reposted them here for everyone to see.
Docs have a lot of room for improvement and providing a sample app in c#
would probably make it much more approachable to the masses then c++
snippet they currently give. We're still trying to find a few key hurdles
in terms of which features and versions of windows are needed to get it
working as it doesn't work on every

[2022-02-23 18:16] michbern-ms commented on #201
@Hvid - I was asking around and one of our Defender experts shared this link:
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/tune-performance-defender-antivirus?view=o365-worldwide

It is not a tuning guide, but it may help you gather some data about what Defender is scanning and provide some ideas about how you might adjust it.

[2022-02-23 19:23] michbern-ms commented on #200
@KyleL1 One of our team members remembered this issue, which related to specific software installed on the Docker host:
https://github.com/moby/moby/issues/42807
"having certain 'drive' software installed with certain versions of CBFS drivers causes Docker builds to fail with Windows containers, even with the most trivial Dockerfile."

Can you check and see if you have installed software on the ho

[2022-02-23 20:05] michbern-ms commented on #159
@nirbheek About dsound.dll - that one turns out to be part of the ServerCore App Compatibility FoD (https://docs.microsoft.com/en-us/windows-server/get-started/server-core-app-compatibility-feature-on-demand)

That FoD basically does ServerCore -> Server.   It doesn't make sense to install the FoD in that case; just use the Server image (https://hub.docker.com/_/microsoft-windows-server/)    I rec

[2022-02-23 20:12] KyleL1 commented on #200
That was it!  I ran "driverquery /v" and found an entry for CBFS6-0 from 2016.  After I uninstalled the program responsible, the docker build worked!

Thanks so much for your help.  Hopefully others won't fall into this same trap.

[2022-02-23 22:07] brasmith-ms commented on #186
Thanks for the additional info @TBBle, I'll look into that and see what we can target for winget

[2022-02-24 06:32] nirbheek commented on #159
@michbern-ms I realized I was using ltsc2019 and not ltsc2022, maybe that's why ksuser.dll was not available?

Thanks for finding out about dsound.dll for me! Maybe we'll do something hacky if that turns out to be too expensive.

[2022-02-24 23:00] cwilhit commented on #202
Following up to inform the thread that we are not currently planning to backport this fix to Windows Server 2019. If this is critical, the guidance for the time being is to roll forward to Windows Server 2022 where this functionality is supported. Closing this issue and marking as 'won't fix'.

[2022-02-24 23:00] #202 closed, assigned to nobody

[2022-02-24 23:04] #183 closed, assigned to brasmith-ms

[2022-02-24 23:09] cwilhit commented on #179
Closing in favor of #170

[2022-02-24 23:09] #179 closed, assigned to brasmith-ms

[2022-02-24 23:11] cwilhit commented on #173
Closing due to staleness. @rgadeev if you can provide the details requested by Judy we can open this back up.

[2022-02-24 23:11] #173 closed, assigned to judyliu-ms

[2022-02-24 23:22] cwilhit commented on #174
@jwielebnowski that the resolution is a constant is due to the nature of Windows containers. Windows containers run in a session akin to the "session 0" that Windows boots and services predominantly run in (console-only). When users connect to a Windows machine either over RDP or from the Windows login screen, users are put into an interactive session (non-"session 0") where there's the Windows De

[2022-02-24 23:30] cwilhit commented on #164
Marking as in progress. MSFT internal 36689012 for reference.

[2022-02-24 23:33] cwilhit commented on #159
Closing this issue given @michbern-ms has answered and provided a solution.

[2022-02-24 23:33] #159 closed, assigned to judyliu-ms

[2022-02-24 23:37] cwilhit commented on #158
Hi @grubeli have you taken a look at our container docs, [Secure Windows Containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-security), for an overview on Windows containers security? I'd start there.

[2022-02-24 23:39] cwilhit commented on #154
Closing. For further discussion please see MicrosoftDocs/Virtualization-Documentation#186

[2022-02-24 23:39] #154 closed, assigned to thecloudtaylor, sijuman

[2022-02-24 23:43] #138 closed, assigned to thecloudtaylor, weijuans-msft

[2022-02-24 23:48] cwilhit commented on #76
Closing as this has been addressed.

[2022-02-24 23:48] #76 closed, assigned to 2212Emmanuel

[2022-02-25 06:36] patrikjx64 opened #206 "Error when using --mount option with docker Windows container"
**Describe the bug**
Using the --mount argument when starting a Windows container results in a crash. It does not
seem to which argument is passed since even using --mount with no arguments gives
the same result:
![image](https://user-images.githubusercontent.com/100402246/155666529-d346ddd2-2a42-4980-9633-b04557da65b6.png)

**To Reproduce**
Start a Windows based container with the --mount argumen

[2022-02-25 16:01] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-02-25 16:01] ghost commented on #167
This issue has been open for 30 days with no updates.
@msjingli, @brasmith-ms, please provide an update or close this issue.

[2022-02-25 16:01] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-02-25 18:27] cwilhit commented on #206
Hey @patrikjx64 are you sure you have the semantics right? If you look at the Docker [documentation ](https://docs.docker.com/engine/reference/commandline/run/)you'll see this usage:

`docker run [OPTIONS] IMAGE [COMMAND] [ARG...]`

You have the `--mount` option coming _after_ the image, so it's getting interpreted as the process to be executed in the image, and it's returning an error because no

[2022-02-28 05:55] rarajabs commented on #198
1. Windows 10
2. Docker version 20.10.12

[2022-02-28 10:31] patrikjx64 commented on #206
Hi @cwilhit ,

It would seem you are correct. Changing the order of the arguments did, in fact, work. I wish the error information was a bit more clear on what is going on, but at least I can get back to work now. Thank you!

[2022-02-28 10:31] #206 closed, assigned to nobody

[2022-02-28 16:01] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-01 17:06] jterry75 commented on #72
@judyliu-ms / @weijuans-msft - Any updates here?

[2022-03-01 17:22] cwilhit commented on #185
After a little more digging, it turns out dedup not being supported is a known gap (albeit not documented till now) that we haven't implemented support for in the OS. We will need to prioritize the work to go plug the set of APIs to bring up support for this feature. @BorMor can you provide more context about what scenario you're trying to achieve? Is the goal to map in a general purpose file shar

[2022-03-02 16:01] ghost commented on #132
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-03-02 20:21] houha2 commented on #203
1. Are these local rules that ICS and the Host Networking Service adds to support Hyper-V networking supposed to be clobbered by this security policy? Or should they be a special case? That is, is it by design that that security policy prevents these Windows services from doing what they need to do to support Hyper-V networking?

Yes, these local rules are getting clobbered by this security policy

[2022-03-02 22:37] JustinChristensen commented on #203
Hey @houha2

I appreciate the reply!

It's encouraging to hear that this is all on your radar.

One slight clarification: Are there discussions of adding a security policy callout that allows those local firewall rules for just those Windows services to continue applying, even if the administrator continues to want to disable users from managing their own firewall rules locally?

I could see there

[2022-03-03 16:01] ghost commented on #163
This issue has been open for 30 days with no updates.
@sijuman, @weijuans-msft, @brasmith-ms, please provide an update or close this issue.

[2022-03-05 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, @judyliu-ms, please provide an update or close this issue.

[2022-03-06 01:07] artisticcheese commented on #64
We have no issues adding custom fonts to images, example is below which adds times new roman font

[code]

[2022-03-06 16:01] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-06 16:01] ghost commented on #170
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #152
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #148
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #147
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #136
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #131
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #128
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-07 16:01] ghost commented on #115
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-07 16:02] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2022-03-07 16:02] ghost commented on #39
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-03-07 18:41] cwilhit commented on #205
Closing due to staleness. Will reopen if additional info can be provided.

[2022-03-07 18:41] #205 closed, assigned to nobody

[2022-03-07 18:50] cwilhit commented on #188
Update: we're still working on resolving this issue. There was a backend change in Docker Hub that impacted us and it's taking a few weeks to resolve.

[2022-03-07 18:51] cwilhit commented on #184
Closing due to staleness. Will reopen if new info comes in.

[2022-03-07 18:51] #184 closed, assigned to weijuans-msft, daschott

[2022-03-07 20:10] cwilhit commented on #198
I was able to repro this. It is due to the Docker daemon being set to Linux containers rather than Windows containers. Switching to Windows containers ([docker docs explaining how to do this](https://docs.docker.com/desktop/windows/#switch-between-windows-and-linux-containers)) and then running a clean rebuild should resolve the issue for you.

One thing to note is, since you're running on a Windo

[2022-03-07 20:32] cwilhit commented on #160
Closing due to staleness.

[2022-03-07 20:32] #160 closed, assigned to nobody

[2022-03-07 21:02] #128 closed, assigned to weijuans-msft

[2022-03-07 21:06] cwilhit commented on #123
Closing as issue appears to have been resolved several months ago.

[2022-03-07 21:06] #123 closed, assigned to mapalko, weijuans-msft

[2022-03-07 21:10] cwilhit commented on #109
@zhiweiv with containerd now GA in AKS, can you let me know if you are still seeing this issue? Else I will mark this issue as resolved.

[2022-03-07 21:27] cwilhit commented on #187
transferring to @msjingli who has been looking into print-related support for Windows containers.

[2022-03-07 21:59] cwilhit commented on #152
@snorrk I tried to repro this and was able to do so on 1909-tagged nanoserver image. However, it does not repro for me on ltsc2022-tagged images, for neither server core or nanoserver. 1909-tagged images reached end of life several months back--are you still seeing this issue on the newest image versions?

[2022-03-08 01:16] zhiweiv commented on #109
You can close this issue, it doesn't occur since containerd updated to 1.5.8.

[2022-03-08 01:27] #109 closed, assigned to immuzz

[2022-03-08 10:11] rarajabs commented on #198
Thank you for your explanation.

I didn't noticed there is a different OS type on Docker daemon in windows machine.

I am closing this question since this is not related the docker file.

[2022-03-08 10:11] #198 closed, assigned to nobody

[2022-03-08 16:01] ghost commented on #181
This issue has been open for 30 days with no updates.
@daschott, @brasmith-ms, @judyliu-ms, please provide an update or close this issue.

[2022-03-08 16:01] ghost commented on #145
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2022-03-08 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-08 17:25] krokofant commented on #34
Thank you **[@msftbot](https://github.com/apps/msftbot)** for the monthly reminder that nothing has changed. 👀

[2022-03-08 17:50] cwilhit commented on #142
Hi @PNe-ins I tried to set up a repro environment. Rather than use 20H2-version images I opted for WS2022-versioned images. I was not able to repro this--I could delete both files and folders prefixed with a '$'. See below commands, is that what you tried?

![image](https://user-images.githubusercontent.com/5685031/157296104-4213cf7a-850f-4fc7-a247-dc136b73d6f2.png)

[2022-03-08 17:54] slonopotamus commented on #34
What do you expect from Microsoft here? You want them to write and submit patches that add Windows support to BuildKit? Why they would do it? Looking at how https://github.com/microsoft/hcsshim/pull/901 is stuck waiting for approval for around a year, it would be more effective to *remove* Microsoft from dependency chain of this feature.

[2022-03-09 15:59] PNe-ins commented on #142
Hi @cwilhit
Yeah that's pretty much the szenario. Tried the same command on a 20H2 image an got the same result as described at first:
![grafik](https://user-images.githubusercontent.com/58724452/157472306-da3e8e11-8eaa-4247-aeb2-d4421c1235dd.png)

Unfortunally, as we are using Windows Server 2019 Hosts, I cannot simply use 2022 Images.
Tried it with 2022 images anyway and it worked with 'remove-I

[2022-03-09 17:06] ilanitr opened #207 "Pods stuck in "Terminating" state on Windows nodes when deleting the pod after docker restart"
We are using MCR version 20.10.9 (https://docs.mirantis.com/mcr/20.10/release-notes/20-10-9.html) and we have seen that after restarting the docker service and deleting a pod, the pod gets stuck at "Terminating" state. Describing the pod shows:

[code]

Kubelet logs:
[code]

Using `kubectl delete pod --force` did clean the pod from the cluster but according to kubelet logs, it keeps trying to remo

[2022-03-11 16:01] ghost commented on #118
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-03-11 16:01] ghost commented on #107
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-03-11 23:14] tollis-hunt opened #208 "Specific questions about Windows Containers on Windows"
# Windows Containers Question

(Sorry in advance for how much I wrote, I just wanted to be as clear as possible with my questions instead of opening a new Issue for each)

I am a software developer for a small manufacturing company. We have 75+ Windows10Pro workstations distributed across the building. We have several code bases but are mainly moving towards python almost exclusively for the sever

[2022-03-11 23:45] cwilhit commented on #208
Hi @MrSassyBritches, happy to help. Answering your questions in order:

1. Windows containers can be run on Windows 10/11 machines, although it is meant for dev/test only. Have a look at [this FAQ](https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/faq#can-i-run-windows-containers-in-process-isolated-mode-on-windows-10-) for more info.
2. Yes, provided you run the container in

[2022-03-11 23:47] cwilhit commented on #203
_>Are there discussions of adding a security policy callout that allows..._
Spoke with @houha2 offline and it does not sound like there's anything in plan right now for this.

[2022-03-12 00:03] cwilhit commented on #207
Is this Kubernetes cluster running in AKS or elsewhere? It looks kind of similar to #106, although that issue appeared related to cleaning up a logfile and your issues does not. @kevpar or @dcantah do you have any insights here?

[2022-03-13 05:17] agowa commented on #34
@slonopotamus because of the huge differences in how windows containers and linux containers work. I dought that anyone else has enough knowledge about the internals to do it...

[2022-03-13 16:01] ghost commented on #178
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-14 03:08] JustinChristensen commented on #203
Ah. I'll be honest and say that I was hoping for a bit more insight into the considerations involved there, but I suppose beggars can't be choosers on forums such as these. That said, it sounds like the U.S. government has been sending out security advice that contradicts the recommendation that was given above, and so that leaves things a bit confusing.

I guess I'll just have to wait for the ext

[2022-03-14 15:17] #203 closed, assigned to nobody

[2022-03-14 15:18] cwilhit commented on #203
No problem, happy to help. Closing this issue.

[2022-03-14 16:07] ilanitr commented on #207
The issue is reproduced on GKE on-prem cluster running in vSphere 7.0.

[2022-03-14 16:40] cwilhit commented on #149
@Eddy555 thank you for opening this issue. Does either environment have Windows Defender running? Opening MSFT internal #38520928 to track.

[2022-03-14 16:43] cwilhit commented on #142
You're welcome. I am going to mark this issue closed with recommendation for other users who might visit this issue to please roll forward to WS2022 if this is impacting them.

[2022-03-14 16:43] #142 closed, assigned to weijuans-msft

[2022-03-14 16:45] cwilhit commented on #132
Closing this issue since containerd has GA'ed in AKS. For users who are impacted by this issue and not running in AKS, please consider moving to containerd runtime.

[2022-03-14 16:45] #132 closed, assigned to daschott

[2022-03-14 16:52] cwilhit commented on #66
Update: we have launched containerd in preview as a container runtime for Windows nodes on AKS-HCI. See documentation here for instructions: https://docs.microsoft.com/en-us/azure-stack/aks-hci/use-containerd-on-windows-aks.

Once it reaches GA, we will close this issue.

[2022-03-14 17:28] cwilhit commented on #178
Closing this issue as it's stale and WS, ver 20.04 is EOL. If this reproes on WS2022, we can reopen the issue.

[2022-03-14 17:28] #178 closed, assigned to brasmith-ms

[2022-03-14 17:58] cwilhit commented on #145
For reference, MSFT internal 38481005 is tracking this investigation.

[2022-03-14 18:21] daschott commented on #144
Hi @warrenspe sorry for the long overdue response. I reached out to the team and was informed that WinNAT is a networking mode intended for development purposes in which unfortunately perf issues like this are expected. Instead, we are recommending l2bridge networking which does not exhibit performance issues:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/container-networking/n

[2022-03-14 18:32] cwilhit commented on #104
This is a long-running issue but we're still actively investigating it. MSFT internal 288993594 for reference. Will post back here as/when we have an update.

[2022-03-14 18:57] cwilhit commented on #107
Hey @rcowsill, none of the containers from before the bugfix will have that fix retroactively applied to them. I spot checked to be sure, and our current updated containers look correct. I am going to close this as fixed unless you're seeing this with images published after July 2021.

[2022-03-14 18:57] #107 closed, assigned to weijuans-msft, judyliu-ms

[2022-03-14 19:18] tollis-hunt commented on #208
Thanks so much for your informative response @cwilhit
This really clears things up for me and realize Docker is not the product I am looking for. MSIX does look about right though!

I appreciate your input :)

[2022-03-14 19:18] #208 closed, assigned to nobody

[2022-03-15 14:40] BorMor commented on #185
@cwilhit I just want to use data from deduplicated directory inside container, also will be nice to use deduplication for container volumes

[2022-03-15 15:48] warrenspe commented on #144
Hello @daschott,

Thanks for the reply!  I do recall attempting to use l2bridge back when I was initially trying to debug this, but I didn't have any luck; not because I ran into the same performance issues, but because my containers seemed to become unreachable.  Probably just some sort of a configuration issue on my end.

Anyways, I recently found out that the there are issues trying to build do

[2022-03-15 15:48] #144 closed, assigned to daschott

[2022-03-15 15:58] cwilhit commented on #144
Not to rathole this issue thread on something unrelated, but I'm curious on this point -- any more info you can share on what the build issues are that you're seeing?

[2022-03-15 16:01] ghost commented on #143
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-15 16:39] warrenspe commented on #144
Hello @cwilhit,

It was a few months ago that I ran into it; I uninstalled Docker from that VM after googling the issue and finding no results (which is about as far as my debugging goes when it comes to Docker issues).  I will take a look at re-installing Docker on that machine and giving it another go to get you some specifics (might be a week before I can get around to it, though).

In the mean

[2022-03-15 21:02] cwilhit commented on #34
Hi all, in effort to reduce spam of the beloved msftbot asking for status ten times over, I am going to freeze conversation on this issue (hoping it pauses the bot spam in the process). Given this issue has over 80 emoji reactions, we hear you loud and clear this is something you as developers would like to see. If and when we have a concrete update to share on our investments in this area, we wil

[2022-03-16 16:01] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-03-16 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-03-17 10:27] wenyingd commented on #82
@daschott @mkostersitz Does Windows HNS Transparent supporting IPv6?

[2022-03-17 21:50] jterry75 opened #209 "Docker/containerd support for Container Image integrity hashes?"
Docker and Containerd by default when downloading Windows Base Images spend an enormous amount of time validating the images when apply/unpacking them to the file system. To work around this it seems to be that a customer must set an exception on the docker/containerd layer folders to exclude them from Windows Defender. The problem with this approach is that any layers above the Windows Base Image

[2022-03-17 22:05] jterry75 commented on #92
I just opened #209 without realizing about this. This is for sure still an issue and is 100% repro if you don't exclude the process in defender. We should not have to do that for security reasons. The integrity files should be applied correctly right?

[2022-03-18 09:22] wenyingd commented on #82
@daschott I tried the latest Windows Server build 25075 with l2bridge driver for IPv6 network using hcsshim v0.8.24, but I got an error `The network does not have a subnet for this endpoint.` . Could you help give some samples on how to create HNS network with IPv6 subnets?

I also tried `transparent` driver with IPv6 subnet, and I could create network, but I failed to create HnsEndpoint with the

[2022-03-18 13:11] pradeipp commented on #47
Hi @vrapolinario, any update on this? it's been 6+ months since you were last active in this thread.

[2022-03-19 16:01] ghost commented on #189
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-03-21 21:17] cwilhit commented on #181
Hi @tfenster, I tried to repro this in an Azure VM just now (granted, this is on the March, 2022 image - 10.0.20348.587) and it did not repro for me. I could download the file just fine for both isolation modes. We tried to repro this on a lab machine and were not successful either. Have you still been seeing this behavior?

[2022-03-21 21:42] judyliu-ms commented on #182
Closing this out since the fix went live.

[2022-03-21 21:50] tfenster commented on #181
@cwilhit confirmed, now it works for me! Thanks 😊

[2022-03-21 21:50] #181 closed, assigned to daschott, brasmith-ms, judyliu-ms

[2022-03-21 22:06] tfenster commented on #182
@judyliu-ms unfortunately, this doesn't seem to be fixed for me. Following the instructions above, I still get

[code]

For which Windows build should I see the fix? I created a new VM 15 minutes ago to validate the fix and I get `20348.587`. Should that include the fix?

[2022-03-22 06:16] slonopotamus commented on #182
Where exactly it went live? KB patch number or something?

[2022-03-22 16:57] Saibamen commented on #134
This same issue on `mcr.microsoft.com/dotnet/aspnet:6.0-nanoserver-1809` tag.

But it is **working on** `mcr.microsoft.com/dotnet/aspnet:6.0-windowsservercore-ltsc2019` tag!

[2022-03-22 17:22] doggy8088 opened #210 "How to use containerd with crictl on Windows Server 2022"
Here are the steps I tried to install containerd on Windows Server 2022.

1. Install Windows Features

[code]

2. Install [containerd 1.6.1](https://github.com/containerd/containerd/releases/)

[code]

3. Configure container networking

[code]

    Download `windows-container-networking-cni-amd64-v0.2.0.zip` file from [microsoft/windows-container-networking](https://github.com/microsoft/windows-co

[2022-03-22 18:09] daschott commented on #210
Have you also created a NAT network before trying to start containers with NAT networking?
Import HNS module: https://www.powershellgallery.com/packages/HNS/0.2.4
New-HnsNetwork -Type NAT -Name nat

[2022-03-22 18:26] doggy8088 commented on #210
@daschott Please see my **Creating a nat network** section in my original post. I did and it created.

[code]

[code]

[2022-03-22 18:34] lippertmarkus commented on #210
I experience the same with `ctr`. Installing on both Windows Server 2019 and 2022 with the same steps:
[code]

Afterwards running a container on Windows Server 2019 works:
[code]

And on Windows Server 2022 it doesn't:
[code]

Without CNI it's also working on Windows Server 2022:
[code]

So I think the issue is rather somewhere in the NAT CNI plugin https://github.com/microsoft/windows-container-n

[2022-03-22 18:55] daschott commented on #210
My apologies @doggy8088 I missed that part. I am also able to reproduce this issue using Windows CNI plugins release v0.2.0.

There is a change missing because the binaries in v0.2.0 release are outdated. There needs to be a new CNI release made that includes needed changes that correct this behavior for Windows Server 2022 support.
cc @Keith-Mange

In the meantime, can you try to build the CNI pl

[2022-03-22 19:34] lippertmarkus commented on #210
I can confirm it works when compiling the CNI plugins by myself.

[2022-03-22 21:44] cwilhit commented on #196
We have created a new open-source repository housing our Azure Key Vault Plugin used for Group Managed Service Accounts (gMSA) for Windows Containers. This plugin helps connect the Container Credential Guard (CCG) component on the node with Azure Key Vault to facilitate domain-joining nodes. Folks can now leverage this odebase as a reference to develop your own plugins to connect to Azure Key Vaul

[2022-03-22 21:44] #196 closed, assigned to nobody

[2022-03-22 22:20] judyliu-ms commented on #182
It's in build 20348.617, KB5011558

It seems I closed this issue one day too early, my apologies!

[2022-03-22 23:25] tfenster commented on #182
@judyliu-ms ok, I still get 20348.587 in a VM created right now, but I'll try again tomorrow

[2022-03-23 01:23] doggy8088 commented on #210
@daschott
After re-compile `nat` CNI plugins, it works now. But...

1. Creating a sandbox / Pod

[code]

2. Creating container

[code]

3. Start the container

[code]

    I stucked here again.

[2022-03-23 05:18] daschott commented on #210
Thank you for confirming. At this point, I think this is a different issue. To cover the original CNI issue, could you file a new issue in https://github.com/microsoft/windows-container-networking/ requesting a new CNI release?

To cover the next issue, @cwilhit could you add the relevant CRI expects here to investigate? The CNI issue should be resolved with updated plugins @doggy8088 is currently

[2022-03-23 05:56] lippertmarkus commented on #210
@doggy8088 you specified a `log_directory` in your pod config but that directory doesn't exist. You need to create it:
[code]

[2022-03-23 11:17] doggy8088 commented on #210
@lippertmarkus After I created the `C:\tmp` folder, the log file `pause.0.log` is generated after I started the container. Thanks!

But I still stuck at this issue:

[code]

Do you have any idea what going on?

[2022-03-23 12:44] lippertmarkus commented on #210
@doggy8088 your pod/container specs are tailored to Linux. Can you try the ones here (with ltsc2022 image instead): https://lippertmarkus.com/2022/01/22/containerd-ctr-windows/#running-containers-with-crictl

Those did work for me.

[2022-03-23 14:46] doggy8088 commented on #210
@lippertmarkus It works for me too. Thank you so much! 😊

All the detailed steps are been posted in my blog. Sorry it's Traditional Chinese only.

[2022-03-23 16:01] ghost commented on #124
This issue has been open for 30 days with no updates.
@tommyreinsmsft, please provide an update or close this issue.

[2022-03-23 16:21] cwilhit commented on #163
We're working on publishing some additional documentation on aka.ms/containers to provide guidance related to this thread. Please stay tuned, we will ping back when the docs get published.

[2022-03-23 16:29] slonopotamus commented on #163
I want to note that there's an open https://github.com/microsoft/Windows-Containers/issues/197 about process isolation not working properly on Windows 11. Given that 20H2 is almost EOL and neither 21H1/21H2 are able to use process isolation at all, the only option for development currently is Windows 2019 LTSC, which cannot be easily bought by individual persons.

[2022-03-23 17:10] #124 closed, assigned to tommyreinsmsft

[2022-03-23 17:10] cwilhit commented on #174
Closing this issue as a resolution for the problem has been reached. I've provided an explanation for the current architectural limitations, and if there is interest in Microsoft doing additional work, please respond on this and we can reopen to track the ask.

[2022-03-23 17:10] #174 closed, assigned to weijuans-msft

[2022-03-23 17:12] cwilhit commented on #148
Closing this thread in favor of #47, and will reopen that issue to track feature requests related to UI automation in Windows containers.

[2022-03-23 17:12] #148 closed, assigned to weijuans-msft

[2022-03-23 17:21] cwilhit commented on #47
Hey everyone, the Windows containers product team is still monitoring this issue. I am reopening the issue to keep for tracking the feature request, but **there are no new updates** to provide--it is still sitting on our backlog. If/when we do have an update, we will post it here or you can monitor the [Windows container blog](https://techcommunity.microsoft.com/t5/containers/bg-p/Containers).

[2022-03-23 17:54] cwilhit commented on #115
Hi, as this is related to Docker/Moby, I think it would be better tracked out of moby/moby#41439 or moby/moby#41165.

[2022-03-23 17:54] #115 closed, assigned to weijuans-msft

[2022-03-23 18:00] cwilhit commented on #93
This change is contained in the [most recent Windows Server update](https://support.microsoft.com/en-us/topic/march-22-2022-kb5011551-os-build-17763-2746-preview-690a59cd-059e-40f4-87e8-e9139cc65de4) released yesterday, 3/22/22. Please deploy this new update to resolve this issue and please let us know if you are still having trouble.

[2022-03-23 18:00] #93 closed, assigned to daschott

[2022-03-23 20:59] brasmith-ms commented on #163
Hi folks, I have updated our [documentation ](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility) to address the concerns mentioned here.

@slonopotamus yes thank you for the note. This is an issue that we're actively investigating and working to solve. As I mentioned in the docs, cross-version compatibility in Windows is an incredibly hard pr

[2022-03-23 20:59] #163 closed, assigned to sijuman, weijuans-msft, brasmith-ms

[2022-03-24 06:34] khatrig opened #211 "Increase default scratch space on windows containers"
**Is your feature request related to a problem? Please describe.**
Windows K8s + ContainerD doesn't support increasing windows container scratch space size. Related issue - https://github.com/containerd/containerd/issues/6694

**Describe the solution you'd like**
Increase default size of container scratch space to a large number(say 200Gi). It'd be great if this can be done for ltsc2019, 20H2, lts

[2022-03-24 13:29] Eddy555 commented on #149
I don't have access to the server right now, but once I do I'll check. Generally we run Trend ApexOne, but Defender may still be running on them.

[2022-03-24 15:08] cwilhit commented on #149
Is it feasible for you to try and repro with a test environment, except leave Trend ApexOne off, to see if that is the culprit? There are container-related optimizations [that we've documented](https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/anti-virus-optimization-for-windows-containers) for 3rd party antivirus vendors, and while I do not if Trend ApexOne has implemented these recom

[2022-03-24 15:25] cwilhit commented on #211
Hello! This is a platform capability that already exists (e.g. Docker can do this today) and the feature gap you're asking about is solidly in cri/containerd projects. Having a separate issue on this repo is redundant. Let's close this issue and keep tracking from the containerd issue you linked above (I see Microsoft engineers are already engaged there anyhow).

[2022-03-24 15:25] #211 closed, assigned to nobody

[2022-03-24 15:28] cwilhit commented on #189
Closing this issue out since we've added some additional documentation (with more to come) regarding the above [under this page on our docs](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/hyperv-container#what-gets-isolated).

[2022-03-24 15:28] #189 closed, assigned to nobody

[2022-03-24 15:53] cwilhit commented on #131
Hey @perithompson sorry for the radio silence. I do see this is documented now here:

https://docs.microsoft.com/en-us/powershell/module/smbshare/new-smbglobalmapping?view=windowsserver2022-ps&viewFallbackFrom=windowsserver2019-ps

In which case we're good to resolve the issue.

[2022-03-24 15:53] #131 closed, assigned to brasmith-ms

[2022-03-24 16:17] cwilhit commented on #89
Agreed, that is confusing. I will look into this.

[2022-03-24 17:32] warrenspe commented on #144
Sorry; things are getting a bit hectic over here - might not be able to get to this for a while

[2022-03-24 17:36] cwilhit commented on #144
Ok, thanks for the update.

[2022-03-24 18:02] cwilhit commented on #147
@doctorpangloss I tried to repro this on WS2022 and was not able to. I tried one of the repro steps listed in the linked issue and tried another one of my own. Both worked as expected. Are you still experiencing issues here, and if you are, have you found anything to reliably repro it?

[2022-03-24 18:26] doctorpangloss commented on #147
I have no idea, it wasn't working around Aug 13, 2021, so by now I've abandoned Windows containers.

This was definitely not one of those, "a bug so old it couldn't possibly be a real problem" issues. This was a "hit the homekey and never try again" issue. I filed 3 critical / blocking Windows containers bugs and just didn't hear back from an engineer, still, for months, so what else was I going t

[2022-03-24 18:39] slonopotamus commented on #145
This possibly means that reporters are not providing enough info to reproduce the issue.

P.S. I am *not* experiencing it either.

[2022-03-24 19:08] cwilhit commented on #147
I am sorry some did not respond to your issue until now (waiting for seven months is laughable, I agree).

We've had Microsoft engineers look at this in the past and have been unable to repro this. I am closing this issue as you've since moved on and we don't have a point of engagement to help pinpoint further what the culprit could be. If someone else is hitting this issue, please let us know and

[2022-03-24 19:21] cwilhit commented on #145
Hi, we have tried to repro this as well too on our end and have unable to reproduce it so far. @doctorpangloss I presume you've moved on from this as well, although I see you update the issue's original message in January to callout this was still being experienced on Windows Server 2022. If you have the build number and docker info associated with when you were seeing this, please share it. Other

[2022-03-24 19:27] slonopotamus commented on #145
Ideally, this bugreport should be like:
1. Install vanilla Windows in a VM
2. Do this
3. Do that
4. Observe slow networking

But in its current state, I'd just close it as NOTENOUGHINFO.

[2022-03-24 19:28] brasmith-ms commented on #170
Thanks for the follow-up @TBBle, really appreciate the help here. I think containerd/containerd#6508 addresses the concerns here, so I will close this issue.

[2022-03-24 19:28] #170 closed, assigned to brasmith-ms

[2022-03-24 20:03] cwilhit commented on #143
Your first item is explained in the dockerfile run [reference](https://docs.docker.com/engine/reference/builder/#cmd). Regarding your second item for single file mapping, that  has since been delivered in the platform (see #31), provided you're on Windows Server 2019 or later and provided you're using containerd or another container runtime that uses HCSv2 schema. So Kubernetes can do this. To my

[2022-03-24 20:03] #143 closed, assigned to weijuans-msft

[2022-03-24 20:15] cwilhit commented on #182
@tfenster If I am not mistaken, the Windows images in the Azure gallery are updated on Patch Tuesday cadence. Since this fix went out in the non-security patch (the week following Patch Tuesday), you'll need to wait for next month's VHD (4/12/22) to pick this up, unless you initiate the optional cumulative update (which is the KB patch mentioned above by Judy).

[2022-03-24 20:50] doctorpangloss commented on #145
This is a good place to write and document automated Windows container tests

https://k8s-testgrid.appspot.com/google-windows#gce-windows-20h2-1.23&show-stale-tests=

You could add an e2e test showing a download from an Internet gateway transiting external host at high speed to close the issue. As long as this issue isn't deleted as least people will know what the workaround is.

[2022-03-24 20:51] doctorpangloss commented on #147
It's the Windows containers team's prerogative whether or not it wants to write automated tests.

[2022-03-24 20:55] #145 closed, assigned to daschott

[2022-03-24 20:55] doctorpangloss commented on #145
I don't think the issue is resolved. I'm not sure how or why it occurs, but it's real.

[2022-03-25 00:12] tfenster commented on #182
@judyliu-ms @cwilhit I have updated a Windows VM on Azure to 10.0.20348.617, but unfortunately still the exact same behavior:

[code]

What's worse, with this update, the container just hangs in "created" if I try to run with process iso:

[code]

There it just hangs. `docker ps -a` shows this

[code]

The first in the list, `github-runner2` is the one that crashed. The second, `github-runner` is

[2022-03-25 00:26] mwfriedm opened #212 "node.js scandir confuses files and directories in a bind mount in a Windows container"
**Describe the bug**
node.js scandir confuses files and directories in a bind mount in a Windows container.

See https://github.com/isaacs/node-glob/issues/436.  This is the same issue, but with more detailed repro steps.

**To Reproduce**
Dockerfile:
[code]

Create another folder for source files, outside of the docker context.
mkdir demo

Add this package.json file to `demo`
[code]

Create a sub

[2022-03-25 16:01] ghost commented on #193
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-03-25 16:04] cwilhit commented on #212
Thanks for the details, confirming this reproed for me as well on a WS2022 machine. It works fine if you run the container under process isolation, but with Hyper-V isolation, it threw the EISDIR error as you said. Acknowledging that process isolation is not a mitigation for you since you're on a 1909 host and are targeting a 2019 image.

I've referred this issue to some engineers on my side and w

[2022-03-25 17:52] judyliu-ms commented on #134
Hey folks - we hear you & we are working on getting a solution out the door for you all as soon as possible!

[2022-03-26 16:01] ghost commented on #201
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-03-26 16:01] ghost commented on #186
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-03-26 17:23] slonopotamus commented on #186
Things have changed a bit since then.

1. Stevedore now can be installed via WinGet by simple `winget install stevedore`
2. Stevedore added support for Linux containers via WSL2 (for obvious reasons, this is not supported on Windows Server due to lack of WSL2)

[2022-03-27 16:01] ghost commented on #165
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-03-28 16:01] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-03-28 16:01] ghost commented on #167
This issue has been open for 30 days with no updates.
@msjingli, @brasmith-ms, please provide an update or close this issue.

[2022-03-28 16:01] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-03-28 16:38] weijuans-msft commented on #72
@jterry75 Justin - Our engineering team is now committed to work on this in the next semester. If there is data on the timing urgency, AND additional use cases/scenarios, please do share. I wanted to make sure we prioritize properly, and also during the engineering work, we have the right test cases to validate.

[2022-03-28 16:47] weijuans-msft commented on #24
@derek987654 @ohault @jasper22 @mr-mariano-be  We are taking another look at this ask here. Making MSDTC working in containers is not trivial work. Hence I wanted to see if this is still needed. Are you blocked on moving to Windows containers with this? or have you found alternative options? Either way, would love to hear from the community so we can decide. Thanks!

[2022-03-28 17:15] mwfriedm opened #213 "docker build hangs indefinitely exporting layers."
**Describe the bug**
This is a duplicate of https://github.com/microsoft/hcsshim/issues/696, but I was asked to open a new issue here.

**To Reproduce**
Dockerfile:
[code]

`docker build`

[code]

At this point, the RUN command has completed successfully.  Docker engine takes a few minutes to write out the file system layers, and the child process (i.e. `docker-windows-write-layer`) exits.

docker

[2022-03-28 17:33] ohault commented on #24
For sure, it's not a trivial work but it is a very good use-case of how Windows Containers design and implementation should continue to evolve. In fact, we have the same question for all others Windows Server services. It's strategic as a paradigm shift towards running them into Kubernetes (let's say also in Azure Stack HCI).

[2022-03-29 05:26] msjingli commented on #187
@arst It looks like when the host is patched with an earlier CU than the binaries within the container base image. Can you please double check if your host has the latest patch? Thanks.

[2022-03-29 08:12] gregorybrad commented on #134
Hi @judyliu-ms
Any ETA on a solution to this, cant get a workaround working on our side...

[2022-03-29 18:41] tfenster commented on #182
@judyliu-ms @cwilhit Any update on this?  Can you repro that it actually isn't fixed?

[2022-03-29 21:07] judyliu-ms commented on #182
@tfenster We are taking a look on our side, will let you know when I have an update

[2022-03-30 16:01] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-03-30 17:11] daschott commented on #82
The title of this is misleading, as the feature which landed here was actually IPv4/IPv6 dual-stack support, not support for IPv6 only. Both IPv4 and IPv6 addresses need to be set to use this feature.

I followed up with my team on samples to share, but am waiting to hear back.

[2022-03-30 20:26] cwilhit commented on #92
The Windows Defender team made some changes in Defender's built-in exclusion rules for this scenario. They’re available in signatures 1.361.979.0 and newer, which went out last night. To check what signature version you have, you can go to:

 `Windows Security app -> Virus and Threat Protection -> Virus and Threat Protection Updates -> Check for Updates`

And it will show you the signature version

[2022-03-30 20:26] #92 closed, assigned to immuzz

[2022-03-30 21:02] doctorpangloss opened #214 "You cannot rename files and folders in mounted directories when creating a container with the GPU device, and interacting with the directory permanently corrupts it"
### Versions
Windows 11 21H2 22000.588

### Reproduction:

Setup and run the container:
[code]

Inside the container

[code]

Observe the error:

[code]

The same error occurs under powershell's `mv`.

### Notes

 1. Instead of `DockerTest`, create a directory `DockerTest2`, then run the container omitting `--device class/5B45201D-F2F2-4F3B-85BB-30FF1F953599` will show you can correctly rename fil

[2022-03-30 21:02] doctorpangloss commented on #214
This reopens #147

[2022-03-30 21:12] #214 closed, assigned to nobody

[2022-03-30 21:16] doctorpangloss opened #215 "You cannot rename files in host path volume mounts when the GPU device is specified; and these directories are permanently corrupted"
### Describe the bug
Mounting a directory and passing the GPU device to `docker run` permanently modifies a directory path to be unable to have its subpaths renamed.

### To Reproduce

Setup and run the container:
[code]

Inside the container

[code]

Observe the error:

[code]

The same error occurs under powershell's `mv`.

### Configuration
 - Edition: Windows 11 21H2 22000.588
- Base Image bei

[2022-03-30 21:16] doctorpangloss commented on #215
Reopens #147

[2022-03-30 21:21] doctorpangloss opened #216 "nslookup fails inside a container using the default DNS server"
**Describe the bug**
`nslookup` fails inside a container.

**To Reproduce**
[code]

**Expected behavior**
`nslookup` should work against the default DNS server.

**Configuration:**
 - Edition: Windows 11 21H2
- Base Image being used: mcr.microsoft.com/windows/servercore:ltsc2022
 - Container engine: docker
 - Container Engine version:

[code]

**Additional context**
 - Restarting the Docker daemon

[2022-03-31 06:11] AF250329 commented on #24
We found a technical solution to this problem and were able to get it running, but everyone here is convinced that SQL Server with MSDTC is a major issue on containers. The next version of our application will rewrite this section so that it can be used with any SQL server without the need for MSDTC.

[2022-03-31 06:32] weijuans-msft commented on #24
@AF250329   Wow, that sounds amazing! I would love to learn how you guys did it, and what you plan to do in your next version.

[2022-03-31 06:41] AF250329 commented on #24
It a little bit hackish solution: We put whole SQL Server into the same container where .NET Framework application running.  As we discovered, opening a connection string to 'localhost' disables the MSDTC service. This configuration adds an extra 6-8 Gb of space to the container, but at least we're using MSDTC.

We are attempting to avoid triggering MSDTC in any situation in the next version. Some

[2022-03-31 15:56] derek987654 commented on #24
This is definitely a blocking issue for us as we require MSDTC. However, I think more of a concern to us is what appears to be a lack of support for MSDTC within .NET6.0.  So even if you solve this MSDTC/Container issue for us at the moment, lacking direct support for MSDTC in .NET6.0 means that we are still going to have to address the fundamental concern.  I would love to understand how people d

[2022-03-31 16:17] cwilhit commented on #182
Reopening until we doubly confirm this is fixed.

[2022-03-31 16:35] cwilhit commented on #216
Thanks for opening this and providing repro steps. I've confirmed the repro and have opened MSFT internal 38776581 for reference.

[2022-03-31 16:52] cwilhit commented on #212
Opened MSFT internal 38776845 to track. Not much to share yet.

[2022-03-31 20:25] doctorpangloss commented on #215
This one is really mysterious. `--device class/5B45201D-F2F2-4F3B-85BB-30FF1F953599` mounts a few paths like `C:\Windows\System32\DriverStore`. There is maybe a bug with the code that decides the permissions of the mounted directories, incorrectly marking everything passed as `--volume` args with the set of permissions that make sense for drivers.

[2022-03-31 20:59] cwilhit commented on #215
Yep, I haven't had a chance to try your repro yet but my guess was it could be something to do with some of the mounts we have to make to get DirectX acceleration work (since that's the device GUID for GPU sharing). We'll have to investigate but thank you for opening the issue.

[2022-03-31 21:42] mr-mariano-be commented on #24
For us is a blocking issue. In our case, we are not trying to attach only MSSQL. We haven't analysed others alternatives for now as the impact would be larger. Thanks!

[2022-03-31 21:44] weijuans-msft commented on #24
+ @richlander from .NET team.

@derek987654  Interesting to see you are using .NET 6 on Windows containers. Would love to learn more the use cases/scenarios. Feel free to email us at win-containers@microsoft.com.

@mr-mariano-be and all: to be fully transparent, I need data to make a business justification. Please do send us emails privately and share how big is the blocker, e.g., how many apps/VM

[2022-04-01 18:31] michbern-ms commented on #216
There are a few articles about how Windows nslookup fails if the primary DNS fails, even when the second DNS is working fine:

https://defaultroot.com/index.php/2019/10/08/nslookup-default-behaviour-during-failover-of-primary-dns/#:~:text=Windows%20nslookup%20will%20always%20use%20the%20primary%20DNS,in%20the%20nslookup%20command%3A%20So%20all%20is%20well%21
https://social.technet.microsoft.com/Fo

[2022-04-03 03:44] doctorpangloss commented on #216
Sounds good if this is a general Windows issue...

[2022-04-04 06:46] haiduc32 opened #217 "Intermittent DNS issues with Windows containers"
This will be a long explanation of the issue and the investigations that were performed, so best grab a coffee first. Also this issue was initially reported at https://github.com/docker/for-win/issues/12638 but suggested to report it here.

  - [x ] I have tried with the latest version of Docker Desktop
  - [x ] I have tried disabling enabled experimental features

### Actual behavior
Running this

[2022-04-04 11:24] ajcvickers commented on #24
Distributed transactions are not supported on .NET 6. We are investigating adding Windows-only support for use of DTC through System.Transactions for .NET 7. This is tracked here: https://github.com/dotnet/runtime/issues/715#issuecomment-997271773

[2022-04-04 15:02] cwilhit commented on #217
Hey! Thanks for posting this detailed writeup. Have you had a look at #216?

[2022-04-04 15:49] cwilhit commented on #213
Opening MSFT internal 38827308 to track.

[2022-04-04 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@immuzz, @judyliu-ms, please provide an update or close this issue.

[2022-04-05 15:24] cwilhit commented on #217
Opening MSFT internal 38848137 to track.

[2022-04-05 15:51] cwilhit commented on #201
@Hvid I am not sure if you are running these containers with containerd, but if you are, the Windows Defender team recently made some updates to their definitions to exclude containerd and related processes (see [this comment ](https://github.com/microsoft/Windows-Containers/issues/92#issuecomment-1083591322 ) on another issue). Are you using Docker or containerd?

[2022-04-05 15:59] Hvid commented on #201
I'm using docker. I'm unsure how much excluding dockerd.exe will affect the security of the host.

[2022-04-05 20:52] Zensey opened #218 "Virtual switch makes network speed extreamly slow when external Wi-Fi adapter is used"
**Describe the bug**
When I share Wi-Fi adapter with virtual switch (bridged mode) it works, but network connection speed becomes extreamly slow and unstable: both for host and guest systems.

With Ethernet everything works as expected.
Tried to reproduce it on various machines with different Wi-Fi adapters, but for me this bug is stable.

**To Reproduce**
* Create a VM using Hyper-V manager
* Cre

[2022-04-05 20:55] jterry75 commented on #92
@cwilhit - Many thank you's!

[2022-04-05 21:03] jterry75 commented on #72
@weijuans-msft - Thank you! For a bit of additional clarity, we have a feature called ECS Exec that uses https://github.com/aws/amazon-ssm-agent within the container in order to create sessions, launch processes, monitor them, forward stderr/stdout, etc. This binary because of the various API sets that it uses has no way to do these from within a nanoserver container. It seems that all user manage

[2022-04-05 21:19] weijuans-msft commented on #72
That makes sense. We are experimenting to do more with Nano Server container. This definitely fits the bill :). Thanks Justin!

[2022-04-06 00:19] judyliu-ms commented on #119
Hi @perithompson, apologies for the delayed response. I am checking in to see if @TBBle's comment was able to help resolve your issue?

[2022-04-06 00:26] judyliu-ms commented on #182
Hi @tfenster, in the hyperv scenario, there is a out-of-date driver in the container image causing the crash. This driver was updated in the VM, but the container base image also needs to be updated and this will be released with the Patch Tuesday cadence (April 12th). For the process-isolated scenario, we have not been able to reproduce this, but I would recommend re-trying when the updated conta

[2022-04-06 05:31] tfenster commented on #182
@judyliu-ms ok, I'll test again then. What build number / tag is the the one that should work?

[2022-04-06 06:34] haiduc32 commented on #217
Hi @cwilhit, I took a quick look now, but it doesn't seem to be the same issue. As mentioned, I could not reproduce the issue outside the container.  Also the message from the nslookup when it times out is:
[code]

[2022-04-06 15:21] cwilhit commented on #152
I am going to close this issue as no repro. If we are able to get a beat on this on one of the images currently in support, we'd be happy to reopen this.

[2022-04-06 15:21] #152 closed, assigned to brasmith-ms

[2022-04-06 15:30] cwilhit commented on #218
It looks like this issue is related to Hyper-V networking, whereas this repo is for Windows containers; I'd recommend filing a feedback via the Windows Feedback Hub app instead.

[2022-04-06 15:30] #218 closed, assigned to nobody

[2022-04-06 15:37] cwilhit commented on #89
Update: re-engaged the dev team who owns the code associated with this area. If and when there is an ETA I will share here.

[2022-04-06 16:01] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-04-07 16:01] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-04-07 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-04-07 16:01] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-04-07 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-04-07 20:20] cwilhit commented on #215
@doctorpangloss following your steps I attempted a repro but still everything worked fine (on Windows 11, with process isolation, etc). This is going to be a tricky one to figure out. If you attempt a volume mount with source somewhere other than C:\ drive, do you still hit the issue? Is this issue blocking further development for you?

I am checking to see if there are some logs/traces that could

[2022-04-12 00:52] iamjplant commented on #89
Is there a public roadmap you could link us to?

[2022-04-12 18:58] msjingli commented on #187
@arst I am going to close this issue for now. Please feel free to activate it if you see it again. Thanks!

[2022-04-12 18:58] #187 closed, assigned to msjingli

[2022-04-13 16:44] judyliu-ms commented on #182
The build should be 20348.617, double-check that the container version is 10.0.20348.617

[2022-04-13 21:10] mwfriedm opened #219 "Headless chrome does not work in servercore ltsc 2019"
**Describe the bug**
Google Chrome crashes on startup when running in windowservercore ltsc 2019.  It is looking for dependencies from Server Media Foundation.  These were available by default in windowsservercore ltsc 2016, but are not in 2019.

**To Reproduce**
Dockerfile:
[code]

Build and run the image.  Then, inside the container:

[code]

**Expected behavior**
Repeat the same thing, except c

[2022-04-14 06:36] tfenster commented on #182
Thanks! I just now tried again and get `10.0.20348.643` on both host and base container image, but I am very happy to confirm that it now works 😊

[2022-04-14 06:36] #182 closed, assigned to weijuans-msft, judyliu-ms

[2022-04-14 16:01] ghost commented on #207
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-04-14 16:01] ghost commented on #185
This issue has been open for 30 days with no updates.
@cwilhit, please provide an update or close this issue.

[2022-04-14 18:04] ilanitr commented on #207
We are still experiencing this issue. Could you reproduce this issue?

[2022-04-14 18:45] cwilhit commented on #219
This does not appear a bug so much as it is an image composition request to have this present in Server Core. Between WS2016 and WS2019 release, there were several pruning operations we took to trim down the Server Core image size (inclusion of this package must've fallen below the cutline).

Our guidance in this case would be to use the `Windows Server` base image for this purpose (or if this is

[2022-04-14 18:45] #219 closed, assigned to nobody

[2022-04-14 19:10] mwfriedm commented on #219
Thank you!  https://docs.microsoft.com/en-us/windows-server/administration/server-core/server-core-container-removed-roles explains that this was intentional.  I guess I'll use the Windows image instead.

[2022-04-14 19:28] jterry75 commented on #92
Hey @cwilhit - We are for sure still seeing this even after taking the latest Defender updates. How is Defender determining this is safe? Is it a certain signature on containerd.exe a path location? Etc. Do we have special requirements here?

[2022-04-14 20:01] jterry75 commented on #92
Actually I'm sorry this was due to another containerd bug and un related. Its not defender that is causing the delay in this case. There is a bug that was fixed on containerd latest that improves pull perf when activating multiple pods at the same time. So it was because containerd was applying 14 base images at once... Thanks Craig this does work as far as I can tell

[2022-04-14 20:02] jterry75 commented on #92
Without exclusions:
[code]

And with exclusions:
[code]

[2022-04-14 20:25] cwilhit commented on #92
Glad to hear it!

[2022-04-16 15:40] jt0dd opened #220 "Is Sysmon compatible with a Windows Docker container?"
Building security test labs in Docker isn't new, but it's only been done to simulate Linux environments previously, with any Windows hosts requiring some technology (like Vagrant) to glue Windows VMs into the Docker environment: https://github.com/SecurityWeekly/vulhub-lab

We've been experimenting with using Docker for a security testing lab because Docker containers are far easier to configure,

[2022-04-16 16:01] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-04-17 16:01] ghost commented on #209
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-04-18 18:56] jterry75 commented on #209
Part one of this has been fixed in #92 reference above. I have verified that Defender now no longer takes the additional time even without the exclusion.

For part two, is there any support for integrity for customer image layers to avoid scans we could pull alongside from a registry etc?

[2022-04-19 00:00] mwfriedm commented on #212
No updates, just bumping so that the bot doesn't close this.  I can confirm that this is still an issue.

[2022-04-19 17:45] cwilhit commented on #220
Hi @jt0dd, regarding the questions about active directory and Windows containers, are you asking whether you can enable the Active Directory Domain Controller feature in a Windows container, or something else? If you are asking about using an AD identity in the container, we do support using [AD domain identities via gMSA ](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-c

[2022-04-19 19:15] cwilhit commented on #89
Hey @iamjplant, there is not (the roadmap on this GitHub ideally, but the team needs to improve hygiene as it's very out of date).

[2022-04-20 00:30] jt0dd commented on #220
Yes, I know I can't. I'm wondering why. I suspect it's because Microsoft doesn't want to offer the full functionality of their windows server OS freely on Docker (Active Directory being a major feature), but as a result those of us in the security community will never be able to leverage the strengths of Docker toward simulating a realistic AD network. Right now this is extremely non-trivial, and

[2022-04-20 00:52] jt0dd commented on #220
But it would be an incredible gift to the cyber security community if these things could be figured out. There's no shortage of pros in this community [wanting to use Docker in this way](https://www.youtube.com/watch?v=xSO4UEx4NUA). It's doable on Linux, just remains out of reach for simulating Windows / AD. That said, I realize with the Sysmon issue, it becomes more of a technology problem than a

[2022-04-21 02:05] jt0dd commented on #220
@cwilhit could you add the feature-request tag?

[2022-04-21 17:55] cwilhit commented on #220
Hey @jt0dd, since the Windows platform now supports HostProcess containers, that would address the limitation around installing sysmon to a container host (whether sysmon would then run correctly in a container is another story--maybe sysmon would require some changes in its codebase to be container-aware). That HostProcess containers are not yet exposed through Docker CLI would be up to the Docke

[2022-04-21 17:55] #220 closed, assigned to nobody

[2022-04-21 17:56] cwilhit commented on #207
Hi, just following up to let you know we are currently investigating a similar issue. Nothing more to report right now though.

[2022-04-22 16:40] mwfriedm commented on #213
No updates, just commenting so the bot doesn't close this.  I can confirm that this is still an issue.

[2022-04-23 16:01] ghost commented on #197
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-04-23 16:01] ghost commented on #158
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-04-23 16:01] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-04-24 16:01] ghost commented on #193
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-04-25 10:47] rasap commented on #95
@weijuans-msft im very sorry about my slow responses. I would like to provide a small update, which is that the issue seems to have been resolved by using the following image:
`mcr.microsoft.com/windows/server:win10-21h1-preview`
This image is by default configured with the correct codepage when running in Hyper-V isolation mode, 1252 and not 65001.

Using this newer image has only been possible w

[2022-04-26 21:31] dineshgovindasamy commented on #217
@haiduc32 : Can you please try Resolve-DNSName instead of nslookup? Let me know if u see the same issue.

[2022-04-28 16:01] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-04-28 16:01] ghost commented on #167
This issue has been open for 30 days with no updates.
@msjingli, @brasmith-ms, please provide an update or close this issue.

[2022-04-28 16:01] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-04-28 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-04-28 16:01] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-04-28 16:38] TXP-AlbertPucciani commented on #134
Is there any update on this, we're running into this issue now too

[2022-04-30 16:01] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-05-04 18:38] selzoc opened #221 "Container Credential Guard not being invoked with Hyper-V error "The RPC server is unavailable. (0xC0020017)""
**Describe the bug**
Following the instructions laid out at https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/gmsa-run-container, we are unable to create a container when we pass in a credential spec.  To reduce the amount of variables, we are using the [plugin from AKS](https://github.com/microsoft/Azure-Key-Vault-Plugin-gMSA), including their install script.  We

[2022-05-05 12:50] SSvilen commented on #169
@scottdcarson

Regarding the second question - take a look at [this article](https://docs.microsoft.com/en-us/troubleshoot/developer/browsers/connectivity-navigation/no-internet-connectivity-internet-explorer-not-started).
We solved the problem by exporting that key from a working server and importing it in our Docker images.
Not a clean solution, but  ¯\\_(ツ)_/¯.

[2022-05-05 16:01] ghost commented on #201
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-05-05 23:11] trevor-webster opened #222 "source for Windows base images?"
How can one get the source for any of the Windows base images*?

(*as listed at https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-base-images)

[2022-05-06 16:01] ghost commented on #119
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-05-06 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-05-07 16:01] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-05-07 16:01] ghost commented on #140
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-05-07 16:01] ghost commented on #136
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-05-07 17:53] AdaskoTheBeAsT commented on #118
hi - any news about x86 version of nano?

[2022-05-08 16:01] ghost commented on #215
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-05-08 16:01] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-05-08 16:01] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-05-09 14:59] ShiqianTao opened #223 "Improve the error message when pulling images on incompatible Windows OS version"
**Is your feature request related to a problem? Please describe.**
When pulling a Windows Server 2022 image in Windows Server 2019 nodes, check the pod events:
[code]
Users are confused about it.

**Describe the solution you'd like**
Users want to see a clearer message showing what happens and how to do it.
E.g., the current windows server 2019 node cannot support the ltsc2022 image. Recommend usi

[2022-05-09 15:41] p-b-o opened #224 "Support for Windows on Arm"
Hi,

**What is your question?**
Linaro is currently working with Microsoft to help develop Windows on Arm ecosystem.
For this task, we would like to be able to use containers to create reproducible builds.

docker x64 binaries are working, thanks to Win 11 x64 emulation.
For technical reasons, we must use process level isolation (hyper-v is not available in our environment).
However, there is no b

[2022-05-09 21:38] msjingli commented on #158
Hi @grubeli have you taken a look at our container docs, [Secure Windows Containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-security), for an overview on Windows containers security? I assume you're talking about Windows container (which shared the host kernel).  https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containe

[2022-05-09 21:38] #158 closed, assigned to msjingli

[2022-05-09 21:40] judyliu-ms commented on #221
Hi @selzoc, thank you for sharing! We are investigating this scenario, to help us better identify the issue do you mind running this cmd and sharing the logs:
`Get-WinEvent -LogName Microsoft-AKSGMSAPlugin/Admin`

[2022-05-09 21:42] selzoc commented on #221
Hi @judyliu-ms!

There are no logs, as I don't believe the plugin gets instantiated:

[code]

[2022-05-09 22:00] judyliu-ms commented on #221
@selzoc have you imported the manifest to collect the logs? this should be the command: `wevutil im <manifestname.man>`

[2022-05-09 22:26] selzoc commented on #221
Where do I get `<manifestname.man>`?  I'm a bit confused.  The only match on `manifest` in the AKS plugin repo is https://github.com/microsoft/Azure-Key-Vault-Plugin-gMSA/blob/main/src/10.0.18362.0/WppConfig/Rev1/manifest.tpl - is that what I'm supposed to use?

As a more general point, we have our own custom plugin that doesn't work in the same way, but I figured I could start with a "known good"

[2022-05-09 23:37] judyliu-ms commented on #221
This is the manifest (.man) file: https://github.com/microsoft/Azure-Key-Vault-Plugin-gMSA/blob/main/src/CCGAKVPlugin/CCGAKVPluginEvents.man

[2022-05-10 22:27] selzoc commented on #221
Wow!  That was a great suggestion.  We were able to determine via those logs that the plugin _was_ indeed getting instantiated, and we needed to have the `PluginInput` in our credential spec in a certain format.  We then applied the same logging technique to our custom plugin, and also saw it succeed!

I think we were thrown off by [these troubleshooting steps](https://docs.microsoft.com/en-us/vir

[2022-05-12 13:44] sc-olenanosenko opened #225 "Custom image based on the "mcr.microsoft.com/windows/nanoserver:1809" and "mcr.microsoft.com/windows/nanoserver:ltsc2022" based on "servercore" instead of "nanoserver""
**Describe the bug**
Custom image based on the "mcr.microsoft.com/windows/nanoserver:1809" and "mcr.microsoft.com/windows/nanoserver:ltsc2022" based on "servercore" instead of "nanoserver"

**To Reproduce**
When I am trying to use "mcr.microsoft.com/windows/nanoserver:1809" images as a base image for building custom images after viewing the image manifest of my custom image I see that is based on

[2022-05-12 17:38] jterry75 opened #226 "mcr.microsoft.com/windows/servercore:ltsc2022 and ltsc2019 5/10/2022 update changed the base layer not just delta"
**Describe the bug**
Every month on Patch Tuesday Microsoft updates the ltsc2022 and ltsc2019 images. (Along with many others). On 5/10/2022 update, for the first time that we have noticed, Microsoft updated the base layer and not just the delta layer. Why did this happen? It has large storage impact over the MoM Delta Layer strategy. Below you will see that for at least the last 13 months of rele

[2022-05-14 20:37] janschiefer commented on #213
Also happens on Linux VM with newest docker and BuildKit enabled. "Classic" docker-compose wit BuildKit disabled works fine...

---
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Docker Buildx (Docker Inc., v0.8.2-docker)
  compose: Docker Compose (Docker Inc., v2.5.0)
  scan: Docker Scan (Docker Inc., v0.17.0)

Server:
 Containers

[2022-05-15 05:39] pinzhongwang commented on #24
Just pray to be able to support DTC as soon as possible, DTC is the core of our microservices architecture, nearly 20 years of architectural accumulation, really unwilling to switch to Java, the amount of code involved is too large. The current server is still based on .net4.6.1, although the web client has been upgraded to net6.0 Blazor, has been looking forward to the addition of DTC and the rel

[2022-05-16 13:49] juss-wes commented on #188
Any updates?  I was very surprised to see Microsoft as not verified.  My company would like to lock down all but verified packages for use in the Docker Hub configuration, but that would block the use of Microsoft base images.

[2022-05-16 14:03] mthalman commented on #24
@pinzhongwang - Be aware that [support for .NET Framework 4.6.1 ended](https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-framework) on April 26, 2022. It's highly recommended you upgrade to a supported version.

[2022-05-16 16:01] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-05-16 19:05] akarshm commented on #226
Thanks, Justin, for raising this issue. What you mentioned is expected and was done as part of our re-baseline effort leading to the change in the base layer. We are investing in different approaches to reduce the Windows container base image size, and more updates will be shared as we learn more on this journey.

[2022-05-17 09:42] AntWatCDL opened #227 "Running any Windows container returns: docker: Error response from daemon: hcsshim::CreateComputeSystem ...: The request is not supported."
**Describe the bug**
I am unable to run any windows containers on my PC.  A colleague gets the same behaviour.

**To Reproduce**
I get the following error:

“`docker: Error response from daemon: hcsshim::CreateComputeSystem ...: The request is not supported.`”

When I run the following test on my Windows 10 PC:

1) Install Docker Desktop 4.8.1.  Start Docker Desktop .
2) Switch to Windows Containe

[2022-05-17 20:22] selzoc commented on #221
hi @judyliu-ms, any updates here?  Do you know what could cause the `Microsoft-Windows-Containers-CCG/Admin` log not to be populated?  It would be very handy to have that for troubleshooting.

[2022-05-17 21:56] fady-azmy-msft opened #228 "(Testing issues GH actions) - pls ignore"
--

[2022-05-18 17:26] #228 closed

[2022-05-18 17:32] #193 closed, assigned to nobody

[2022-05-18 22:15] jterry75 commented on #226
Can you please provide information that we can monitor to better understand this process? IMO this was a breaking change to the process with no prior warning or heads up about a change to how this was being done. Where was this communicated that we could haven noticed to be aware of the change that was coming?

[2022-05-18 22:56] #215 closed, assigned to nobody

[2022-05-19 08:42] fschmied commented on #118
Joining in - we, too, have the scenario mentioned above. We need to run legacy processes (in this case, a SIP for Authenticode Signing that Microsoft provides in an x86 version only) in containers and would like to use the much smaller nanoserver images (or something built on them that includes WOW64).

[2022-05-19 16:01] ghost commented on #209
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-05-19 17:28] michbern-ms commented on #89
I jumped in on this issue and sat down to reproduce it.

•	Took an up-to-date Windows Server 2022 host VM that
•	Set it up for Containers: [Prep Windows operating system containers | Microsoft Docs](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=Windows-Server)
•	Downloaded a Dockerfile and Venafi install package that @cj-lopez had provided to

[2022-05-19 20:20] iamjplant commented on #89
I have not been building or running with isolation mode explicitly set to anything, FWIW.

The other obvious difference that I am noticing is the OS.  My FROM:
![image](https://user-images.githubusercontent.com/22110072/169396917-fc15f760-2f3d-4ce0-b813-c1b28b49298d.png)

Just double-checked, and I still see the issue.  As part of the docker build process i register my KSP, but when i run the cont

[2022-05-19 20:24] michbern-ms commented on #89
@iamjplant Just double checking - what host OS (edition and version) are you building from?

The original issue above has a big, bold sentence about running in hyper-v isolation, so I assumed that was relevant.

[2022-05-19 20:28] iamjplant commented on #89
My host OS:
![image](https://user-images.githubusercontent.com/22110072/169398851-12688558-1b4c-4ef7-8831-abf00eb46f34.png)

![image](https://user-images.githubusercontent.com/22110072/169398799-22797b4b-4d25-4e6c-8675-3245b44b1759.png)

[2022-05-19 23:43] michbern-ms commented on #89
Thank you.  I'll need to see if I can reproduce it with that host/guest combination.

[2022-05-22 16:01] ghost commented on #207
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-05-23 21:40] judyliu-ms commented on #221
Great question, gathering some logs would help us diagnose why no events appear. Do you mind following these steps:

1. Open Feedback Hub and create a new feedback item
2. Select the "Security and Privacy" category, and then the “Logging Into Your PC” subcategory.
3. Click "Start recording" and reproduce the issue. Monitoring persists across logon/logoff and reboots.
4. Return to Feedback Hub, cli

[2022-05-23 22:04] selzoc commented on #221
Hi @judyliu-ms - can you tell me how to install Feedback Hub on a Windows 2019 Server Core machine?  The only references I see are to Windows 10.  Your instructions also seem oriented toward a machine with a desktop experience.

Thanks!

[2022-05-24 16:01] ghost commented on #197
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-05-24 16:01] ghost commented on #149
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-05-25 02:39] pinzhongwang commented on #24
Thank you to point out that the current server-side system is running very stable, just wait for the new DTC support, as long as .net70 supports DTC, our middleware can be upgraded within 1 week, the business layer code does not need to be modified, recompile it can be. In addition to the basic modules related to DTC-related database access, other code has supported .net6.0, including Maui Blazor

[2022-05-25 17:26] brasmith-ms commented on #225
Hi @sc-olenanosenko, I haven't been able to repro this. Can you provide the dockerfile you're using alongside the commands you're using to check the manifest?

[2022-05-25 17:37] brasmith-ms commented on #224
Hey @pbo-linaro, thanks for this comment. ARM support is not available at the moment, but it's definitely on our roadmap. I can't promise any timelines on this, but it's good to continue to see asks for the feature. Creating new images from the binaries on the existing system is not currently possible either, primarily because it is against the Windows server license terms to repackage and distrib

[2022-05-25 17:37] #224 closed, assigned to nobody

[2022-05-25 17:38] brasmith-ms commented on #222
Sorry, can you clarify? You should be able to run the command:

`docker pull mcr.microsoft.com/windows/servercore:ltsc2022`

[2022-05-25 17:46] p-b-o commented on #224
Thanks for your answer. Beyond licensing issue, is there something technical than can prevent it? The aim is not to redistribute anything, just to build/use an image locally.

[2022-05-25 17:54] brasmith-ms commented on #223
Containerd is the one producing this error, if it can't find an entry in the manifest matching the hosts build number then it throws this error. It uses RtlGetVersion to do this. Moved it here https://github.com/containerd/containerd/issues/6989

[2022-05-25 17:54] #223 closed, assigned to brasmith-ms

[2022-05-25 20:16] dcantah commented on #227
Curious, do any of the other nanoserver tags work? (1909, 2004 etc.)

[2022-05-25 23:29] akarshm commented on #226
​Hey Justin, note that as the Windows updates are cumulative, the delta layer keeps increasing, leading to longer pull times for our customers. Re-baselining allows us to reset this increase by merging the base and delta layer to create the new base layer and then letting the servicing layer contain further updates as released. As a result, you had to pull both the base and delta layer this time.

[2022-05-25 23:36] jterry75 commented on #226
Thank you that would be helpful.

[2022-05-26 08:12] AntWatCDL commented on #227
I have tried all the following, with the same error each time:

mcr.microsoft.com/dotnet/framework/runtime:4.8-windowsservercore-ltsc2019

mcr.microsoft.com/windows/nanoserver:2004
mcr.microsoft.com/windows/nanoserver:20H2
mcr.microsoft.com/windows/nanoserver:1909
mcr.microsoft.com/windows/nanoserver:1809

[2022-05-26 08:54] sc-olenanosenko commented on #225
Hi @brasmith-ms, here placed our Dockerfile - https://github.com/Sitecore/docker-tools/blob/main/image/src/Dockerfile, where BASE_IMAGE=mcr.microsoft.com/windows/nanoserver:1809 and BUILD_IMAGE=mcr.microsoft.com/windows/servercore:ltsc2019

[2022-05-26 10:14] brasmith-ms commented on #225
Can you specify how you're checking that it is servercore? I don't see any reason to believe it is returning servercore. The servercore image is much larger and has more utilities installed, including powershell.

For nanoserver 1809:
[code]

And for nanoserver ltsc2022:
[code]

And on servercore ltsc2019:
[code]

[2022-05-26 10:44] mloskot commented on #72
@weijuans-msft

There is quite a lot of GUI-less software servers that require the [Network Management](https://docs.microsoft.com/en-us/windows/win32/api/_netmgmt/) API, for example licencing servers like Gemalto's, and it would be very helpful if such serves run on nanoserver. Those run on servercore containers fine, but it is hard to justify the extra 1 GB of container size.
The nanoserver offe

[2022-05-26 13:30] sc-olenanosenko commented on #225
**Steps to reproduce:**
1) you can modify the docker-compose file by the URL https://github.com/Sitecore/docker-tools/blob/main/image/src/docker-compose.yml to change the image name for example, image: acrRegistryURL/namespace/sitecore-docker-tools-assets:0.0.0-test
2) run command:
docker-compose build --build-arg BASE_IMAGE="mcr.microsoft.com/windows/nanoserver:1809" --build-arg BUILD_IMAGE="mcr.

[2022-05-26 17:45] dcantah commented on #227
Okay, I'll try and setup a VM on your build and try this out today or tomorrow

[2022-05-27 07:12] ravisalamani commented on #104
Any update here. Facing same issue.

[2022-05-27 16:01] ghost commented on #217
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-05-28 19:20] rrmistry commented on #173
/reopen

[2022-05-28 19:25] rrmistry commented on #173
Our use case is: we have a legacy 3rd party vendor software that runs on Windows. We are attempting to modernize this application using Windows Containers.

The problem is this vendor software has a hardcoded check on startup for Windows Firewall Rules that it attempts to check and open for its use if closed. Since the `BFE` service is disabled by default in Windows Containers, the firewall rule c

[2022-05-29 16:01] ghost commented on #167
This issue has been open for 30 days with no updates.
@msjingli, @brasmith-ms, please provide an update or close this issue.

[2022-05-29 16:01] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-05-29 16:01] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-05-29 16:01] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-05-30 16:01] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-05-30 17:01] ghost commented on #164
This issue has been open for 90 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-05-31 07:38] p-b-o commented on #224
For someone aking question "Why process level isolation needs same version of windows?", here is the reason.

To the opposite of Linux, Windows syscall interface is not stable. It can (and will) change between versions. A list is available here: https://hfiref0x.github.io/syscalls.html. Thus, the same approach than Linux containerization can't be used.

The only stable interface is Win32 API (that

[2022-06-01 00:47] levimatheri commented on #217
Any update on this? I'm having a similar issue running IIS containers on Azure VMSS hosted in Service Fabric with Windows Server 2019 with Containers. Sometimes especially after high load, the outbound connections from the containers will intermittently time out for whatever reason. Restarting the containers doesn't fix it. Only thing that fixes it is restarting the host VM. @haiduc32 were you abl

[2022-06-01 01:08] levimatheri opened #229 "Intermittent slow outbound network in containers"
**Describe the bug**
I'm running some Windows IIS containers on Azure VM scale set. For the most part, it seems to run fine. However, occasionally, especially after a high load, outbound connections become slow and even timeout. Restarting the container doesn't fix it, only restarting the host VM seems to resolve it. I cannot rely on this workaround of course. Connections to localhost inside the c

[2022-06-01 01:14] AbelHu commented on #217
If you hit the issue in Azure VM/VMSS, please reference the mitigation in https://github.com/Azure/AKS/issues/2988

[2022-06-01 13:05] #226 closed, assigned to akarshm

[2022-06-01 14:06] thealtor opened #230 "ipv6 windows server 2022 this request is not supported by null ipam driver"
**Hello**

I have a  windows server 2022 on which I have installed docker (version=20.10.9)

Based on official documentation ipv6 should be supported   with l2bridge network on windows server 2022 , but this still not working

The command I execute: docker network create -d l2bridge --ipv6 test
Response: Error response from daemon: This request is not supported by null ipam driver

Can you please

[2022-06-01 17:02] fady-azmy-msft commented on #104
We're still investigating the issue @ravisalamani, but don't have any updates yet.

[2022-06-01 21:27] brasmith-ms commented on #167
Hey @TBBle, thanks for bringing this up. Unfortunately, I believe the `ntrights `tool is the best option for this. Let me bring this back to the team and we can see how feasible this would be in the short term.

[2022-06-01 22:59] selzoc commented on #221
Hello! Just bumping this since it's been a bit.  Any help getting the `Microsoft-Windows-Containers-CCG/Admin` logs to show up would be appreciated 😅

[2022-06-01 23:42] brasmith-ms commented on #230
Hi @thealtor, docker itself does not support ipv6 on Windows server 2022, but containerd does via the sdnbridge and Azure CNI plugins. I do agree that the docs you mention need to be updated to provide guidance around containerd, as we are now focused on supporting containerd.

[2022-06-01 23:42] #230 closed, assigned to nobody

[2022-06-02 16:32] levimatheri commented on #229
This might be caused by this? https://github.com/moby/moby/issues/30822

[2022-06-02 18:42] levimatheri commented on #178
@cwilhit I'm seeing it in WS2019 and WS2022. See also https://github.com/moby/moby/issues/30822

[2022-06-02 19:45] thealtor commented on #230
@brasmith-ms thanks a lot

[2022-06-04 16:02] ghost commented on #201
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-06-04 16:02] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-06-06 15:50] rrmistry commented on #173
Hi @Judyliu-ms, @cwilhit,

Is it possible to discuss this further in a formal capacity?

We want to assess the Windows Container product team's long-term vision for these services, the underlying reason for these services being disabled, and if there are any suggested options or workarounds for customers within Windows Container ecosystem.

Any insight, advise, or understanding would be greatly ap

[2022-06-06 16:02] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-06-06 16:02] ghost commented on #136
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-06-06 16:02] ghost commented on #119
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-06-07 15:22] Zantier commented on #118
I would like this too, in order to run nginx, which is only released for Windows in 32-bit.

[2022-06-07 15:48] weijuans-msft commented on #118
Thanks. What other 32-bit apps that folks wanted to run on Nano Server container?

[2022-06-07 16:02] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-06-07 16:02] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-06-07 17:11] AdaskoTheBeAsT commented on #118
Hi, by general in some industries like HVAC it is very common that component manufacturers for water heaters, coolers, fans etc provide their calculation libraries in form of dll's. Usually those companies do not have strong it departments (pun intended ;)) and they provide dlls targeted only for x86. In my professional life I saw plain dll's and also COM libraries written in VB, C++, Delphi even

[2022-06-07 17:34] weijuans-msft commented on #118
@AdaskoTheBeAsT Interesting! How and where do you run those Windows containers? What is the scale/size? Do you use any orchestrator like K8s?

[2022-06-07 17:44] AdaskoTheBeAsT commented on #118
@weijuans-msft  many years ago I made such systems where such dll's were "hidden" by web apis hosted on IIS on same server - when I got back to such architecture after years I saw potential for improvements to modernize that architecture - nowadays natural direction is to do slim containers which can be instantiated on demand etc - I am not expert in kubernetes (but planning to extend my knowledge

[2022-06-08 17:41] fady-azmy-msft commented on #119
Closing due to staleness. @perithompson if you can provide more details/response to Judy's comment we can open this back up.

[2022-06-08 17:41] #119 closed, assigned to judyliu-ms

[2022-06-08 18:42] dcantah commented on #229
@sbangari @kestratt @daschott

[2022-06-09 06:19] levimatheri commented on #229
Possibly could also be caused by this RSC issue? https://github.com/microsoft/Windows-Containers/issues/145

[2022-06-09 22:00] michbern-ms commented on #89
It's been a busy few weeks with people-management stuff for me.   I did update my dockerfile with precisely the FROM statement that @iamjplant provided:

FROM mcr.microsoft.com/windows/servercore:ltsc2019-amd64

And it still works for me.

![image](https://user-images.githubusercontent.com/99994515/172951818-9bbb0030-0a42-4565-bb23-eda0f30bc7af.png)

I'm starting to run out of avenues of investiga

[2022-06-10 00:42] iamjplant commented on #89
Bummer...
How about the host OS?  I just simplified my repro dockerfile and can still get the error.  Is it possible this was fixed after Windows 10 20H1 or in the Server class OS?

[2022-06-10 01:33] jwbrothers commented on #89
Sorry, I've been busy with a release and did not pay close enough attend to this thread.  michbern-ms, you reproduced the issue.  The provider you are showing is the CSP, not the KSP.  CSP has no issues.

When everything is working properly you should see this in the `certutil -csplist`:

<img width="946" alt="Screen Shot 2022-06-09 at 10 29 55 PM" src="https://user-images.githubusercontent.com/26

[2022-06-10 12:41] iamjplant commented on #89
@jwbrothers to the rescue!  I had wondered about that...
For what it's worth, with my company's KSP i am not able to affect the container's KSP with the host's having or not having the KSP registered.  I swear i used to, but not anymore.

[2022-06-10 13:43] jwbrothers commented on #89
@imjplant  the KSP still needs to be installed in the Docker container as well for my host comment to work.

[2022-06-10 15:12] iamjplant commented on #89
@jwbrothers agreed.

[2022-06-10 18:27] michbern-ms commented on #89
Thank you, @jwbrothers - I can finally reproduce this on a Server 2022 host / Server 2019 guest.   In fairness, this is pretty subtle; I appreciate your help in clarifying expectations.  Now I can see about what might be causing this.  I am looping in the appropriate feature teams to investigate further.

[2022-06-12 05:20] rrmistry commented on #165
Hi @judyliu-ms , @weijuans-msft ,

Our sincere apologies for being persistent, but this is a huge business blocker for us.

We are eager start discussions about our use case for services like SMB (https://github.com/microsoft/Windows-Containers/issues/165) / BFE (https://github.com/microsoft/Windows-Containers/issues/173), and learn about the long term vision of the Windows Container team.

______

[2022-06-12 09:41] ohault commented on #222
On the one hand, there is a huge lack of documentation on features, the files of every official Windows containers base image, and on the other hand, there is also no documentation, nor any tools provided to generate custom **base** images for Windows Containers.

[2022-06-13 17:03] ghost commented on #204
This issue has been open for 90 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-06-13 17:23] fady-azmy-msft commented on #165
Hey @rrmistry , could you share more about the workload or the use-case you have for wanting gMSA support for host process containers?

[2022-06-13 17:41] ohault commented on #165
Hey @fady-azmy-msft, easy, one key use case is to support multi-tenancy

[2022-06-13 18:03] ohault commented on #162
This is neither one, nor two, but a set of use cases that you can see as the key strategic step to move forward beyond Windows Server by supporting all obvious [Windows server roles](https://docs.microsoft.com/en-us/windows-server/administration/server-core/server-core-roles-and-services) as containers to run on AKS (all flavors of AKS including Edge).

A first approach would be to have redefined

[2022-06-13 18:04] marosset commented on #204
I believe this issue has been addressed with Windows Server 2022 OS patches.

[2022-06-13 18:17] rrmistry commented on #165
Hi @fady-azmy-msft ,

Our use case is we are trying to use `host process containers` as a stop-gap solution to get access to host services like SMB (https://github.com/microsoft/Windows-Containers/issues/165) / BFE (https://github.com/microsoft/Windows-Containers/issues/173) which are currently disabled in Windows Containers.

We also need domain authentication to access services like NTFS permiss

[2022-06-13 21:21] ohault commented on #27
This very important ticket should be re-opened.

[2022-06-13 21:38] weijuans-msft commented on #222
@trevor-webster  Assuming you are asking the dockerfile of those base images, the answer is no, today there is no source file for those Windows base images. All Windows flavor container images will be built from one of the base images.

@ohault Can you help me understand what you are exactly looking for? Are you developing new apps on Windows containers or moving existing apps in Windows container

[2022-06-13 23:42] brasmith-ms commented on #165
Hey @rrmistry, from the HostProcess container side of things we have added support for running as custom user accounts, although I am not entirely sure this adds dedicated support for gMSA as we did not design around that.

PR with this change: https://github.com/microsoft/hcsshim/pull/1286

If you use the latest containerd nightly build you should be able to test this out with HPCs.

[2022-06-14 00:22] naikrovek commented on #27
This is not a priority for Microsoft; this is not even a *desire* for Microsoft.  This was possible previously, and they _removed_ it.
 RDP is explicitly stripped from Windows container base images...  This isn't happening.  Microsoft charges for Terminal Services, and they don't want people hosting GUI containers that can be remoted into.  Their "I-can't-believe-they-haven't-purchased-that-compan

[2022-06-14 00:27] weijuans-msft commented on #222
@ohault Does this blog help? I am trying to understand what documentation that's most useful for you?

https://techcommunity.microsoft.com/t5/containers/nano-server-x-server-core-x-server-which-base-image-is-the-right/ba-p/2835785.

[2022-06-14 00:40] DECBuzz commented on #27
This would not be necessary if they add a GUI extension. The alternative is DOS based GUI or IIS/Kestrel run a configuration page? Are we really at the days of 16bit computing again just to use a machine?

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jeremiah Johnson ***@***.***>
Sent: Monday, June 13, 2022 7:22:54 PM
To: mi

[2022-06-14 19:24] ohault commented on #27
@naikrovek, I agree that the current MS position is simply indefensible with this realm of obscurity around all the flavours of Windows Containers technologies (Nobel gases codename -e.g. for [Windows Sandbox](https://unit42.paloaltonetworks.com/what-i-learned-from-reverse-engineering-windows-containers/) ) but there is a real technical challenge here. The joke is currently that the working path t

[2022-06-15 16:05] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-06-15 16:16] #204 closed, assigned to msjingli

[2022-06-16 15:49] warrenspe opened #231 "hcsshim::ImportLayer Error"
**Describe the bug**
Docker build does not work

**To Reproduce**
Dockerfile:
[code]
Steps to reproduce the behavior:
[code]

**Expected behavior**
An image to be created with a C:\temp directory

**Configuration:**
 - Edition: Windows 10.0.19043
- Base Image being used:  Windows Server Core ltsc2019
 - Container engine: docker
 - Container Engine version 4.9.0

Virtualization is enabled; this is

[2022-06-18 16:03] ghost commented on #213
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-06-18 16:03] ghost commented on #212
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-06-18 16:03] ghost commented on #140
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2022-06-18 16:59] mwfriedm commented on #212
No updates, just bumping so that the bot doesn't close this. I can confirm that this is still an issue.

[2022-06-18 16:59] mwfriedm commented on #213
No updates, just bumping so that the bot doesn't close this. I can confirm that this is still an issue.

[2022-06-20 12:44] rifaterdemsahin opened #232 "I cant do basics with windows containers"
**Describe the bug**
I need to run a dockerfile on windows containers i cant do basics
It gets stuck at the running state

**To Reproduce**
[code]
[Steps to reproduce the behavior Shown in a Loom Video:](https://www.loom.com/share/ffc19243be064f2ba3b8c39749e6dd54)

**Expected behavior**
Builds the machine

**Configuration:**
PS C:\dockerwindows> docker version
Client:
 Cloud integration: v1.0.25

[2022-06-20 12:45] rifaterdemsahin commented on #232
@onuralp here it is

[2022-06-20 15:19] JoelLeach commented on #155
The [Windows Container Version Compatibility ](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2022%2Cwindows-10-21H1) page shows that you can run a Windows Server 2022 image on Windows 10 21H1 via Hyper-V isolation.  Is that info now out of date?

[2022-06-20 16:06] michbern-ms commented on #89
Thanks again for all the help on this.

We made some good progress in this, in partnership with the subject matter experts for Windows Crypto.  @jwbrothers hypothesis was half-right: the crypto layer is initialized properly, but it is not persisting through container shutdown properly.  We understand why the KSP registration is not persisting through container shutdown, but it is not trivial to fi

[2022-06-20 22:09] Howard-Haiyang-Hao commented on #149
@Eddy555 Thank you for reporting the issue. I have put your repro configuration in a table, please let me know if I missed anything:
![reproconfig](https://user-images.githubusercontent.com/30302321/174683088-26ffbc16-6163-466e-acff-c99addfc745d.png)

I am trying to repro the issue in our lab. But before the repro, I would like to clarify few things.

1. I assume the repro machines were physical m

[2022-06-21 08:27] Eddy555 commented on #149
Hi, sorry I've not had chance to do more testing on this due to other urgent work I've had.
In answer to your questions
1. These were on VMs
2. The container images are custom ones that we have built container some compiler programs. These are based on mcr.microsoft.com/windows/servercore:ltsc2019
3. The source files are our own internal code, consisting of around 4671 files and 828 MB.

So I gues

[2022-06-21 18:02] ohault commented on #222
@weijuans-msft Unfortunately not at all, the question here is not to understand what image to use, but a regulatory/compliance question about what each Windows Container based images is composed of. Currently, it's a black box. Microsoft should provide a complete documentation and the full toolchain tools to build Windows Containers base images with full traceability.

[2022-06-21 18:18] ohault opened #233 "Powershell Helper Module for Host Compute Service (HCS)"
**Is your feature request related to a problem? Please describe.**
Meanwhile, there is a Powershell Helper Module Host Networking Service (HNS), it is not the case for Host Compute Service (HCS) - see https://docs.microsoft.com/en-us/virtualization/windowscontainers/container-networking/architecture

**Describe the solution you'd like**
All Windows Host Networking Service (HNS) and Host Compute Se

[2022-06-22 14:41] DmitrySenin opened #234 "Installing Language Packs for Windows in containers"
**What is your question?**
I'm currently developing a tool which is based on Windows + LibreOffice, and this tool doesn't work well with Japanese - LibreOffice outputs boxes after processing a document. Locally, it all works just fine
I came to a conclusion that my base Windows image lacks a language pack for Japanese and I'm looking for a way to install it with no luck for now

Can you suggest an

[2022-06-22 16:03] ghost commented on #207
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-06-23 07:46] Howard-Haiyang-Hao commented on #149
Hi @Eddy555,

I have taken the steps and measured on my machine, here are the results:

<img width="206" alt="image" src="https://user-images.githubusercontent.com/30302321/175241968-5ee90944-bc95-4254-a741-181f7e2a362c.png">

As I understand, that you have an anti-virus software running on your container host, that may explain why the process isolated container case is slower, because the file op

[2022-06-23 16:03] ghost commented on #197
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-06-24 09:48] tyb-dev opened #235 "Docker image for Windows 10 IoT Enterprise LTSC 2021"
I need to run unit and integration tests for my application on _Windows 10 IoT Enterprise LTSC 2021_ in a containerized pipeline. I was expecting to find a `mcr.microsoft.com/windows:21H2` Docker image but the [tag list](https://mcr.microsoft.com/v2/windows/tags/list) ends with 20H2.

Where can I find it?

[2022-06-24 15:46] Howard-Haiyang-Hao commented on #149
@Eddy555, please let me know if I have answered your question. If you still have your repro machine, you can disable or add exclusion of the directory from the anti-virus scanning.  If the problem persists, please collect the perf traces and I can take a look to figure out what is causing the slower performance.

Regards,
Howard.

[2022-06-24 21:41] m-deepakraja commented on #72
Any update on this issue?

[2022-06-25 16:03] ghost commented on #209
This issue has been open for 30 days with no updates.
@akarshm, please provide an update or close this issue.

[2022-06-26 12:58] arontsang opened #236 "Can a custom ICcgDomainAuthCredentials be used to provide a non gMSA account for a pod?"
My company infrastructure team currently does not support gMSA for dynamically provisioned servers.

Therefore I would like to run containers under AD service accounts managed by a 3rd party credential store.

My question is, can k8s be configured to run a pod under a cred that it gets from a custom ICcgDomainAuthCredentials. As opposed to getting a credential to then query AD for the gMSA creds.

[2022-06-26 16:03] ghost commented on #227
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-06-27 12:12] davidbarrowsatasos commented on #188
Hi, any update on when this issue may be resolved?  We have training materials for Docker, which use Microsoft images, and which refer to MS being a verified publisher.  Thanks

[2022-06-27 17:41] Howard-Haiyang-Hao commented on #149
@Eddy555, I consider this issue is resolved. Please let me know if you are still experiencing performance issues even after disabling anti-virus scanning.

[2022-06-28 08:00] Eddy555 commented on #149
Hi, sorry for the slow response. What do you use to take measurements for the file operations?

[2022-06-28 16:03] ghost commented on #166
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-06-28 16:03] ghost commented on #134
This issue has been open for 30 days with no updates.
@weijuans-msft, @judyliu-ms, please provide an update or close this issue.

[2022-06-28 16:03] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-06-28 18:47] Howard-Haiyang-Hao commented on #149
![image](https://user-images.githubusercontent.com/30302321/176258945-2b7021ba-68e3-4ad0-8fe2-07d45352ce9b.png)

timecmd.cmd is from the following post:

https://stackoverflow.com/questions/673523/how-do-i-measure-execution-time-of-a-command-on-the-windows-command-line

@echo off
@setlocal

set start=%time%

:: Runs your command
cmd /c %*

set end=%time%
set options="tokens=1-4 delims=:.,"
for /f

[2022-06-28 22:14] GravviSoft commented on #161
thx

[2022-06-29 01:05] fady-azmy-msft commented on #207
Hey @ilanitr, we're in the middle of a fix for this and tracking a similar issue internally (internal ID: 31661934)

[2022-06-29 01:10] fady-azmy-msft commented on #233
Hey @ohault, could you share more about what you want to accomplish with exposing HNS and HCS (for all container types) through Powershell?

[2022-06-29 09:56] Eddy555 commented on #149
Thanks, I'll give that a go when I get chance. I guess as this will take me some time to get around to doing, we can close this for now as we appear to have an understanding of the issue. Thanks again for your support and investigation.

[2022-06-29 09:56] #149 closed, assigned to brasmith-ms

[2022-06-29 14:33] vrapolinario commented on #64
We finally have a prescribed a d supported way to install fonts back to the Server Core image.
When we removed the fonts, we also removed the feature that installs new fonts. I blogged here on how to get fonts back to Server Core images: https://techcommunity.microsoft.com/t5/itops-talk-blog/adding-optional-font-packages-to-windows-containers/ba-p/3559761

[2022-06-29 15:39] fady-azmy-msft commented on #166
Hey @dave07y apologies for the wait. Is this still an issue you're facing?

[2022-06-29 16:10] SteveLasker commented on #188
Adding @justincormack from Docker on the changes.

[2022-06-29 17:02] fady-azmy-msft commented on #236
Looping in @jsturtevant as this seems to be a K8s question.

[2022-06-29 17:13] fady-azmy-msft commented on #140
Sorry for the delay @stephen-turner, is this still an issue you're facing?

[2022-06-29 17:47] jsturtevant commented on #236
If you build your own ccg plugin you can configure the pod with the `hostAccountConfig` value that uses the GUID of that plugin: https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts#additional-credential-spec-configuration-for-non-domain-joined-container-host-use-case.

The latest gmsa webhook release has support for this field as well: https:/

[2022-06-29 19:34] weijuans-msft commented on #235
We have stopped shipping SAC releases after 20H2. You can find more details in this blog post: https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487.

What is your use case for using that Windows image on the IoT host?

[2022-06-30 00:17] pbozzay commented on #232
I just tried to repro the issue and was unsuccessful - it built just fine with the RUN command included. Powershell does take a while to spin up though, and I initially wondered if it was hung because the command took ~30s to complete. Can you confirm you gave it a significant grace period to finish?

[2022-06-30 08:42] stephen-turner commented on #140
Thanks for reaching out. I assume it's still present unless some effort has been made to fix it, but I'm not actually the original reporter, I just transferred it from https://github.com/docker/for-win/issues/9999. The OR is @marcusschroeder.

[2022-06-30 12:49] arontsang commented on #236
@jsturtevant

I think you've misunderstood me.

I am unable to use mGSA at all. I was hoping to inject an unmanaged (from the perspective of Microsoft AD) AD service account to run my pod/container.

[2022-06-30 16:03] ghost commented on #225
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-06-30 20:08] ohault commented on #233
Hey @fady-azmy-msft, yes for sure.

1) for Windows Admin Center, it will provide a way to create an extension for HNS/HNC
2) Hyper-V Manager and all other current tools are only showing a very limited part of the whole Virtualisation/Container architecture on Windows (one exception https://github.com/ShaunLawrie/HnsExplorer)
3) hidden VM, containers .... is a real problem in terms of compliancy
4)

[2022-06-30 20:36] ohault commented on #235
+1
@weijuans-msft to contribute this ticket, I can think about a use case, for the Automotive industry and mission critical system (nuclear power plant, aircrafts, ....) using Edge devices. On these critical Edge devices, system/customer safety cannot be an option, it's part of the design requirements. Virtualisation and Containers technologies play a very important role here (see e.g. http://xhyp

[2022-06-30 20:37] jsturtevant commented on #236
regardless of if the pod is in kubernetes or running locally the only way to interact with the domain from a Windows container perspective is to use the gMSA: https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts. I believe this is due to the way that passwords are managed with containers.

[2022-07-01 13:09] sojab0on opened #238 "No Manifest linux/amd64 or linuxaarch64"
**What is your question?**
when pulling the windows:20H2 or 10.0.19042.1766 tagged it gives an manifest linux/amd64 on my linux docker host based on amd64 architecture also when i try to do this om my OCI arm instance with docker it gives linux/aarch64 not found

What can i do to pull the images

[2022-07-01 15:52] tyb-dev commented on #235
In my case our host is a Windows Server, not an IoT one. I want to run unit and integration tests in a CI/CD pipeline within a container, without having to set up and maintain a collection of VMs.

[2022-07-01 16:03] ghost commented on #217
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-02 00:32] SteveLasker commented on #188
@davidbarrowsatasos, as much as we'd like to see the Docker Hub issues get resolved, and we continue to work with Docker, Microsoft now offers a browsing experience for the [Microsoft Artifact Registry](https://mcr.microsoft.com/), with more info here: [General availability: New portal experience for Microsoft Artifact Registry](https://azure.microsoft.com/updates/general-availability-new-portal-e

[2022-07-02 16:03] ghost commented on #221
This issue has been open for 30 days with no updates.
@judyliu-ms, please provide an update or close this issue.

[2022-07-02 16:03] ghost commented on #167
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-07-03 19:24] ohault opened #239 "Support of COPY flag --from=<name> in Dockerfile for Windows Containers"
**Is your feature request related to a problem? Please describe.**
Currently for Windows Containers, COPY flag --from=<name> is not supported in Dockerfile.

**Describe the solution you'd like**
Implement the required support for this --from flag for the COPY instruction - ref : https://docs.docker.com/engine/reference/builder/

**Describe alternatives you've considered**
Unkown

[2022-07-03 19:37] ohault opened #240 "Support of Docker commit for Windows Containers"
**Is your feature request related to a problem? Please describe.**
Currently, Windows Containers would not support Docker commit command.

**Describe the solution you'd like**
Implement a support of Docker commit command for Windows Containers. Ref: https://docs.docker.com/engine/reference/commandline/commit/

**Describe alternatives you've considered**
Unkown

[2022-07-04 07:26] davidbarrowsatasos commented on #188
@SteveLasker thanks for your reply, I'll update our training materials with a link to this info.

[2022-07-04 08:10] slonopotamus commented on #240
I believe this is a wrong project to report such issue and instead it should go to https://github.com/moby/moby

[2022-07-04 08:10] slonopotamus commented on #239
I believe this is a wrong project to report such issue and instead it should go to https://github.com/moby/moby

[2022-07-04 08:20] ohault commented on #240
I'm referencing here the underlying (snapshot) support required in Windows Container to provide a way to implement the commit command.

[2022-07-04 08:35] stonesbg opened #241 "Windows Server 2019 no internet access"
**Describe the bug**

We are currently deploying GCP Windows Server 2019 (specifically this image `windows-2019-for-containers`).  We hit a rather weird issue where when creating a new vm instances sometimes the containers that run on the machine don't have internet access.  The base image that we are using for our containers are `mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-lts

[2022-07-04 16:03] ghost commented on #201
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-04 16:03] ghost commented on #169
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-07-05 15:41] LiuChangFreeman opened #242 "How to block GPU from the host system?"
I'm packaging a program into Windows Container.
It works well in hyper-v mode but when I try `--isolation=process` it always exits with failure.
I tested it on every machine of mine and it turns out that when the host system doesn't have a physical GPU(such as Virtual Machines) the process isolation can also be OK.
So I'm wondering how to `block` the container from trying to use the physical GPU.

[2022-07-05 16:35] fschmied commented on #89
@michbern-ms Just a quick question, as we, too, are running into this issue. I understand that you've identified a problem where the KSP registration is not correctly persisted when performed within a container (e.g., while building the container), so information is lost and the KSP will not work when the container is later restarted.

However, I see a second problem here. If I understand correctl

[2022-07-05 18:05] brasmith-ms commented on #225
@sc-olenanosenko for what reason are you using nanoserver for the BASE_IMAGE argument? That is almost certainly the image you are pushing to the repository. I'm not sure what the BASE_IMAGE and BUILD_IMAGE arguments are supposed to do as those seem to be specific to the sitecore/docker-tools repository. Docker compose is designed for multi-container environments so it's likely you're running both,

[2022-07-05 18:41] pbozzay commented on #231
I tried to reproduce this issue last week with no success. Just to confirm, are you able to start a normal docker container (and it's only building an image locally that fails)?

[2022-07-05 19:38] warrenspe commented on #231
Hello @pbozzay,

Yes, it appears to be able to run containers as expected, just not build new images

[code]

[2022-07-06 12:58] iamjplant commented on #89
@fschmied I have not been able to duplicate that with my setup.  The KSP is not registered in the container regardless of the host registration.

[2022-07-06 13:50] warrenspe commented on #231
Well, figured it out - I was getting burned by this:

https://social.technet.microsoft.com/Forums/en-US/01db4c1d-547c-460e-bbbb-32626436b881/sysmon-preventing-docker-build?forum=windowstroubleshooting

I guess my organization pushes sysmon to our machines automatically.

Not sure why this is an issue, but it might be something worth making a ticket for

[2022-07-06 13:50] #231 closed, assigned to nobody

[2022-07-06 16:03] ghost commented on #177
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-07-06 16:03] ghost commented on #136
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-07-07 16:03] ghost commented on #130
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-07-07 16:03] ghost commented on #125
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-07-07 16:09] fschmied commented on #89
Okay, that's interesting, as @jwbrothers mentioned that [above](https://github.com/microsoft/Windows-Containers/issues/89#issuecomment-771115708), and my team have also reported seeing this. However, we were using process isolation whereas the original issue was reported with Hyper-V isolation, maybe that's the difference.

@iamjplant Could you try if you can see what @jwbrothers was reporting abo

[2022-07-07 18:29] iamjplant commented on #89
Sadly as soon as I add a `--isolation=process` to my command I run afoul of my IT department and I can't test it.  I did reconfirm that having the KSP registered locally did *not* carry over to my container w/o the `--isolation=process` argument.

[2022-07-07 20:28] michbern-ms commented on #89
@fschmied, you raise an interesting question.   Process-isolated containers are implemented with a shared kernel, whereas a Hyper-v isolated container has its own kernel.  So, I'm also curious to see if the results are consistently different in those two cases.

As a reminder, there is not really a security boundary between a process-isolated container and its host.  See:
https://docs.microsoft.co

[2022-07-09 19:10] jheaff1 commented on #213
This is an issue for me also, again when installing MSYS2 in a docker container

[2022-07-11 16:03] ghost commented on #229
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2022-07-11 17:03] ghost commented on #66
This issue has been open for 90 days with no updates.
@cwilhit, please provide an update or close this issue.

[2022-07-11 17:03] ghost commented on #47
This issue has been open for 90 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-07-11 17:03] ghost commented on #39
This issue has been open for 90 days with no updates.
@msjingli, please provide an update or close this issue.

[2022-07-12 22:49] vrapolinario opened #243 "[Feedback wanted] New Lift & Shift document"
We are about to add a large update to our documentation on Lift and Shift, adding new content to cover many topics that were never covered before. We'd appreciate feedback on the proposed new content!

You can take a look at the new Lift & Shift doc while in preview, here: https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/viniap-liftshift/virtualization/windowscontainers/quick-sta

[2022-07-14 16:03] ghost commented on #162
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2022-07-15 07:05] kkbruce opened #245 "install-containerd-runtime.ps1 add missing SYMLINKD steps"
**Describe the bug**

install-containerd-runtime.ps1 missing SYMLINKD steps ( https://github.com/microsoft/windows-container-networking/issues/70#issuecomment-1185231433 ), without `c:\etc\cni\net.d` and `c:\opt\cni\bin` of settings, `--cni` will not work.

**To Reproduce**

see: https://github.com/microsoft/windows-container-networking/issues/70

**Expected behavior**

Run with `--cni` and contai

[2022-07-15 08:33] lippertmarkus commented on #245
Copying my answer from your other issue:

The symlink setup is only needed for ctr to work, but isn't required for others like crictl or kubelet and that's why that isn't part of the runtime setup script. ctr paths have been changed in https://github.com/containerd/go-cni/pull/103/files#diff-df2b994645f533d6ced46ef610f95cfc41a3cecc099a873a9b47fadccb605b9b

[2022-07-15 09:19] slavanap commented on #47
Up

[2022-07-16 16:03] ghost commented on #180
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2022-07-17 03:06] SamCotroneo-Wymac commented on #118
Being able to run run the official nginx for windows inside a nano container would be amazing.

[2022-07-18 08:35] kkbruce commented on #210
Hi All

[code]

I downloaded https://github.com/microsoft/windows-container-networking/releases/tag/v0.3.0 and resolved the path https://github.com/microsoft/windows-container-networking/issues/70 , `--cni` is work. ( Thanks, @lippertmarkus  )

[code]

setup `crictl` from @doggy8088  blog:

[code]

`crictl info`

[code]

[code]

Until the create Pod error:

[code]

I repeated the test with Will an

[2022-07-18 09:23] chemi0213 opened #247 "MSDTC failed in AWS EKS environment when Windows Pod with GMSA configured connect to AWS RDS MSSQL instance"
Anyone buildup MSDTC successful in AWS EKS environment? I tried two case on AWS:
Case1:
APP side: EC2 Windows 2019 server with container support, setup container image with docker run mcr.microsoft.com/windows/servercore:ltsc2019
DB side: AWS RDS MSSQL with MSDTC configured, refer to AWS blog post https://aws.amazon.com/blogs/database/enabling-distributed-transaction-support-for-domain-joined-amaz

[2022-07-18 10:07] kkbruce commented on #210
Add some information

[code]

[code]

[2022-07-18 10:44] lippertmarkus commented on #210
seems like you didn't set the runtime endpoint correctly:
[code]

[2022-07-18 18:44] Howard-Haiyang-Hao commented on #149
@Eddy555, thank you for reporting the issue. Please ping this thread again if the issue persists.

[2022-07-19 02:41] kkbruce commented on #210
Script from your blog:

[code]

screen shot

![image](https://user-images.githubusercontent.com/2024682/179651947-2ff94dfa-81b0-4242-b545-6c3fc594b07e.png)

[2022-07-19 03:54] altwohill opened #248 "Can't connect to container hosted on Windows Server"
**Not sure if bug or question ;)**
Since a recent reboot, our devops build server is no longer able to connect to container images it starts.
The container starts, and states that it is forwarding the port. But I can't connect to it, and netsh doesn't show the port as listening.

**To Reproduce**
Dockerfile:
[code]
docker-compose.yml

[code]

**Expected behavior**
* ✅ `docker ps` to show the conta

[2022-07-19 09:42] krotz-dieter opened #249 "Container support for Windows 10 IoT Enterprise LTSC 2021"
**Is your feature request related to a problem? Please describe.**
We need base container images  for Windows 10 IoT Enterprise LTSC 2021 !
Currently we use 20H2 where we still can develop windows containers , this is ticking bomb which will hit our company (>1000 developers).
We cannot jump to Windows 11 and we cannot upgrade the systems with Windows Server licenses due to higher costs.
We need i

[2022-07-19 16:04] ghost commented on #212
This issue has been open for 30 days with no updates.
@mwfriedm, please provide an update or close this issue.

[2022-07-19 21:24] weijuans-msft commented on #234
@DmitrySenin Windows containers no longer supported language packs. We did when initially released with Windows Server 2016. Later on in the effort of reducing image size, we have removed those.

[2022-07-20 03:27] mwfriedm commented on #212
Definitely continues to repro.  The impact for my workload is that I can't use bind mounts to run my node.js applications (or build scripts) in a Windows container.  You can workaround this issue by making a local copy of the bind mount inside the container's filesystem.  But that's unnecessary overhead.  The same scenario works fine in Ubuntu or Centos containers using the Linux docker platform.

[2022-07-20 04:44] weijuans-msft commented on #72
Our engineer is getting close to finish the code change. Next need to test, and also figure out a shipping vehicle. Curious what OS are folks using? Windows Server 2019? Windows Server 2022? Our current engineering process is we will first make the change in the active branch which is Windows Server vNext (general Insider builds are out; we are working on getting the container Insider builds out t

[2022-07-20 07:32] Rickylss opened #251 "How can I run WSUS on winndows container."
I'm tring to run WSUS on container server:ltsc2022.  After installation, startting service failed with command: `.\wsusutil.exe postinstall CONTENT_DIR=C:\WSUS`.

This is the output of the log:

[code]

It looks like the `LanmanServer` is not started.  Start `LanmanServer` manually failed too.

[code]

By the way, I start container with `process` isolation modes instead of `hyperv` which cause `sr

[2022-07-20 09:32] mloskot commented on #72
2019, but if Windows Server 2022 release delivers NanoServer improvements, then switching to 2022 is not a problem at all.

Yes, I am interested to test any new container images of NanoServer to see if they can run my software, if I can switch over from ServerCore.

[2022-07-20 10:59] TBBle commented on #72
From the ABI stability support announced with Server 2022, as I recall, for process isolation a Server vNext container image will need a Server vNext host, but a Server 2022 container image will work on both 2022 and vNext hosts (and Windows 11). Is that accurate?

[2022-07-20 15:25] romandolinsky commented on #118
@SamCotroneo-Wymac There is windows 64bit instance of nginx in official nginx page.
But Like was mention: nanoserver with x86 support will make our life easier.

[2022-07-20 15:28] fady-azmy-msft commented on #238
Hey @sojab0on , can you share a bit more information on what you're trying to do?

[2022-07-20 15:50] Zantier commented on #118
@romandolinsky I don't want to derail this issue too much, but what makes you say that there's a 64-bit Windows build of nginx on the official site?

If I go to the downloads page, and download "nginx/Windows-1.23.1", the only exe in the zip file is "nginx.exe", which you can see is 32-bit with a hex-editor (or otherwise).

[2022-07-20 16:20] weijuans-msft commented on #251
Windows containers do not support Windows Update or WSUS. Here is our official docs on updating Windows containers.

Why did you need to set up WSUS? Are you running on a managed K8s service? If so what it is? Or you run on something else?

[2022-07-20 16:21] fady-azmy-msft commented on #248
Can you clarify what was rebooted in this scenario @altwohill ?

[2022-07-20 16:36] weijuans-msft commented on #247
Today MSDTC is supported only on limited scenarios. You can find more at our doc [here:](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/lift-shift-to-containers#applications-not-supported-by-containers). We haven't done any MSDTC validation on K8s platform either.

What is your app? Is it .NET Framework based? What version?

[2022-07-20 16:37] fady-azmy-msft commented on #34
FYI @muzz

[2022-07-20 16:44] romandolinsky commented on #118
Sorry for my mistake but source which I use in past was not official.

[2022-07-20 16:46] weijuans-msft commented on #72
@mloskot  Windows Server 2022 GA'ed last Sept hence any changes to that will be released with the shipping vehicle of the monthly patches (usually the 2nd Tue of the month). In another word, currently there is no major improvement in Nano server of the Server 2022 release. But we are and will be doing more on Windows Server vNext, and if those work out, we'll back port to Server 2022. Yeah, that t

[2022-07-20 16:51] fady-azmy-msft commented on #125
Hey @lizhuqi , are you still having this issue? If so, are you able to provide any more information about the customer scenario and configuration? This would make it easier for us to investigate this.

[2022-07-20 17:11] rohitdalvi opened #252 "Can not run nanoserver docker container"
I have a windows2019 Datacenter server without GUI. The version of OS is 10.0.17763 N/A Build 17763.
I tried to run multiple tags from the list (https://mcr.microsoft.com/v2/windows/nanoserver/tags/list) including 10.0.17763*.
But I get this error,
`Error: failed to start container "windows": Error response from daemon: container windows encountered an error during hcsshim::System::CreateProcess:

[2022-07-20 17:49] oZakari opened #253 "Windows Server 2022 Container on Windows Server 2019 Host?"
Is it possible to run a Windows Server 2022 container image on a Windows Server 2019 host? Looking at this [document](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2019%2Cwindows-11-21H2) it looks like it's not supported by Microsoft. However, the documentation states that they it still may be "possible, but not guaran

[2022-07-20 19:02] rohitdalvi commented on #252
I could not find the dockerfile for this image, it would  be  good to know what is the  command that container uses to start, as I am using this and probably thats  the reason it is not starting,
`- name: windows
            image: mcr.microsoft.com/windows/nanoserver:1809
            imagePullPolicy: IfNotPresent
            command:
            - powershell
            args:
            - Start-

[2022-07-20 19:21] altwohill commented on #248
The host server
________________________________
From: Fady Azmy ***@***.***>
Sent: Thursday, July 21, 2022 4:21:53 AM
To: microsoft/Windows-Containers ***@***.***>
Cc: Al Twohill ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Windows-Containers] Can't connect to container hosted on Windows Server (Issue #248)

Can you clarify what was rebooted in this scenario @altwohill<https://githu

[2022-07-20 22:50] fady-azmy-msft commented on #248
Got it. I've opened a MSFT internal issue (40546521) to track this issue and reached out internally.

[2022-07-21 01:42] kkbruce commented on #210
I know what's causing the problem.

When creating Pod for the first time, `crictl` will download the `k8s.gcr.io/pause:3.6` image, if the download time is over `crictl` command `timeout` option will find the above `DeadlineExceeded` error.

@lippertmarkus, thanks for your help.

[2022-07-21 04:00] #210 closed, assigned to nobody

[2022-07-21 04:08] lippertmarkus commented on #252
Nanoserver doesn't include PowerShell but you can use `cmd` instead

[2022-07-21 08:41] sojab0on commented on #238
OCI is an oracle arm based vm running ubuntu linux

When i try to pull the windows images trough docker pull command it gives that error
Same if i try it on my ubuntu based X86_64 server same error

[2022-07-21 09:20] lippertmarkus commented on #238
Windows images don't work on Linux.

[2022-07-21 13:10] mthalman commented on #252
If you want PowerShell, you can use `mcr.microsoft.com/powershell:nanoserver-1809` (see https://hub.docker.com/_/microsoft-powershell)

[2022-07-21 16:27] fady-azmy-msft commented on #249
Hey @SyngoPredevelopment thank you for writing to us. Can you clarify what is the issue with 21H2?

[2022-07-21 20:30] michbern-ms commented on #253
I think that document is our best statement of understanding: running a Server 2022 container image on a Server 2019 host is not supported.

[2022-07-21 21:20] kiashok commented on #213
Has anyone seen this issue happening on nanoserver base images? Or is it happening only on servercore?

[2022-07-22 03:06] chrismilson commented on #164
We came across the same issue recently, and we could get the desired behaviour by setting the registry key, `HKLM:\SYSTEM\CurrentControlSet\Control\WaitToKillServiceTimeout`, to something higher than the `terminationGracePeriod`.