[2020-06-03 17:50] vrapolinario opened #1 "WAC-Run new containers"
The containers extension on Windows Admin Center should enable users to run containers locally (single-node) with Docker arguments.

[2020-06-03 17:52] vrapolinario opened #2 "WAC-Pull container images"
The containers extension on Windows Admin Center should enable users to pull container images from OCI compliant repositories into the targeted container host.

[2020-06-03 17:54] vrapolinario opened #3 "WAC-Push container images to OCI compliant repos"
The containers extension on Windows Admin Center should allow users to push existing container images to OCI compliant repositories.

[2020-06-03 17:57] vrapolinario opened #4 "WAC-Create new container images"
The containers extension on Windows Admin Center should allow users to create new container images directly from the WAC UI. The goal is to have a wizard like experience on which the users can provide the configuration of the application they'd like to containerize and WAC would:
- Create the preview of the dockerfile.
- Allow edits to the dockerfile preview.
- Run the Docker Build process to crea

[2020-06-03 18:24] vrapolinario opened #5 "WAC-Create new image - Web applications"
The new Create Image functionality should support basic web applications to be containerized:
- IIS web applications from folder for static web apps.
- IIS web applications from Visual Studio solution for ASP.Net applications.
- Any application from an existing dockerfile.

[2020-06-03 18:27] vrapolinario opened #6 "WAC-Create new image - Web applications from WebDeploy"
To support customers who currently have a web application deployed on an IIS web server, the Create New Image functionality on the containers extension on WAC should allow customers to containerize an application that was exported from IIS with WebDeploy.

[2020-06-03 18:30] vrapolinario opened #7 "WAC-Create new Image - From MSI installer"
For customers trying to containerize applications that are deployed based on MSI files, the containers extension on Windows Admin Center should support MSI based applications. The new Create New Image functionality should support inputs for MSI files.

There are two scenarios for containers that should be supported:
- Applications that are deployed via MSI doesn't need an entry point.
- Applicatio

[2020-06-11 02:29] vrapolinario opened #8 "WAC-Integrate with Kubernetes"
Feedback from user at User Voice: https://windowsserver.uservoice.com/forums/295071-management-tools/suggestions/40627096--kubernetes-integrate-windows-kubernetes-in-wac

Integrate the Kubernetes Windows solution in the WAC.

Have the status from Kubelet ( like cpu/memory usage) in the WAC

Have the ability to easy check HSN networks and IPS

[2020-06-11 02:32] vrapolinario opened #9 "WAC-Make Windows Admin Center as a container"
Request from user from User Voice: https://windowsserver.uservoice.com/forums/295071-management-tools/suggestions/32408029--deployment-container-containerize

Make Honolulu available as a container image. This would be helpful for creation on semi-annual servers.

[2020-06-11 02:35] vrapolinario opened #10 "WAC-Install Container feature from Containers extension in WAC"
Request from user from User Voice: https://windowsserver.uservoice.com/forums/295071-management-tools/suggestions/38999869-containers-host-install-option

Provide an "Install" option for containers to make a server a container host

[2020-06-11 02:38] vrapolinario opened #11 "WAC-Better real-time monitoring data on WAC"
Request from user on User Voice: https://windowsserver.uservoice.com/forums/295071-management-tools/suggestions/40531138--container-managing-windows-server-inside-the-con

We have now the Container Feature in Windows Admin Center, but is it possible to manage this Windows Server Container like a Windows Server VM with WAC Features when the Container is running?

Here is some more information what

[2020-06-11 02:39] vrapolinario opened #12 "WAC-Manage Docker Swarm from WAC"
Request from user on User Voice: https://windowsserver.uservoice.com/forums/295071-management-tools/suggestions/38866393-manage-windows-docker-swarm-from-container-extensi

Ability to manage Windows Docker Swarm from Container Extension. The current container extension only allows management of containers on an individual server. It would be good to manage containers in a Docker Swarm, services, s

[2020-06-11 02:45] vrapolinario opened #13 "WAC-Run containers on Azure Container Instance from WAC"
From the Containers extension on Windows Admin Center, users should be able to select an image and run that image on Azure Container Instance.

[2020-06-11 23:15] mkostersitz opened #14 "Test Networking issue"
This is a test issue

[2020-06-11 23:16] #14 closed, assigned to nobody

[2020-06-16 19:45] brasmith-ms opened #15 "Virtualized Time Zone in Windows Server Containers"
Currently Windows containers use the host time zone by default. If a user wants to change the time zone they must change the time zone of the host. Running the tzutil executable in a Windows Server container will simply throw a lack of privileges error, and registry time zone settings are ignored upon starting the container. The only way of ensuring that the time zone is set properly is through co

[2020-06-16 19:59] brasmith-ms opened #16 "Graceful Shutdown of Windows Server Containers"
The ability to stop and start containerized workloads is critical for minimizing cost and unnecessary resource usage. Once a container is deployed there is a high probability that it will eventually need to be shut down for servicing, migration, or some other domain specific reasoning. Thus, a container must not be shut down forcibly without notifying the containerized application first. Failing t

[2020-06-18 15:48] mkostersitz opened #17 "Networking - Set custom VxLAN port during VxLAN setup"

[2020-06-18 15:52] mkostersitz opened #18 "Networking - HNS crashing repeatedly on newer builds"
Fix is ready. Needs to go through servicing pipeline.

[2020-06-18 15:53] mkostersitz opened #19 "Networking - Enable DSR mode in RS5 LTSC builds"
Servicing is in progress.

[2020-06-18 15:54] mkostersitz opened #20 "Networking - Enable Session Affinity in Kubeproxy for Windows"

[2020-06-18 15:55] mkostersitz opened #21 "Networking - Improve HNS orphaned NIC cleanup logic"

[2020-06-19 01:22] msjingli opened #22 "Performance Issue on Windows servercore container"
In prepping for general availability of Windows Server, version 2004 release, we identified a potential performance issue. This issue is noticeable compared to using Windows Server, version 1909 images.

The symptoms that we observed are:

If you use the Server Core container image to build your own image and upload to a remote container registry such as Azure Container Registry, and then you pull

[2020-06-22 04:04] vrapolinario opened #23 "Support for MSMQ on Windows Containers"
In order to containerize existing applications, MSMQ (a popular feature in Windows Server) needs to be supported on Windows Containers.

This request came from User Voice: https://windowsserver.uservoice.com/forums/304624-containers/suggestions/15719031-create-base-container-image-with-msmq-server

The MSMQ-Server role is a prerequisite for Particular NServiceBus installation. As NServiceBus handl

[2020-06-22 04:05] vrapolinario opened #24 "Add support for MSDTC on Windows Containers"
Request from User Voice: https://windowsserver.uservoice.com/forums/304624-containers/suggestions/30982237-support-for-msdtc

We have legacy .NET based business applications making extensive use of MSDTC. It will be good to have support for this role in containers to enable Lift & Shift scenarios.

[2020-06-22 04:07] vrapolinario opened #25 "Support for Edge on Windows Containers for automated UI testing"
Request from User Voice: https://windowsserver.uservoice.com/forums/304624-containers/suggestions/34081195-edge

Need Edge in a container for automated UI testing

[2020-06-22 04:08] vrapolinario opened #26 "Provide support for Office for Windows Containers"
Request from User Voice: https://windowsserver.uservoice.com/forums/304624-containers/suggestions/19686220-provide-office-support-for-containers

Many Business Application are dependent on Office to edit files or import/export of ppt or word formats. So adding office support for Containers would be a good idea.

[2020-06-22 04:11] vrapolinario opened #27 "Create base container with full GUI support"
Request from User Voice: https://windowsserver.uservoice.com/forums/304624-containers/suggestions/13785024-create-base-container-with-full-gui-support

[2020-06-22 15:53] immuzz opened #28 "[Feature] gMSA support in AKS"
Support of gMSA so that Windows applications using gMSA can run as Windows Containers on AKS.

[2020-06-22 15:58] immuzz opened #29 "[Feature] Calico Network Policy Support for Windows Containers on AKS"
Calico Network policy support for Windows Containers on AKS

[2020-06-22 16:02] immuzz opened #30 "kubelet/dockerd consume a lot of CPU on Windows node"
More details on AKS repo : https://github.com/Azure/AKS/issues/1482

[2020-06-22 16:13] immuzz opened #31 "Windows containers do not have entries in the hosts file (Single File Mapping)"
File Mounting support bug reported in K8s SIG-Windows : https://github.com/kubernetes/kubernetes/issues/70189

[2020-06-22 16:25] immuzz opened #32 "Latest Windows OS SAC and LTSC support in K8s"
From SIG-Windows K8s Community : https://github.com/kubernetes/kubernetes/issues/90142

[2020-06-22 16:28] immuzz opened #33 "Azure Spot support for Windows Containers on AKS"
https://github.com/Azure/AKS/issues/982

[2020-06-23 22:03] bplasmeijer opened #34 "As a Developer I want to be able to build Windows Containers with BuildKit"
The windows BuildKit is only supported on [Linux]( https://docs.docker.com/develop/develop-images/build_enhancements/)

![image](https://user-images.githubusercontent.com/116467/85469483-03264c80-b5ae-11ea-9027-a06d0c647d95.png)

[2020-06-24 00:44] immuzz opened #35 "Memory leak on Windows nodes, svchost.exe consumed a lot of memory"
Reported by AKS users : https://github.com/Azure/AKS/issues/1397

[2020-06-24 08:54] agowa338 commented on #34
Having Windows Admin Center on Linux would also be great.
Just saying.

[2020-06-24 09:22] agowa commented on #27
As you have asked for some user stories on twitter, I'm going to add it here to:

1. Administering shitty programmed applications that often also have the status of business critical. Having them within a container will allow scheduling within k8s. And if it crashes k8s will restart it...
1. Replacement for App-V, RDSH and RDVH. Currently with linux based containers, I often spawn a simple contain

[2020-06-24 10:29] agowa opened #36 "Windows Server Container cross-version host compatibility"
Windows containers are currently more or less strictly version bound to the same version as the host (process isolation).
I do not count Hyper-V isolation, as that is in my opinion just another kind of VM hosting and has nothing to do with containers.

Dependencies can be viewed here: https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=win

[2020-06-24 19:42] thecloudtaylor opened #37 "Windows Server 2019: LockFile lock is not released by OS when process exits"
Combining: https://github.com/moby/moby/issues/39088 and https://github.com/docker-library/mongo/issues/385 and https://github.com/StefanScherer/dockerfiles-windows/issues/349

Description from @drnybble on (moby/moby#39088) - _thank you!_

## Description

This problem is exhibited by running Mongo 4.0.8 with a named volume. If you restart Mongo it will not start because the WiredTiger.lock file r

[2020-06-25 05:11] immuzz opened #38 "Windows Server Containers hard link limit issue"
Error: An attempt was made to create more links on a file than the file system supports. More details : https://github.com/moby/moby/issues/40511

[2020-06-25 05:16] immuzz commented on #38
This is a known issue. It has been fixed in Windows OS and backported to Windows Server 2019 (1809 & LTSC), 19H1 and 20H1(2004). This will be part of July 2020 Windows Server update.

[2020-06-25 05:16] #38 closed, assigned to immuzz

[2020-06-25 08:38] tbprince commented on #9
By the way, attempted to containerize WAC on a Windows Container. It mostly worked though the Powershell tool doesn't work at all. Not sure why.

https://www.theserverside.technology/2019/11/02/how-to-containerize-windows-admin-center/

[2020-06-25 10:20] biiiipy commented on #36
This is one of those issues, that will seriously hinder the usage of windows containers. It's a huge issue for us.
This is not a issue only to those that stick to LTSC versions until the end of (extended) support (or universe's heat death), and those places are exactly the ones that don't adopt new tech like containers.

[2020-06-30 08:22] alexander-webber opened #39 "Signed Docker Images for Windows Images"
Are there any plans to sign windows images so that we can take advantage of [ACR Content Trust](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-content-trust) / image signing in Azure? There was a [forum question](https://social.msdn.microsoft.com/Forums/azure/en-US/ceebf674-ffe2-4ba8-a213-15cc7c139a22/signed-docker-images-for-windows-images?forum=AzureContainerService

[2020-06-30 18:06] immuzz commented on #35
We are looking into this issue.

[2020-06-30 20:09] immuzz commented on #35
Question from Developer : We just need to know the name of the service hosted by Svchost.exe in this case. The process dump will also help.

[2020-06-30 21:11] immuzz opened #40 "testing triage both"

[2020-06-30 21:11] #40 closed, assigned to nobody

[2020-06-30 21:55] brasmith-ms commented on #36
Hi all, thank you for this perspective! This is something that we have been aware of for a some time now and are in the midst of working on a solution to fix it.

I want to note that patch-level versions are compatible with one another, and this is mostly an issue across major versions. Security patches also apply to both user and kernel mode binaries and thus need to be updated accordingly (hence

[2020-07-01 09:31] zhiweiv commented on #35
@immuzz
Do you konw how to get the name of the service hosted by svchost.exe?
I can't find it in Task Manager. Here is the dump of svchost.exe(16504): https://rcoltest.blob.core.windows.net/public/svchost.zip

![svchost](https://user-images.githubusercontent.com/22001089/86228103-90762c00-bbc0-11ea-94b4-2298b3c6bd65.PNG)

[2020-07-01 16:32] jsturtevant commented on #35
you can get it by running the following in the cmd:

[code]

[2020-07-01 22:31] immuzz commented on #37
We are looking into this.

[2020-07-01 23:09] thecloudtaylor commented on #39
We are considering signing Windows base and derivative images as part of the [Notary V2]( https://github.com/notaryproject/requirements) effort.

Additionally all of the binaries in the base windows images are catalog signed and the base images are always distributed from a Microsoft endpoint (referred to as a non-redistributable-artifacts or foreign layer).

[2020-07-02 01:20] zhiweiv commented on #35
[code]
The memory used of 16504 was 218532k yesterday, it is 221200k now.

[2020-07-02 16:46] jsturtevant commented on #35
The reported repo steps are here: https://github.com/Azure/AKS/issues/1397#issuecomment-650860266

[2020-07-02 17:03] jsturtevant opened #41 "Docker log rotation stops after reaching limit on Docker EE 19.3.05"
Add for visibility on this project. The details are in https://github.com/Azure/aks-engine/issues/3573

[2020-07-02 18:34] keikhara opened #42 "Windows container monitoring events and logging improvement ask"
Due to the nature of docker, all console logs are pushed out thru stdout and stderr. Since Windows application places their given windows format, customer as coming back asking how can they push their logs thru docker format but able to use to troubleshoot. Some of the customer responses we see are IIS logs.

- length of the log should fit stdout/stderr
- log format should fit the common standard

[2020-07-02 19:55] mikkelhegn commented on #35
@zhiweiv - it might be a process inside one of your containers. Can you check the session ID for the process? `Get-CimInstance Win32_Process -Filter "ProcessID = 16504" | select SessionId`, If it's not `0` it's highly likely in a container. Can you also check if the memory increase correlates with container memory usage?

[2020-07-02 20:34] jsturtevant commented on #42
would this help: https://github.com/microsoft/windows-container-tools?

[2020-07-02 20:52] jsturtevant commented on #34
It is possible to use buildx (which uses buildkit) if there are [no `RUN` commands](https://github.com/docker/buildx#---platformvaluevalue) in the docker file:

[code]

[code]

It would be interesting to see if could use some windows emulator connected to Binfmt_misc as QEMU is used for other architectures

[2020-07-06 15:45] jsturtevant commented on #41
The MSFT Provider out of date and in process of being updated: https://github.com/OneGet/MicrosoftDockerProvider/issues/72

[2020-07-07 02:30] zhiweiv commented on #35
[code]

It is the process in Windows Server Core container. These outputs were ran in one container which is already up for 33 days .

[code]

[code]

[2020-07-07 03:17] zhiweiv commented on #35
A conclusion from my observation: The memory of  svchost.exe(s) keep increasing slowly(5MB ~ 10MB per container per day) in Windows Server Core containers(.net framework app). It is a big problem for long running pods, for example there are 20 pods in one host, it will eat 3GB ~ 5GB per month, we have to restart these pods regularly to release memory.

[2020-07-07 13:44] mthalman commented on #35
Which Windows version are the containers running?

[2020-07-07 14:59] zhiweiv commented on #35
Host OS and Container OS are all 10.0.17763.1158, however it reproduced in previous older Windows version too.

[2020-07-07 15:30] jorgearteiro commented on #34
There is an issue logged on BuildKit repo https://github.com/moby/buildkit/issues/616

[2020-07-08 05:17] TBBle commented on #34
@jsturtevant If you wanted to go down that path, I believe Wine can be used with binfmt_misc, although I'm not sure how well that would work with namespaces since there's a WineServer and configuration directory to create, and you probably don't want that in the final image...

It would be easier to prototype that on a raw Linux box than via the Linux support in Docker on Windows, I think.

[2020-07-08 05:26] TBBle opened #43 "go-winio fails to import layers with a file larger than 8gB"
Mirroring https://github.com/moby/moby/issues/40444 as it appears to be a HCS-level issue.

----

**Description**

When trying to create a container on Windows with a file larger than 8gB (8,589,934,592 bytes of random data is my test-case), Docker fails to commit the layer, giving an error along the lines of [`re-exec error: exit status 1: output: write \\?\C:\ProgramData\docker\tmp\hcs816749287\

[2020-07-14 23:52] immuzz opened #44 "GMSA with Windows Containers doesnt work with ContainerD"
When using the ContainerD runtime (Feature State: Kubernetes v1.19 [beta]) accessing restricted network shares via the GMSA domain identity fails. The container will receive the identity of and calls from `nltest.exe /query` will work. It is recommended to use the Docker EE runtime if access to network shares is required.

[2020-07-15 00:00] immuzz commented on #44
We are working to fix this issue. Currently this affects Windows Server 2019, 1903, 1909 and 2004. We are planning to fix it in 2004 first and then backport to 2019, 1903 and 1909. Current rough ETA for backporting is 2-3 months

[2020-07-15 21:43] immuzz commented on #43
@weijuans-msft will look into this

[2020-07-15 21:48] immuzz commented on #42
Adding to the backlog. It will be prioritized on the next planning cycle.

[2020-07-15 21:57] immuzz commented on #19
cc: @daschott

[2020-07-15 22:00] immuzz commented on #29
cc: @mkostersitz

[2020-07-15 22:01] msjingli commented on #22
The PR is already in Moby. It has got one approval and targeted towards 19.03.13 for Docker EE.

[2020-07-15 22:02] immuzz commented on #31
Expected to land in Windows OS for September 2020 (For 2004, 1909, 1903 and 2019)

[2020-07-15 22:57] daschott commented on #19
Assuming there are no unexpected showstoppers (regressions, etc.) in the cumulative update that ships, this is tentatively scheduled to be included in the August 8C cumulative update.

That being said, for K8s scenarios, there are version checks in kube-proxy to disable this feature on RS5 which still need to be addressed.

This has already been done in hcsshim: https://github.com/microsoft/hcsshi

[2020-07-16 03:38] daschott commented on #19
The kube-proxy changes can be tracked here: https://github.com/kubernetes/kubernetes/pull/93080#pullrequestreview-449420461

[2020-07-18 20:58] Kellendros007 commented on #37
### I found another interesting fact about this error.
If you try consistently CreateFile, LockFile, CloseFile, OpenFile with file in mounted dir, on OpenFile you get error, or application will infinitly waiting, but if you add Sleep after close file, it will be fine (for my machine delay ~34sec). This problem occurs only if file placed in mounted dir.

### Steps to reproduce the issue:

0. VS2019

[2020-07-24 21:01] jsturtevant commented on #41
The package has been updated

[2020-07-24 21:01] #41 closed, assigned to cwilhit

[2020-07-27 07:51] TBBle commented on #43
Reproduction case using `wclayer` utility from https://github.com/microsoft/hcsshim/pull/852.

Given an 8 GB file named 8gfile, e.g.
[code]

and _mcr.microsoft.com/windows/nanoserver:2004_ extracted to _C:\ProgramData\containerd\root\io.containerd.snapshotter.v1.windows\snapshots\763_, although any base layer should work.

and a ton of disk space (there's going to be up to three copies of the 8 GB

[2020-07-27 09:16] TBBle commented on #43
On top of my last comment, it also looks like there's issues with the gzip stream produced by wclayer. If I use the non-upgraded-gowinio wclayer and instead export with:
[code]

We get:
[code]

So the .tgz is slightly larger than the .tar, which kind-of makes sense since the only thing in the tar file is 8GB of random data, so it won't compress well.

Windows-shipped `tar` does not like the compre

[2020-07-28 23:48] christian-korneck opened #45 "docs for Host Compute Service (HCS) API"
I wonder if there's a reference documentation for the Host Compute Service (HCS) C API and/or the Golang/.NET bindings for it? Both are mentioned here, but I lack to find any docs about it?

https://docs.microsoft.com/en-us/virtualization/community/team-blog/2017/20170127-introducing-the-host-compute-service-hcs#feedback

(Just to say, I'm not looking to replicate Docker/Moby functionality but am

[2020-07-28 23:53] christian-korneck opened #46 "docs for Host Compute Service (HCS) API + bindings ?"
I wonder if there's a reference documentation for the Host Compute Service (HCS) C API and/or the Golang/.NET bindings for it? Both are mentioned here, but I lack to find any docs about it?

https://docs.microsoft.com/en-us/virtualization/community/team-blog/2017/20170127-introducing-the-host-compute-service-hcs#feedback

(Just to say, I'm not looking to replicate Docker/Moby functionality but am

[2020-07-29 02:13] christian-korneck commented on #45
Duplicate of #46

[2020-07-29 02:13] #45 closed, assigned to nobody

[2020-08-12 09:12] zhiweiv commented on #26
Any plan or progress?

[2020-08-12 20:43] vrapolinario commented on #26
Hi @zhiweiv, this item is still under our backlog. We'd love to better understand the scenarios on which this would be needed so if you have more details on this ask, we'd love to hear it.
Thanks.

[2020-08-13 07:56] zhiweiv commented on #26
We use Outlook MAPI to manipulate pst files, in existing architecture we install office 2013 to Azure VM, then run our application in Azure VM.

We are on the way to containerize our applications, office is blocker for this type of workload.

[2020-08-13 23:00] vrapolinario commented on #26
Thanks for the details @zhiweiv. Just to confirm, you need Outlook support on containers to run the referenced application, not the whole Office package, correct? Also, can you share more details on the manipulation of PST files? Just trying to understand the goal of your application so we can provide the best alternative or take this internally for analysis.
Thanks!

[2020-08-14 10:53] conioh commented on #46
This is super-critical.

[hcsshim](https://github.com/microsoft/hcsshim) is terrible, [dotnet-computevirtualization](https://github.com/microsoft/dotnet-computevirtualization) hasn't beenupdated for two years, and the header files in the Windows SDK are incomplete.

For example, [dotnet-computevirtualization](https://github.com/microsoft/dotnet-computevirtualization) uses `vmcompute!CreateSandboxL

[2020-08-14 11:30] conioh commented on #46
Another issue that's missing documentation is everything related to the foreign layers being used by Docker on Windows and HCS.

Lets say I downloaded a tar/gzip/whatever from mcr.microsoft.com. How do I extract it into a working layer that HCS will accept? How do I handle the data in `PaxHeaders.0`? I can guess, but I'd like to see it documented. Is there anything else that needs to be done?

[2020-08-14 11:41] christian-korneck commented on #46
I think the `hcsshim` README could get some improvement. I think a quickstart example for how to create and run a container with the example cmdline tools would be a great entry point.

After playing a bit with hcsshim, here's what helped me:

- the code is well commented, looking at it with godoc provides at least some reference: https://godoc.org/github.com/microsoft/hcsshim
or https://pkg.go.de

[2020-08-14 11:52] christian-korneck commented on #46
You can run `docker pull <image>` to get the layers (they're stored in `%programdata%`) and use them with `wclayer.exe` (from the `hcsshim` example tools). I think this should fully answer your question:
https://github.com/microsoft/hcsshim/issues/435#issuecomment-455774190

[2020-08-14 12:02] christian-korneck commented on #46
But - just to audit this issue a bit - what's entirely missing are docs for the "public" HCS C API (at least I couldn't find them yet).  I would have expected to find them next to the docs for all the other Win32 APIs.

[2020-08-14 12:38] conioh commented on #46
I don't want to use `docker pull` nor any other docker command. Had I wanted to do this... I would have done it.

I want _developer_ documentation so that I could write _code_ that interacts with and uses the HCS.

I repeat again that hcsshim is terrible and the fake docs you linked to are useless. It's really hard to believe you looked at them before writing this.

![image](https://user-images.gi

[2020-08-14 13:34] christian-korneck commented on #46
as far as I can tell `pull` isn't provided by `hcs`, it's a higher level feature of Docker/Moby.

I don't think it's intended that users create their own Windows container base image from scratch. You have to use one of the Microsoft provided ones, like `windows/nanoserver`, `windows/servercore`, `windows`. It also wouldn't make much sense to create your own one from scratch. Unlike with Linux con

[2020-08-15 10:22] christian-korneck commented on #46
@conioh I just wrote a quick blogpost [link](https://poweruser.blog/hands-on-windows-container-internals-c9782d0115ff) with an example for running a simple container. Maybe it helps with your problem (maybe not).

[2020-08-17 06:58] zhiweiv commented on #26
We use Redemption(http://dimastr.com/redemption/home.htm) to add mail/folder/contact etc to pst files. Redemption has dependency on Outlook.

The application we are about to containerize is a legacy service, it is unlikely to make big changes to use other solution.

[2020-08-18 00:22] vrapolinario commented on #26
Thanks for the additional details @zhiweiv. We'll take this internally and check what we can do from the container platform. For now this item will continue on our backlog, but we'll update once have any news.
Regards.

[2020-08-24 01:20] agowa opened #47 "UI automation"
Support UI (and UI automation) the windows ecosystem sadly is often "UI first" when it comes to software design. And the powershell/command line interfaces are not available or not documented at all. It would be great for sysadmins to be able to encapsulate these applications in containers, so that they are no longer bound to a single host and can be put into a k8s cluster without requiring someth

[2020-08-24 01:32] agowa opened #48 "Domain Join as computer account"
Allow containers to be domain joined even if the host is not or even joined to a different domain.
Containers are meant to be a stripped down userland that contains everything the application needs to run without interacting with "the world outside the container".
Therefore the current approach of integrating containers into a domain by using service accounts is not great.

If I'm maintaining e.g.

[2020-08-24 01:49] agowa opened #49 "Push for stateless software design"
Currently stateless software is more the exception than the norm within the windows ecosystem. For windows containers this is quite a challenge to overcome, as containers are not designed for stateful software. They are basically a tool to package an application without it's data. Therefore by design the application needs to be stateless and being able to resume from just it's database/files. For

[2020-08-24 02:33] agowa opened #50 "Smaller, compactor and dependable codebase"
Windows is currently a big blob of proprietary software that changes between version without any way of referencing that your application needs either at least some specific library version or specific feature to be enabled. Even though there are manifest files for programmers, there is no way to provide this in a comparable way like package managers do. And the lack of a good package manager is j

[2020-08-24 19:26] vrapolinario commented on #47
Thanks for opening this issue @agowa338.
Have you checked the Windows base container image? (Not Server Core or Nano Server)
This image does provide support for UI automation - the downside comes with the size of the image, but the scenario should work.

[2020-08-24 20:50] agowa commented on #47
Ok, than it might be documentation. I was looking for this for some time, but only found stuff like this though:

* [Sorry no. Microsoft specifically isn't supporting RDP or GUI's in containers, as far as I know. (...) but if you're trying to develop a desktop app, then containers aren't ideal.](https://github.com/BretFisher/ama/issues/72)
* [Microsoft made a change sometime after microsoft/window

[2020-08-26 08:04] wumingcp commented on #38
Hi @immuzz, I still faced the same issue when using Windows Server version 17763.1339.2007101755, can you help on this? thanks

## Docker info:
Containers: 1
 Running: 1
 Paused: 0
 Stopped: 0
Images: 74
Server Version: 18.09.7
Storage Driver: windowsfilter
 Windows:
Logging Driver: json-file
Plugins:
 Volume: local
 Network: ics l2bridge l2tunnel nat null overlay transparent
 Log: awslogs etwlogs

[2020-08-26 16:30] weijuans-msft commented on #46
Just a quick update: our engineering team is in the process of documenting the HCS C APIs; however there is no plan to further maintain or document the .NET wrapper.  In fact, there will be limited documentation on Docker/Moby related APIs going forward. We are transitioning from Docker/Moby to containerD, hence I'd suggest the community to transition with us and leverage those higher level abstra

[2020-08-26 23:43] daschott commented on #20
See https://github.com/kubernetes/kubernetes/pull/91701

See 1.19 docs: https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#load-balancing-and-services

[2020-08-27 17:03] marosset commented on #31
@immuzz do you know yet if this will be in the Sept 2020 updates for Windows Server 2019?

[2020-08-28 23:53] mkostersitz opened #51 "Calico for Windows Open Source availability"
With 3.16 Calico for Windows is now available in open source in line with the Linux version. This is now available for all customers deploying on premises. AKS integration will come soon.

[2020-08-31 21:32] immuzz opened #52 "Nano Server SAC1809 Container Image Support now extended to Jan 2024"
Current support for Nano server 1809 ends on 11/10/2020. Whats the long term plan for support of Nano server Images for SAC and LTSC?

[2020-09-01 16:52] weijuans-msft commented on #52
We appreciate the community's interest in Nano Server containers and generally Windows containers. Thanks:). For Nano Server container released with Windows Server version 1809, as Muzz called out, we are fully aware currently it goes out of support on 11/10/2020. We are aware of the need from the community to extend it and are actively working on that. The current rough ETA to have that approval

[2020-09-02 04:37] giangpham05 commented on #15
I'd like to see this feature coming out as well. There are a number of use cases we want to be able to change the time zone. It would be ideal if we could do that through docker/AKS arguments, leaving the host's timezone untouched.
Something like `docker run -e TZ=Australia/Brisbane my-windows-image` as we would with Linux's.

[2020-09-02 14:20] jayeekayoh commented on #15
I agree. The inability to set a container timezone independent from the host is a significant limitation. In scenarios where applications need different timezones, the only solution is to sort them onto corresponding hosts with matching timezones.  This is not the most convenient workaround in platforms where time consistency across hosts and infrastructure is critical for logging and troubleshoot

[2020-09-03 06:02] zhiweiv commented on #35
Any update?

[2020-09-03 18:45] brasmith-ms commented on #15
Hi all, thank you for raising your concerns here. The fix for this is actively in development and I will keep you all in the loop once it is ready for release. We recognize the importance of this issue so we're working to get the solution out as fast as possible.

Again if you have specific concerns that you would like to mention I would be happy to hear it. Always helps me to hear customer use ca

[2020-09-03 20:37] Kellendros007 commented on #37
Any news, after 2 month?

[2020-09-09 20:55] vrapolinario commented on #9
We are continuing to evaluate this request. We'd love to hear more details on what are the needs for WAC as a container.

[2020-09-09 20:57] vrapolinario commented on #12
We continue to evaluate this functionality. We'd love to better understand how important this functionality is and what customers expect to have.

[2020-09-09 20:58] vrapolinario commented on #23
The team is now investigating this functionality. We'd love to have customers help us validate the operation of MSMQ on Windows Containers. Please let us know if you'd like to support this.

[2020-09-09 20:58] vrapolinario commented on #24
The team is now investigating this functionality. We'd love to have customers help us validate the operation of MSDTC on Windows Containers. Please let us know if you'd like to support this.

[2020-09-09 22:01] immuzz commented on #30
@zhiweiv Are you still experiencing this?

[2020-09-09 22:04] immuzz commented on #32
K8s community is has commited to supporting latest Windows Server LTSC release and 1-2 latest Windows SAC releases. https://github.com/kubernetes/kubernetes/issues/90142

[2020-09-09 22:04] #32 closed

[2020-09-09 22:08] immuzz commented on #33
This is now in Public Preview. Closing it now

[2020-09-09 22:08] #33 closed

[2020-09-09 22:42] vrapolinario commented on #4
This feature is now in preview. Please add bugs as new issues.

[2020-09-09 22:42] #4 closed

[2020-09-09 22:42] vrapolinario commented on #1
This feature is now in preview. Please add bugs as new issues.

[2020-09-09 22:42] #1 closed

[2020-09-09 22:42] vrapolinario commented on #3
This feature is now in preview. Please add bugs as new issues.

[2020-09-09 22:42] #3 closed

[2020-09-09 22:43] vrapolinario commented on #2
This feature is now in preview. Please add bugs as new issues.

[2020-09-09 22:43] #2 closed

[2020-09-09 22:43] vrapolinario commented on #5
This feature is now in preview. Please add bugs as new issues.

[2020-09-09 22:43] #5 closed

[2020-09-09 22:43] vrapolinario commented on #6
This feature is now in preview. Please add bugs as new issues.

[2020-09-09 22:43] #6 closed

[2020-09-09 22:50] vrapolinario commented on #10
The team has now completed the work on this feature and it will be available on the next update of the Containers extension for WAC.

[2020-09-09 23:08] vrapolinario commented on #42
The Log Monitoring tool above should provide the ability to extract logs from Windows Containers to Docker Logs. The IIS team is currently working on enabling the tool on their image. Their current Insider image has it enabled: https://hub.docker.com/_/microsoft-windows-servercore-iis-insider

We'll close this for now and reopen if there's a request to improve the tool.

[2020-09-09 23:08] #42 closed, assigned to vrapolinario

[2020-09-09 23:16] vrapolinario commented on #49
Thanks for the inputs @agowa338. Most of the notes you made are not technical implementations on the platform, but design patterns that developers should be following. We have a bunch of documentation and developers tools to support that - although we can always improve on these.
From the above, the actionable item is the package Manager. This is something we're currently looking into but nothing

[2020-09-10 00:53] zhiweiv commented on #30
Haven't seen this since then, probably this issue can be closed.

[2020-09-11 01:46] kkbruce opened #53 "Windows Server 2004 use docker-compose create multi NAT network HNS process is CPU high"
Hi Sir

I feedback Windows Server 2004 and Windows Container issue in https://github.com/docker/for-win/issues/8423

stephen-turner say:  Docker Enterprise for Windows Server, support is provided by Microsoft.

I don't know where can contact Microsoft with this issue. Could you confirm this issue or provide a contact address for me?

[2020-09-15 16:41] jingxu97 opened #54 "File permission changes with RunAsUserName"
https://kubernetes.io/docs/tasks/configure-pod-container/configure-runasusername/,
Here it introduced a feature to RunAsUseName in Kubernetes. So want to verify whether there is any file permission implications when using this feature.

This is just a general right now for the record. I will try to test later about it.

[2020-09-16 16:08] vrapolinario commented on #8
At this point we are starting to evaluate some basic scenarios for Kubernetes integration. We will close this issue and open specific items for the new functionality.

[2020-09-16 16:08] #8 closed

[2020-09-16 16:16] vrapolinario commented on #7
Moving this back to planned given changes on priorities. Please do let us know if this is a functionality you are interested on.

[2020-09-17 10:17] wilsncc commented on #37
@immuzz Shouldn't this be labelled as a bug? This is surely not expected behaviour.

[2020-09-17 16:00] ghost commented on #45
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2020-09-17 16:00] ghost commented on #44
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-09-17 16:00] ghost commented on #43
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2020-09-17 16:00] ghost commented on #41
This issue has been open for 30 days with no updates.
@cwilhit, please provide an update or close this issue.

[2020-09-17 16:00] ghost commented on #40
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@taylorb-microsoft, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #36
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #27
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #26
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #25
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #22
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #21
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #19
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #18
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #17
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #16
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #14
This issue has been open for 30 days with no updates.
, please provide an update or close this issue.

[2020-09-17 16:01] ghost commented on #11
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-09-17 16:19] TBBle commented on #43
Update from my side: https://github.com/microsoft/go-winio/pull/175 has been merged, and there outstanding PRs for Docker Engine (https://github.com/moby/moby/pull/41430) and the hcsshim Go library (https://github.com/microsoft/hcsshim/pull/876) to upgrade to the fixed version of go-winio.

I'm hopeful that the revendoring can be backported into Docker Engine 19.03 as a bug-fix, but have not had a

[2020-09-17 16:43] TBBle commented on #34
Current status of my work on https://github.com/moby/buildkit/issues/616 is that it's stalled waiting on a pile of 4 containerd PRs to be reviewed and advanced. The top of the stack is https://github.com/containerd/containerd/pull/4419, but there's some outstanding design questions on the top two PRs regarding HCS behaviours, see https://github.com/microsoft/hcsshim/issues/853, but the bottom two

[2020-09-18 16:00] ghost commented on #39
This issue has been open for 30 days with no updates.
@taylorb-microsoft, please provide an update or close this issue.

[2020-09-18 16:00] ghost commented on #19
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-09-18 18:12] keikhara opened #55 "Liveness/readiness probe for applications running on windows containers"
We are seeing many customers running a lot of processes on windows container since the base image is too expensive. Due to this, monitoring is very weak since they need to monitor many processes. The k8s readiness/liveness probe will work for a simple process but when it comes to this, it is hard to monitor. Customers are asking as way to monitor all the processes inside.

 It would be good if you

[2020-09-21 08:57] zhiweiv opened #56 "Custom CA certificate disappears in Windows Container"
We are trying to import CA certificate to Cert:/LocalMachine/AuthRoot during application start. The import is successful, however after 35mins~40mins, the certificate is gone from Cert:/LocalMachine/AuthRoot.

At the beginning there are 2 built-in certificates, after import there are 3. But after 35mins~40mins you will find only built-in certificates left, the custom CA certificate is gone.

The c

[2020-09-21 18:57] vrapolinario commented on #56
Thanks for bringing this to our attention @zhiweiv.
We have created an internal bug and the team will investigate this issue.

[2020-09-22 13:35] prabh-62 opened #57 "Provide base image for windows containers - < 100 MB"
Original Thread: https://github.com/dotnet/dotnet-docker/issues/2257

- `nanoserver:2004(amd)` - `262 MB`
- `nanoserver:1909(amd` - `256 MB`
- `nanoserver:sac2016` - `1171 MB`

Microsoft recommends [smaller docker image sizes](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-faq#how-can-i-speed-up-the-deployment-of-my-container) and alpine variant of Windows would hel

[2020-09-22 16:07] marosset commented on #31
@immuzz Did these updates land in 9B updates for Windows Server 2019?

[2020-09-24 11:03] zhiweiv commented on #35
The memory usage of svchost.exe looks good with following OS version, it is not beyond 30MB after a few days with the previous setting.

Publisher: microsoft-aks
Offer: aks-windows
SKU: 2019-datacenter-core-smalldisk-2008
Version: 17763.1397.200820

[2020-09-24 16:00] ghost commented on #48
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-09-24 16:00] ghost commented on #47
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-09-26 16:00] ghost commented on #50
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-09-26 16:00] ghost commented on #46
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2020-09-26 16:00] ghost commented on #20
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-09-27 00:44] slavanap commented on #47
Same. We need official way for UI automation.

[2020-09-27 17:52] Hvid opened #58 "ServerCore base image with added features"
Please either make it possible to add capabilities to containers:
Add-WindowsCapability -Online -Name ServerCore.AppCompatibility~~~~0.0.1.0

Or provide a base image with the compatibility feature added.

Thanks

[2020-09-28 16:00] ghost commented on #51
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-09-30 18:28] hanlins opened #59 "HNS Endpoint DNSSuffix not taking effect"
Environment:
[code]

My team is working on kubernetes CNI support for windows container, and we need to add a DNS suffix search list to container network. By passing the DNS search list to `DNSSuffix`, seems we configured the HNS endpoint correctly:
[code]
As we can see above, `DNSSuffix` is set to `svc.cluster.local,cluster.local`. The in-cluster DNS service (`kube-dns` with virtual IP `10.220.0.

[2020-09-30 19:15] vrapolinario commented on #58
Thanks for opening this issue @Hvid. Our team is currently evaluating an option for adding features/components/capabilities to the Windows base images. Can you please share more details on your request? What is the scenario you want to enable - from the example you provided, it seems like you're looking for the AppCompatibility feature - is that it?

[2020-09-30 19:33] vrapolinario commented on #12
At this point we are not commiting work on this functionality. With the release of the public preview of AKS-HCI (which has a WAC UI) we believe we are addressing the market need for better tooling for container orchestration (K8s based) for on-premises.

[2020-09-30 19:33] #12 closed

[2020-09-30 19:58] michmike commented on #59
@daschott, can you please take a look at this issue
cc: @marosset

[2020-09-30 20:16] mkostersitz commented on #59
@daschott is out of the office right now. I will take care of it.

[2020-10-01 06:54] Hvid commented on #58
We're hosting legacy applications in Windows containers. These are applications out of our control, so we can't make code changes. These applications depend on old components like cdosys.dll, access 2000 databases and so on. They work with the Windows base image, but that isn't really optimal, as it's huge and seem to be the client OS. The AppCompatibility feature should be able to solve our issue

[2020-10-02 16:00] ghost commented on #52
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2020-10-04 16:00] ghost commented on #15
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-10-05 12:33] alexis-spx opened #60 "Docker "Windows Error Reporting" crash dump for StackOverflowExceptions not wokring"
I am not sure if I have missed some sort of configuration or something, but I cannot seem to get windows error reporting to create a dump file when a dotnet application crashes with a stack overflow or out of memory exception in a windows docker container.  With the same configuration added to my local machine these dump files are created as expected.

I have created a minimum repo here https://gi

[2020-10-05 13:54] MatheusLFreitas commented on #15
Hello @brasmith-ms Do you have any updates on this issue?

[2020-10-06 17:01] daschott opened #61 "Pod to service connectivity issues on August and September cumulative updates on Windows Server 2019"
In Kubernetes on Windows Server,  DECAP_IN VFP layer gets dropped on 8C and 9B cumulative updates on Windows Server 2019 when HNS service gets restarted. That may cause pod -> service traffic to fail in some cases and configurations.

If a Windows Server 2019 machine needs to be restarted, a workaround to try out is to:
[code]
This regression will be resolved in the cumulative update being release

[2020-10-06 20:50] #10 closed

[2020-10-06 20:51] vrapolinario commented on #13
The team is currently working on this and it will be available on the next Container extension update.

[2020-10-07 19:04] awakecoding commented on #37
Now that https://github.com/docker-library/mongo/issues/385 was closed in favor of this ticket, will this get worked on? It's a shame that MongoDB Windows containers literally have no chance of working correctly on their own at this point.

[2020-10-07 20:45] reisbel commented on #27
@vrapolinario Do you have plans to add this feature to the Windows Containers? When do you expect to release it?

[2020-10-07 21:48] #46 closed, assigned to weijuans-msft

[2020-10-07 21:51] mkostersitz commented on #59
We are investigating the issue right now. Will update as soon as we have news

[2020-10-07 21:53] mkostersitz commented on #51
Calico for Windows is now available in open source at https://projectcalico.org

[2020-10-07 21:53] #51 closed, assigned to mkostersitz

[2020-10-07 21:55] mkostersitz commented on #21
This is fixed in newer SAC releases in Windows Server. There are no plans right now to backport it to RS5 or earlier versions

[2020-10-07 21:55] #21 closed

[2020-10-07 21:57] mkostersitz commented on #20
This is available now in Kubernetes 1.19

[2020-10-07 21:57] #20 closed

[2020-10-07 21:58] mkostersitz commented on #19
DSR is now available in Windows Server 2019 with the 8B update installed. Note we have discovered and fixed a regression which can cause HNS policies not re-hydrate correctly upon restarting the service. The fix for that will be available in the 11B update in November

[2020-10-07 21:58] #19 closed

[2020-10-07 22:00] mkostersitz commented on #18
This has been serviced 2004 in the 9B update

[2020-10-07 22:00] #18 closed

[2020-10-07 22:01] mkostersitz commented on #17
The changes for this have been backported to 1909 and are available in all Windows Server version >= 1909. There are no plans to backport this to RS5 due to the size and impact of the change required

[2020-10-07 22:01] #17 closed

[2020-10-07 22:02] mkostersitz commented on #53
We are going to route this issue to Docker Enterprise support.

[2020-10-08 05:34] weijuans-msft opened #62 "Windows Server version 2004 GA"
Windows Server, version 2004 is a Semi-Annual Channel (SAC) Release. In our most recent Windows Server SAC releases, we’ve optimized for containers. In this release, we continued improving fundamentals for the core container platform such as performance and reliability. We’ve also worked with .NET team and PowerShell team and further optimized image size and performance for Server Core containers.

[2020-10-08 05:45] #62 closed, assigned to weijuans-msft

[2020-10-08 06:30] daschott commented on #59
@hanlins
DNS Resolver on Windows treats any domain name with a . in it as if it was FQDN:
https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#dns-limitations

This is a platform difference that may be possible to investigate. Can you elaborate more details explaining why resolution for `kubernetes.default` is needed?

As for setting domain, can you try sett

[2020-10-08 15:41] msjingli opened #63 "[feature]Calico Network policy support for Windows Containers on AKS-HCI"
Calico Network policy support for Windows Containers on AKS-HCI

[2020-10-08 16:51] alib-ms opened #64 "Customer Issue: Missing Fonts on Server with reduce footprint (Nano and potentially Server Core)"
We received following email from a customer who is using containers with Windows Server Nano/Core which doesn’t have the system fonts built-in because these are Servers with reduce footprint.  e.g. the Nano Server only has the Lucida Console available. Would it be possible to provide a method to download font packages on these Windows Servers editions?

Dear Basit,

We are an ISV developing produc

[2020-10-08 19:06] vrapolinario commented on #27
While we understand the appeal of the scenarios above, simply adding support for full desktop would make the image even bigger than it is today, and we've been trying to go the opposite direction.

For automated UI testing, we have a Windows image that supports that. And part of the feedback on that image is on the size as well. A full blown Windows container with UI support would be even bigger.

[2020-10-08 19:06] #27 closed

[2020-10-08 23:10] yylai commented on #15
Hi,

We are also interested in any updates & the progress of this issue as it might impact our design/plan for migrating legacy applications into AKS windows containers.

Thanks!

[2020-10-09 00:40] msjingli opened #65 "[feature]gMSA v2 support on Windows AKS-HCI"
Current version of gMSA will require the nodes to be in a domain. gMSAv2 is not required domain joined.

[2020-10-09 00:56] msjingli opened #66 "[feature] Support containerd as container runtime in AKS-HCI"
Currently container runtime is docker, we'd like to move container run time to containerd.

[2020-10-10 16:00] ghost commented on #49
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-10 16:00] ghost commented on #30
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-10-10 16:00] ghost commented on #24
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-10 16:00] ghost commented on #23
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-10 16:00] ghost commented on #9
This issue has been open for 30 days with no updates.
@vrapolinario, @immuzz, please provide an update or close this issue.

[2020-10-12 18:23] hanlins commented on #59
Hi @daschott thanks for getting back! I see, that's interesting, we haven't checked the [windows specific doc](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#dns-limitations) you mentioned, so I think this issue is prevalent for all current CNI solutions. We found the issue in both our proprietary implementation as well as [Antrea](https://github.com/v

[2020-10-12 20:41] immuzz commented on #31
Yes these are part of 9C release

[2020-10-12 20:41] #31 closed

[2020-10-13 04:28] ydp commented on #59
Hi @daschott , I will try to setup a new env and get more info here. In the mean time, can you help explain that windows only have 1 DNS suffix with pod namespace? Does this suffix need we pass in or the container automatically find this suffix? Since from our tests for antrea, we already passed  `$namespace.svc.cluster.local` in, but the query never try to append any suffix at all, which is why o

[2020-10-13 06:15] biiiipy commented on #58
Not to hijack the thread but it would be great if MS created a smaller image that includes http.sys stuff, so Windows Authentication would work in a Nano-like image. Server Core works, but it's huge and we only really need Windows Authentication to work. Or make it possible to add features to base images or remove unneeded stuff from bigger images...

[2020-10-13 06:18] biiiipy commented on #64
We struggled with the same issue couple of weeks ago. We use Server Core image that also has only Lucida Console in it. We tried different hacks to add fonts to windows image, but that didn't work. Thankfully we were able to code around this issue. It would be great if there was a documented way how to add them properly to our images (we definitely don't want them built in by default, because font

[2020-10-13 19:35] daschott commented on #61
The ETA for the fixing patch is next week. For those impacted users that need a (test-signed!) fix ahead of next week, please reach out to your Microsoft customer support contact to request such.

[2020-10-13 20:35] llyons commented on #61
when you say

pause  kube-proxy

what are you meaning there.    Pause just puts up a prompt to press any key to continue.

does <restart> mean reboot the system?

[2020-10-13 21:45] daschott commented on #61
What I mean, is to stop the kube-proxy such that no HNS policies are being re-created after you ran `Get-HNSPolicyList | Remove-HNSPolicyList` as a result of kube-proxy actively running on the system.

[2020-10-14 11:05] ydp commented on #59
Hi @daschott  here is what I got:

cni configuration:
[code]
DNS Suffix in windows container:
[code]
You could see we have `default.svc.cluster.local` passed in.

Look up FQDN in container success:
[code]

Look up PQDN in container failed:
[code]
It's looking for `kubernetes`, not `kubernetes.default.svc.cluster.local`.

* Could you please help point where is wrong in our configuration?

* Do we n

[2020-10-14 16:56] vitaliy-leschenko commented on #61
KB4577668 has been released on October 13, 2020 (OS Build 17763.1518).
Does it fix the issue?

[2020-10-14 17:11] daschott commented on #61
No, this still has the issue. The next KB should have the fix. ETA is October 20th

[2020-10-14 18:10] daschott commented on #59
@ydp thanks for following up - have you tried using `resolve-dnsname` cmdlet?

The thing about nslookup is that it doesn’t use the Windows DNS client resolver. It should not be used for testing DNS connectivity on Windows.

https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#dns-limitations

[2020-10-15 01:22] ydp commented on #59
Hi @daschott  thanks for pointing out the cmdlet, I have tried, seems it works fine, but nslookup not as I present before. Here is my result:

[code]

@daschott   Could you please help share some insights about how to verify if other tools used Windows DNS client resolver? I have a test for ping, seems it works fine too.

[2020-10-15 14:57] thovipe commented on #15
Hi, @brasmith-ms and @vrapolinario
Do you guys have an update?

[2020-10-16 16:00] ghost commented on #54
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-10-16 20:57] jingxu97 opened #67 "Verify Privileged container access volumes/disks on host"
Can privileged container allows accessing volumes/disks on hosts from inside the container?
CSI storage driver need to run Get-Disk/Get-Volumes/Format-disk to perform storage related operations on host's disks/volumes etc.

[2020-10-16 21:01] jingxu97 commented on #67
cc @immuzz @marosset

[2020-10-16 21:08] immuzz commented on #67
cc : @ambguo

[2020-10-16 21:12] dcantah commented on #67
@jingxu97 Yes, anything a normal process on the host can do a privileged container will be able to do. If the host has powershell and access to these cmdlets then the answers yes.

[2020-10-16 22:36] kevpar commented on #54
The `RunAsUserName` feature will change the underlying Windows user context that the container runs under. This user must be one that is present in the container image. Each file and directory has a set of ACLs that control which users have permissions to interact with it. You can view these permissions with the `icacls` command inside the container.

For the base images Microsoft provides (e.g. `

[2020-10-16 23:09] weijuans-msft commented on #52
I thought this will be great news to close the week:) -

We now have the approval to extend Nano Server container SAC1809 to be supported to Jan 2024, same as the Server Core container LTSC2019 mainstream support end date.

Woohoo~~

[2020-10-17 16:00] ghost commented on #7
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #44
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #36
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #26
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #25
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #22
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #16
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-10-18 16:00] ghost commented on #11
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-18 21:58] mkostersitz commented on #29
The work for this is in progress. We are expecting this to become available end of the year/early next year.

[2020-10-19 16:00] ghost commented on #39
This issue has been open for 30 days with no updates.
@taylorb-microsoft, please provide an update or close this issue.

[2020-10-19 16:00] ghost commented on #34
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-10-19 17:01] weijuans-msft commented on #52
I should've added this: I have updated the Base OS image life cycle page with the change :).

https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/base-image-lifecycle.

[2020-10-19 17:01] #52 closed, assigned to weijuans-msft

[2020-10-20 00:47] ravisantoshgudimetla opened #68 "Windows containers restart in vSphere cluster"
**What happened**:
Windows Containers are restarting in vSphere cluster on Windows 1909 host with the following error:

[code]

**What you expected to happen**:
Windows Containers are running normally.

**How to reproduce it (as minimally and precisely as possible)**:
Add a Windows 1909 host to existing OpenShift cluster with ovn-kubernetes

**Anything else we need to know?**:

**Environment**:
-

[2020-10-20 00:48] ravisantoshgudimetla commented on #68
On the Windows host when the containers are restarting, clone the [repo](https://github.com/microsoft/SDN/tree/master/Kubernetes/windows/debug) and run `startpacketcapture.cmd`

Network logs:[server.tar.gz](https://github.com/kubernetes/kubernetes/files/5398055/server.tar.gz)

System events log:[system.tar.gz](https://github.com/kubernetes/kubernetes/files/5398071/system.tar.gz)

[2020-10-20 00:48] ravisantoshgudimetla commented on #68
cc @aravindhp @gmarkley-VI @marosset @ambguo @JocelynBerrendonner

[2020-10-20 00:50] ravisantoshgudimetla commented on #68
Thank you @marosset for redirecting me to this repo.

[2020-10-20 02:27] TBBle commented on #34
Status unchanged, still waiting on merging or feedback on containerd support for Windows container creation/export/mount support, and then continuing the work on BuildKit itself, starting from https://github.com/moby/buildkit/pull/1621

[2020-10-20 20:49] ashishpiya opened #69 "test"

[2020-10-20 20:50] #69 closed, assigned to nobody

[2020-10-20 21:54] brasmith-ms commented on #68
Hi @ravisantoshgudimetla thank you for reporting this. We will take a look into this issue and report back with our findings.

[2020-10-20 22:46] brasmith-ms commented on #68
Would you be able to provide any of the event logs from the Hyper-V Host Compute Service (HCS)? Event type: Microsoft-Windows-HyperV-Compute-Operational

[2020-10-21 07:52] akrus opened #70 "Memory leak with container restarts"
Hello!

We've been testing Windows Containers for a while and found that at least SAC versions 1909 and 2004 have memory leaks when containers are being started.

How to reproduce:
(containerd)
[code]
(docker)
[code]

Run above in a loop and see how memory usage slowly grows.

poolmon.exe shows the following:
[code]
with every container start the counter (2418) increases growing indefinitely, whic

[2020-10-21 11:13] vitaliy-leschenko commented on #61
Hi again,
KB4580390 has been released on October 20, 2020 (OS Build 17763.1554).
Does it fix the issue?

At page (https://support.microsoft.com/en-us/help/4580390/windows-10-update-kb4580390) it marked as Preview. Is it final KB or we need to wait another one?

[2020-10-21 16:06] jsturtevant commented on #70
Are you seeing this behavior in WS 2019?  Does removing the container after it stops do anything?

[2020-10-21 21:20] ravisantoshgudimetla commented on #68
@brasmith-ms - Thank you for responding back. Is the following command right to get the logs you requested?

`Get-EventLog system -Source *Hyper-V*`

[2020-10-21 22:07] ravisantoshgudimetla commented on #68
Used the following documentation to create hcslog.evtx:

https://docs.microsoft.com/en-us/virtualization/windowscontainers/troubleshooting

[hcslog.tar.gz](https://github.com/microsoft/Windows-Containers/files/5418915/hcslog.tar.gz)

Which Jocelyn gave us. @brasmith-ms, please let us know if this is what you want.

[2020-10-21 23:31] daschott commented on #61
@vitaliy-leschenko

For the "preview" naming please see here:
https://techcommunity.microsoft.com/t5/windows-it-pro-blog/resuming-optional-windows-10-and-windows-server-non-security/ba-p/1471429

It is the final production KB but optional, meaning users need to seek it out. It will also be included in the next month's "B" release update, hence the name "preview"...

This KB contains the fix for th

[2020-10-21 23:50] immuzz commented on #35
This is good news. Closing it out as we have investigated and made some improvements there. Please let us know if you see the issue again.

[2020-10-21 23:50] #35 closed, assigned to immuzz

[2020-10-22 00:00] immuzz commented on #37
@Kellendros007 Have you reproduced this on Windows OS 2004?

[2020-10-22 00:07] immuzz commented on #57
Thank you @prabh-62 for the feedback. This is something we are continuously looking at and seriously considering for long-term but its not something that could be done in a short-term, due to physical limitation of how much small we could make different components in the image while providing all the critical Windows features so you could run .NET.

[2020-10-22 00:07] #57 closed, assigned to immuzz

[2020-10-22 00:11] #30 closed

[2020-10-22 00:14] immuzz commented on #9
We are continuing to look into this.

[2020-10-22 00:16] immuzz commented on #54
@jingxu97 I hope this answers your question. Feel free to re-open the issue if you have any more questions

[2020-10-22 00:16] #54 closed, assigned to immuzz

[2020-10-22 00:18] immuzz commented on #44
This has been resolved and will be released for Windows Server 2004 in 11C Windows Patch

[2020-10-22 00:19] immuzz commented on #28
We are making significant progress here. Stay tuned for good news.

[2020-10-22 00:20] immuzz commented on #67
@jingxu97 I hope that answers your question. Let us know if you have any follow-up questions.

[2020-10-22 00:20] #67 closed, assigned to immuzz

[2020-10-22 00:21] immuzz commented on #34
@kevpar Do you have any information on the containerd PRs mentioned above?

[2020-10-22 00:24] immuzz opened #71 "Envoy Proxy Support for Windows"
Expecting envoy proxy to work with Windows Containers

[2020-10-22 08:11] vitaliy-leschenko commented on #61
I confirm that my nodes that were updated to 10.0.17763.1554 have no pod to services connectivity issue.
All my nodes were updated manually from 10.0.17763.1294 via install the msu (http://download.windowsupdate.com/c/msdownload/update/software/updt/2020/10/windows10.0-kb4580390-x64_743bc31f33bf399c7f15ab020df685780faf4cb5.msu).

[2020-10-22 11:45] akrus commented on #70
We've tested WS 2019 LTSC and it's working fine there.

[2020-10-22 16:00] ghost commented on #55
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-22 21:34] vitaliy-leschenko commented on #44
Hi @immuzz, as I understand from your comments in 11C Windows Patch fix will be available only for WS2004. So we need to wait 2-3 months for patch for WS2019. Is it correct?

[2020-10-22 22:59] Kellendros007 commented on #37
@immuzz Now i try to reproduced on Windows 10 Pro 2004 (19041.572) Host,
Base Images:

but error is not resolved

[2020-10-22 23:28] immuzz commented on #37
@Kellendros007 Our developers are looking into it. Thank you for confirming its reproducible on 2004

[2020-10-24 16:00] ghost commented on #48
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-25 16:00] ghost commented on #56
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-26 02:41] zhiweiv commented on #56
We raised Azure Support ticket 120092526001168, MS support reproduced same issue in his environment. Now he stated the case has been submit to PG team for further investigation.

The custom CA certificate was deleted by Windows, the event logs came from Windows container.
![ca](https://user-images.githubusercontent.com/22001089/97128709-0148e180-1778-11eb-849f-cc5012c6cb32.jpg)

[2020-10-26 02:47] zhiweiv commented on #56
Can reproduce by PowerShell too:
cert.ps1
[code]
Dockerfile:
[code]

Command:
docker build -t certtest:v1 .
docker run -it --rm certtest:v1

[2020-10-26 02:53] zhiweiv commented on #56
@vrapolinario
Any update from from your side?

[2020-10-26 02:57] immuzz commented on #56
@weijuans-msft as @vrapolinario is on leave.

[2020-10-27 14:09] sebsoto commented on #68
I was able to reproduce this issue and I got the following:
[code]
These restarts occurred on their own, just from the pod being deployed.

[2020-10-27 14:37] sebsoto commented on #68
I was also able to reproduce this issue just through Docker on the same vSphere node. After stopping the running pod:
[code]
Then after waiting a period of time:
[code]

[2020-10-27 16:00] ghost commented on #50
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-27 16:00] ghost commented on #47
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-10-27 16:10] slavanap commented on #47
We are waiting for updates here from Microsoft reps

[2020-10-28 03:24] rkttu commented on #16
In our case, we developed a workaround ourselves for this issue. We are using windows-kill (https://github.com/alirdn/windows-kill), which uses the CreateRemoteThread API (https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createremotethread).

This tool mimics some critical Unix process signal itself. Windows will not make timeout expiration about the call t

[2020-10-28 03:52] zhiweiv commented on #64
+1, We need fonts too.

[2020-10-28 22:01] brasmith-ms commented on #68
The source of this issue has been identified. There was a plugin for VMware Tools called AppInfo that attempts to collect information from the container processes every 30 minutes. Based on the open source [header file](https://github.com/vmware/open-vm-tools/blob/f72e314e8b0df4e80c6b5f9b0c66ad2e9ce02e19/open-vm-tools/lib/include/procMgr.h#L62) and [linux implementation](https://github.com/vmware/

[2020-10-28 22:01] #68 closed, assigned to brasmith-ms

[2020-10-28 22:29] aravindhp commented on #68
@michmike you might someone from VMware to take a look at https://github.com/microsoft/Windows-Containers/issues/68#issuecomment-718233792

[2020-10-28 22:38] rosskirkpat commented on #68
The issue with the appInfo plugin was fixed as of[VMWare Tools v11.0.6](https://docs.vmware.com/en/VMware-Tools/11.0/rn/VMware-Tools-1106-Release-Notes.html).

VMWare Tools v11.0.0 to v11.0.5 have this bug present. In my case, every 30 minutes all docker containers on the host would restart while running 11.0.1

In the 64-bit Windows guest VM, some 64-bit applications can crash (exit abruptly), du

[2020-10-29 18:32] brasmith-ms commented on #60
Hi @alexis-spx we're currently investigating this issue from our side and aim to have an answer for you as soon as possible. If you have any additional logs or data available feel free to add them here.

[2020-11-02 16:00] ghost commented on #43
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2020-11-03 15:41] TBBle commented on #43
hcsshim 0.8.10 and Docker Engine 20.10.0-beta1, e.g. from Docker Desktop Edge 2.4.2.0, have the fix merged.

I'm currently tracking another [possible size-related issue in Docker Engine 20.10.0-beta1](https://github.com/adamrehn/ue4-docker/issues/99#issuecomment-716965829), but I don't believe it's the same problem as this one, as it seems to be more related to total size copied that individual im

[2020-11-03 22:25] jeremyje opened #72 "Support Kubernetes Go binaries in Nanoserver Images"
Go is a statically linked language but for OS specific logic there's the need to occasionally use [CGO](https://blog.golang.org/cgo). Kubernetes binaries tends to have a dependency on netapi32.dll specifically for [lookup_windows.go](https://github.com/golang/go/blob/3098cf01754a2cda60ff2953f5c09c010d7683bf/src/os/user/lookup_windows.go#L18-L27) in os.User function. There's logic to query Active D

[2020-11-03 22:26] jeremyje commented on #72
CC: @craiglpeters @pjh

[2020-11-04 15:00] jayunit100 commented on #44
also wondering the same thing.... when will this be available in 2019?

[2020-11-04 16:04] jsturtevant commented on #72
@weijuans-msft for what is/isn't included in nano

[2020-11-04 22:56] weijuans-msft commented on #43
Thanks. Close this now

[2020-11-04 22:56] #43 closed, assigned to weijuans-msft

[2020-11-05 15:39] jcjwent commented on #15
I am also eager to use this feature. Any update?

[2020-11-05 16:00] unacceptable commented on #44
@vitaliy-leschenko @jayunit100 I reckon when saying Windows Server 2004 they are referring to the Windows Server SAC releases for Server 2019.  Not 100% sure though since I am not a Windows guy.

[2020-11-05 17:55] brasmith-ms commented on #15
Hi all, thank you for your patience! The feature work is in its final stages and we are currently preparing it for the servicing pipeline. Taking the holiday servicing gap into account, our aim is to get this feature out to the public for the February/March servicing timeframe. I will continue to keep this page updated with status as we go, and again feel free to reach out to me if you have specif

[2020-11-06 16:00] ghost commented on #13
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-07 16:00] ghost commented on #53
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-11-08 16:00] ghost commented on #63
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-11-09 16:00] ghost commented on #66
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-11-09 16:00] ghost commented on #65
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-11-10 16:00] ghost commented on #49
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-10 16:00] ghost commented on #24
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-10 16:00] ghost commented on #23
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-11 16:30] azkamil opened #73 "Windows server 2004 has IIS application pool connection limit of 10"
Hi,

In our docker build we changed our base windows image from 1809 to **mcr.microsoft.com/windows:2004**
After this our application(on IIS) runs into timeout under a minimal load and no connection can be established.
Analyzing w3wp dump gave us a hint that the cause maybe the max connection count of 10 per IIS application pool. As seen in the screenshot the number stopped increasing at 10. In 18

[2020-11-12 16:00] ghost commented on #58
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-12 19:05] Lukeout opened #74 "Telemetry fwding of Windows Events"
Geneva customers have been using a custom made shim to fwd events. We'd like to deprecate this shim to use native Windows container capabilities. These include,

Forwarding of ETW formats to logs (eventsource, tracelogging, 1DS/IFx)
Direct forwarding of custom metrics from IFx\1DS
Forwarding of performance counters from in-container to agent (on host)

Please reach out to luki to discuss more.

[2020-11-14 16:00] ghost commented on #59
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-11-17 16:00] ghost commented on #7
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-18 12:35] junneyang commented on #38
which update should we use to install, thanks
we use windows server 2019(1809)

[2020-11-18 16:00] ghost commented on #36
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-11-18 16:00] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-11-18 16:00] ghost commented on #26
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-18 16:00] ghost commented on #25
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-18 16:00] ghost commented on #22
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-11-18 16:00] ghost commented on #11
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-18 16:50] mkostersitz commented on #29
The work for this is in progress. We are expecting this to become available end of the year/early next year

[2020-11-18 22:29] daschott commented on #71
The alpha for this has been released:
https://docs.google.com/document/d/1-sj_LSX93MXPbZpbV8TYc_WgpdHhd4LvrceVx2vDrMg/edit#

See EnvoyCon 2020 presentation where this was presented:
https://youtu.be/f3DezuydHr4

[2020-11-18 22:29] #71 closed, assigned to daschott

[2020-11-18 22:32] daschott commented on #59
`resolve-dnsname` is representative of DNS resolution used by vast majority of applications and other tools. Just don't use `nslookup` and you should see consistent results everywhere else, including Invoke-Webrequest, curl, .NET apps, IIS apps, resolve-dnsname, etc.

[2020-11-19 14:56] Hvid commented on #73
It would be nice with a full image based on windows server instead of client. Web Management Service(WMSvc) doesn't work in the client version either.

[2020-11-19 16:00] ghost commented on #39
This issue has been open for 30 days with no updates.
@taylorb-microsoft, please provide an update or close this issue.

[2020-11-19 17:54] marosset commented on #44
I spoke with @immuzz and confirmed this will not be available for Windows Server 2019 until Feb 2021.

[2020-11-19 18:15] immuzz commented on #44
Re-opening the issue as it will be available in Feb 2021 for Windows 2019. Will close it then

[2020-11-19 18:16] immuzz commented on #44
Just to be clear. This fix is available today on Windows Server 2004 (SAC release)

[2020-11-21 16:00] ghost commented on #70
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-11-21 16:00] ghost commented on #34
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-11-21 16:00] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-11-21 16:00] ghost commented on #9
This issue has been open for 30 days with no updates.
@vrapolinario, @immuzz, please provide an update or close this issue.

[2020-11-22 16:00] ghost commented on #55
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-22 16:00] ghost commented on #37
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-11-23 04:00] awakecoding commented on #37
Please don't let the bot consider this issue stale :( it really has to get fixed once and for all

[2020-11-23 08:37] wilsncc commented on #37
@awakecoding It has moved along their Roadmap from "Backlog" to "Planned" at least, so it seems a fix is on the (distant) horizon.

[2020-11-24 16:00] ghost commented on #48
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-25 16:00] ghost commented on #56
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-26 06:03] EighthMayer commented on #27
Hello! I'm sorry if I'm being intrusive, but I believe that this position (at least as I understood it) makes no sense. If adding a useful feature means making bigger (separate) image, why the size becomes prioritized over said feature? Going to extreme, it is possible to make an image without anything whatsoever, and it's size will be very slim - why not take this route then?

Best regards,
Eight

[2020-11-26 16:00] ghost commented on #50
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-27 11:12] vitaliy-leschenko commented on #61
I am sorry about my previous comment but the issues does exist.
Windows pods can communicate with services only when it communicate with pod (from the service) on the same node.
When it load balanced to another node it failed.

More details: https://github.com/kubernetes-sigs/sig-windows-tools/issues/127

[2020-11-27 11:13] vitaliy-leschenko commented on #61
@immuzz @daschott can you reopen the issue?

[2020-11-27 14:13] Josefczak commented on #73
Could be solved by not using Windows Server 2004 but Windows Server 1809, when it would be extended as the Nano Server SAC1809 was.
https://github.com/microsoft/Windows-Containers/issues/52

[2020-11-27 14:56] vitaliy-leschenko commented on #61
Build 17763.1577 also doesn't work.

[2020-11-27 16:00] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2020-11-27 16:00] ghost commented on #47
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-11-27 16:00] ghost commented on #16
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-11-27 16:04] NikolayMatokh commented on #47
Still waiting....

[2020-11-27 16:11] SlHris commented on #64
@weijuans-msft we do need a solution to this issue since we are about to announce a new version of the product described above by @alib-ms and this is a roadblock for us. Thank you!

[2020-11-27 16:30] Josefczak commented on #52
We really need the windows:1809 image support also until 2024!

We spent a lot of time finding other solutions, but the best would just be to stay on the windows:1809 image on the 2019 server host.

[2020-11-29 16:00] ghost commented on #60
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-12-01 08:13] Hvid opened #75 "Support ipv6"
Please add support for ipv6.

[2020-12-02 16:34] MichaelSimons opened #76 "Provide a link to this repo from the Windows repositories on Docker Hub"
I would expect a link to this GH repo within the feedback section of the Windows repositories on Docker Hub (e.g. https://hub.docker.com/_/microsoft-windows-servercore).  This will provide users with another way to provide suggestions on improving the Windows container experience along with reporting issues, etc.

[2020-12-02 22:55] vrapolinario commented on #74
Have you looked into our Log Monitoring tool? https://techcommunity.microsoft.com/t5/containers/windows-containers-log-monitor-opensource-release/ba-p/973947

This is the current solution for this issue. Please let us know if the tool doesn't meet your requirements.

[2020-12-02 22:55] #74 closed, assigned to vrapolinario

[2020-12-04 04:03] zhiweiv commented on #60
Any update?

We have an daemon process to create child process in container, the child process crashed without dump generated, the console output of child process is:
`Process is terminated due to StackOverflowException.`

The process is .net framework app, procdump is used as dump collector.
[code]

It is hard to troubleshooting StackOverflowException without dump.

[2020-12-04 23:51] vrapolinario commented on #73
Can you please confirm the previous image you were using and was able to get over 10 connections? Is it windows:1809 or servercore:1809?

[2020-12-05 00:53] daschott commented on #61
@vitaliy-leschenko Can you please try out some of the troubleshooting steps here, and give us output of collectlogs.ps1 script:
https://techcommunity.microsoft.com/t5/networking-blog/troubleshooting-kubernetes-networking-on-windows-part-1/ba-p/508648

Specifically, can you reproduce the output shown in example #1 and example #3 in the above doc?  Do all the Windows nodes have the same patch status

[2020-12-05 06:17] vitaliy-leschenko commented on #61
Ok. I will try

[2020-12-05 14:06] Josefczak commented on #73
Hi everyone,

we are currently using windows:1809 in production (for many thousand customers in US, Europe and Japan) and have no problems (more than 10 connections) when using the

Publisher: MicrosoftWindowsServer
Offer: WindowsServer
SKU: 2019-Datacenter-with-Containers
Version: latest

as a host. We didn’t try it on a Windows Server Core host.

Best regards,
Thomas Josefczak

From: vrapolinari

[2020-12-06 16:00] ghost commented on #15
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-12-06 16:00] ghost commented on #13
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-07 16:00] ghost commented on #53
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-12-07 16:11] mkostersitz commented on #53
This should be resolved in next Windows Server Semi Anual Cycle release.

[2020-12-07 16:11] #53 closed, assigned to mkostersitz

[2020-12-07 20:34] awakecoding commented on #37
@thecloudtaylor any update on this? We've started hitting more issues with MongoDB in Windows containers, and our ugly workaround of manually deleting the WiredTiger.lock file with PowerShell before launching the container will not be able to save us this time: https://github.com/docker-library/mongo/issues/435

We've been investigating issues with customers that have a working deployment of our a

[2020-12-08 16:00] ghost commented on #63
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-12-08 18:43] vrapolinario commented on #73
We did an internal investigation and found out what happened here:
The 10 connections limit is by design on the windows image, however a bug we preventing us from enforcing this on previous images. This bug was fixed and the behavior is now back in place.

With the above said, I wanted to understand why the windows image is being used for web/IIS purposes? This image is considerably larger than th

[2020-12-08 18:46] vrapolinario commented on #13
This has been implemented on the November update of the Containers extension on WAC.

[2020-12-08 18:46] #13 closed

[2020-12-08 18:55] quangkieu commented on #73
So you are recommend start from the iis or aspnet image, not from the window or .NET images?

[2020-12-08 18:58] vrapolinario commented on #73
The IIS can be used for generic web content/apps, but for .Net there specific images as well (such as Asp.Net), that are actually based off of IIS. These are all in turn based on the server core image and won't have the same limitation.

[2020-12-09 00:11] vrapolinario commented on #7
Sorry for not making any comments on this.
This is still planned and we're working currently working on prioritization.
More to come soon.

[2020-12-09 00:12] vrapolinario commented on #9
Sorry for not making any comments on this.
This is still planned and we're working currently working on prioritization.
More to come soon.

[2020-12-09 00:13] vrapolinario commented on #11
Sorry for not making any comments on this.
This is still in our backlog so we'll close the issue for now. We're open to requests in case customers want to see this implemented.

[2020-12-09 00:13] #11 closed

[2020-12-09 00:20] vrapolinario commented on #24
Sorry for not making any comments on this.
This is still in progress but we don't have any updates as of now.
More to come soon.

[2020-12-09 00:21] vrapolinario commented on #25
Sorry for not making any comments on this.
This is still in our backlog so we'll close the issue for now. We're open to requests in case customers want to see this implemented.

[2020-12-09 00:21] #25 closed

[2020-12-09 07:28] Josefczak commented on #73
How could you decide such a limit?
The image is described as a windows server image. Nobody knows about such a limit. After 3 weeks Azure Rapid Response Support - no one even believed us, that such a limit could exist. They denied it multiple times. And by the way, you as a Program Manager for containers didn't know either.
![image](https://user-images.githubusercontent.com/11995612/101598196-14e2

[2020-12-09 08:06] Hvid commented on #73
We're using the 'windows' image, because of missing components from the server core image as described in: https://github.com/microsoft/Windows-Containers/issues/58

We're falling back to this image, because of missing cdosys.dll, support for older MS access databases and so on. Another limitation to this image, is that the Web Management Service(wmsvc) will not listen on 8172 in client OS.

This

[2020-12-09 13:37] wilsncc commented on #37
@awakecoding You are mentioning the issue reporter who has not touched this issue since he opened it almost six months ago; I doubt they have any updates for us. If anyone can give us an update, perhaps the assignee @immuzz can, but in any case you can keep track of the issue status on the roadmap here: https://github.com/microsoft/Windows-Containers/projects/1#card-43557545

Sounds like you or yo

[2020-12-09 16:00] ghost commented on #66
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-12-09 16:00] ghost commented on #65
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-12-09 19:51] awakecoding commented on #16
@brasmith-ms could this issue be related to https://github.com/microsoft/Windows-Containers/issues/37 and possibly https://github.com/docker-library/mongo/issues/435 that prevent proper MongoDB operation inside Windows containers? If containers are not gracefully shut down, that would explain a lot.

Can you give an update on this? It is a critical issue that has been lingering on for years, and w

[2020-12-09 19:53] awakecoding commented on #37
@rossdotpink I guess I'll be at the bottom of the food chain then, trying to apply horizontal pressure would likely be very costly when this is really critical stuff that should be addressed no matter what.

I see another critical issue that could very well be related to this one, basically admitting to the fact that Windows containers currently have no graceful shut down at all: https://github.co

[2020-12-09 21:37] jsturtevant commented on #16
I believe graceful shutdown now works with Containerd via HCS v2 api. Don't know the status for Docker.  A couple sample apps: https://github.com/marosset/windows-container-graceful-shutdown

[2020-12-09 21:38] vrapolinario commented on #73
@Josefczak Please note the "Windows Server" containers is the feature name to run containers on Windows Server. The next phrase on that description clearly state the Windows base OS image.

I understand the request here now, thanks for pointing it out. We're investigating the option to add some of the components mentioned on #58 but if there's anything in addition, please add to that issue.
For th

[2020-12-09 21:38] #73 closed, assigned to vrapolinario

[2020-12-09 21:39] immuzz commented on #37
@awakecoding Let me check with the team owning this and get back to you.

[2020-12-09 21:41] awakecoding commented on #16
@jsturtevant that's very interesting, it would mean there are some upstream fixes already, I just have no idea if there is a way to get an up to date version of Docker that would use it. Is it even possible to rebuild Docker for Windows with the latest upstream code?

[2020-12-09 21:41] immuzz commented on #16
@brasmith-ms can confirm, but I dont think there are plans to fix it for docker container runtime. Since docker uses HCS v1, it probably wont be possible. Is there something stopping you from moving to containerd?

[2020-12-09 21:42] vrapolinario commented on #58
Sorry for not answering to this earlier.
This is in our backlog and we don't have a timeframe to provide at this moment, but given the customer feedback on it, we'll be investigating it and providing an update when possible.

[2020-12-09 21:42] #58 closed, assigned to vrapolinario

[2020-12-09 21:43] immuzz commented on #70
Closing this issue as we were not able to reproduce this issue or heard from anyone else facing this issue.

[2020-12-09 21:43] #70 closed, assigned to immuzz

[2020-12-09 21:43] awakecoding commented on #16
@immuzz to be honest I only learned yesterday that it was possible to run Windows containers without Docker. I don't mind switching to containerd as long as it is officially supported on Windows Server 2019? My software basically just calls the Docker CLI, if you can point me to more information on how to switch to containerd for Windows containers, I'd be more than happy to take a closer look at

[2020-12-09 21:46] awakecoding commented on #37
@immuzz thanks a lot, I appreciate it

[2020-12-10 07:43] Hvid commented on #58
How do i track this, if you're closing the issue?

[2020-12-10 14:08] TBBle commented on #16
Per https://github.com/moby/moby/issues/41455, it's likely that Docker will continue to use HCS v1 for the 20.x series (as it's too late to switch), and perhaps will drop it (by moving to use containerd on Windows, as they have on Linux) in a 21.x series, which brings in the HCS v2 API.

One issue for Docker is that HCS v2 requires RS5 (LTSC 2019), and they still support RS1 (LTSC 2016) in the 20.

[2020-12-10 16:41] awakecoding commented on #16
@TBBle so let me summarize what I understand of the situation:

- Docker on Windows Server 2016 / 2019 currently uses HCS v1
- HCS v2 + containerd is affected by critical issues like this one
- HCS v2 + containerd could work for 2019, but not for 2016
- containerd is not complete on its own, we need CNI plugins
- containerd is not really dealt with "directly" like the Docker CLI
- while we're figu

[2020-12-10 16:58] awakecoding commented on #16
@TBBle @immuzz if we restrict the scope to Windows Server 2019 specifically, is there a way one could grab and run an upstream version of the Docker CLI and engine that uses HCS v2 + containerd? I currently instruct my customers to grab the official msftdocker, but I would be fine with giving them instructions to migrate to another Docker distribution that is not affected by ungraceful shutdown is

[2020-12-10 17:06] Justin-DynamicD commented on #37
Adding voice to this issue. I have AzureDevOps build servers on Server 2004 experiencing the same issue.  The hope was to use build containers instead of managing local installs but file lock breaks a number of build workflows.

As these are build boxes, is there a modern core install that is confirmed as working?  Container has to match the host, so I can't rotate the image version, I have to reb

[2020-12-10 18:50] vrapolinario commented on #58
This will be kept in our backlog. We're closing as we don't have an update at this time neither a timeline to provide an update.
With that, I wanted to ensure this is still something we're looking at.

[2020-12-11 08:31] Josefczak opened #77 "Windows Server Container - mcr.microsoft.com/windows should have been a Server OS Container"
Who needs container technology if not for server purpose?
As these base images run also on Windows 10 Hosts, the term Windows Server Container implies, that the container itself is Windows Server and not the host where it can run.

Please fix the mcr.microsoft.com/windows image to be and behave like a Windows Server!

https://docs.microsoft.com/en-us/virtualization/windowscontainers/images-eula
st

[2020-12-11 13:24] TBBle commented on #16
I assume you meant "HCS v2 + containerd is **not** affected by critical issues like this one".

----

The most recent instructions on using Containerd in Windows with Docker is the "How to use" on https://github.com/moby/moby/pull/38541 from January 2019.

I checked and the env-var still exists, but a recent enabling of this config on the Docker Jenkins CI instance (https://github.com/moby/moby/pu

[2020-12-11 16:00] ghost commented on #49
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-11 16:00] ghost commented on #23
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-11 19:23] sebsoto opened #78 "Windows containers behind a Kubernetes loadbalancer become unreachable"
There is a regression when using Windows worker nodes with newer Windows kernel versions on an OpenShift 4.6.8 cluster with mutltiple Windows worker nodes. The cluster configured with hybrid OVN networking.

This issue is present at least in Windows Server 2019 OS Builds 17763.1579 and 17763.1637.
This issue was not present in Windows Server 2019 OS Build 17763.1457

The issue is that http request

[2020-12-11 19:44] vrapolinario commented on #77
Thanks for opening this issue @Josefczak. Can you please clarify which functionality you think is missing? Is it related to #58 ?

[2020-12-11 19:54] Josefczak commented on #77
It is related to limitations imposed on mcr.microsoft.com/windows because it is seen as Windows 10 OS, a Home Edition not to be used for server purposes.
Like: #73
If there is really someone in need of a Home Edition OS, you should introduce a new image, which is server and LTSC.
Proposal: mcr.microsoft.com/windows/server:2019ltsc

[2020-12-14 23:14] daschott opened #79 "When enabling DSR mode in Kubernetes kube-proxy, policies end up in degraded state on cleanup"
There is an active issue such that when DSR load balancing is used and the network is deleted before load balancing policyList is deleted, the policies can end up in degraded state.

It is always recommended to clean up the policies first:
[code]
This issue will be resolved in a future cumulative update. The proposed fix is currently undergoing validation.

[2020-12-15 18:40] vrapolinario commented on #23
We have now validated the supported scenarios for MSMQ on Windows Containers. More information can be found here: https://techcommunity.microsoft.com/t5/containers/msmq-and-windows-containers/ba-p/1981414

[2020-12-15 18:40] #23 closed

[2020-12-15 22:24] Justin-DynamicD commented on #37
So is servercore 1607 the most recent working version?  Isnt that distro EOL?

Does anyone know of a more recent working version?

[2020-12-15 23:26] vrapolinario commented on #56
Apologies for the delay in providing an updated on this one. We're still investigating it internally.

[2020-12-15 23:26] TBBle commented on #37
[servercore:1607](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/base-image-lifecycle)  (aka [Windows Server 2016](https://docs.microsoft.com/en-au/lifecycle/products/windows-server-2016)), is in Mainstream support until early 2022, and Extended support until early 2027.

It's interesting that it varies by base image, I'd have expected it to vary by host versio

[2020-12-16 15:59] awakecoding commented on #37
@Justin-DynamicD @TBBle wait... are you saying that this issue is *not* observed when using the older servercore:1607 base image with Hyper-V isolation in Windows Server 2019? In other words... this maddening issue is a regression?

[2020-12-16 16:01] TBBle commented on #37
That's what https://github.com/microsoft/Windows-Containers/issues/37#issuecomment-660541646 says at the end, as far as I understand it.

[2020-12-16 16:06] awakecoding commented on #37
@immuzz any update on this issue or the one about graceful shutdowns not being supported (https://github.com/microsoft/Windows-Containers/issues/16)? Are there plans for either supporting containerd + HCSv2 on Windows Server 2019, or fixing HCSv1? I don't mind what the plan is, as long as there is a serious plan to get this fixed.

[2020-12-16 16:10] awakecoding commented on #16
@TBBle installing the containerd service on Windows wasn't too hard, but I didn't get a chance to try using the experimental Docker containerd support. At a bare minimum, it is good news to hear that there is such experimental support meant to facilitate the eventual migration to containerd. However, it looks like there is still no clear plan as to what is going to happen with regards to HCSv1, HC

[2020-12-16 16:41] TBBle commented on #16
The Docker for Windows plan seems reasonably clear to me: Per https://github.com/moby/moby/issues/41455, it seems the current thinking is that Docker 21.x (or later, if not done in-time) will use containerd on Windows (as it has done on Linux for years) and consequently drop RS1 (Windows Server 2016) support.

[2020-12-16 17:12] awakecoding commented on #16
@TBBle while Docker for Windows has a plan, what I'm not so sure about is the plan for the Microsoft Docker distribution. Will they simply go along with the plan described in https://github.com/moby/moby/issues/41455 and leave Windows Server 2016 with an older version of Docker that uses HCSv1? I'm all for it, as I really only care about Windows Server 2019.

[2020-12-16 17:44] TBBle commented on #16
Ah, I see. Since the person who opened https://github.com/moby/moby/issues/41455 is a Microsoft employee, I am assuming that this reflects the MS plan for Docker on Windows Server. But it's only an assumption. ^_^

[2020-12-19 16:00] ghost commented on #59
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2020-12-19 16:00] ghost commented on #36
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2020-12-19 16:00] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-12-19 16:00] ghost commented on #26
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-19 16:00] ghost commented on #22
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2020-12-20 16:00] ghost commented on #44
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-12-20 16:00] ghost commented on #39
This issue has been open for 30 days with no updates.
@thecloudtaylor, please provide an update or close this issue.

[2020-12-21 16:51] mkostersitz commented on #59
As outlined by @daschott nslookup might fail where resolve-dnsname will succeed. I am closing this issue as there is a workaround.

[2020-12-21 16:51] #59 closed, assigned to mkostersitz

[2020-12-21 20:08] jsturtevant commented on #78
using AKS engine with k8s `v1.19.3` I was not able to reproduce:

[code]

[code]

[code]

[code]

[2020-12-21 20:11] jsturtevant commented on #78
There was a change that we detected in aks-engine: https://github.com/Azure/aks-engine/pull/3956#issuecomment-719844970 that caused service calls to fail.

The fix was to re-order the calls: https://github.com/Azure/aks-engine/pull/3956#issuecomment-720797433 done in https://github.com/Azure/aks-engine/pull/4002

Not sure if this is related but seems fairly suspect.

[2020-12-22 16:00] ghost commented on #34
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-12-22 16:00] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2020-12-22 18:02] TBBle commented on #34
Still working through containerd PRs per above. One of four has landed, and one needs to be rewritten or at least iterated upon further. I've also opened PR on hcsshim again to remove some duplication of code with the containerd PRs.

That said, Docker is looking at supporting containerd on Windows for 21.x (https://github.com/moby/moby/issues/41455), which might mean we get BuildKit on Docker+con

[2020-12-22 19:09] vitaliy-leschenko commented on #61
I tried test Windows Server 1809 with the latest updates installed. Version: 10.0.17763.1637. **It has issue with pod to service connectivity.**

`curl -LO https://raw.githubusercontent.com/kubernetes-sigs/sig-windows-tools/master/hack/DebugWindowsNode.ps1`
![image](https://user-images.githubusercontent.com/12435135/102922493-29666f80-449f-11eb-8789-4f2dff320f75.png)

Can't test `.\ValidateKuberne

[2020-12-22 19:16] vitaliy-leschenko commented on #61
Logs for `https://raw.githubusercontent.com/microsoft/SDN/master/Kubernetes/windows/debug/collectlogs.ps1` can be downloaded from: https://vitaliyorgstorage.azureedge.net/9d4196ab-1c3c-4efb-b065-b643384f1832/github/2ybmbpfj.354.zip

[2020-12-23 01:30] eglookz commented on #38
Hello! Any news?

[2020-12-23 15:17] noendscripting commented on #9
Using WAC as a container in a public clouds would allow relatively simple and and inexpensive way of securing access to VMs by removing the need for public Ip addresses and port open. Very helpful for Devtest labs where cost is a consideration.
You are also very likely to see increased usage in Azure as it would allow to work around limitations of the Azure bastion and likely to become a best-prac

[2020-12-23 16:00] ghost commented on #55
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-25 16:00] ghost commented on #48
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-27 16:00] ghost commented on #50
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-28 16:00] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2020-12-28 16:00] ghost commented on #47
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2020-12-28 16:21] slavanap commented on #47
Microsoft team, please provide an update.

[2021-01-02 16:00] ghost commented on #76
This issue has been open for 30 days with no updates.
@thecloudtaylor, @2212Emmanuel, please provide an update or close this issue.

[2021-01-02 16:00] ghost commented on #75
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2021-01-02 16:00] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-01-03 12:05] agowa commented on #47
From the replies this got I think some clarification is needed. I also think I now understand what @vrapolinario meant with there already being an official way. There is: https://docs.microsoft.com/en-us/dotnet/framework/ui-automation
However the API is quite "limited" in some while being quite capable in other situations.

That API is not able to fake input to notepad without the window being ons

[2021-01-03 16:00] ghost commented on #60
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-01-04 14:59] perithompson opened #80 "Allow VMswitch Apis to be install without the hypervisor"
Windows containers running with Process isolation do not require the hypervisor to be installed in order to run however certain CNI plugins require vmswitch functionality.  The vmswitch also doesn't need the hypervisor for process isolated Containers but all the Windows Roles and Features that install vmswitch also install the hypervisor and the Containers feature does not install the vmswitch.

C

[2021-01-04 15:05] DeletorDev opened #81 "[Networking] [Enhancement] Modify L2Bridge network mode idle timeout value"
Currently, in 'L2Bridge' network mode for containers, the  4-minute idle timeout is the default value and is not configurable, these ephemeral ports are released back to the port pool after a 4-minute idle timeout.

**Situation:** We have an app with an open connection to Oracle and retrieve information every 3 minutes, the app connect to the DB, retrieve data and wait for 3 minutes to retrieve da

[2021-01-04 15:28] DeletorDev commented on #81
Please add the “networking” and “enhancement” label to this issue.

[2021-01-04 21:01] Justin-DynamicD commented on #37
pinging a request for update as well.

[2021-01-05 16:00] ghost commented on #15
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-01-06 20:12] jsturtevant commented on #80
A long thread in sig-windows on the confusion and requirements here: https://kubernetes.slack.com/archives/C0SJ4AFB7/p1607619445072100

[2021-01-07 16:00] ghost commented on #63
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-01-08 16:00] ghost commented on #24
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-01-08 16:00] ghost commented on #7
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-01-08 16:26] mkostersitz opened #82 "IPv4/IPv6 Dual-stack support for Overlay Networking in Kubernetes"
We have implemented IPv6 support for L2Bridge networks. This issue is to track the Overlay network support in the roadmap.

[2021-01-08 16:27] mkostersitz commented on #75
IPv6 support for L2Bridge networks has been implemented in the latest Semi Annual Channel release and is backported to Windows Server 1809 as part of the October 10C release.

We are working Overlay network support in 2021 and will post progress here as part of the Roadmap work.
We are tracking this in issue: https://github.com/microsoft/Windows-Containers/issues/82

[2021-01-08 16:27] #75 closed, assigned to mkostersitz

[2021-01-08 16:47] Hvid commented on #75
What about nat networks?

[2021-01-08 18:11] mkostersitz commented on #75
NAT networks will be tackled at a later point in time. The primary customer asks are around L2Bridge and Overlay network

[2021-01-09 16:00] ghost commented on #66
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-01-09 16:00] ghost commented on #65
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-01-10 16:00] ghost commented on #49
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-01-11 16:00] ghost commented on #77
This issue has been open for 30 days with no updates.
@vrapolinario, @weijuans-msft, please provide an update or close this issue.

[2021-01-13 22:53] vrapolinario commented on #47
Thanks @agowa338 for the follow up. Can I recommend you provide the feedback directly to the documentation above. It might be the case that the team who owns it has not seen feedback on it for Windows Containers.

@slavanap apologies for the delay. Does this helps with your case as well?

[2021-01-13 23:12] slavanap commented on #47
Does
https://github.com/microsoft/WinAppDriver
work in containers? Because if not then the suggested approach requires manual walkthrough and tinkering of every step, and doesn't support steps recording.

[2021-01-13 23:35] vrapolinario commented on #47
There's an issue on that repo: https://github.com/microsoft/WinAppDriver/issues/1046 covering exactly that. While that tool appears not to work on Windows Containers as it depends on an active desktop session, there are alternatives in there.

I went ahead and opened an issue on their repo to add support for Windows Containers. Please remember this is a different team and we don't own their priori

[2021-01-13 23:41] slavanap commented on #47
The general issue with UI automation is that
* app installation,
* app startup sequence,
* app shutdown sequence
do involve iteration with GUI, although these legacy apps run as a backend service, they require interactions with GUI to get launched.

Also, for such apps state monitoring like an ability to take a screenshot would be really useful.

[2021-01-14 06:30] tfenster opened #83 "Services in Docker Swarm occasionally fail because Docker engine crashes"
**Description**
I am running a couple of services in a Docker Swarm on Windows Server 2019 1809 and everything is fine but once in a while (approx once per week), some of the tasks fail at exactly the same time with no apparent reason, exit code 4294967295. I then used the following commands to check the event logs on one of the worker nodes where the failing tasks are running:

[code]

I've attac

[2021-01-14 06:38] tfenster opened #84 "Fix disconnect between Microsoft and Mirantis about the right way to install Docker on Windows Server"
While the Microsoft documentation ([Prep Windows operating system containers | Microsoft Docs](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=Windows-Server)) indicates that a OneGet PowerShell provider is the right way to install Docker on Windows Server, the Mirantis documentation ([Mirantis Documentation: Install Mirantis Container Runtime

[2021-01-14 06:46] tfenster opened #85 "Shared disks for Azure VMs can't be used from containers in hyperv isolation"
We are trying to use shared disks for Azure VMs and followed the instructions here https://techcommunity.microsoft.com/t5/failover-clustering/container-storage-support-with-cluster-shared-volumes-csv/ba-p/372140 to set them up. When we use them from process isolated containers, it works fine, so this comes up correctly:

[code]

If we try them same with hyperv isolation we get the following error:

[2021-01-14 20:54] grochoge commented on #47
UI automation appears to not work at all when I try using windows:1909 and TestStack.White.

After opening notepad.exe and using the underlying System.Windows.Automation, I don't see any children under the root element (Desktop). IE, the following prints nothing:
[code]

[2021-01-14 22:57] vrapolinario commented on #83
This seems like an issue that needs to be investigated by our support team. I see you're running on an Azure VM. Have you contacted the Azure support? They should be able to escalate to appropriate support teams from Windows Containers and other if necessary.

[2021-01-15 00:52] grochoge commented on #47
The `Get-Process Notepad | ? MainWindowTitle -ne "" | Select MainWindowTitle` Powershell command mentioned as working with windows:1809 in another thread no longer works with windows:1909.

What we could really use is a way to run multiple copies of Windows Sandbox as part of our CI. Why can't we use that as a Docker base? That also doesn't require a 6GB download/17GB image.

[2021-01-15 01:13] agowa commented on #47
The team apparently doesn't accept feedback. There isn't "provide feedback" at the bottom of the page as other docs pages have...

[2021-01-15 16:00] ghost commented on #79
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-01-15 16:00] ghost commented on #56
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-01-16 16:00] ghost commented on #16
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-01-18 15:50] tfenster commented on #83
Ok, I'll do that, thanks

[2021-01-18 15:51] tfenster commented on #85
@vrapolinario Does this mean that this is accepted as bug?

[2021-01-18 22:43] RafaelLiendo2409 opened #86 "I can not use a web app core with Windows container support. It works with Linux Container"
I am trying to run a demo following the instructions from this page:
https://docs.microsoft.com/en-us/visualstudio/containers/hosting-web-apps-in-docker?view=vs-2019&viewFallbackFrom=aspnetcore-5.0

I ran the image in my local machine and worked fine, but when I am trying to publish it to Azure, I got:

Gravedad Código Descripción Proyecto Archivo Línea Estado suprimido
Error No se pudo ejecutar e

[2021-01-19 16:00] ghost commented on #36
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-01-19 16:00] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-01-19 16:00] ghost commented on #26
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-01-19 16:00] ghost commented on #22
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-01-20 16:00] ghost commented on #44
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-01-20 16:00] ghost commented on #39
This issue has been open for 30 days with no updates.
@thecloudtaylor, please provide an update or close this issue.

[2021-01-20 22:28] tfenster opened #87 "Containers in hyperv isolation can only partly access mounted network share"
We have Azure VMs with Windows Server 2019 (2004) where we mount an Azure File Share with the following PowerShell function

[code]

After that, we can bind mount the s drive into containers like this:

[code]

On the share we have in a subfolder a file called `test.txt` with a simple content of `test`. I can verify that it works with this:

[code]

If I do the exact same thing in hyperv isolation

[2021-01-20 22:42] vrapolinario commented on #86
When using App Service, you need to use a Windows Server 2019 (or 2016) container image. Since you're using a SAC release (1903) this will fail. We'll close this for now as this is related to Azure App Service.

[2021-01-20 22:42] #86 closed, assigned to vrapolinario

[2021-01-20 23:08] vrapolinario commented on #85
Apologies for not replying earlier when I trigged this issue.
I'm contacting the appropriate teams internally and checking with them. I'm not sure at this point if this is a bug or if this is just not a supported scenario. We'll update soon.

[2021-01-21 00:02] daschott commented on #61
Sorry for the delay here.

What do the logs look like from the problematic node? Is FlannelD running on problematic node? Also, what do FlannelD logs look like on problematic node?  There should be entries such as
[code]

[2021-01-21 16:00] ghost commented on #78
This issue has been open for 30 days with no updates.
@mkostersitz, @immuzz, please provide an update or close this issue.

[2021-01-21 16:27] oilcan-productions commented on #78
This is still under active investigation. No root cause has been determined yet.

[2021-01-21 16:28] mkostersitz commented on #78
This is still under active investigation.

[2021-01-21 18:00] vitaliy-leschenko commented on #61
FlannelD is running. Pods can communicate vis IP addresses.

There is flannel log from another cluster with the same issue:
[code]

[2021-01-22 16:00] ghost commented on #34
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-01-22 16:00] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-01-22 16:00] ghost commented on #9
This issue has been open for 30 days with no updates.
@vrapolinario, @immuzz, please provide an update or close this issue.

[2021-01-22 22:45] TBBle commented on #34
Not much has changed since December. The containerd PRs are now in a reasonable state, two are ready-to-go and one (https://github.com/containerd/containerd/pull/4419) is functional but possibly needs some discussion about the test suite changes, and depends on a hcsshim feature PR (https://github.com/microsoft/hcsshim/pull/901).

Some recent testing suggests that that hcsshim PR might have issues

[2021-01-23 08:53] vitaliy-leschenko commented on #61
When we setup flannel as host-gw we can see `Subnet added:  10.244.1.0/24 via 192.168.99.110` in logs.
But when we setup flannel as vxlan we always see `error decoding subnet lease JSON: invalid MAC address`.
Usually it doesn't affect connectivity issue.

I think we have issue with kube-proxy because it works as service load-balancer.

[2021-01-23 16:00] ghost commented on #55
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-01-24 16:00] ghost commented on #48
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-01-25 11:50] tfenster opened #88 "Question: Support for docker checkpoint on Windows?"
With support for checkpoint / restore seemingly on the way for K8s (https://github.com/kubernetes/kubernetes/pull/97689 and https://github.com/kubernetes/kubernetes/issues/3949#issuecomment-749936235), I am wondering whether there is anything planned for Windows as well? As far as I can see, the work is restricted to Linux until now?

[2021-01-25 18:44] cj-lopez opened #89 "Key Storage Provider not registered in Docker Image"
Venafi created a Key Storage Provider and is running into the following problem:
=======
Key Storage Provider (KSP) is not available after loading a container image with it installed. If the Docker host has the KSP also installed, then there is no issues, but I should not need to install the KSP on the Docker host.  If I register the KSP manually after the docker image is loaded the KSP works with

[2021-01-25 19:10] vrapolinario commented on #88
Assigning it to Muzz to see if it makes sense from the Windows on K8s (Sig-Windows?) standpoint.

[2021-01-25 19:28] JoseIgnacioD opened #90 "Windows Server 2019 - Network issues"
I'm building a Windows image, and I'm trying to install chocolatey. However in the install step for Chocolatey I am getting a download timeout trying to run the command.
Here the Dockerfile, trying to install chocolatey with powershell.

**_FROM mcr.microsoft.com/dotnet/framework/sdk:4.8-20210112-windowsservercore-ltsc2019
SHELL ["powershell", "-Command"]
RUN New-Item -ItemType directory -Path $En

[2021-01-25 19:30] vrapolinario commented on #50
Apologies for not responding to this earlier.
Thank you for the detailed feedback here. As a group, we've been working to make the Windows container image smaller, but also taking care of app compatibility. Unfortunately, the composition of the Windows container image is not as simple as removing components to then have it restored at later point when needed. With that said, having a smaller image

[2021-01-25 19:30] #50 closed, assigned to vrapolinario

[2021-01-25 19:35] vrapolinario commented on #49
Per my previous comment, we're looking into a solution such as common package manager for Windows Containers. However, we don't have a timeline at this moment.
I'll be closing this, but please rest assured that we're looking into this issue.

[2021-01-25 19:35] #49 closed, assigned to vrapolinario

[2021-01-25 19:36] vrapolinario commented on #77
Update: The specific issue with the customer has been solved with a workaround. We'll be closing this issue for now and will update the Windows Container community once a more definitive solution is achieved.

[2021-01-25 19:36] #77 closed, assigned to vrapolinario, weijuans-msft

[2021-01-25 19:37] vrapolinario commented on #47
Than can I recommend you provide the feedback directly at their repo? Here's the URL: https://github.com/microsoft/dotnet.

[2021-01-25 19:50] vrapolinario commented on #83
Let us know if the Azure support route doesn't work. I'll close the issue for now.

[2021-01-25 19:50] #83 closed, assigned to vrapolinario

[2021-01-25 19:51] vrapolinario commented on #26
Apologies for the delay in providing a response here. We're still investigating with the Office team on this issue, but not update or timeline at this moment. I'll change the tag to In progress, to reflect the state of our investigation.

[2021-01-25 19:56] vrapolinario commented on #9
This is still a scenario we're evaluating. However, we don't have an update or timeline at this point.
I'll close this for now, but please rest assured that we're looking into this issue.

[2021-01-25 19:56] #9 closed

[2021-01-25 20:00] vrapolinario commented on #48
This issue is being evaluated as we plan for updates on gMSA. Given the nature of the Windows containers composition, we don't plan to provide support for domain-join. We do however want to solve for this: Allow containers to be domain joined even if the host is not.

Assigning the appropriate people and providing the right tags.

[2021-01-26 17:35] vrapolinario commented on #90
I'm not sure about the network timeout error message, but for Chocolatey, have you tried this:
PS C:\> Install-PackageProvider -Name Chocolatey -force

Name                           Version          Source           Summary
----                           -------          ------           -------
chocolatey                     2.8.5.130        https://onege... ChocolateyPrototype provider for the

[2021-01-27 16:00] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-01-28 17:14] iamjplant commented on #89
I have observed the exact same class of behavior with my company's KSP (not the same KSP as above).

[2021-01-29 22:32] ericsmalling commented on #44
Just curious, @immuzz, is Win 2019 still on track for Feb 2021 release?

[2021-01-30 06:25] SachinL9 commented on #15
May we get an update on when this will be available?

We are desperately looking for ability to change windows container timezone to what's desired.

Regarding the workaround provided by you, we tried this in a dev environment and it seems to be working fine. Can you confirm if this is safe to be done in a production environment too?
Also, I am not sure what is timezone of k8s master, would differ

[2021-01-30 22:59] aolszowka opened #91 "Adding Support for AD-Domain-Services"
I am trying to create a throw away environment for testing management script of an Active Directory Forest. A container seems like the perfect solution for this.

This container would need the `AD-Domain-Services` feature, however it appears that this feature has been removed from the

Here is my dockerfile:

[code]

This fails with the following error:

[code]

I have tried various source medias

[2021-02-01 07:19] zhiweiv commented on #26
We replaced Redemption by Aspose, Outlook is no longer needed.

[2021-02-01 19:53] jwbrothers commented on #89
This is not Venafi specific.  I have also verified this issue is the same if you use the SafeNet Luna client.   This issue will be seen if the KSP is not installed on the host machine.  If I install the KSP on the host node, it is always available in the container.

The work-around of registering the KSP post load of the container should not be necessary.

[2021-02-02 00:08] vrapolinario commented on #26
I have checked with the Office team internally. The current statement is that Office products are not supported on Windows Containers not a scenario they are looking into. They do, however, encourage folks to provide feedback on their UserVoice channel: https://office365.uservoice.com/

I'll be closing this issue as a solution for this would have to come from the Office team.

[2021-02-02 00:08] #26 closed

[2021-02-02 00:11] vrapolinario commented on #91
ADDS is not supported on Windows Containers given container's management nature. We do support gMSA for applications that need AD support.

One question is if this can be solved by installing the appropriate PowerShell module for AD management (haven't tried that myself). However, if the scripting really needs ADDS running in Windows Containers, this is not a scenario we intend to pursue anytime s

[2021-02-02 00:31] aolszowka commented on #91
So the idea is that you have a "throw away" Domain setup in a container, you are testing your various scripts (IE `Remove-ADUser` / `Remove-GPO`, etc) to ensure your logic before throwing it into production.

Right now the work around I have is spinning up a vagrant image that setups AD (`Install-WindowsFeature AD-Domain-Services ` / `Install-ADDSForest`/`New-ADUser`/`New-ADOrganizationalUnit`/etc

[2021-02-02 00:36] vrapolinario commented on #91
The nature of containers (and microservices) is that you don't have any affinity between a container instance and the application. This is not how AD works. Imagine a scenario on which your container runs and then needs to be recycled. That would not only not work for domain controllers, but also for domain joined server/clients, leaving lingering objects on your AD database.

[2021-02-02 00:39] aolszowka commented on #91
Correct. However in this case it is exactly what you want, you do not want the Forest to persist after testing has happened, in fact you would be better off if it restored back to the state that it was in the container to allow for testing to be consistent.

[2021-02-02 04:27] AlanAuerbachMSFT commented on #60
Thanks for the issue report.  We've confirmed that this is a bug.

As a workaround, you can configure the Windows Error Reporting Service (WerSvc) to Startup Type = Automatic.

[2021-02-02 05:22] zhiweiv commented on #60
I will try the workaround. BTW any plan for the bug fixing?

[2021-02-02 16:00] ghost commented on #76
This issue has been open for 30 days with no updates.
@thecloudtaylor, @2212Emmanuel, please provide an update or close this issue.

[2021-02-02 16:00] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-02-02 19:40] vrapolinario commented on #91
I see the appeal for using containers in this scenario. We have a more long term area of investigation which includes looking into infrastructure components for Windows containers, but no timeline at this moment.

I'll close the issue as this is not supported today, but please be sure we're taking this feedback very seriously and will definitely consider it as we continue to evolve new scenarios f

[2021-02-02 19:40] #91 closed, assigned to vrapolinario

[2021-02-02 21:17] aolszowka commented on #91
Fair enough thank you for the feedback!

[2021-02-02 21:51] vrapolinario commented on #27
Sorry I missed this comment. The issue here is the image composition and my previous comment is that we're exploring a way to provide customers with a smaller image size while allowing the option to add new capabilities later. We don't have a timeline on this investigation but we for sure take this feedback into account.

[2021-02-03 21:48] vrapolinario commented on #90
I'll close this issue as we haven't heard back from the user. Will re-open if needed.

[2021-02-03 21:48] #90 closed, assigned to vrapolinario

[2021-02-03 22:47] immuzz commented on #34
@weijuans-msft can you provide clarity here as part of your effort to provide containerd parity with Docker developer experience.

[2021-02-03 23:45] daschott commented on #81
We have been considering to provide Ttl as a configurable value, but that is work for future.
We have asked for additional information over e-mail.

[2021-02-04 07:48] msjingli commented on #22
The issue is fixed in Docker Engine 19.03.13. See release notes https://docs.docker.com/engine/release-notes/19.03/. Fix is in moby/moby#41192

[2021-02-04 10:50] zhiweiv commented on #60
The workaround doesn't work, dump for StackOverflowException not generated after start set WerSvc StartType=Automatic and Status=Running in container manually.

[2021-02-04 15:34] perithompson opened #92 "Windows Defender Performance issues with Containerd"
### Observerd
When running Containerd on windows 2019, Windows defender massively decreases container extraction and during the first full of the base windows ltsc2019 image spikes CPU load to ~30-40% when extracting the image.

**With Windows defender**
![image](https://user-images.githubusercontent.com/11655452/106914939-69a34980-66fd-11eb-8181-1be35c1f4091.png)

**During the extraction of the i

[2021-02-04 15:37] perithompson commented on #92
@immuzz this is the issue discussed in the SIG-Windows weekly call

[2021-02-04 16:00] ghost commented on #37
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-02-04 16:13] AlanAuerbachMSFT commented on #60
Sorry, I wasn't clear about where to set WerSvc to automatic start (& running).  That needs to happen in the host context, not the container context.  (The bug is that the failfast codepath performs a check for WerSvc running in host context even though it uses WerSvc running in the container context.  Setting WerSvc to automatic in host context keeps it running and satisfies the check, which make

[2021-02-04 19:55] perithompson commented on #92
https://github.com/containerd/containerd/issues/4989 seems to be related to this issue

[2021-02-04 23:49] lalwanin2020 opened #93 "[Kubernetes][Feature Request] Windows nodes behind Loadbalancer going OutOfService when the no. of pods is 65 or more"
**What happened:**
When the number of windows pods in the Kubernetes cluster are scaled to a number of 65 or more, then the Windows nodes behind a classic loadbalancer service are going OutOfService. A kube-proxy error was reported in the logs which is as follows: "E1208 04:52:16.756196 4268 proxier.go:1212] Policy creation failed: hcnCreateLoadBalancer failed in Win32: The parameter is incorrect.

[2021-02-05 18:55] brasmith-ms commented on #15
Hi everyone, apologies for the delayed update! Our team was unfortunately hit with some high sev issues that entirely consumed our development cycles and delayed the completion of this feature.

Nonetheless the feature is complete and we are working through validation and getting the feature through OS servicing. **Right now we are on track to hit the 4C servicing deadline, which translates to a r

[2021-02-05 20:13] immuzz commented on #92
Thank you @perithompson. Let me ask the Defender team to take a look so we can narrow down what is causing it and which layer it needs to get fixed.

[2021-02-07 16:00] ghost commented on #63
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-02-08 16:00] ghost commented on #66
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-02-08 16:00] ghost commented on #65
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-02-09 17:00] daschott commented on #93
Thanks for raising this issue here.

Can you outline more details of your use-cases here so we can prioritize accordingly? Is this an urgent blocker for you?

[2021-02-09 23:22] weijuans-msft commented on #84
Tobias - Thanks for bringing that up. This should be a non-issue. The Microsoft one is still the right PowerShell provider for Windows Server customers and should work fine. If it doesn't, please report issues to us.

[2021-02-10 00:51] immuzz commented on #88
@marosset @jsturtevant Do you guy know about this?

[2021-02-10 01:12] marosset commented on #88
I'm not aware of anyone planning on this support for Windows (mostly due to lack of developer resources not because it isn't a good idea)

[2021-02-11 00:14] lalwanin2020 commented on #93
Hi
It is not an urgent blocker for us or for our customers. We do have a workaround of using multiple load balancers to scale pods in the cluster but it will be nice to have feature for scaling pods of same deployment/application in a k8s cluster behind a single load balancer.

[2021-02-14 16:00] ghost commented on #80
This issue has been open for 30 days with no updates.
@mkostersitz, @immuzz, please provide an update or close this issue.

[2021-02-14 16:00] ghost commented on #79
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-02-15 16:03] ghost commented on #56
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-02-15 16:03] ghost commented on #16
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-02-16 21:44] daschott commented on #61
This sounds to me like pod-pod issue across nodes. The error in the FlannelD logs also sound like there could be a misconfiguration on different node - do you still have any nodes attached in the cluster that are configured in `host-gw` or have some error in the FlannelD configuration?

[2021-02-16 22:12] vitaliy-leschenko commented on #61
I have no nodes in `host-gw` mode. I had it only for tests when tried to reproduce the issue.
Usually I use `vxlan` mode because it works better on my hardware. However when I upgrade my VM to newer build that 10.0.17763.1294 I have troubles with the issue.
I don't have any errors in flannel logs and kube-proxy. It looks like OK but doesn't work.

[2021-02-17 22:28] immuzz commented on #92
Following up with Defender Team as they were investigating this.

[2021-02-17 22:30] immuzz commented on #88
@tfenster Could you please open this ticket under Kubernetes/Kubernetes https://github.com/kubernetes/kubernetes/issues and tag with SIG-Windows so we can review this with K8s community? I'm closing this here as this needs to happen in K8s repo

[2021-02-17 22:30] #88 closed, assigned to immuzz

[2021-02-17 22:36] mkostersitz commented on #93
@lalwanin2020 thanks for the update. I will add this to our backlog as an improvement.

[2021-02-17 22:38] mkostersitz commented on #80
This currently under consideration for a future release. I am adding this to the backlog

[2021-02-17 22:45] tfenster commented on #88
@immuzz done

[2021-02-17 22:52] immuzz commented on #48
@mapalko Can you comment here on the plans for gMSA and if this would be accommodated?

[2021-02-17 22:55] immuzz commented on #44
Closing this issue as this should be part of Feb Patch Tuesday. Please let me know if someone is still running into issues and I will try to investigate.

[2021-02-17 22:55] #44 closed, assigned to immuzz

[2021-02-17 23:12] daschott commented on #93
@lalwanin2020 How many pods are you looking to scale up to? Are you looking to scale to 100 pods backing a single service, or a different magnitude? We'd like to understand what would be a better threshold that should be targeted.

[2021-02-18 00:16] muro671 commented on #93
Tamam anladım

18 Şub 2021 Per 02:12 tarihinde David Schott <notifications@github.com>
şunu yazdı:

[2021-02-19 13:15] tfenster commented on #84
@weijuans-msft another symptom of the not ideal documentation around installing Docker on Windows Server: https://github.com/MicrosoftDocs/Virtualization-Documentation-Private/issues/1191. There seem to be Microsoft links pointing to (dead) Mirantis pages. Even if it wasn't dead, that page would say something different from other Microsoft docs

[2021-02-19 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@thecloudtaylor, please provide an update or close this issue.

[2021-02-19 16:01] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-02-19 23:22] awbeale opened #94 "Timeout on Input in VMware Guest"
When Windows server 2019 standard, with Docker enabled, and the latest Mirantis Docker Enterprise Engine installed, within a VMware guest, and the container waits for input on STDIN, and no input is provided, the container will terminate after some number of hours with no indication as to why. This works correctly within HYPER-V VMs  and inside Docker containers executing directly on the host win2

[2021-02-20 16:01] ghost commented on #87
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-02-20 16:01] ghost commented on #85
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-02-21 16:01] ghost commented on #78
This issue has been open for 30 days with no updates.
@mkostersitz, @immuzz, please provide an update or close this issue.

[2021-02-21 16:01] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-02-22 11:19] RasEza opened #95 "Publish Server Core image with da-DK culture"
Windows Server Core images with various locales are already published at https://mcr.microsoft.com/v2/windows/servercore/tags/list.
To better support applications that are strongly tied to the da-DK locale and language pack, I request that a Windows Server Core image be published with this configuration.

[2021-02-22 12:48] tfenster commented on #87
@vrapolinario @weijuans-msft Any feedback on this? We are getting closer to the point where we need to update the environments to 2004. If it helps, I can create a support request for Azure support, I just have very mixed experience with their Docker knowledge, to put it politely

[2021-02-22 16:01] ghost commented on #55
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-02-22 18:53] lalwanin2020 commented on #93
Hi @daschott
Thank you for your reply. Our customers want to scale around 100 pod replicas behind a single load balancer service for their applications. So from that, I think 100 or 110 should be good threshold values that should be targeted.

Also, we wanted to know why 64 is the limit? Can you provide any information surrounding that.

[2021-02-23 00:31] weijuans-msft commented on #87
@tfenster Have you tried mapping a local drive or folder on v2004 with Hyper-V isolation on the VM?

I tried v2004 with Hyper-V isolation or without on my Windows 10 machines mapping a local folder (c:\tmp) and it worked fine. I am trying to see if the issue happens because the host VM is on Azure, or is it because you are using Azure File, or maybe combination of the two.

I am also curious why y

[2021-02-23 06:30] tfenster commented on #87
@weijuans-msft

Yes, that works

My guess is Azure File Share  because local folders work and we have what looks to me like a very similar issue in #85. I can't however prove that as we are 100% on Azure, so I can't try other cloud vendors or OnPrem

Three scenarios:
1. We have encoding issues when running in process isolation, e.g. with German special characters like "umlauts". We can't solve tha

[2021-02-23 20:50] tfenster commented on #87
@weijuans-msft btw, if that helps, I would be happy to create a clean repro environment on Azure as we have basically everything automated, so you can take a look. Of course without any connections to our systems or customer data, so there wouldn't be data security of confidentiality issues

[2021-02-24 06:59] weijuans-msft commented on #87
Thanks @tfenster. We are still chasing our engineers on this. Will let them know this offer. If they need it, will let you know. Today is our org's Monthly Day of Learning hence folks are heads-down on learning (vs. doing work :) ).

[2021-02-25 05:30] weijuans-msft commented on #87
@tfenster It seems this is related to a bug that some other customers reported for the v2004 release. It is fixed and released in 2021.2C which should be last week. Can you get the latest container host and container image and test it?

Our engineers believe the other issue #85 is different.  Please try it with the latest updates and see it is fixed or not. If not, we could use your help to set up

[2021-02-25 09:49] tfenster commented on #87
@weijuans-msft I have tested and now see a different error message, but it still doesn't work. However get-hotfix returns the following, so it looks like the fix you talk about is not yet available on the Azure images? Do you have a KB number?

[code]

Maybe that also helps, this is the OS version output, showing 2004

[code]

[2021-02-25 16:00] ghost commented on #47
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-02-25 19:37] vrapolinario commented on #94
Hi @awbeale have you contacted VMware support for this issue? As the error seems to happen when running only on the VMware platform, it seems to be the correct route to go to.

[2021-02-25 19:41] vrapolinario commented on #55
This will be investigated as continue to plan on enhancements for Windows Containers. No timeline at this point.

[2021-02-25 19:41] #55 closed, assigned to vrapolinario

[2021-02-25 20:34] slavanap commented on #47
Is it right that UI automation of legacy apps for Windows Containers infrastructure is not a priority for dev team right now?

[2021-02-25 20:59] vrapolinario commented on #47
We made some progress on this with the Windows image that has a larger set of APIs available. Other than that, it seems the request is for tools that perform automation of UI tests need to support its own deployment on Windows containers. This unfortunately is out of our scope on the platform.

[2021-02-25 21:07] grochoge commented on #47
@vrapolinario There appears to be negative progress on the Windows image that had a larger set of APIs available. From reading here, things that used to work in 1809 containers (like getting the main window title) no longer work in 1909 containers.

What we could really use is containers based on Windows Sandbox. But Microsoft puts artificial restrictions on that (along with the artificial licensi

[2021-02-25 21:36] vrapolinario commented on #47
Adding @weijuans-msft for visibility.
Can't speak for the Sandbox option. We do want to address this scenario and we're looking into it, but no timeline at this point.
We'll update this issue once we have more to share.

[2021-02-25 21:42] slavanap commented on #47
@vrapolinario re large set of APIs, is it now possible to take a screenshot of a running app in a Windows Container? If not, when will it be available?

[2021-02-25 22:53] awbeale commented on #94
I have not contacted VMware. I went to Microsoft support first and they indicated running containers in a VMware guest is not a supported configuration.  Note the following from [https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/system-requirements] and the lack of using VMware as a hypervisor.

_Virtualized container hosts
If a Windows container host will be run

[2021-02-26 16:00] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-03-02 19:38] tianon opened #96 "Python / VC redist failing to install on LTSC 2016"
Hi!

I'm not sure the exact details of what's going on here, but I'll lay out what I do know:

- all `ltsc2016` builds of https://github.com/docker-library/python were succeeding three days ago, and started failing yesterday

- https://github.com/docker-library/python/commit/ec67f96b61c55ba35acd6c553f21641c5bf0ccc5 was the only `Dockerfile` change in that period, which only affects one out of thre

[2021-03-03 18:02] jingxu97 opened #97 "os.Stat() return error for socket file in 20H2 Windows image & does not work for symlink points to a dir (in all Windows version)"
While testing the new 20H2 windows image, we discovered that golang function os.Stat() always return error when checking a socket file. See the error message

[code]

[2021-03-04 16:01] ghost commented on #89
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-03-04 16:01] ghost commented on #76
This issue has been open for 30 days with no updates.
@thecloudtaylor, @2212Emmanuel, please provide an update or close this issue.

[2021-03-04 16:01] ghost commented on #72
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-03-04 18:07] jingxu97 commented on #97
Another discovery is os.Stat() does not work (no matter which version of Windows) on symlink that points to a dir.
The error is "Access is denied"

[2021-03-04 19:14] jeremyje commented on #72
https://techcommunity.microsoft.com/t5/containers/what-s-new-for-windows-containers-on-windows-server-2022/ba-p/2167036 came out. Is netapi32.dll going to be a part of that?

[2021-03-05 01:45] yylai commented on #15
Hi,

I read that virtualized timezones will be available in the upcoming Windows Server 2022, but I am assuming the feature being worked on in this issue will not require Windows Server 2022, is that correct? Sounds like the work done here will be brought into 2022 :)

https://techcommunity.microsoft.com/t5/containers/what-s-new-for-windows-containers-on-windows-server-2022/ba-p/2167036

Thanks ag

[2021-03-06 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2021-03-06 16:01] ghost commented on #81
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-03-06 16:01] ghost commented on #37
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-03-06 16:01] ghost commented on #34
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-03-06 16:01] ghost commented on #22
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-03-07 01:12] TBBle commented on #34
Compared to January, I've identified and have a fix for the issue that https://github.com/microsoft/hcsshim/pull/901 shows on Windows 10 20H2, but that PR is still pending merge, and then the fix will be up for PR.

The containerd PRs (https://github.com/containerd/containerd/pull/4399, https://github.com/containerd/containerd/pull/4415, and https://github.com/containerd/containerd/pull/4419) shou

[2021-03-07 03:01] nshampur commented on #93
following

[2021-03-07 14:15] tfenster commented on #87
@weijuans-msft Just FYI: I tried again, still the same hotfixes on Azure VMs, unsurprisingly still the same results

[2021-03-07 16:01] ghost commented on #60
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-03-08 15:12] mmagrum commented on #60
This is a bigger issue than just the WerSvc as the StackOverflowException errors are not showing up in the event viewer either. I created an application that throws a stack overflow when you click a button and loaded it into a 2016 LTSC container and it both created the crash dump and had the appropriate error in the event viewer. When used the exact same dockerfile (only changing the windows vers

[2021-03-08 21:11] weijuans-msft commented on #87
@tfenster I checked with our servicing team and learned that fix to the bug 30163731 is in this,
https://support.microsoft.com/en-us/topic/february-24-2021-kb4601382-os-builds-19041-844-and-19042-844-preview-1a7ed2b4-017d-2644-a1e8-dd6bf14cba76. It's released in the so called "2c", the 3rd week of February. There was no container image rebuilt with this fix as we only rebuild the container images

[2021-03-09 07:00] tfenster commented on #87
@weijuans-msft ok, then I'll wait for that one. Do I only need the new container image or must the fix also appear on the host?

[2021-03-09 16:01] ghost commented on #63
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-03-09 18:16] neolit123 commented on #97
looks like there are a number of issues related to the stdlib os.Stat:
https://github.com/golang/go/issues/39183
https://github.com/golang/go/issues/34900

if `Lstat` works you can continue using that but it would not follow links.

alternatively, you can write your own local wrapper that imports and uses e.g. `CreateFile()` (or use the imported one in https://github.com/golang/sys/blob/94ec62e081

[2021-03-09 23:06] MichaelSimons opened #98 "Remove EOL versions from the Full Tag Listing section on Docker Hub"
The `Full Tag Listing` on Docker Hub currently includes EOL OS versions.  The standard practice is for the `Full Tag Listing` to only list supported tags.  The end of this section includes a link to all available tags for scenarios in which users need to find this information.

Example Windows Server Core Docker Hub - https://hub.docker.com/_/microsoft-windows-servercore

![image](https://user-ima

[2021-03-10 04:43] TBBle opened #99 "Docker Engine 20.10 for the DockerMsftProvider"
The [`DockerMsftProvider`](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=Windows-Server#install-docker) OneGet provider's metadata at https://dockermsft.azureedge.net/dockercontainer/DockerMsftIndex.json does not yet have any 20.10.x releases, even though https://github.com/moby/moby is up to 20.10.5, and [Docker Desktop for Windows](https://

[2021-03-10 16:01] ghost commented on #66
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-03-10 16:01] ghost commented on #65
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-03-11 13:24] gkaleta opened #100 "Windows container Supporting multi AD's"
Support one container accessing multi AD's.

[2021-03-11 22:08] marosset commented on #97
@immuzz @vrapolinario Any updates here?
It seems like this is a new regression and Windows Server 2019 and/or 1909 are not impacted.

[2021-03-12 13:26] johannordincab commented on #60
@AlanAuerbachMSFT could you give a more detailed example on how to solve this?

[2021-03-12 13:53] johannordincab commented on #60
@zhiweiv did you get it working? would love some instructions <3

[2021-03-12 14:23] tfenster commented on #87
@weijuans-msft I gave it a try again and it now works! For anyone having the same issue: My host has Kernel Version `10.0 19041 (19041.1.amd64fre.vb_release.191206-1406)` and Operating System `Windows Server Datacenter Version 2004 (OS Build 19041.867)`. The windows servercore image has OS version `10.0.19041.867`

[2021-03-12 14:23] #87 closed, assigned to vrapolinario

[2021-03-12 16:53] daschott commented on #93
@lalwanin2020 Thanks for this information. The reason why is embedded in the OS. On Windows, K8s service resource is represented by HNS load balancer object. This is backed by rules in VFP which have a limit of 64 backends.

[2021-03-12 17:16] nshampur commented on #93
has the limit been increased in Server 2022? or roadmap to increase it?

[2021-03-12 17:57] daschott commented on #93
This is not planned to land in Server 2022. @nshampur would you benefit from this feature? If you need this we would love to hear more feedback and a description of your use-case & scenario. Happy to pass your feedback along to the responsible teams and see if this can get a priority bump.

[2021-03-12 19:49] nshampur commented on #93
@daschott - we do run several (mission critical, at scale) services that have over 64 Pods. (~100 Pods on avg.)

[2021-03-12 20:08] aravindhp opened #101 "Windows image with ContainerD for public clouds"
In public clouds like AWS and Azure, there are Windows Server images with container support that come with Docker installed and configured. As a consumer of such images, I would like to see similar images published to AWS, Azure etc, with ContainerD installed and configured to reduce the burden on the end user.

[2021-03-12 22:29] vrapolinario commented on #96
Can you please confirm this works on a regular WS2016 VM - that way we can start inspecting if this is a general OS compat issue or a container related issue.

FYI: We do have internal weekly validation with Python, but on the latest image.

[2021-03-12 22:31] vrapolinario commented on #97
Starting internal investigation on this.

[2021-03-12 22:36] vrapolinario commented on #98
@2212Emmanuel can you please fix the table in the Docker Hub?
@mamezgeb and @weijuans-msft for visibility.

[2021-03-12 22:41] vrapolinario commented on #100
Hi @gkaleta can you please provide more details on this?
I'm curious on what is the scenario on which the same container instance needs to access different AD domains.

[2021-03-13 05:11] zhiweiv commented on #60
I tried latest workaround, still not working.

Sent from my iPhone
________________________________
From: Johan Nordin ***@***.***>
Sent: Friday, March 12, 2021 9:53:31 PM
To: microsoft/Windows-Containers ***@***.***>
Cc: Zhiwei Liu ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Windows-Containers] Docker "Windows Error Reporting" crash dump for StackOverflowExceptions not wokring (#60

[2021-03-13 06:37] AlanAuerbachMSFT commented on #60
The sample in the original post uses process isolation, which is how I validated the workaround. It won't work with hyper-v isolation. Which isolation level are y'all using?

[2021-03-13 07:42] weijuans-msft commented on #101
@aravindhp Can you can explain how you plan to use containerd with Windows Server container images on Azure and AWS? What kind of burden? Any example? What Azure services are you using? What images are you using? I am curious.

[2021-03-14 04:31] zhiweiv commented on #60
I tried it in AKS Windows nodes, it is process isolation. I enabled WerSvc in host vm and inside container both, then ran the program crashed with StackOverflow inside container, crash dump still not found in container or host vm.

Since you have validated it should work, I will try again when available.

[2021-03-15 07:42] johannordincab commented on #60
We are in the same situation @zhiweiv , we are pretty far in migrating our onprem to aks but stumbled upon this problem. @AlanAuerbachMSFT do you know if there is a solution for AKS?

[2021-03-15 15:01] aravindhp commented on #101
In OpenShift, we use an [operator](https://github.com/openshift/windows-machine-config-operator) to prepare a Windows VM to join a k8s cluster as a worker node. A pre-requisite for this for the runtime to be pre-installed and configured on the VM. We have been using `datacenter-core-20h2-with-containers-smalldisk` and other `*-with-containers` images and was hoping to get similar images for Contai

[2021-03-15 17:56] AlanAuerbachMSFT commented on #60
The first thing we have to do is to make sure we're all describing the same problem.  If you refer back to the https://github.com/spreadex/win-docker-crash-dump repo, you'll notice that run-container.ps1 takes an argument.  If the "ue" argument produces a dump for you and the "so" argument does not, then you're seeing the issue described here.  If the "ue" argument does not produce a dump for you,

[2021-03-15 20:16] james-nesbitt commented on #99
The windows engine is not managed through the moby project.

The engine was updated to a 20.10 stream last Friday as a part of the MirantisEngine 20.10 release. You should be able to install using OneGet at this time.

[2021-03-16 01:43] zhiweiv commented on #60
In my case, I confirmed **ue** dump were collected, **so** were not. I will verify the workaround again.

+1 for the fix release.

[2021-03-16 09:34] TBBle commented on #99
Yup, I can see 20.10.0 in the [DockerMsftIndex.json](https://dockermsft.azureedge.net/dockercontainer/DockerMsftIndex.json) now.

Does this mean that the version numbers seen there will not match the version numbers from moby/moby? i.e. is 20.10.0 from `DockerMsftProvider` actually including changes seen in later releases of moby/moby 20.10.x? Or are they totally disjoint, and I need to track bugs

[2021-03-16 16:01] ghost commented on #79
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-03-16 20:44] mmagrum commented on #60
Yep, I was testing this process on my local machine to see if it worked and was thereby using Hyper-V isolation. When I loaded my app into our test kubernetes cluster and turned on WerSvc on the node that was hosting the container and went to my crash page, I got a crash dump and the crash showed up in the container error log. When I stopped WerSvc on the host node, it did not generate a crash dum

[2021-03-16 20:57] AlanAuerbachMSFT commented on #60
It's possible, though cumbersome, to apply the workaround in the Hyper-V isolation case as well.  The trick is to get the UtilityVM to autostart WerSvc.  I don't recommend this for production scenarios, but I'll mention it here anyway.

(You can use “docker inspect” on the imageID that you’re interested in to find the path to the image's base layer.)

### Configure WerSvc to autostart in the utili

[2021-03-17 06:53] lippertmarkus opened #102 "[Question] Usage of MSVC toolchain within images"
There's currently ongoing work on providing an official Rust Windows image in https://github.com/rust-lang/docker-rust/pull/71. As Rust uses the MSVC toolchain as a default for compiling for Windows (https://doc.rust-lang.org/edition-guide/rust-2018/platform-and-target-support/msvc-toolchain-support.html), it needs to be included within the image.

The issue of licensing has now come up. E.g. http

[2021-03-17 23:39] weijuans-msft commented on #99
@james-nesbitt can you answer the questions from @TBBle "Does this mean that the version numbers seen there will not match the version numbers from moby/moby? i.e. is 20.10.0 from DockerMsftProvider actually including changes seen in later releases of moby/moby 20.10.x?"

On the other hand, I was able to update to the latest release 20.10.0 on my Windows Server 2022 Preview Azure VM:). Thanks @jam

[2021-03-17 23:48] weijuans-msft commented on #99
@TBBle Forgot to mention, Docker Inc. no longer maintains that DockerProvider. For Windows customers, we have been suggesting customers to use the instructions at our doc page [Set up your environment](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=Windows-Server) and use the DockerMSFTProvider.

[2021-03-18 11:35] TBBle commented on #99
@weijuans-msft Thank you for the update on `DockerProvider`.

@james-nesbitt I am assuming https://docs.mirantis.com/containers/v3.1/dockeree-release-notes/mcr-relnotes.html is the correct release notes feed for the container engine coming via `DockerMsftIndex.json` now? It certainly aligns 20.10.0 and 19.03.14 as the latest releases for those two channels.

A quick check shows nothing in the Moby

[2021-03-18 13:54] ericsegelbergcab commented on #60
I work in the same team as @johannordincab and I can confirm that we experience the same problems described here.

We have recreated the issue using the spreadex crash code. Running the application with the user exception argument creates a dump but no dump is created for the stack overflow exception.
The dump is created without any problems after we reconfigured wersvc with StartupType Automatic

[2021-03-18 16:01] ghost commented on #56
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-03-18 16:01] ghost commented on #16
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-03-18 16:08] awakecoding commented on #16
The bot has already poked @brasmith-ms 3 times for an update... So, can we get a status update on this? Is a switch to containerd in Docker for Windows the chosen solution to the problem?

[2021-03-18 18:45] jsturtevant commented on #44
/reopen

[2021-03-18 19:00] immuzz commented on #44
Befor re-opening i am waiting for gMSA team to confirm its the same issue

[2021-03-18 19:16] marosset commented on #44
@immuzz were these fixes in 2B or 2C?

[2021-03-18 19:18] jsturtevant commented on #44
should be in 2c or 3b

[2021-03-18 19:43] brasmith-ms commented on #16
Hi all, @awakecoding, apologies for the delay in my response here! As mentioned previously, we have confirmed that containers operating over HCSv2 **do not** exhibit the graceful shutdown issues described here. Our focus is centered around the development of HCSv2 so we do not have plans to fix this in HCSv1. This will require a switch to containerd in Docker for Windows going forward. HCSv2 fully

[2021-03-18 19:43] #16 closed

[2021-03-18 20:04] sebsoto opened #103 "kube-proxy panics after a LoadBalancer service is re-created"
Kubernetes version: 1.20
Windows version: Windows Server 2019 10.0.17763.1817
Issue occurs on OpenShift Container Platform v4.7.3

kube-proxy panics when a LoadBalancer service is re-created.  The LoadBalancer was associated with a deployment with multiple pods spread across nodes.

LoadBalancer Service:
[code]
Deployment:
[code]

The kube-proxy exe was run as:
[code]
Here is the portion of the lo

[2021-03-18 20:06] sebsoto commented on #78
This is still occurring on OCP 4.6 (Kubernetes 1.19), but on OCP 4.7 (Kubernetes 1.20), we are not able to reproduce this issue because of a new issue https://github.com/microsoft/Windows-Containers/issues/103

[2021-03-18 20:25] sebsoto commented on #103
Full kube-proxy logs:
[kube-proxy.exe.ERROR.txt](https://github.com/microsoft/Windows-Containers/files/6167002/kube-proxy.exe.ERROR.txt)
[kube-proxy.exe.INFO.txt](https://github.com/microsoft/Windows-Containers/files/6167003/kube-proxy.exe.INFO.txt)
[kube-proxy.exe.WARNING.txt](https://github.com/microsoft/Windows-Containers/files/6167004/kube-proxy.exe.WARNING.txt)

[2021-03-18 20:32] jsturtevant commented on #103
This looks like an issue with kubeproxy and not the the platform itself?  Could you open an issue in https://github.com/kubernetes/kubernetes?

[2021-03-18 20:57] sebsoto commented on #103
Sure thing. Created it here https://github.com/kubernetes/kubernetes/issues/100384

[2021-03-19 00:12] dcantah commented on #44
The fix is in, you just need to enable the registry key it's gated behind: `reg add "HKLM\SYSTEM\CurrentControlSet\Services\hns\State" /v EnableCompartmentNamespace /t REG_DWORD /d 1`. We'll work to get this documented publicly

[2021-03-19 09:16] sitofabi opened #104 "Cmdkey looses credentials"
Hi,

I've been using the windowsservercore image for a long time to setup some build machines/container.
One part I've used during the build of a new image was to setup some username/credentials with

`cmdkey /add:servername /user:username /pass:password`

During the runtime of the image I could then simply use `net use * \\servername\share` to get access to the share and afterwards copy files to

[2021-03-19 10:04] perithompson commented on #44
Great work to everyone involved!

[2021-03-19 16:01] ghost commented on #61
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-03-20 16:01] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-03-20 16:01] ghost commented on #80
This issue has been open for 30 days with no updates.
@mkostersitz, @immuzz, please provide an update or close this issue.

[2021-03-21 16:01] ghost commented on #84
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-03-21 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@thecloudtaylor, please provide an update or close this issue.

[2021-03-22 16:01] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-03-22 16:11] jsturtevant commented on #29
Calico Windows on AKS is in preview: https://azure.microsoft.com/en-us/updates/public-preview-calico-windows-support-in-aks/

[2021-03-22 17:05] weijuans-msft commented on #101
I am curious: 1) Why can't OpenShift infra or the Cloud infra bring in containerd bits vs. the customers? 2) How are you using containerd on Windows today on OpenShift? Is the E2E scenario working?

[2021-03-22 17:49] aravindhp commented on #101
Will MSFT provide it as a supported server add-on? If yes, then we can explore that option.

We have not moved to ContainerD yet. We are still using Docker which is pre-installed on Windows images in AWS and Azure. What we are asking for is the same treatment when it comes to ContainerD.

[2021-03-22 17:50] aravindhp commented on #101
/cc @Anandnatraj

[2021-03-23 16:01] ghost commented on #85
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-03-23 22:13] tianon commented on #96
Unfortunately, I don't have access to a regular WS2016 VM -- anything I can provide from the container perspective to help narrow it down?

[2021-03-24 00:03] 2212Emmanuel commented on #98
fixed

[2021-03-24 00:03] 2212Emmanuel commented on #76
this needs to be closed

[2021-03-24 12:26] gkaleta commented on #100
A large finance app needs to auth against various AD's in order to provide customer(s) data. It's being discussed offline internally with PG.

[2021-03-24 12:55] MichaelSimons commented on #76
@2212Emmanuel - Do you intend to fix this or simply close it?

[2021-03-24 15:06] awbeale commented on #94
I did work with VMware on this issue. I updated the VMware tools to version 11297 (11.1.1), and much to my surprise, the issue appears to be fixed. I have run the failing testcase for days without issue, so I am closing this.

[2021-03-24 15:06] #94 closed, assigned to vrapolinario

[2021-03-24 15:28] jwbrothers commented on #89
I am honestly surprised Microsoft is not actively looking at this issue.  Seems like the crypto layer is not being initialized properly.

[2021-03-24 15:31] 2212Emmanuel commented on #76
It's been fixed

[2021-03-24 15:44] MichaelSimons commented on #76
The `Feedback` section is confusing.

The first sentence says to direct all feedback to the forums yet the second sentence indicates suggestions and issues can be raised at a GH repo.  When I go to the forum there is a banner at the top indicating its closed - `This forum is closed. Thank you for your contributions.`

How about something like the following?

# Feedback
* [File an issue](https://gi

[2021-03-24 15:49] mthalman commented on #76
Another thing to consider is enabling [discussions](https://docs.github.com/en/discussions/quickstart) for this repo to make it an appropriate destination for general questions (as opposed to issues).

[2021-03-24 16:01] ghost commented on #28
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-03-24 17:40] #98 closed, assigned to weijuans-msft, mamezgeb, 2212Emmanuel

[2021-03-24 19:38] jonnyabu1 opened #105 "2019 Core servers after March updates have a Docker user and service running"
I don't think this is the right place for this but was told to raise an issue in this repository.  But, we are running 2019 Core ( maybe you call them something else now, I still call them Core - command line only ) servers as VMs in VSphere.  So not containers.  After the March updates, we started seeing failed login attempts from a user "user manager\containermanager" which I traced to a service

[2021-03-25 02:16] vrapolinario commented on #104
@mapalko is this something you can help us investigate?

[2021-03-25 02:19] vrapolinario commented on #103
Thanks both - sorry for the delay on triaging this. I'll close the issue for now as this is being investigated elsewhere.

[2021-03-25 02:19] #103 closed, assigned to nobody

[2021-03-25 02:23] vrapolinario commented on #102
Unfortunately MSVC is outside my area of knowledge so please allow us to investigate internally with the appropriate teams.

[2021-03-25 02:27] vrapolinario commented on #100
Thanks for the update.
Just wondering what is the architecture of the app outside containers (if that's the case). A VM would be domain-joined to a domain and would query other domains that are accessible?

[2021-03-25 02:42] vrapolinario commented on #47
I'm not aware of a PowerShell option (or cmd for that matter) to take a screenshot, so I'm assuming it's not possible.

[2021-03-25 02:44] vrapolinario commented on #47
Folks, after some internal investigation I'm getting the conclusion that we don't have a better answer at this point on UI automation, other than the APIs we provide on the Windows image. Since this seems to be a hot topic, I wanted to comment here and let you know that this is something we're taking in consideration as we evaluate new capabilities for Windows containers. Thanks for your input so

[2021-03-25 02:47] vrapolinario commented on #48
We recently released a blog post with some new information on gMSA updates. Please check: https://techcommunity.microsoft.com/t5/containers/what-s-new-for-windows-containers-on-windows-server-2022/ba-p/2167036

As part of the update, we will support gMSA on non-domain joined container hosts. I believe this satisfies the requirements from this issue. We'll close the issue for now.

[2021-03-25 02:47] #48 closed, assigned to msjingli, vrapolinario, immuzz

[2021-03-25 05:27] weijuans-msft commented on #84
I'll close this one. For MicrosoftDocs/Virtualization-Documentation-Private#1191, I did talk to our friends at Mirantis. I will check with them again and address on that thread.

[2021-03-25 05:27] #84 closed, assigned to weijuans-msft

[2021-03-25 05:42] weijuans-msft commented on #95
@RasEza Can you share more details why da-DK locale and language pack are needed? What are the use cases? What apps? How many customers do you have? Where do you run your containers? We did publish locales and language packs early on a few years back but we didn't see huge demand from customers, hence we prioritized to invest on other customer asks.

[2021-03-25 16:10] james-nesbitt commented on #99
Hi guys, sorry for the delay in response.

Mirantis efforts on MCR (engine) and the servicing of the MSFT OneGet Docker packages will be attempt to maintain feature parity with the upstream Docker releases and will try to follow the same numbering.  There may be some cherry-picking of unreleased commits, that would show up as a misalignment, but the over the long term all of the source will line u

[2021-03-25 17:24] mthalman commented on #99
Will the feature bump to 20.10.4 include https://github.com/moby/moby/pull/41636?

[2021-03-25 18:29] mapalko commented on #100
Supporting multiple ADs from one container is not going to be supported.

[2021-03-25 18:37] mapalko commented on #104
Adding @jirenugo

[2021-03-25 18:41] vrapolinario commented on #96
I think the problem here is that we have internal validation that says it works and the issue you're bringing needs to be investigated/triaged before we say it's a bug on our side. Can you please share the docker file you're using to build this and the steps to repro the issue?

[2021-03-28 16:01] ghost commented on #64
This issue has been open for 30 days with no updates.
@weijuans-msft, please provide an update or close this issue.

[2021-03-30 06:27] lizhuqi opened #106 "Pods stuck "Terminating" on Windows nodes"
We're seeing pods that fail to terminate and have to manually run "kubectl delete --force" to force terminate the pods.

See the error message:
RemoveContainer "[ID]" from runtime service failed: rpc error: code = Unknown desc = failed to remove container "[ID]": Error response from daemon: unable to remove filesystem for [ID]: CreateFile C:\ProgramData\docker\containers\[ID]\[ID]-json.log.4: Acce

[2021-03-30 13:35] sebsoto commented on #78
This was fixed by https://github.com/kubernetes/kubernetes/pull/96499

[2021-03-30 13:35] #78 closed, assigned to mkostersitz, immuzz

[2021-03-30 16:52] lizhuqi commented on #106
If you manually remove the json.log file, container can be removed and pod can then be ternimated.

[2021-03-31 17:27] weijuans-msft commented on #64
Apologize for the delay. My bad.  It didn't occur to me until now that I haven't suggested this: Have you tried the 3rd image, https://hub.docker.com/_/microsoft-windows? This image has much broader API support and also have fonts. It is bigger on size though. If you haven't, please do give it a try and let us know how that works for you.

[2021-03-31 17:38] weijuans-msft commented on #72
@jeremyje No, we didn't make any changes in the Nanoserver for Windows Server 2022 release.

What are you use cases? If you are comfortable to share publicly, please email us at win-containers@microsoft.com. It'll be helpful to understand the use case so we can prioritize.

Is this the file all you need to be added to Nanoserver container to enable the scenario here?

/Windows/System32/netapi32.dl

[2021-03-31 17:40] weijuans-msft commented on #95
@RasEza gentle ping. I am trying to do a better job on following up GitHub issues here :). If I am not hearing from you for another week, I'll close this as "won't fix". Thanks!

[2021-03-31 17:43] weijuans-msft commented on #99
@james-nesbitt please chime in.

[2021-03-31 17:45] tianon commented on #96
Absolutely -- you can see the full source (and logs) in https://github.com/docker-library/python/pull/586, but all of 3.10.0a6, 3.9.2, and 3.8.8 are failing to build.  Here's the exact `Dockerfile` for 3.9.2 (with the adjustment from 586 to get more detail in the build logs):

<details>
<summary>Dockerfile:</summary>

[code]

</details>

It's pretty vanilla. :sweat_smile:

[2021-03-31 17:50] weijuans-msft commented on #101
We don't have the plan now. It made sense to have Docker pre-installed on the Windows Server images on Azure because it was the only container run-time when Windows Server started supporting containers a few years back. The ecosystem has evolved a lot. There are a lot more diversified options. We are not seeing the same value or need to pre-install containerd on Windows Server at this time. That c

[2021-03-31 18:03] tianon commented on #96
Aha, more information -- I've just tried a build locally on a Windows 10 system using Hyper-V isolation, and it builds just fine.  However, the builds on GitHub Actions, which are failing, are happening on Server 2016 using process isolation.  Perhaps that's somehow related/relevant?

[2021-03-31 18:03] weijuans-msft commented on #34
@TBBle  great work here! I changed this to "In Progress" as I am seeing you and lots of others in the moby and containerd community working on this. Thank you.

[2021-03-31 18:11] RasEza commented on #95
Hi, first of all I really appreciate you looking at this and sorry for not responding sooner.

My department is in the process of modernizing and migrating our legacy platform to a newer and more appropriate architecture.

**Our platform**

The platform consists of several websites and applications that run on a series of IIS instances on Windows Servers. It serves a wide range of paying customers

[2021-03-31 18:18] weijuans-msft commented on #95
Wow, @RasEza, excellent background info, thank you!!

Interesting to note (correct me if I got it wrong): you are using containers on Win10 machines not Server; it's mainly in local dev environment, not on a cloud like Azure; probably no orchestrators involved; you probably care less on the container image size (hence boot up perf)?

I wonder if you have tried this 3rd image which have much broade

[2021-03-31 20:56] brasmith-ms commented on #15
Hey everybody, sending another quick update that we are still on track to hit the 4C release! The feature required a significant number of modifications to both the Windows kernel and guest OS so we've been running it through rigorous testing to ensure the feature works properly.

It should also be noted that the serviced container images are not produced externally until the following B release,

[2021-03-31 22:55] vrapolinario commented on #106
@lizhuqi can you please confirm this issue you're seeing is on AKS or is it outside of AKS? CC: @keikhara for visibility.

[2021-03-31 23:09] #100 closed, assigned to mapalko, vrapolinario

[2021-04-01 08:06] GerryWilko commented on #15
Hey @brasmith-ms, thats great to hear!

Not sure if I'm the only one who gets confused about this but could you (or anyone else) clarify will this feature be released into the LTSC channel or SAC channel? If LTSC will MSFT be updating the tag from `ltsc2019`?

Also am I correct in thinking that we cannot run Insider releases on AKS? Windows container support requires the host OS to be updated to t

[2021-04-01 17:03] brasmith-ms commented on #15
@GerryWilko good points! This feature **will** be available on 1809 (server 2019 LTSC), 2004, and 20h1 ([for reference](https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info)). It **will not** be available on 1903 or 1909 since both will be EOL by the time this is released. It will also be available on Windows server 2022 once it GAs. Basically, all mainstream sup

[2021-04-01 21:51] lizhuqi commented on #106
It is seen in GKE.

[2021-04-02 08:54] StefanScherer commented on #96
The `windows-2016` GitHub actions runners were updated recently to

[code]

https://github.com/actions/virtual-environments/pull/3059/files

That was about three days ago, looks suspicious 😅

I've pasted the Dockerfile from above into a small GH actions workflow and the `windows-2016` runner could build the image https://github.com/StefanScherer/githubactionstest/runs/2252651116 🤔

[2021-04-02 16:10] yosifkit commented on #96
Thanks @StefanScherer, I restarted the builds on https://github.com/docker-library/python/pull/586 and they are working now. So the changes in https://github.com/actions/virtual-environments/pull/3059 do fix it (merged 10 hours ago, and your test was 7 hours ago).

So going by the dates of when we started to see errors (fine 3 days before March 2) and the history of `virtual-environments/images/wi

[2021-04-02 16:45] tianon commented on #96
Interesting -- well, I'm satisfied, but if someone wants to dig deeper into what was going on here, there's the references.  :smile:

Thanks folks! :+1:

[2021-04-02 16:45] #96 closed, assigned to vrapolinario

[2021-04-02 16:46] vrapolinario commented on #106
Got It. I added the label Windows on Kubernetes then. @immuzz or @keikhara can you please confirm this issue can be reproduced on AKS after the fix described above? If not, it might be something specific from the GKE platform.

[2021-04-02 23:45] lizhuqi commented on #106
We took another look. It seems that the failure was caused by our logging agent handling symlinked log file and symlink commands result in access denied error in Windows containers. So I think the issue I reported here is a duplicate of https://github.com/microsoft/Windows-Containers/issues/97.

[2021-04-06 16:01] ghost commented on #82
This issue has been open for 30 days with no updates.
@mkostersitz, please provide an update or close this issue.

[2021-04-06 16:01] ghost commented on #81
This issue has been open for 30 days with no updates.
@daschott, please provide an update or close this issue.

[2021-04-06 16:01] ghost commented on #37
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-04-06 16:01] ghost commented on #22
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-04-08 02:20] schlbra commented on #28
Any good news to report back?

[2021-04-08 16:01] ghost commented on #63
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-04-09 15:09] RasEza commented on #95
@weijuans-msft that's right, initially the containers will only run om Win10 machines, where the size of the images dont matter as much. We may consider transitioning our current configuration to azure at some point, but that is still in the consideration stage.

We have in fact not tried this image, thank you for bringing it to my attention! We have primarily experimented with Server Core images,

[2021-04-10 16:01] ghost commented on #66
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-04-10 16:01] ghost commented on #65
This issue has been open for 30 days with no updates.
@msjingli, please provide an update or close this issue.

[2021-04-12 16:01] ghost commented on #93
This issue has been open for 30 days with no updates.
@mkostersitz, @daschott, please provide an update or close this issue.

[2021-04-12 16:55] rcowsill opened #107 "Container config JSONs for Windows images don't match docker format"
The container config JSON files for a number of official Windows images don't match the format produced by docker engine. Configs produced by docker engine include the property name "rootfs", but some Windows images use "rootfS" (uppercase "S") instead.

This difference is visible in the config JSON blobs stored in V2 registries. Those files also get copied into the tar files created by `docker sa

[2021-04-12 17:28] Justin-DynamicD commented on #37
So it's April with no movement. This is a pretty big deal that simply makes Windows containers unreliable in their current state. Are Windows containers simply DOA? It is simpler to just sub a dockerfile with packer and forget they exist until the app can be ported to linux at this point.

[2021-04-13 05:21] lippertmarkus commented on #102
@vrapolinario any updates on this?

[2021-04-14 04:50] #101 closed, assigned to weijuans-msft

[2021-04-14 05:04] weijuans-msft commented on #95
@RasEza just checking in to see if that 3rd container image works out for you.

[2021-04-14 05:37] weijuans-msft commented on #64
@alib-ms @biiiipy @zhiweiv ping. wanted to see if you have tried the 3rd windows container image.

[2021-04-14 05:58] biiiipy commented on #64
We resolved the issue by making changes in our service to custom load fonts on the app end, so didn't try microsoft-windows image. In any case, that definitely would not be ideal as microsoft-windows is a huge image and we didn't want to introduce and support another base image. These kind of issues ideally should be solvable with a scriptable installation on docker build, so we could pick and cho

[2021-04-14 14:58] james-nesbitt commented on #99
We build the windows releases from the named branches.  AFAIK none of the 127GB default sandbox size changes have made it into the 20.10 branch from which we build.
  See https://github.com/moby/moby/blob/20.10/daemon/graphdriver/windows/windows.go

I'll go to the engineering team and ask for more information.

[2021-04-14 15:41] james-nesbitt commented on #99
To expand further, the 127GB change looks like it hasn't been included in the 20.10.5 release, as it is still in master: https://github.com/moby/moby/compare/v20.10.5...master

[2021-04-14 17:13] jingxu97 commented on #97
os.Stat() seems ok for symlink on ltsc 2019 I just tested. (will confirm 20H2 later).

But for Windows container, if it checks symlink point to a different disk partition, it will not work. I put details in this doc https://docs.google.com/document/d/1hMn2LwFjXDbIzn3ZK_xiw4eNYnAajTIIyRXyQKaKa20/

[2021-04-14 19:56] vrapolinario commented on #102
Unfortunately I don't have an update yes.
I did find the team inside Microsoft that are currently investigating this, but no updates yet.
I'll update here once I hear back.

[2021-04-14 21:14] daschott commented on #93
@nshampur thanks for confirming. I am still waiting to hear back internally at Microsoft to see when this would fit into our roadmap. I will also follow up with you if there are more details needed.

@sbangari @Keith-Mange

[2021-04-14 21:16] daschott commented on #79
The fix for this issue is planned to ship with the May cumulative update.

[2021-04-14 21:32] daschott commented on #61
Sorry for the long delay. In theory, DNS relies on service connectivity so it is surprising to see the two statements:

There is a relevant fix that came out on February. Can you try to update to latest version? and then provide the following on the problematic node:
1. CollectLogs.ps1 again
2. The IP address of the source POD
3. The IP address of the destination service
4. The kube-proxy logs

[2021-04-14 21:37] msjingli commented on #22
This issue is fixed.

[2021-04-14 21:37] #22 closed

[2021-04-14 21:42] mkostersitz commented on #80
This is still under consideration for a future release. If you have a requirement/use case for this please DM me on GitHub or email me mikek (at) microsoft (dot) com

[2021-04-14 21:50] daschott commented on #81
@DeletorDev IIRC, this was confirmed as not urgently needed. We are still hoping to add this in the future and will update this issue accordingly.

If anyone else needs this setting be configurable, please upvote this issue.

[2021-04-15 00:57] TBBle commented on #99
That's correct, https://github.com/moby/moby/pull/41636 has not been backported to 20.10.x upstream.

I understood https://github.com/microsoft/Windows-Containers/issues/99#issuecomment-807137627 was a request for it to be backported for the Mirantis-serviced DockerMSFTProvider build specifically.

[2021-04-15 09:30] eric10220420 opened #108 "Docker Windows Container: DllNotFoundException: Unable to load DLL 'gdiplus.dll' or one of its dependencies"
Hi guys,

I have an issue regarding libgdiplus which on windows containers.
I google a lot here and there but all answers are related Linux.
Anyone have any ideas on how to fix the issue?
Below is my windows container dockerfile.

# Dockerfile Content
FROM mcr.microsoft.com/dotnet/aspnet:5.0 AS base

WORKDIR /app
EXPOSE 80
EXPOSE 443

FROM mcr.microsoft.com/dotnet/sdk:5.0 AS build
WORKDIR /src
COP

[2021-04-15 23:50] lizhuqi commented on #106
More logs for this issue.

2021-04-15T23:06:15ZHandler for DELETE /v1.40/containers/[CONTAINER-ID] returned error: unable to remove filesystem for [CONTAINER-ID]: CreateFile C:\ProgramData\docker\containers\[CONTAINER-ID]\[CONTAINER-ID]-json.log: Access is denied.

2021-04-15T23:06:15.472679ZSyncLoop (PLEG): "[POD-NAME]_[NAME]([ID])", event: &pleg.PodLifecycleEvent{ID:"[ID]", Type:"ContainerDied",

[2021-04-16 19:44] weijuans-msft commented on #72
For Microsoft folks, internally I have created this scenario in Azure DevOps to track: 32512068.

[2021-04-17 16:01] ghost commented on #60
This issue has been open for 30 days with no updates.
@brasmith-ms, please provide an update or close this issue.

[2021-04-18 16:01] ghost commented on #56
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-04-19 16:01] ghost commented on #92
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-04-20 05:45] weijuans-msft commented on #26
@zhiweiv I am late in this "party" :). I noticed you no longer needed Outlook hence Office support as you moved to use Aspose. I am curious: which Windows container image do you use today? Is it Server Core or the Windows one?

[2021-04-20 17:10] RasEza commented on #95
Sorry to leave you hanging, once again thank you for following up on this issue, due to various circumstances I have not had time test the image yet.
I have more dedicated time for this issue from next week, and will of course post my results.

[2021-04-20 17:32] vrapolinario commented on #108
I believe this dll is not present in the image you're using as it is a dotnet core image and that uses Nano Server. I'm not sure it is present in the Server Core image either, but would be the first thing to try out. The image to try would be https://hub.docker.com/_/microsoft-dotnet-framework-aspnet.

If that image doesn't work, you can still try the Windows image: https://hub.docker.com/_/micros

[2021-04-20 19:06] lizhuqi commented on #106
Any update on this issue?

[2021-04-20 19:48] weijuans-msft commented on #95
@RasEza I appreciated the update!

[2021-04-20 22:25] weijuans-msft commented on #107
@rcowsill Thanks for reporting. What do you mean by "produced by docker engine"? Can you also elaborate on the use case that this is a problem? You did mention this "Unfortunately, relying on that hinders interoperability with other languages. For example, a tool written in TypeScript would need to emulate golang's JSON parser to handle these configs correctly.". It'll be nice to know how you are

[2021-04-21 00:59] zhiweiv commented on #26
We use .NET Framework on Windows Server Core.

[2021-04-21 01:00] zhiweiv commented on #56
@vrapolinario
Any update? It is still a problem for us.

[2021-04-21 12:11] rcowsill commented on #107
By that I just mean an image made by running the CLI command `docker build .` in a folder containing a Dockerfile on a machine running the docker daemon.

From looking at the docker source it appears that it will always use the name "rootfs" (all lowercase) when writing new config JSON files. The relevant line is here, where the tag for the RootFS field contains the format string `json:"rootfs,omi

[2021-04-21 16:01] ghost commented on #39
This issue has been open for 30 days with no updates.
@thecloudtaylor, please provide an update or close this issue.

[2021-04-22 16:00] ghost commented on #29
This issue has been open for 30 days with no updates.
@immuzz, please provide an update or close this issue.

[2021-04-22 19:53] lizhuqi commented on #106
Below is the docker version used:
Container Runtime Version:  docker://19.3.13

[2021-04-22 22:09] daschott commented on #80
It seems like it might be possible to install the switch without the hypervisor today – you’d want to enable the Microsoft-Hyper-V-Services feature (all of Hyper-V except the hypervisor) on client editions (e.g. Windows 10):
[code]
or the Microsoft-Hyper-V-Offline feature (just enough Hyper-V to create offline VMs) on server editions:
[code]

The second command turns off a feature inadvertently tu

[2021-04-23 16:00] ghost commented on #89
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-04-23 16:00] ghost commented on #85
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-04-23 16:01] ghost commented on #76
This issue has been open for 30 days with no updates.
@thecloudtaylor, @2212Emmanuel, please provide an update or close this issue.

[2021-04-23 18:39] nchandra-seg commented on #47
Thanks for this. Please let us know if there is any roadmap

[2021-04-24 16:01] ghost commented on #105
This issue has been open for 30 days with no updates.
@vrapolinario, please provide an update or close this issue.

[2021-04-25 16:01] ghost commented on #104
This issue has been open for 30 days with no updates.
@mapalko, please provide an update or close this issue.